[2021-03-24 18:15] hsspain commented on #148
@rupam-kundu This looks to be an issue with your application and not the Admin UI. Let me see if we can help regardless.  Can you share any network or console logs you see when you load this page in your browser?

[2021-03-24 18:19] hsspain commented on #147
@LUCIFER-dev-king I am glad the Admin UI is now working for you.  This looks to be a potential issue with connectivity to your AppSync API from the Flutter app.  Let me transfer this issue to that team to see if we can help root cause it.

[2021-03-24 18:21] amhinson commented on #148
Could you also share your `package.json` as well as how you are configuring Amplify in your app with `Amplify.configure()`?

[2021-03-24 19:14] ahmabboud opened #151 "[Feedback]one to many relation failed"
**Page**: [`/console/data/data-model`](https://docs.amplify.aws/console/data/data-model)

**Feedback**:

When Deploying one to many relationship in Data models I am always getting always get failed deployment.

[2021-03-24 19:20] ahmabboud commented on #151
Hello @siegerts,

I just tried to deploy it again now from the cloud and the same issue happens appId "amplify-vrrehabapp-dev-120027"
 region "US East (N. Virginia)us-east-1"

[2021-03-24 19:30] kaustavghosh06 commented on #151
Could you please provide us with the Amplify App ID? You can find it in the URL you're using to access Admin UI.

[2021-03-24 19:40] ahmabboud commented on #151
Application ID: d2fyq9ipeissw
application Url:
[https://us-east-1.admin.amplifyapp.com/admin/d2fyq9ipeisswi/](url)

[2021-03-25 09:08] rupam-kundu commented on #148
Please find attached the console and network output.

![Console output](https://user-images.githubusercontent.com/56736881/112443305-ccff3e80-8d72-11eb-9bf7-2703518fd23f.png)
![Network output](https://user-images.githubusercontent.com/56736881/112443361-ddafb480-8d72-11eb-97bf-e986825fa20a.png)

Please find below the contents of my package.json file.
[code]
I am configuring Amplify in a file named

[2021-03-25 17:34] chiaraintech commented on #141
I am experiencing the same issue :( I tried redeploying everything but it still gives me the same error.

[2021-03-25 17:40] hsspain commented on #141
@matriedel @chiaraintech Can you provide your schema so that we can further help to root cause this?  Also, have either of you made any changes to the schema outside of the Admin UI or added custom authorization rules?

[2021-03-25 17:45] chiaraintech commented on #141
@hsspain Not going to lie, I am not sure what most of these are. I have always used Azure so these are my very first steps in AWS ☺️
I am following a tutorial on Youtube which is this one: https://www.youtube.com/watch?v=PqtbwGUA6Fg&t=222s
When I click on "manage app content" I get the error highlighted above. Here is a screenshot of it, as you can see on the console at the bottom the data is actu

[2021-03-25 19:05] hsspain commented on #141
@chiaraintech Can you try doing another deployment from the Data tab? You can click on "Save and deploy" without making changes.

[2021-03-25 19:45] chiaraintech commented on #141
Hi @hsspain! I created a React app using the same flow, but this time I followed the steps which allow me to link the front with the back end using the DataStore. In this instance the deployment was successful! 🥳🥳🤩 so I reckon there must have been something else which caused the problem.

[2021-03-26 04:45] fangzhouli commented on #141
@chiaraintech Would you mind sharing how you managed to do it? I'm still struggling with it... What do you mean by "linking the front end with the back end using the DataStore"?

@hsspain Are we supposed to do `amplify add storage`? By reading the documentation, I feel like it is mainly for offline storage, which shouldn't be related to the problem we are facing currently.

[2021-03-26 05:48] matriedel commented on #141
@hsspain

Sure I can provide the schema for you.
Please let me know where to send it.

I did the changes only within Admin UI without adding custom authorization rules.
What I also tried to setup a new design all via the Admin UI with a similar schema to ensure all tables are fresh and empty. And again I am facing similar issue.

[2021-03-26 07:14] chiaraintech commented on #141
Hi @fangzhouli ! What I meant is that I tried using the Admin UI in two instances, one by creating the data model directly into it and then deploy it, and another time by creating the data directly, linking it to my React app and deploy it. In the first instance it did not work (I mean, the error showed when I clicked on the "Content" tab). In the second instance it did!
You can find what I did by

[2021-03-26 16:58] hsspain commented on #141
@matriedel These fields are need to enable the DataStore functionality of Amplify and AppSync.  If there are changed made to your schema or DynamoDB tables outside of the Amplify Admin UI or CLI, you may encounter error such as these.

@fangzhouli You do not need to add storage to get your API to work. Can you provide your app ID and region?  Also if possible can you email us at aws-amplify-custom

[2021-03-26 17:58] fangzhouli commented on #141
@hsspain Yes, I will send them to the email. May I ask how I can check my app ID? I only saw App ARN in my "App Details", is that it?

Thanks

[2021-03-26 17:59] hsspain commented on #141
@fangzhouli Yes, that will work.

[2021-03-26 19:40] amhinson commented on #148
Could you try updating to the latest versions of `@aws-amplify/ui-react` and `aws-amplify` and let me know if you are still seeing the same behavior?

[2021-03-26 20:42] hsspain commented on #57
This issue should now be resolved.  Please keep in mind that the Cognito user pool that is created when Admin UI is enabled is required for the login to work.

To attach the correct IAM policies, you may need to redeploy your Auth setup by clicking "Save and deploy" from the Auth screen without making any changes.

[2021-03-26 21:04] hsspain commented on #105
We do not currently support importing user pools, but are working on releasing support for that use case.

[2021-03-26 23:07] hsspain commented on #141
@chiaraintech If you could email us at aws-amplify-customer@amazon.com so we can take a look at the app you had with unauthorized error, that would help us to root cause this as well.

[2021-03-26 23:54] iartemiev commented on #143
I'd suggest removing the `Auth.configure` call.
You don't need to explicitly configure Auth, as `Amplify.configure` already does that for you behind the scenes.

[2021-03-28 06:37] rupam-kundu commented on #148
@amhinson, when I run the command ```npm install aws-amplify @aws-amplify/ui-react``` I get the following error.

[code]

[2021-03-28 09:55] Lorenzohidalgo opened #153 "AWSDateTime not displaying correctly - Milliseconds unsupported"
**Describe the bug**
The AWSDateTime Fields are not being displayed correctly, Only the date is shown.

**To Reproduce**
Steps to reproduce the behavior or terminal output if applicable

**Expected behavior**
The detailed view should display the date and time.

**Screenshots**
Content Table: (time is available from the field)
![image](https://user-images.githubusercontent.com/22448611/112748456-fa

[2021-03-29 11:46] natict opened #154 "Broken link to Kinesis Data Stream"
**Describe the bug**
After creating an Analytics resource vis Amplify, the Admin UI shows a broken link to the Kinesis Data Stream, i.e. in `Analytics`, under `Deployed analytics resources` the link is directing to `hhttps://...` instead of `https://...`

**To Reproduce**
`amplify add analytics`
`amplify push`
Open the Admin UI
Go to Analytics
Examine the link under `Deployed analytics resources`

[2021-03-29 17:25] hsspain commented on #153
@Lorenzohidalgo Can you share the region you are currently hosting this app in?  We will look into this ASAP.

[2021-03-29 17:54] hsspain commented on #154
Thank you for pointing this out.  A fix will be deployed shortly.

[2021-03-29 18:45] Lorenzohidalgo commented on #153
Eu-central-1 Frankfurt

[2021-03-29 20:07] hsspain commented on #153
This should now be resolved.  Please try refreshing your page and see if it now works for you.

[2021-03-29 20:27] hsspain commented on #98
I am closing out this issue, but please re-open if you encounter this again.

[2021-03-29 20:27] #98 closed

[2021-03-30 09:02] Lorenzohidalgo commented on #153
@hsspain it's still displaying only the date:
![image](https://user-images.githubusercontent.com/22448611/112962732-fb9c6100-9146-11eb-9a88-2cbc12b633e5.png)

I'm getting the following warnings in the console:
![image](https://user-images.githubusercontent.com/22448611/112963083-4fa74580-9147-11eb-8cd5-958bf4153353.png)

[AwsUi]  Invalid string "10:45:01.539180000" provided to AWSUI-TIME-INPUT#las

[2021-03-30 15:44] hsspain commented on #153
@Lorenzohidalgo These times do not currently support milliseconds.  We will add support for this in the future and update this ticket when you can safely use milliseconds.

[2021-03-30 15:50] Lorenzohidalgo commented on #153
@hsspain Sure, but why are the hours / minutes not visible? Do i need to save the AWSDateTime without the Milliseconds to be able to see the rest of the time data?

[2021-03-30 15:51] hsspain commented on #153
@Lorenzohidalgo That's right.  It's unsupported in our editor.

[2021-03-30 22:55] vladimirzoyan commented on #151
Having the same issue ... fails to deploy the data structure changes done from within admin-ui

[2021-03-31 00:23] micahwalter opened #155 "Content editor only works when permissions are set to public"
**Describe the bug**

It seems that when I have the permissions on a table set to public (create, read, update, delete) I am able to manage content from the admin ui without issue, but if I turn off one of those flags (create or update) I can't edit content. This seems like a big since I am logged in to the admin ui via IAM, but the auth method for my API is using just an API Key...

**To Reproduc

[2021-03-31 05:15] #117 closed

[2021-03-31 05:32] #12 closed

[2021-03-31 05:33] #74 closed

[2021-03-31 05:33] #124 closed

[2021-03-31 05:36] #59 closed

[2021-04-01 08:32] DanielDanaee opened #156 "Data Models: Save Data Models Before Actually Deploying (decouple the functionalities)"
This has got very frustrating as work on entering/updating our data models and it fails on deploy and all the changes have been lost.

### The ideal approach

**Save and Deploy should be TWO SEPARATE FUNCTIONALITIES**

Saving will save the structure of the models and deployment makes them live. It is idiotic and redundant to have them both in one single function with no history of changes or saves

[2021-04-01 10:33] seriwb commented on #138
I also had this issue, Today.
As a workaround, when I accessed `Test Your Hosted UI Endpoint` displayed when I created the environment, authenticated it once, and then tried it again, it worked.

[2021-04-01 16:28] hsspain commented on #155
@micahwalter Thank you for this bug report.  We are working on a resolution to this and will update this when it is released.

[2021-04-02 07:33] ambuu opened #157 "I can't access admin ui"
Screenshot
![Screenshot from 2021-04-02 15-30-05](https://user-images.githubusercontent.com/31154898/113393098-bf783300-93c8-11eb-85f9-6a5d003b4681.png)

[2021-04-02 16:22] hsspain commented on #157
@ambuu I am sorry you are having this issue.  Have you been able to access the UI at all?  We see successful login and API calls in our logs.

[2021-04-02 17:39] hsspain commented on #156
@DanielDanaee Thank you for the feedback. We will add this feature request to our backlog. For error surfacing, you can see more verbose messaging in your CloudFormation console, but we are working to display better messages to give developers a better experience.

[2021-04-02 18:18] dylangarcia commented on #157
I'm having the same issue too with the manifest.json not being parsed properly.

[2021-04-02 18:20] hsspain commented on #157
@dylangarcia Can you provide your app ID and region?

[2021-04-02 18:22] dylangarcia commented on #157
d1e0s25f30w8wi and us-east-1

[2021-04-02 18:31] dylangarcia commented on #157
The GET to https://us-east-1.admin.amplifyapp.com/manifest.json/ is returning `You need to enable JavaScript to run this app.`

[2021-04-02 19:14] hsspain commented on #157
@dylangarcia The manifest.json error should not affect the app's availability.  Are you not able to login?  We are looking at logs to see if we can root cause an issue for you as well.

@ambuu We have deployed a fix that may help to alleviate your issue.  Can you retry and let us know if this works now for you?

[2021-04-02 19:21] dylangarcia commented on #157
I'm able to login but the Content page wasn't loading - it started loading ~15 minutes ago. I'm not sure if it was because I redeployed or if it was on yalls end. Thanks!

[2021-04-03 12:06] DanielDanaee commented on #156
@hsspain  Thank you! Looking very much forward to it!

[2021-04-03 15:54] Mahoney0101 commented on #157
Having the same issue as of a few hours ago.
![image](https://user-images.githubusercontent.com/43443867/113483798-2b2bd000-949d-11eb-8742-5ed2c5706dd2.png)

[2021-04-03 16:31] Mahoney0101 commented on #157
I'm good , I can access all backends again. Did nothing on my end.

[2021-04-03 20:11] matt-d-webb opened #159 "Manage Content not loading on Chrome"
**Describe the bug**
In my Amplify Admin UI, on my "dev" environment only, the content is not loading.

One Error in browser console:
![image](https://user-images.githubusercontent.com/36933715/113490215-9aff8200-94c0-11eb-871c-58aef15fb49c.png)

**To Reproduce**
Login to Amplify Admin UI > Navigate to "Content" (dev instance), in Chrome browser

![image](https://user-images.githubusercontent.com/

[2021-04-04 03:51] MachariaK commented on #57
How do you redeploy Auth when you can't access the Admin UI?

[2021-04-04 19:52] matt-d-webb commented on #159
The problem appears to have resolved itself.

[2021-04-04 19:52] #159 closed

[2021-04-05 18:51] yppartyk commented on #57
Hi @MachariaK, if you created the app, you can access the Admin UI for the app through the Amplify Console.

[2021-04-05 20:45] El-Fitz commented on #64
Just encountered it on a brand new (my first) project (eu-west-1)

[2021-04-05 21:22] yppartyk commented on #64
Hi @El-Fitz, sorry for the inconvenience. We are actively working on surfacing error details. What is your app ID?

[2021-04-05 21:23] El-Fitz commented on #64
@yppartyk drfehj2glmrku

[2021-04-05 21:48] yppartyk commented on #64
@El-Fitz, can you please try making a change to your schema in Admin UI and deploy it. The fix should be rolling out through every region.

[2021-04-06 01:00] #157 closed

[2021-04-06 01:01] swaminator opened #160 "Deployment fails without any error"
Appid: d1y2vuxdb0x2mc us-east-2

Creating an API silently fails without giving any reason.

[2021-04-06 09:12] rajesh-kc opened #161 "Graphql models with different authprovider fails to deploy. If @auth is removed then deploy succeeds, but with "There was an error loading your data.""
**Describe the bug**
Deployment fails with models using different auth-providers

**To Reproduce**
Case 1) Article model schema needs auth as owner. Zone model schema doesnot require any specific auth role, so public auth is used. In this case apiKey is added thru "amplify update auth" for cognito user pool groups. With this setup **deployment fails** in console when Authorization mode is user-poo

[2021-04-06 15:20] yppartyk commented on #160
Looking into this.

[2021-04-06 15:26] yppartyk commented on #161
Hi @rajesh-kc, very sorry for this inconvenience. We are actively working on surfacing specific errors on the Admin UI. For now, I can look into this.

[2021-04-06 16:28] yppartyk commented on #160
This is an issue with the customer policy, specifically `CognitoIdentityCredentials` role not being authorized to perform `iam:PutRolePolicy`. Can we ask the customer to add this permission to the policy?

[2021-04-06 16:49] manourez opened #162 "There was an error loading your data"
**Message**: There was an error loading your data.
We’d love to address this issue. Please provide your console log and other details here.

**Amplify version** : 4.46.1
**OS**: Windows 10 Home 64-bit
**Browser**: Firefox 87.0
![Screenshot (10)](https://user-images.githubusercontent.com/37008006/113748404-f9fb0c00-96f7-11eb-839a-2a1bb25b7c7a.png)

[2021-04-06 17:47] hsspain commented on #154
This has been fixed.

[2021-04-06 17:47] #154 closed

[2021-04-06 18:20] yppartyk commented on #162
Hi @manourez, can you please try redeploying your schema and see if that fixes this issue? If not, let us know and we can take a look at it.

[2021-04-06 21:49] manourez commented on #162
Hello. It has not fixed the problem but I think I figured out what the problem is. There are some mismatch between types I created with the graphql api and the data. I'll try to restart from scratch since I haven't done much. Thank you

[2021-04-06 21:49] #162 closed

[2021-04-07 18:26] hsspain commented on #90
This issue should now be resolved.  Please feel free to re-open this issue if you encounter this again.

[2021-04-07 18:26] #90 closed

[2021-04-07 23:55] jhockett opened #163 "Incorrect redirect after environment selection"
**Describe the bug**
A clear and concise description of what the bug is.

After an environment is selected, the initial URL destination is lost.

**To Reproduce**
Steps to reproduce the behavior or terminal output if applicable

- In an empty directory, run `amplify pull --appId <validAppId> --envName <fakeEnvName>`
- CLI admin login opens a browser window
- Redirect to environment selection
- sel

[2021-04-08 08:44] Lorenzohidalgo opened #164 "AdminUI deleting content doesn't delete the items in DynamoDB"
**Describe the bug**
The delete action in AdminUI content does not delete the record in DynamoDB, it just modifies a boolean flag. Which causes AppSync to crash when modifing Data Models Schemas.

**To Reproduce**
1. Create a Data Model
2. Insert data to the model
3. Delete the data within AdminUI Content.

**Expected behavior**
Deleted items within AdminUI content should be removed from the Dynam

[2021-04-08 15:08] yppartyk commented on #163
Hi @jhockett, thank you for reaching out. I was able to reproduce this. We are going to look into it.

[2021-04-08 15:40] yppartyk commented on #164
Hi @Lorenzohidalgo, thank you for reaching out. Deleting content through Admin UI should not delete it from Dynamo. In other words, what you are seeing is the expected behavior.

As far as AppSync crashing after you modify your schema, can you please provide more details about what your schema looks like and how you are modifying it?

[2021-04-08 15:52] Lorenzohidalgo commented on #164
Hi @yppartyk why should they not delete them from DynamoDB?

As for AppSync not beeing able to pull the data after a schema modification:
It has happened multiple times (working with Flutter) after i modified an existing data model.
To replicate it you could:
- make schema
- load some data
- delete it through AdminUI
- Modify that same model to add a required attribute.

Now, after pulling and upd

[2021-04-08 16:18] MachariaK opened #165 "Admin UI Loses All Draft Models because screen goes blank after some amount of time."
When creating models via the Admin UI, sometimes the screen becomes blank thereby losing all the models that had not been deployed. There should be a way to save draft models as draft so that in case you refresh the page, you will still find the draft models. Currently, on refreshing page, you lose all the models and start from where you last deployed.

[2021-04-08 17:22] yppartyk commented on #165
Hi @MachariaK, thank you for reaching out. What do you mean "sometimes the screen becomes blank"? Have you seen this happen under certain conditions? If so, what are those conditions? If you have screenshots of this, it would be very helpful.

[2021-04-08 18:17] MachariaK commented on #165
![Capture](https://user-images.githubusercontent.com/20972809/114076690-a03d4200-98af-11eb-9699-28d03197fba8.PNG)
This is happening when the computer loses internet connection and somehow the page tries a background refresh.

[2021-04-08 18:20] yppartyk commented on #165
Understood. If possible, can you also please check the console logs and let us know if you're seeing any errors there?

[2021-04-08 20:59] billygerhard opened #166 "Add More/Custom Oauth Providers"
**Is your feature request related to a problem? Please describe.**
The current list of available authentication providers is very limited. There are also no guides on how to setup a custom provider manually, and there isn't many 3rd party resources on it to tie custom Oauth providers in with Amplify specifically.

**Describe the solution you'd like**
More common providers setup, such as Twitch, Tw

[2021-04-09 10:52] kymmeh commented on #139
@abhi7cr this is happening again and as the popup shows no error I have no way of seeing what the issue is. Please can you check the error for me: AppID d1rjyktobq0o1g. I can't see that there's any outdated config within backend-config.json/team-prover-info.json this time. I'm completely blocked again.

 Can the error also be exposed in the UI? Thanks.

[2021-04-09 14:22] yppartyk commented on #163
@jhockett, we have a fix for this. Will be verifying it and rolling it out as soon as we can. Thank you for bringing this to our attention.

[2021-04-09 14:44] 271915902 opened #167 "Admin UI Content failed to sync"
![image](https://user-images.githubusercontent.com/70524941/114197316-cb459580-9984-11eb-8cb5-96afc22c1411.png)
Im using  IotCore to upload deviceData and  in DynamoDB can found deviceData,but in Admin UI content ,the deviceData failed to sync

[2021-04-09 18:04] yppartyk commented on #166
@renebrandel @swaminator any thoughts here?

[2021-04-09 19:05] yppartyk commented on #167
Hi, thank you reaching out. If possible, can you please provide your app ID as well as the AWS region in which your app is running?

[2021-04-09 20:36] yppartyk commented on #139
Hi @kymmeh, thank you reaching out and sorry for the inconvenience. I can take a look at the error for you. Can you also please provide me the AWS region in which your app is running?

[2021-04-09 20:38] yppartyk commented on #164
@hsspain any insight on this?

[2021-04-09 20:53] kymmeh commented on #139
Thanks @yppartyk. It's eu-west-2.

[2021-04-09 20:55] nilyin commented on #156
why it is closed? The problem is not solved yet. I just also lost 2 hours of my work and all data entities I've created.

[2021-04-09 21:20] yppartyk commented on #139
Hi @kymmeh, did you run `amplify update api` to use Cognito as the auth mode?

In the logs, I am seeing the following error: `@auth directive with 'userPools' provider found, but the project has no Cognito User Pools authentication provider configured.`

See the issue below for more details:
https://github.com/aws-amplify/amplify-cli/issues/3480

[2021-04-10 06:04] MachariaK opened #168 "HTML in "Forgot password message""
**Which Specific Feature is your question related to?**
Admin UI Auth Setup

**Provide additional details e.g. code snippets**
When setting up Authentication in the Admin UI, I want to use HTML for the forgot password message. When I add HTML and deploy, the forgot password message reverts to what had been saved earlier without HTML.

Can HTML be used to set custom message?

[2021-04-10 13:21] hiragram opened #169 "`Amplify Admin -> Content` shows an error."
**Describe the bug**

`Amplify Admin -> Content` shows an error.

<img width="973" alt="スクリーンショット 2021-04-10 22 13 36" src="https://user-images.githubusercontent.com/3433324/114270955-14135200-9a4a-11eb-8d53-7e9c35b618a3.png">

This is my first experience around Amplify and DynamoDB.

Console log is as follows:

[code]

[2021-04-10 14:21] hiragram commented on #169
I figured out that request to `https://ap-northeast-1.admin.amplifyapp.com/manifest.json` was redirected `https://ap-northeast-1.admin.amplifyapp.com/manifest.json/` (ending with slash), and it returns empty html page.
There may be a script that needs `manifest.json` as JSON but it is not fetched correctly so I am facing this error. Please look into it.

[2021-04-10 14:49] hiragram commented on #169
No. This seems a permission issue. I just created amplify project using cli and nothing is modified by myself.

[2021-04-10 15:00] chriszirkel commented on #64
Same problem here. Creating a new model (table) worked, but as soon as I added a new Enum or Custom Type it failed during deployment and all changes in the UI modelling are gone.

[2021-04-10 15:04] hsspain commented on #64
@chriszirkel Can we get your appId and region so we can further help you out?

[2021-04-10 15:34] hiragram commented on #169
Delete and recreate amplify project solved error

[2021-04-10 15:34] #169 closed

[2021-04-10 16:45] franklt69 commented on #160
Hi I'm getting the same error, when I go to "Save and deploy" I get "Failed" and I don't see anything in cloudformation, Can someone give me a hint on how to solve this problem?

Thanks,
Frank

[2021-04-10 19:07] El-Fitz commented on #64
@yppartyk Still systematically failing

[2021-04-10 19:16] chriszirkel commented on #64
Sure!

AppId: dqbwlejhyyuz4
Region: eu-west-1

[2021-04-10 19:22] yppartyk commented on #160
Hi @franklt69, can you please provide your app ID and the AWS region in which your app is running?

[2021-04-10 19:28] franklt69 commented on #160
Thanks @yppartyk the appId is d1ocr5evs9kzsx and the region US East (N. Virginia)us-east-1

Regards,
Frank

[2021-04-10 19:40] yppartyk commented on #64
Hi @chriszirkel, I see some errors for your deployments. Can you please share the name of the enum(s) or custom type(s) you added to your schema?

[2021-04-10 20:07] yppartyk commented on #160
I am seeing the following error in the logs: `auth directive with 'apiKey' provider found, but the project has no API Key authentication provider configured`.

Do you have API Key authorization set as one of the auth types? You can check that in amplify/backend/backend-config.json file. Also, did you run `amplify update api` after adding the auth directive?

[2021-04-10 20:11] yppartyk commented on #64
@chriszirkel, in your schema, I see the below model/custom type/enum. As you can see, the type has the name `PerspectiveParamater` and the enum has the name `PerspectiveType`. However, in the model, they are both referred to as `Perspectiv`. Can you please try reselecting the type/enum in your model and try deploying again?

[code]

[2021-04-10 20:46] yppartyk commented on #64
@El-Fitz, in your schema, I see a model named `AudioMessage` that has a field called `file`. The type for this field is `S3Object!`, which is another model. I do not see the @connection directive on this field. Can you please try adding the connection between `AudioMessage` and `S3Object` and try again?

[2021-04-10 20:55] franklt69 commented on #160
Hi @yppartyk ,  this is my backend-config.json
[code]
Yes I am using apiKey, an d I think I run amplify update api. I have to setup admin ui to use the API_KEY ?

Thanks
Frank

[2021-04-10 23:29] DanePete opened #170 "A valid backend environment was not specified."
**Describe the bug**
A clear and concise description of what the bug is.
When attempting to view the Admin UI console I receive this message. When selecting the environment screen refreshes and asks to select enviroment again

console message:

ValidationError: Stack [amplify-amplifyxxxxxxxxxxxxxxx-authRole-idp] does not exist

**To Reproduce**
Steps to reproduce the behavior or terminal output if

[2021-04-11 03:24] 271915902 commented on #167
Sure,app ID is d2d16hugf2u592    AWS region  ap-southeast-1

[2021-04-11 06:25] chriszirkel commented on #64
Yes, I can confirm this issue and I may have detected the cause in my case: I use the Modelling to create an Enum or Custom Type named "PerspectiveType" for my Model "Perspective". When I type the name of the new Enum, the UI checks the name on every keystroke and updates the state of the Model. As I type "Perspectiv", everything is fine but when I enter the las "e" to "Perspective", the UI detect

[2021-04-11 14:01] El-Fitz commented on #64
@yppartyk It is set in the admin UI (see screenshot). It also is set in the schema.graphql file.

But both deploying from the UI and pushing from the CLI fail, one without any explicit error (the admin UI, which merely states that it `failed to deploy`) and the other without enough details(the CLI: `Code generation failed with the following error DataStore does not support 1 to 1 connection with b

[2021-04-12 00:47] #170 closed

[2021-04-12 05:42] vladimirzoyangit commented on #155
experiencing same, any updates on this?

[2021-04-12 05:47] vladimirzoyangit opened #171 "Admin-ui blanks out with max"
**Describe the bug**
A clear and concise description of what the bug is.
Two things are happening.. not sure if related.

The admin-ui goes into a blank screen and I have to refresh (multiple times in a session sometimes) and I can't seem to save a new record into a table(from admin-ui). I get the red x. I am however able to save new data from appsync query/mutation console.

![image](https://user

[2021-04-12 12:59] DanielDanaee commented on #156
@hsspain Please reopen this issue if it is not resolved yet.

[2021-04-12 15:04] franklt69 commented on #160
Hi @yppartyk , I have been trying to be able to enter data in my tables using the Content Manager, but it is not possible; I am going to explain the workflow that I follow to see if that is incorrect:

I have the Amplify Console App, connected with code commit, so that every time I push from my local environment, deployment is done.

Then I go to Admin UI to edit the content, but it tells me that

[2021-04-12 15:12] yppartyk commented on #168
@swaminator thoughts here?

[2021-04-12 15:15] yppartyk commented on #171
Hi @vladimirzoyangit, thank you for reaching out and sorry for this inconvenience. Are you referring to Admin UI's Content management feature? Can you provide your app ID and the AWS region in which your app is running?

[2021-04-12 15:22] yppartyk commented on #64
Thank you, @chriszirkel! I'll bring this up with the team.

[2021-04-12 15:25] yppartyk commented on #64
@El-Fitz, we are actively working on surfacing specific error messages on the Admin UI. If possible, can you please delete and recreate the relationship in Admin UI and try redeploying it?

[2021-04-12 16:03] yppartyk commented on #167
Hi, this message means that, although the items are in your database, you cannot view/edit them through the Admin UI at the moment. We will be working on this data migration feature this year.

[2021-04-12 16:15] kenchoong commented on #88
I noticed that, when u publish a `enum`, so some reason, the partial of the text will be disappear, when I check in console.

For example:

[code]

then when appear in console, it will be:

`orderstatus: OrderStatus`

This is what the `enum` appear in my Console

![a12](https://user-images.githubusercontent.com/8010129/114427049-47421680-9bed-11eb-9622-b5114700abfe.png)

[2021-04-12 16:16] kenchoong commented on #64
I also experience this, I noticed that the `enum` , for some reason, when deploy part of the text is disappear

As shown in this issues
https://github.com/aws-amplify/amplify-adminui/issues/88#issuecomment-817941787

[2021-04-12 17:19] yppartyk commented on #88
Hi @kenchoong, thank you for bringing this to our attention. We are prioritizing fixing this issue ASAP.

[2021-04-12 17:46] swaminator commented on #164
@Lorenzohidalgo it should delete the data from Dynamo. Can you share your console logs and appid?

[2021-04-12 17:50] #143 closed

[2021-04-12 18:01] Lorenzohidalgo commented on #164
@swaminator here it is.
appid: ddhhh5znoq37b

Console Log on Delete:
[code]

[2021-04-12 18:05] Lorenzohidalgo commented on #164
could it have something to do with the _ttl(TTL) value? only the ones that are flagged as deleted have a value informed. For some reason it's set to a month from the delete datetime.

[2021-04-12 22:03] #141 closed

[2021-04-12 22:06] #69 closed

[2021-04-13 13:34] kenchoong opened #172 "Unable to delete Data Model from Amplify Admin and after delete some model in Amplify, unable to run amplify push"
### Before opening, please confirm:

I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
I have done my best to include a minimal, s

[2021-04-13 13:42] yppartyk commented on #88
Hi @kenchoong, the fix should now be rolled out. Please try again and let us know if you have any issues.

[2021-04-13 13:43] yppartyk commented on #64
@chriszirkel, the fix for Enum/Custom Type name collisions should now be rolled out. Please try again and let us know if you have any issues.

[2021-04-13 13:52] chriszirkel commented on #64
I can confirm it's fixed! Thanks!

[2021-04-13 14:17] kenchoong commented on #64
@yppartyk I sorry, I submit a issue in `amplify/js` repo, look like I report this in a wrong place

https://github.com/aws-amplify/amplify-js/issues/8085

I unable to delete the model in Admin UI, and unable to amplify push after that

[2021-04-13 14:30] kenchoong commented on #88
hey sir @yppartyk , I unable to update any model in Amplfy Admin UI, the update keep revert back

After deploy, Admin UI shown deployment success, but I cant run `amplify push` as well.

I have a issue here, please check it out
https://github.com/aws-amplify/amplify-js/issues/8085

[2021-04-13 16:54] watilde opened #173 "Project page to describe AWS related things of Application in Console"
**Is your feature request related to a problem? Please describe.**
As a developer, I want my new team member to learn our project detail around AWS easily so that I don't need to provide the same explanation for many times.

**Describe the solution you'd like**
Specify a `.md` file and host as project detail in Application page of Console. The other way would be putting a textarea and users fill.

[2021-04-13 16:59] kenchoong commented on #172
@sammartinez  @siegerts alright thank you and please let me know asap

[2021-04-13 18:11] kouz75 opened #174 "Authentification - can't use callback url if it don't end with /"
**Describe the bug**
To be able to use Cognito with Alexa, we have to declare Alexa callback urls in cognito.
If we used Admin UI, we are not able to add Alexa Redirect URLs (ex:https://layla.amazon.com/api/skill/link/MYID )

Alexa Urls can be add directly in Cognito via AWS Console
Adding a / at the end won't work in alexa App.

**Screenshots**
<img width="549" alt="Capture d’écran 2021-04-13 à

[2021-04-13 19:14] jianupetrut commented on #59
Hi,

I am also experiencing this issue. On 29/03 I saved & deployed a data model for my app and now when I came back to it all the tables are gone from the data model. Is there any update on this?

[2021-04-13 20:15] letsbelopez commented on #172
@kenchoong could you share your app ID and the region your app is in please?

[2021-04-13 20:38] kenchoong commented on #172
@letsbelopez
app id = dlsg8wkb4eie0
region = ap-southeast-1
pull using this command = `amplify pull --appId dlsg8wkb4eie0 --envName dev`

[2021-04-13 20:48] yppartyk commented on #160
@franklt69, for the Content error, we are actively working on surfacing errors to the Admin UI so it's clear for you what the error is. When you say `Now I added Cheatsheet with @auth and failed`, did you add it locally and then run `amplify update api` or did you create the new model and added auth to it in Admin UI?

[2021-04-13 21:52] letsbelopez commented on #172
@kenchoong Are you still getting a deployment in progress error on the CLI?

[2021-04-13 22:41] letsbelopez commented on #171
This has been resolved by reverting to an older/working version of the schema and updating w/ an `amplify push`

[2021-04-13 22:54] #171 closed

[2021-04-13 22:56] letsbelopez commented on #174
Thanks for reporting this. We're looking into it

[2021-04-14 00:36] 271915902 commented on #167
Thanks

[2021-04-14 00:36] #167 closed

[2021-04-14 00:37] 271915902 commented on #167
Thanks

[2021-04-14 02:32] VukR commented on #138
I think I am currently experiencing this same issue
1. Successfully deploy the frontend environment with a custom domain name and access it through the web
2. Successfully deploy the backend environment
3. Run command `amplify pull --appId d2vgeks0d9qdaj --envName staging`, which opens a new tab in my browser for me to login, login page looks like the screenshot from OP
4. Attempt to login with my

[2021-04-14 05:43] renebrandel commented on #57
Closing this as there are no more further reports of this.

[2021-04-14 06:00] kenchoong commented on #172
@letsbelopez yes, I still getting this error in CLI

I can amplify anything from CLI. I just stuck here

[2021-04-14 09:38] kenchoong commented on #172
I even try `amplify push --force` which suggest by this [comment](https://github.com/aws-amplify/amplify-adminui/issues/139#issuecomment-798924643)

but same error

somebody please save me..haha

[2021-04-14 12:36] franklt69 commented on #160
Hi @yppartyk , what I did,  was locally to add the Cheatsheet, associate it with the User, put the @auth directives, and push the repo; I did not run "amplify update api." Just compile the "amplify api gql-compile" model to know that there was no error in it. If you have any recommendations about the workflow that I should follow, it would be very useful; for example, I am following this workflow:

[2021-04-14 14:34] yppartyk commented on #160
@franklt69, after you modify your schemas locally, please try running `amplify push` to update your backend API. If you just commit your code and deploy it via Console, your backend is not actually updated. Please see https://docs.amplify.aws/lib/graphqlapi/getting-started/q/platform/js#updating-your-graphql-schema for more details and let me know if this works.

[2021-04-14 16:10] letsbelopez commented on #172
@kenchoong Seeing this error in our logs:

You cannot specify a nonexistent field 'customerorderID' in @key 'byCustomerOrder' on type 'Products'.[39m
[0mInvalidDirectiveError: You cannot specify a nonexistent field 'customerorderID' in @key 'byCustomerOrder' on type 'Products'.

Can you confirm in your schema, and try to fix it please.

[2021-04-14 17:03] kenchoong commented on #172
@letsbelopez Sir this is the `Product` schema appear in my Admin UI

![a12](https://user-images.githubusercontent.com/8010129/114749609-b0f52880-9d85-11eb-83ee-a14d61a3befe.png)

1.  Dont have the field of `customerorderID`, so I cant make changes about that in Admin UI, and again,
2.  After I `amplify pull` the environment, I didnt see `customerorderID` field in my local `schema.graphql` file
3.

[2021-04-14 17:34] letsbelopez commented on #172
@kenchoong You saw and fixed the broken key directives in the .schema file, but you're stuck on the amplify push command?

[2021-04-14 17:37] kenchoong commented on #172
@letsbelopez
what I do is:
1) I total delete all OrderProduct model
2) no any `customerorderID` appear in my `schema.graphql` file

amplfy push give me deployment in progress error

[2021-04-14 17:41] SwaySway commented on #172
@kenchoong
This occurs when an iterative deployment is in progress. There is a lock file in your deployment bucket named `deployment-state.json`. Can you send over a zip of your amplify directory and this state file?

[2021-04-14 17:43] kenchoong commented on #172
@SwaySway thanks for response, so you need a zip file of my project deployment bucket right?

[2021-04-14 17:50] kenchoong commented on #172
@SwaySway I sent already, my whole amplify directory of my project and `deployment-state.json` in the email stated

[2021-04-14 18:20] PeteDuncanson opened #175 "Content section is blank and throws several error in debug console"
**Describe the bug**

I've had an existing pre-Admin UI project which I've never had any success in getting to show any Content within AdminUI. Tried again today after several months and get the same result. Blank screen and errors in the console.

The localization errors occur through out the AdminUI so they aren't specific to this error.

![image](https://user-images.githubusercontent.com/167459

[2021-04-14 18:23] PeteDuncanson commented on #175
Does the same with the Data Model too, seems my schema might be too big or something? I've got roughly 15 entities I think,
 which have quite a few relations between then, should be able to handle that right?

[2021-04-14 18:31] kenchoong commented on #172
@SwaySway sir do you receive it? Can you advise me what I should do next? Tq

[2021-04-14 19:22] SwaySway commented on #172
Hello @kenchoong
Yes I received the zip file and lock file. I noticed a `@key(name: "byOrder", fields: ["orderID"])` was set to be deployed. Did you create a connection between Product and Order?

Also are you on our [discord community](https://discord.gg/jWVbPfC)? If so please ping me on `@SwaySway`, I'd like to get a better understanding of your project state.

[2021-04-14 19:23] kenchoong commented on #172
thanks @SwaySway , will ping you now

[2021-04-14 19:43] kenchoong commented on #172
@SwaySway it works

Solution:
Delete the `deployment-state.json` in S3 deployment bucket

or using this https://github.com/aws-amplify/amplify-cli/pull/6990 `--interactive-rollback`

[2021-04-14 19:49] SwaySway commented on #172
Closing this issue as it looks to be resolved. Please comment below if you experience issues related to this again.

[2021-04-14 19:49] #172 closed

[2021-04-14 23:27] jcm10 commented on #161
@yppartyk I have the same problem. MacOS, Flutter, Android Studio.

[2021-04-15 13:03] franklt69 commented on #160
@yppartyk , I did the same as you recommended:
From my local pc,

1 - Added **User** table to schema.graphql, I did **amplify push**
2- I went to Admin UI, I did the deployment, and I was able to edit the content.
3- Added the **Cheatsheet** table with the @auth directive; I did the amplify push, I went to Admin UI, when I go to edit content, it sends me to deploy, and the process fails without an

[2021-04-15 13:15] andy-HM opened #176 "Ability to create an enum within the data modling section is now gone"
**Describe the bug**
Within the Amplify Admin UI, you used to have the ability to create an enum.  That functionality does not appear to be available any more.

**To Reproduce**
1. Login to the Admin UI
2. Navigate to the Data section on the left
3. Previously, within the "add model" button there was also an "add enum" option

**Expected behavior**
I should be able to add an enum from the Admin UI

[2021-04-15 15:14] letsbelopez commented on #176
@andy-HM It moved to the field type dropdown.

<img width="888" alt="Screen Shot 2021-04-15 at 8 14 35 AM" src="https://user-images.githubusercontent.com/16825996/114893515-9f7e4180-9dc2-11eb-976a-63e8efdf7740.png">

[2021-04-15 15:15] #176 closed

[2021-04-15 15:16] andy-HM commented on #176
Ah, missed it.  Thank you for the quick reply @letsbelopez !

[2021-04-15 15:25] letsbelopez commented on #175
@PeteDuncanson is this project working with amplify CLI? Meaning you can amplify push to update your backend successfully?

Can you share you app ID and region please?

[2021-04-15 16:30] xho opened #177 "Orphan field for Relationship Source and Deployment fails"
**Describe the bug**

I have and orphan field in a model, I suppose it was created for a new relation that I deleted before deploy.
Now I can't deploy changes anymore, and I can't remove the orphan field either.

**To Reproduce**
1. added a model Role
2. added a relationship one Role to Many Person (Person was an existing model)
3. changed my mind and removed the Role model
4. since I had other ch

[2021-04-15 17:13] kliess opened #178 "Content Editor in AdminUI not working"
**Describe the bug**
In Admin UI content editor does not work. Error "There was an error loading your data." The data itself is only visible in the DynamoDB interface but not in the AdminUI.

**To Reproduce**
I have followed the tutorial under https://docs.amplify.aws/start/getting-started/setup/q/integration/ios step by step. The tutorial itself for the iOS application works well, the communicati

[2021-04-15 20:54] seanwhite commented on #84
Had the same issue and had to switch from Safari to Chrome as default to make it work.

[2021-04-15 21:38] letsbelopez commented on #177
Can you try doing an `amplify pull` confirm your schema changes and then try `amplify push` again

What's you app id? And your region is eu-west-1?

[2021-04-15 21:39] letsbelopez commented on #178
Can you please post any console logs?

[2021-04-15 23:02] xho commented on #177
Hi,
my region is `eu-west-1` and the appId is `d14jimdq1ztsql`.

Tried again `amplify pull` and `amplify push` in sequence just now, no errors.
Also I created an empty test model in Data in the Admin UI and deployed successfully.
But I still have the orphan field in the model and I can't delete it.

![image](https://user-images.githubusercontent.com/1665710/114947320-3bed2600-9e4d-11eb-8f10-f60f23

[2021-04-16 00:03] codenamegary commented on #64
I think I'm running into the same problem. Data model won't deploy and I get no additional info.

I see this on the Data Model Admin UI...

![image](https://user-images.githubusercontent.com/1509951/114953099-aab68900-9e25-11eb-8bcb-176b6c0af82b.png)

... and this on the Amplify home.

![image](https://user-images.githubusercontent.com/1509951/114953004-717e1900-9e25-11eb-876a-1e00f5832fed.png)

[2021-04-16 02:18] codenamegary commented on #64
^ This seems to be somehow related to switching the API access provider from API key to Cognito. If I use Cognito, I can't deploy and have to jump through some amplify cli hoops to get API key reinstated. If I just set it to API key, it deploys fine.

[2021-04-16 03:24] codenamegary commented on #64
Managed to resolve this by doing the following...

- `amplify api update`
- Just updated auth settings
- Configured API key as the default, and Cognito User Pool as an additional provider
- `amplify push`
- Once the push was successful and deployed, I was then able to use the Admin UI to change the authentication to Cognito User Pool

\o/

[2021-04-16 08:29] Ama-Lion opened #179 "Data model is blank and can't view contents in Admin UI"
This is the error in the console of the data model
![Capture d’écran 2021-04-16 à 10 26 27](https://user-images.githubusercontent.com/51505362/114995531-366bfc00-9e9e-11eb-9efc-66cc35dd5a60.png)

In the admin UI content
![Capture d’écran 2021-04-16 à 10 27 46](https://user-images.githubusercontent.com/51505362/114995711-65826d80-9e9e-11eb-9a31-75725481a8a9.png)

My shema
[code]

[2021-04-16 10:18] kliess commented on #178
Which console logs do you mean? I have just followed the tutorial https://docs.amplify.aws/start/getting-started/setup/q/integration/ios and the tutorial works without any error. Afterwards I have opened the AWS Amplify Console on https://eu-central-1.console.aws.amazon.com and clicked on "Open admin UI".  The content is not accessible through this interface.
What do you mean with app id? The reso

[2021-04-16 15:42] letsbelopez commented on #178
We're tracking an issue that's causing an error like this here: https://github.com/aws-amplify/amplify-cli/pull/7035

I'd like to confirm it's the same error.
console logs as in the ones in your browser on the page that's getting the error.
That app id can be found in the URL, and in the amplify console.

[2021-04-16 16:04] letsbelopez commented on #177
What does your current cloud formation stack look like? Could you post a screenshot or logs?

[2021-04-16 18:27] xho commented on #177
I am not familiar with stacks. Anyway I just tried another deploy from console and this is are the screenshots from Stacks dashboard.

![image](https://user-images.githubusercontent.com/1665710/115067882-ca1ae800-9ef1-11eb-8673-c8da2f98f81e.png)

![image](https://user-images.githubusercontent.com/1665710/115067949-e159d580-9ef1-11eb-8724-17dc42a6f069.png)

Since I am not familiar with Stacks, if m

[2021-04-17 00:49] letsbelopez commented on #177
Thanks, could you send the root stack of your project and it's events? Root stack would be the one that isn't 'nested.'

I'm wondering if there is an UPDATE_ROLLBACK_FAILED status

[2021-04-17 07:50] xho commented on #177
Ok. This is the only one that is not nested, so I suppose it's the root Stack.

![image](https://user-images.githubusercontent.com/1665710/115105643-8dd2a080-9f60-11eb-9b71-fb2c5ac1ef52.png)

And these are the latest events.

![image](https://user-images.githubusercontent.com/1665710/115105728-09345200-9f61-11eb-97ac-d97ce402f3e6.png)

There are no **UPDATE_ROLLBACK_FAILED**, but I can see multipl

[2021-04-18 02:40] SpiritVash opened #182 "Setting up Admin UI failed."
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-04-18 04:39] letsbelopez commented on #179
Your first model is missing the `type User`

[2021-04-18 09:44] Ama-Lion commented on #179
My model has the `type User`
I found out that when i add `@key(fields: ["userID"]) ` and push the screen go blank.
And when i remove it works all over again.
So now i don't know how to add the key to my model.
I tried deleting the model in the cloud and creating it locally, but it's like it doesn't like it when i add the key to the model.

[2021-04-18 11:05] #179 closed

[2021-04-18 18:45] letsbelopez commented on #179
How did the issue get resolved?

If you check out the block quote in the Datastore docs here it may help solve your issue: https://docs.amplify.aws/lib/datastore/relational/q/platform/js

[code]

Admin UI doesn't support the name property right now, and is limited on the directives it can support right now

[2021-04-18 21:02] nilyin opened #180 "Lost access to Amplify app's Admin UI after deleting unrecognized Identity Pool in Cognito"
**Which Specific Feature is your question related to?**
The issue relates to security and defense of deployed amplify back-end from losing access to it.

I was adding Auth to my web app and was fighting with auth settings. Digging deeper I have detected unrecognized Identity Pool in Cognito not used in my app and decided to delete it to avoid of possible conflicts.
It looks that this Pool had rela

[2021-04-18 21:17] nilyin opened #181 "How to achieve newly registered User email confirmation without using PIN code (Email link auth verification)"
**Which Specific Feature is your question related to?**
The question relates to user authentication for my Amplify app

I have setup authentication with CLI command "amplify add auth" and added the flow to my web app. I have noticed that registered via web form users were not authenticated in my web application. At that, the users entered manually through Admin UI of Amplify web console were authe

[2021-04-19 08:48] watilde commented on #134
I just heard that auth communication between Cloud9 and Admin UI does not work.

[2021-04-19 15:17] tomtaila-wesayhi commented on #84
Same issue - I switched to Chrome from Brave and I still have the same issue

[2021-04-19 20:27] cwoolum commented on #180
Thanks for reporting this issue! I was able to recreate the problem you are having and I have some steps to resolve the issue.

If you go into the Amplify Console and select your app, in the left menu you will have a menu item called `Admin UI management`.
![image](https://user-images.githubusercontent.com/942415/115298039-c5cd1580-a111-11eb-9ff3-757c375ad0d6.png)

 If you click that, you can disa

[2021-04-19 21:57] cwoolum commented on #182
Thanks for reporting this issue! Can I please get the appId and region for the app you are having this problem with?

[2021-04-20 01:07] cwoolum commented on #181
Hello @nilyin! To switch to using a link instead of a code, find your Cognito instance for your Amplify App in the AWS Console. On the `MFA and verifications` tab, ensure that email is set to be verified.
![image](https://user-images.githubusercontent.com/942415/115321836-89151480-a139-11eb-87b0-3c4edf68cd9c.png)
After saving, click on `Message customizations`. You should now have the ability to c

[2021-04-20 06:39] watilde opened #183 "Provide a way to manually exchange login token via Admin UI"
**Is your feature request related to a problem? Please describe.**
Related to this issue https://github.com/aws-amplify/amplify-adminui/issues/134, I cannot login through Admin UI when I use Cloud9 because they localhost server is launched within Cloud9 environment and Admin UI cannot communicate with localhost.

**Describe the solution you'd like**
I want cli to show an option to manually exchang

[2021-04-20 08:24] nilyin commented on #180
Chris, hi: thanks a lot. You solution has worked for me!
The issue may be closed.
Nikolay

  пн, 19 апр. 2021 в 23:27 Chris ***@***.***> написал(-а):

Thanks for reporting this issue! I was able to recreate the problem you are having and I have some steps to resolve the issue.

If you go into the Amplify Console and select your app, in the left menu you will have a menu item called Admin UI manage

[2021-04-20 13:12] kliess commented on #178
The app id is d3javs7lqexnnf
The region is Europe/Frankfurt, eu-central-1
Authorization mode is "API key", in AWS App sync the default authorization mode is also set to "API key"
I can find only one error in the browser console, but I don't know it if is related to this issue: POST https://pinpoint.us-west-2.amazonaws.com/v1/apps/f9ce7bb3b200426780628ae86610350e/events Status 404 Not found

[2021-04-20 16:03] #180 closed

[2021-04-20 17:36] cwoolum commented on #168
Hi @MachariaK , can you please share the appId, region, and a sample of the template you are trying to use? HTML should be supported in the forgot password message.

[2021-04-20 17:43] cwoolum commented on #155
Hello, just wanted to give an update. We are waiting for a fix to roll out the the CLI that should fix this issue.

aws-amplify/amplify-cli#7035

[2021-04-20 19:41] cwoolum commented on #144
I am closing this ticket for now. Please feel free to reopen if this is still an issue.

[2021-04-20 19:41] #144 closed

[2021-04-21 15:27] kliess commented on #178
OK, it works if I change the schema.graphql file to

type Todo @model @auth(rules: [{allow: public}]) {
        id: ID!
        name: String!
        description: String
    }

without @auth(rules: [{allow: public}]) the error appears.

You should change the tutorial under https://docs.amplify.aws/start/getting-started/setup/q/integration/ios to reflect this aspect.

Also the hint in the CLI durin

[2021-04-21 17:47] azamsharp opened #184 "AmplifyModels is not found"
Stuck at initial step where it says AmplifyModels is not found.

<img width="1972" alt="Screen Shot 2021-04-21 at 12 38 54 PM" src="https://user-images.githubusercontent.com/16604/115598101-a6fc8980-a29f-11eb-94c1-7bc2f3703003.png">

[2021-04-21 18:04] cwoolum commented on #184
Hi @azamsharp, thanks for reporting this! It seems to be a duplicate of #47. The fix for this is as follows

You need to add the generated source files to the project so they'll get compiled.

1. In the upper menu, select "File -> Add Files to ..."
2. Select the amplify folder, and pick the 'Create groups' option

![image](https://user-images.githubusercontent.com/942415/115600012-11f29400-a291-11

[2021-04-21 18:04] #184 closed

[2021-04-21 18:20] azamsharp commented on #184
Can you please add this step in the docs?

Sent from my iPhone

[2021-04-21 19:08] cwoolum commented on #184
Yes, we are working to get the docs resolved and will close #47 when that is complete.

[2021-04-22 16:45] chmit opened #185 "jobCategory.GenerateBackendAPIModels failed when using custom transformers"
**Describe the bug**

I performed a deployment which included a custom transfomer which was developed according to this documentation : https://docs.amplify.aws/cli/plugins/authoring#authoring-custom-graphql-transformers--directives .

More precisely, i didn't develop this transformer but I used this one : https://github.com/hirochachacha/graphql-assert-transformer .

After deployed the applicatio

[2021-04-22 19:29] cwoolum commented on #185
Hi @chmit , this actually seems to be an issue with the CLI. I'll transfer it there for you so they can take a look at it.

[2021-04-22 20:36] nilyin commented on #181
![default_only_choice2](https://user-images.githubusercontent.com/10655234/115781639-51210200-a3c3-11eb-9bc8-ad95144b8de0.png)

Hi @cwoolum : the issue with validation link is solved.

The second issue with SES is not solved as I cannot see or enter my pre-validated SES ARNs. The regions (on the filed above) are just US ones, but my SES is in EU (Frankfurt). Pls. see the screenshot attached. How c

[2021-04-22 22:12] nilyin opened #186 "Content section in Amplify Admin UI is not working"
**Describe the bug**
Content menu is not accessible

**To Reproduce**
Just enter Content menu

**Expected behavior**
Show content in Models
![console log](https://user-images.githubusercontent.com/10655234/115791226-bf1ff600-a3d0-11eb-8d4a-308da7c6fa2e.png)
![content_failed](https://user-images.githubusercontent.com/10655234/115791230-c0512300-a3d0-11eb-94bd-adf8db9073d0.png)

**Screenshots**
atta

[2021-04-23 00:54] HarborneD commented on #2
Following these instructions, when you run: `amplify pull --appId XXX --envName staging` you are asked to log in to the Admin UI but no credentials are provided. I tried creating a user but I can't log in using that either.

[2021-04-23 01:10] HarborneD commented on #2
A follow up to this. I got it to work by following these steps:
- Use the Amply Admin UI to create a user
- Go to AWS console, go to the amplify app , and go to "Admin UI management" - add the created user to the AdminUI
- This still didn't let me log in and I had to reset my password (And for the reset password pipeline to work I had to change it from SMS to email)
- With an updated password, I c

[2021-04-23 06:53] fi5u opened #187 "Failed to sync in Admin UI after manually importing to DynamoDB"
Using AWS CLI, I imported data into the DynamoDB table which my data model is using. I ensured to include all the relevant Amplify-specific keys in the data set.

After the import, in Amplify UI Content section, I see the message **(906 events failed to sync)**

My question is, how do I find out _why_ the items failed to sync? I've searched through CloudWatch and cannot find any logs for this. I'm

[2021-04-23 12:08] tomtaila-wesayhi opened #202 "Builder method for many-to-many relation does not get generated"
**Describe the bug**
According to the [documentation](https://docs.amplify.aws/lib/datastore/relational/q/platform/android#saving-relations) saving relations should be as simple as adding the related object to the object you wish to save via the builder pattern.

However, in my experience, no such builder step method is generated for the related object. Here is my schema where Lessons and LessonCo

[2021-04-23 18:57] cwoolum commented on #181
Glad to hear you were able to get the validation link working!

For the SES issue, unfortunately that is a limitation of [Cognito](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-email.html#user-pool-email-developer). The only available Amazon SES regions are: `us-east-1`, `us-west-2`, `eu-west-1`.

[2021-04-23 19:37] cwoolum commented on #186
Hi @nilyin, sorry to hear you are running into this issue. Looking at your screenshots, it looks like a bad schema deployment occurred and AppSync seems to be in a bad state. Can you give me a bit of context around what what changes you had made during the previous failed deployment?

We have begun rolling out some new functionality for the AdminUI that will allow you to view the logs when these f

[2021-04-23 20:23] cwoolum commented on #187
Hi @fi5u, we are currently rolling out the ability to see CloudWatch logs from issues that occur during deployments but that functionality hasn't been deployed to `eu-central-1` yet.

In the meantime, I took a look and found this on our end.

[code]

Can you please try to import the data again and see it it works this time?

[2021-04-24 05:59] fi5u commented on #187
@cwoolum Great to see CloudWatch logs coming to Admin UI.

My issue is fixed now. It seems my model somehow rolled back to a previous version, so did not match the format of the data. Now they're in sync and I can see the data. Thanks for the help.

[2021-04-24 05:59] #187 closed

[2021-04-24 18:53] nilyin commented on #186
I have tried to change my data models a bit but every new deploy fails. I looked in AWS CloudFormation stacks, but it contains only old successful stack deployments. There are no failed stacks.  How can I see the details of my deploy problem? may be you can post newer error logs here?

By the way I can publish my application using amplify publish command. CLI "amplify push" gives no updates messag

[2021-04-24 19:00] armenr commented on #7
I'm getting bitten by this. But in my case, I have created a new project from scratch, done nothing but add auth via CLI, then push.

I log in to the Admin UI, and create a data model "UntitledTest" with nothing but an ID property. I save and deploy it. Once deployed, I am able to go to "Content" and generate test/seed data.

I then use amplify-video to add a video category to my project, which ge

[2021-04-25 08:43] armenr commented on #64
I've been running into this for days. I've tried all sorts of permutations of "from scratch" setups, and it always ends with a broken Admin UI and "failed to generate models in the cloud" on the CLI.

[2021-04-25 10:09] kenchoong opened #188 "Impossible to Many-to-Many Relationship in Data Modeling in Admin UI"
**Describe the bug**
A clear and concise description of what the bug is.

Failed to create Many-to-Many Relationship between 2 model. It always state 1:n relationship in Admin UI

**To Reproduce**
Steps to reproduce the behavior or terminal output if applicable

2 model here, `Product` and `Order`

![Amplify-Admin](https://user-images.githubusercontent.com/8010129/115989227-fb7d6d00-a5ef-11eb-8527

[2021-04-25 23:39] mikelhamer commented on #186
Experiencing the same issue.

[2021-04-26 00:47] kaustavghosh06 commented on #7
@armenr Does the Amplify Video category add any models or types to your schema? Does it enable DataStore? Does the video category split the schema files into multiple files?

[2021-04-26 01:35] armenr commented on #7
@kaustavghosh06 -

1. Yes, it adds the following Models (AND, note: I have also attempted to scaffold and push this code by changing the model names to uppercase/capital, just in case the Admin-UI doesn't like that).

[code]
Added notes: I have also attempted to push these models by experimenting with - 1/ Removing "subscriptions: { level: public }", 2/ Removing auth rules completely, 3/ Removing

[2021-04-26 05:38] kaustavghosh06 commented on #7
@armenr Thanks for the detailed info. Could you please give us your Amplify App id and the region? That would help us debug the issue further. Thanks.

[2021-04-26 06:00] jtaylor81234 commented on #45
Any idea how to fix this ?

[2021-04-26 07:55] armenr commented on #7
Thank you! :)

d3h1jwudc0zzp7, d9pzx9opvuue4, d31xo36umbaox7 <--- any/all of these are worth investigating. Region: us-east-1

Thank you! :)

[2021-04-26 13:55] CamiloMartinezCDS opened #189 "Admin UI Authentication fails"
**Describe the bug**
I created some new environments for a new project and when I try to login to the Admin UI I get the  **This app is not valid or was deleted.** error. Additionally while checking the console I realized that the console has some error related to some CORS headers.

**To Reproduce**
- Create a new app in Amplify by the AWS Console
- Create a frontend environment and connect it to

[2021-04-26 15:25] kenchoong commented on #188
In the previous comment, I state that in Amplify sandbox is able to create the Many to Many relationship for `Order` and `Product` . I test it locally, everything is working, I can create query the relationship in my project, which is this.:

![a12](https://user-images.githubusercontent.com/8010129/116108476-82147600-a6e6-11eb-80bc-25a67e361c7b.png)

I need to take this back, because when I deploy

[2021-04-26 15:42] icecog opened #190 "Admin UI / auth page crashes completely"
**Describe the bug**
When I go to the Users page in the Admin UI it crashes completely - white screen / no render.

The Home screen works fine.
https://eu-central-1.admin.amplifyapp.com/admin/my-app-id/dev/home -> Fine
https://eu-central-1.admin.amplifyapp.com/admin/my-app-id/dev/users -> Fails

**To Reproduce**
Log in and go to User panel.

I'm getting a failure on this line:
[code]
`TypeError: C

[2021-04-26 16:19] Guedelho opened #191 "Admin UI - Unable to link tables"
**Describe the bug**
A clear and concise description of what the bug is.

In this example, I have a `Quiz` and a `QuizQuestion` table. A `Quiz` can have multiple `QuizQuestion` (1:n relation).
I set up the modal and deployed it, but I'm not able to use Admin UI to connect a `QuizQuestion` to a `Quiz`.

<img width="675" alt="Screen Shot 2021-04-26 at 1 04 47 PM" src="https://user-images.githubuserc

[2021-04-27 00:24] srquinn21 commented on #7
@armenr We were able to identify that a timeout is occurring while validating the app's zip file. This is an issue we have seen in other apps and we are currently in the process of trying to find a root cause and roll out a fix ASAP. Will update here when fix has reached us-east-1.

[2021-04-27 01:01] armenr commented on #7
Thanks Sean! Let's connect via Slack if you wanna deep dive or further debug/experiment. I have lots of steps & permutations of experimentation I took to test in various ways.

[2021-04-27 10:00] sandeepmr29 opened #194 "How could we see table data without using Datastore"
I disabled the Auto Merge conflict resolution via Amplify CLI and pushed then
how could I see data in Amplify Admin UI?
I am getting the below message
![adminui2](https://user-images.githubusercontent.com/5539562/116223707-6ef8b900-a76d-11eb-87f2-93f5bf5a2481.png)

[2021-04-27 12:13] namwkim opened #192 "Content editor is not displaying any content"
**Describe the bug**
I added data through the GraphQL API and was able to retrieve the data in the application but do not see anything in the Content API. This makes it very hard to debug my application because I have no ideas what data is stored in the database.

**To Reproduce**
1. Add data using GraphQL
2. Go to the Content Editor in Admin UI

**Expected behavior**
1. Displaying content added t

[2021-04-27 18:34] namwkim commented on #192
I went to the App Sync -> Data Sources -> Click the table resource -> Click a table in the DynamoDB-> Click Items tab -> Select all and remove them all

Basically, cleaning everything and starting from scratch worked out for me.

[2021-04-27 18:34] #192 closed

[2021-04-28 10:53] nyholku commented on #84
Still not working for me in Safari nor Chrome.
Worked for me twice earlier this week  on chrome.
Also very confusing UI.
I created user HUUHAA in the process of setting up the app.
But where do I set the password?
Can't invite HUUHAA cause I can't set the email anywhere?
How can this be so confusing...

[2021-04-28 11:07] icecog commented on #190
I feel like this is a bug in amplify cli when you import a Cognito User Pool i.e. `amplify auth import`.

Here is what I'd assume would work, but it doesn't as I get an error

[code]
And then you can get the result of the job
[code]

[2021-04-28 11:14] icecog opened #193 "auth import missing PasswordPolicy"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-04-28 20:05] edwardfoyle commented on #193
Okay, I'm going to transfer this to the Admin UI repo so they can look into this

[2021-04-29 01:04] srquinn21 commented on #189
@CamiloMartinezCDS Hello and thanks for the bug report! I am unfortunately unable to reproduce this issue as you described. Looking through the logs I can see that you had made another attempt later in the day to load the Admin UI and the calls were successful — were you able to see the Admin UI?

[2021-04-29 07:24] icecog commented on #193
In that case I'll close it as the reference #190 is to an existing issue in this repo by me

[2021-04-29 07:24] #193 closed

[2021-04-29 13:40] heavyengineer commented on #190
I am seeing the same issue. We have made no changes since December, and then we see this behaviour this week.

[2021-04-29 13:48] ifelsegrandmaster commented on #57
I ran into this issue today. I had to send an invitation to the root user's email and it worked. There was some initialization that had to be done. I guess that's why it was giving me the invalid app error.

[2021-04-29 17:14] CamiloMartinezCDS commented on #189
Hey @srquinn21 thanks for the reply. Yeah I was able to sort this out by changing my browser to Safari. It's probably something related to my chrome version or configuration. I will be closing this since I got it to work.

[2021-04-29 17:15] #189 closed

[2021-04-29 17:59] srquinn21 commented on #191
Hello @ Guedelho Can you provide the AWS region in which you're running into this issue? Thanks!

[2021-04-29 18:03] srquinn21 commented on #190
@heavyengineer While we look into this, can you please provide the AWS region and app id that is affected?

[2021-04-29 18:20] srquinn21 commented on #189
@CamiloMartinezCDS Please let us know if it does occur again and we'll be happy to lend a hand.

[2021-04-29 22:47] hansmon commented on #186
Getting this Content section error in Amplify Admin UI for 2nd time 2 separate apps/env. Is there a solution yet?

There was an error loading your data.
We’d love to address this issue. Please provide your console log and other details here.

[2021-04-30 05:13] sandeepmr29 commented on #194
@siegerts Thanks for your response, Here is the answers-

- Amplify version I am using: 4.46.1(Do I need to update to the latest?)
- Could not find any similar kind of issues in Admin UI repo

[2021-04-30 18:47] odonnellpeter1999 opened #195 "Admin UI data model deployment failure"
**Which Specific Feature is your question related to?**
Deploying even basic data models with just a name and id in Admin UI relates in a failure with the following stack trace which doesn't give much information.

AppID: d1ndw2veeipexc

**Provide additional details e.g. code snippets**
Command failed with exit code 1: /root/.amplify/bin/amplify update api --headless
[31mNo AppSync API configured

[2021-04-30 20:23] srquinn21 commented on #195
@odonnellpeter1999 I'm sorry to hear that you are having trouble deploying data models — can you provide the region you were using when you encountered this issue? I'd be happy to investigate further.

[2021-04-30 21:10] odonnellpeter1999 commented on #195
Thanks for your quick reply, eu-west-1

On Fri 30 Apr 2021 at 21:23, Sean R. Quinn ***@***.***> wrote:

[2021-04-30 22:09] marenero1974 opened #201 "Access to my environment fails"
Hi,
i am trying to access to my amplify environment dev of my app id dcz5ao3n8ee64 through admin ui. It asks me to select the environment, i select it from the combo and then it returns to ask to select the evironment, so as in a infinite loop.

Can someone help me?

Thanks

[2021-05-01 02:33] srquinn21 commented on #195
@odonnellpeter1999 I am unable to reproduce this issue with a brand new app. When was this app created? Was it created through the Console or with the amplify-cli?

[2021-05-01 02:49] jknapp25 opened #196 "Password reset not sending email to associated email address"
**Describe the bug**
When I click "reset password" and then input my username, it does not send an email to the email account associated with my Amplify Admin.

**To Reproduce**
Do what I stated above.

**Expected behavior**
I would receive an email stating how to reset my Amplify Admin password.

[2021-05-01 10:49] odonnellpeter1999 commented on #195
It was created around 4/4/2021, I deployed it through console and I added a trigger through amplify cli to auth, Thats the only change I made.

[2021-05-01 13:42] ritesh-guaubox commented on #186
Hello Team. I am getting the exact same issue. Hope this gets resolved soon.

 ![image](https://user-images.githubusercontent.com/81090456/116784291-cd5bc980-aad6-11eb-8c1a-368f1440518e.png)

[2021-05-02 17:47] Ibbthebib commented on #138
Having the same issue here

[2021-05-02 22:15] AlexanderWuethrich commented on #178
I have the same error. App ID d26wojry82ajsq

[2021-05-02 22:20] AlexanderWuethrich commented on #178
I have the same error. App ID d26wojry82ajsq

[2021-05-02 22:22] AlexanderWuethrich commented on #178
I have the same error. App ID d26wojry82ajsq

[2021-05-02 22:28] martinrojas commented on #188
I have the same issue happening in my project. It seems to have started this week that I am unable to create many to many relationships in the data modeler.

[2021-05-02 23:26] SeanRenet commented on #2
@kaustavghosh06 sorry for the super late reply.  Yes I was using IAM users to log in just like I do with the cli.  I just gave up and went back to the cli.

[2021-05-03 02:58] nguyen-tran commented on #182
Facing the same issue, I'm following the guide at https://aws.amazon.com/getting-started/hands-on/build-react-app-amplify-graphql/module-two/

App ID: dmnvb6n8rsptw
Region: us-west-2

Setting up Admin UI failed:
Lambda was unable to configure access to your environment variables because the KMS key is invalid for CreateGrant. Please check your KMS key settings. KMS Exception: InvalidArnException K

[2021-05-03 07:51] kenchoong commented on #188
@martinrojas since this happen to you too, how you create many and many relationship now??

[2021-05-03 12:11] heavyengineer commented on #190
sure: eu-west-1 d1wzlyfb7o7vyh

[2021-05-03 13:52] martinrojas commented on #188
@kenchoong I haven't been able to create any. I have been working on other parts of the application hoping this gets fixed.

[2021-05-03 14:56] kenchoong commented on #188
@martinrojas tough.. since cant do many-to-many, this is pretty useless now.

[2021-05-03 17:22] Guedelho commented on #191
@srquinn21 `us-west-2`
I was able to "fix" the problem by renaming the table `QuizQuestion` to `Question`.

[2021-05-03 17:30] letsbelopez commented on #188
We're currently investigating this. Thanks for posting the issue.

[2021-05-03 17:50] srquinn21 commented on #195
@odonnellpeter1999 In the logs, I can see that you didn't have an AppSync API configured when deploying which lead to this error. It does look like you were able to rectify as I can see a successful deployment this weekend. Can you confirm? And if so, what was the fix you applied? We'd like to improve our error handling/reporting here if possible.

[2021-05-03 17:56] odonnellpeter1999 commented on #195
My fix was to delete the backend and deploy a new backend. Definitely not
ideal, but since I’m only starting a project it didn’t set be back much
time.

On Mon 3 May 2021 at 18:50, Sean R. Quinn ***@***.***> wrote:

[2021-05-03 18:43] martinrojas commented on #188
@kenchoong one of the amplify staff on discord says that engineering is looking into it.

[2021-05-03 21:40] letsbelopez commented on #188
@kenchoong @martinrojas as a quick fix, can you try re-ordering your enums. You can do that by selecting them and move them to the last position in your schema and try again. E.g. Drag your enum card so it's the last card in the schema designer.

[2021-05-04 00:21] dhamova commented on #190
+1

[2021-05-04 06:51] kenchoong commented on #188
@letsbelopez errmm...tried what you suggest, but still the same

![a12](https://user-images.githubusercontent.com/8010129/116969007-2189c800-ace8-11eb-8dd5-6898ef262199.png)

[2021-05-04 07:58] Komalprasad opened #198 "Support batch resolvers out of the box with the @model directive"
Use Case:
In Schema.graphql

type ThemeConfiguration @model {
  parameter : String
  value : String
}

type Customer {
  customerId: Int
  name: String
  primaryEmailId: String
  primaryPhoneNumber: String
  secondaryEmailId: String
  secondaryPhoneNumber: String
}

Both schemas are saved in AppSync, ThemeConfiguration is attached to DynamoDB, and Customer has attached to "Lambda" resolver.

 one

[2021-05-04 12:53] nyholku opened #199 "Could not initialize 'dev': The specified bucket does not exist"
**Which Specific Feature is your question related to?**

automatic deployment I guess.

I followed this tutorial for the Nth time from scratch:

https://docs.amplify.aws/start/getting-started/setup/q/integration/vue

This worked and produced a vue app I can run locally.

This tutoria ends in hosting and deploy:

https://docs.amplify.aws/start/getting-started/hosting/q/integration/vue#add-hosting-t

[2021-05-04 13:02] nyholku opened #200 "Failed to delete backend"
In Amplify Console I  try delete my application and it says "Failed to delete backend"

Here is the app details:

App name
romexis-vue
App ARN
arn:aws:amplify:eu-central-1:910630674321:apps/d1ib7traq3jffj
Source repository
https://bitbucket.org/nyholkupm/romexis-vue/src/master
Created at
30/04/2021, 14:21:37
Production branch URL
https://master.d1ib7traq3jffj.amplifyapp.com
Updated at
30/04/2021,

[2021-05-04 15:57] nyholku commented on #199
Hi, thanks for looking into this.

The app id is: d2db4tmk5vzefl
And the region is: eu-central-1

[2021-05-04 16:22] martinrojas commented on #188
@letsbelopez

In my case I don't have enums in that model . this is the relationship that appears when I try to create the many to many
![image](https://user-images.githubusercontent.com/317579/117036393-60f9e980-acd3-11eb-9b15-1c411a6b1297.png)

[2021-05-04 17:00] MichaelSavoia commented on #199
This seems to be an Amplify Console issue. I'll forward it to that team.

[2021-05-04 17:06] letsbelopez commented on #188
@kenchoong Re-order the enum card (The white square). Not the field.

[2021-05-04 17:07] jknapp25 commented on #196
Is there anyone available to advise on this? I need access to make some changes for current job applications.

[2021-05-04 17:09] MichaelSavoia commented on #200
This seems to be an Amplify Console issue. I'll forward it to that team.

[2021-05-04 17:09] letsbelopez commented on #188
@martinrojas it's easier for us to debug when we can see the whole schema. Could you re-create it in [Sandbox](https://sandbox.amplifyapp.com/getting-started) and post a link, or there's a raw schema printed to the console after every update. You could post the raw schema too.

Post the version of the schema that's working before you try to make the relationship update.

[2021-05-04 17:18] MichaelSavoia commented on #196
Hello @jknapp25 I was unable to reproduce using the steps you listed. Have you previously logged in and changed the initial password of the account?

[2021-05-04 17:23] kenchoong commented on #188
@letsbelopez surprisingly, this works when pull the enum to the last card in the schema

![a12](https://user-images.githubusercontent.com/8010129/117043502-e4e9bb00-ad3f-11eb-909e-115d89fa98b5.png)

Lolz..

But this take me 10 days to figure this out. HAHAHAHAHAHAHAHA

Thank you by the way..haha

[2021-05-04 17:44] jknapp25 commented on #196
Well I'm trying to reset the password. Maybe there's another way to do so?

Basically when I try to login to the Amplify Admin UI it presents me with the login form and there's a "reset password" button, I click that and put in my username (tried lot's of variations) but I don't receive an email to my associated email account.

I discovered this while noticing I couldn't `amplify push` do to being

[2021-05-04 18:01] MichaelSavoia commented on #196
Are you trying to access the Admin UI using your root AWS account? If so, you should be able to access the Admin UI through the AWS Amplify console if you are either the root app owner or have the necessary permissions.

[2021-05-04 18:04] martinrojas commented on #188
@letsbelopez here is a screenshot of the amplify. I have moved all enums to the last cards.
![image](https://user-images.githubusercontent.com/317579/117048215-bdafd100-ace0-11eb-8904-8f0fbe8d7414.png)
`type Team @model @auth(rules: [{allow: private, operations: [read, update]}]) {
  id: ID!
  Athletes: [Athlete] @connection(keyName: "byTeam", fields: ["id"])
  name: String
  Groups: [Group] @conn

[2021-05-04 18:08] MichaelSavoia commented on #201
Hello @marenero1974 I'm sorry that you can't access your environment. Can you please provide your AWS region? Thank you!

[2021-05-04 18:11] MichaelSavoia commented on #198
Hello @Komalprasad Could you please provide your app ID as well as your AWS region? Thanks!

[2021-05-04 18:25] jknapp25 commented on #196
Ah, that worked. Thank you! This can be closed now.

[2021-05-04 18:25] #196 closed

[2021-05-04 18:33] letsbelopez commented on #188
@kenchoong this is just a workaround for a bug. Fix is going out soon.

[2021-05-04 18:37] letsbelopez commented on #188
@martinrojas can you verify if it worked after moving your Enums to the end of the schema? They should be at the bottom of the console output if they're at the end.

[2021-05-04 19:26] martinrojas commented on #188
@letsbelopez This worked thank you

[2021-05-04 22:02] marenero1974 commented on #201
@MichaelSavoia  eu-west-2

[2021-05-04 22:53] #188 closed

[2021-05-05 14:51] MichaelSavoia commented on #201
@marenero1974 What is the deployment status of the environment that you're trying to access? You should be able to locate this in the Amplify Console under your application's backend environments.

[2021-05-05 14:58] leaky commented on #190
+1

[2021-05-05 15:00] marenero1974 commented on #201
@MichaelSavoia this is what i see:

Deployment status
 Deployment completed 24/4/2021, 15:29:19

[2021-05-05 18:17] MichaelSavoia commented on #201
@marenero1974 I did some digging into the logs and it looks like the s3 bucket that has the backend artifacts tied to that environment no longer exists. We have an item in our backlog to surface this error more gracefully in the UI. Unfortunately to resolve this you will need to delete your backend environment from the Amplify Console and recreate it in a new environment.

[2021-05-07 09:17] DanielDanaee opened #203 "Cannot log back into Amplify after Resetting Authentication"
I reset the authentication to setup new signup fields and etc, but shortly after it was logged out of the admin panel and cannot log back into Admin UI ever since.

App ID: `d23w34qjvznkzz`
Region: `eu-central-1`

This is how it looks now (usually after clicking open admin UI it would open Amplify console and logs in automatically):

![Screenshot 2021-05-07 at 11 11 16](https://user-images.githubu

[2021-05-08 22:04] marenero1974 commented on #201
Yes, i accidentally deleted it, now i am working on another environment, i tryied to delete the old environment that doesn't open, and i couldn't, is there a way to remove it?
Thanks

[2021-05-09 09:21] dcfranca commented on #10
I'm facing the same issue
Tried the solution above (changing the resource on the Full-Access policy), but every time I try to deploy it seems that it discard my changes on the policy and it goes back to limiting to resources `arn:aws:cloudformation:*:*:stack/amplify-*`

[2021-05-10 17:24] MichaelSavoia commented on #190
Thanks everyone for your feedback! We were able to identify the issue and it's in the process of being deployed. You should see this change take effect sometime in the next week as the change rolls out!

[2021-05-10 21:46] letsbelopez commented on #174
Theres a release that's being deployed for this fix. Rolling out soon.

[2021-05-10 21:46] #174 closed

[2021-05-10 21:51] HasKob opened #204 "Amplify Role Based signin/signup with providers"
Hello Devs,
We have a system that requires identifying the role on signup (regular signup consists of email, password, and role)
When going to providers signing like Facebook and Google, we didn't find anything related to our goal.
The scenario is, when you come to our web app, you must signup to be able to login into the system. In this case, it's possible to trigger the signup action and add the

[2021-05-11 00:04] hsspain commented on #194
You must have conflict resolution enabled to use the Data management portion of Admin UI.

[2021-05-11 12:31] apoorvatvk opened #205 "no username works, which username is the admin ui login form asking for"
**Admin UI of Amplify Console : Authentication Error on Login, Where to find username?!**

Hi, I was following the tutorial [https://docs.amplify.aws/start/getting-started/auth/q/integration/react-native], but on typing the command 'amplify console' & choosing the Admin UI option, I entered the screen given below.

<img width="1280" alt="Screenshot 2021-05-11 at 6 01 30 PM" src="https://user-image

[2021-05-11 14:25] siegerts commented on #205
Hi @apoorvatvk, to access the AdminUI, you'll need to enable/open AdminUI from app backend in the Amplify Console.

Try instead  -

1. Run `amplify console`
2. Select the **Amplify Console** option
3. That will direct you to the environment in the Amplify Console

From there, if you'd like to use the Admin UI:

1. Go to **App settings** -> **Admin UI Management** and enable for the app
2. Got to t

[2021-05-11 14:25] #205 closed

[2021-05-11 19:25] letsbelopez commented on #204
Amplify CLI uses AWS Cognito for the Auth category. It looks like Cognito will allow you to assign users to groups to manage permissions: https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-user-groups.html

[2021-05-11 19:25] #204 closed

[2021-05-11 19:54] dcfranca commented on #10
I have added a second inline policy to the role, with permission to the stack
However, now I get this error:
`auth headless is missing the following inputParams googleClientId, facebookAppId. `

I often get this error in different scenarios... last time it happened when I
I have the environments variables set:
AMPLIFY_FACEBOOK_CLIENT_ID, AMPLIFY_FACEBOOK_CLIENT_SECRET, AMPLIFY_GOOGLE_CLIENT_ID, AM

[2021-05-12 13:16] ashleyoldershaw opened #206 "Unable to enable Admin UI"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-05-12 15:14] ashleyoldershaw commented on #206
Thanks @siegerts, I thought the Admin UI was part of the console - my bad - thanks for the transfer!

[2021-05-12 15:30] theopposablethumb opened #207 "Amplify Admin UI is disabled and inaccessible"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-05-12 16:19] hsspain commented on #206
@ashleyoldershaw We have identified the issue and will be resolving it shortly.  I will update this thread once the issue is resolved.

[2021-05-12 16:57] hsspain commented on #206
@ashleyoldershaw This issue should now be resolved.  Please let us know if you still have problems logging in.

[2021-05-12 17:11] ashleyoldershaw commented on #206
Thank you! Will try in the morning :)

On Wed, 12 May 2021, 5:57 pm hsspain, ***@***.***> wrote:

[2021-05-12 17:48] hsspain commented on #203
@DanielDanaee We see a request to delete the "dev" backend that you are attempting to log into around the time you started to see issues.  Can yo help us to verify which environment you are attempting to log into so we can further help?

[2021-05-12 19:38] tobiasriemenschneider opened #208 "Admin UI - deployment fails // jobCategory.GenerateBackendAPIModels FAILED"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-05-12 19:46] viprocket1 commented on #186
Hey,  Im facing the similar issue.
this is my schema. My first deployment was successful but after i changed the schema and tried to redeploy. im getting the error showed in https://github.com/aws-amplify/amplify-adminui/issues/186#issue-865531142
`type User @model {
  id: ID!
  username: String!
  imageUri: String
}
`

[2021-05-12 20:25] elephi commented on #207
Amplify Admin UI and Amplify CLI all works fine now.
Thanks for your help!

[2021-05-12 20:39] IanPhilips commented on #160
Experiencing the same issue, it seems like the admin ui can't handle multiple types of authentication providers.

[2021-05-12 20:42] DanielDanaee commented on #203
We have decided to withdraw from Amplify for our current project. Thank you for your inspection

[2021-05-12 20:43] #203 closed

[2021-05-12 22:10] hsspain commented on #208
@tobiasriemenschneider Thank you for this report. We are looking into this issue and will respond when we have identified/resolved it.

[2021-05-12 23:14] hsspain commented on #208
@tobiasriemenschneider Can you verify that all of your auth providers are still enabled in Cognito? We have detected a potential issue with one of them.

[2021-05-13 05:10] tobiasriemenschneider commented on #208
Hi @hsspain! Thanks for your switft reaction.

We regards to **AUTH** I hope that everything is configured OK.
I just did an `amplify auth update` > `Walkthrough all the auth configurations` so that you can have a look.

<img width="1090" alt="Bildschirmfoto 2021-05-13 um 07 05 47" src="https://user-images.githubusercontent.com/3159548/118080227-0c80f900-b3ba-11eb-9e41-86cb0363cac9.png">

[2021-05-13 07:46] tobiasriemenschneider commented on #208
Short Update..

I activated DataStore via the CLI ..

<img width="609" alt="Bildschirmfoto 2021-05-13 um 09 40 18" src="https://user-images.githubusercontent.com/3159548/118094799-7fe13580-b3cf-11eb-9a51-c47d07cace39.png">

Pushing the changes to the cloud led to an error ..

<img width="965" alt="Bildschirmfoto 2021-05-13 um 09 40 28" src="https://user-images.githubusercontent.com/3159548/1180948

[2021-05-13 08:10] Jacke-debug commented on #84
Still have trouble here, you should really open up this issue again and make a robust fix.

[2021-05-13 08:21] ashleyoldershaw commented on #206
I checked now - all good, thanks for that!

[2021-05-13 08:21] #206 closed

[2021-05-13 09:44] jlamloum93 opened #209 "Searchable & admin ui deployment"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-05-13 09:50] jlamloum93 opened #210 "Multi auth (Cognito & API-Key) makes Content pane unavailable"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-05-13 15:17] IanPhilips commented on #160
This looks v relevant: https://github.com/aws-amplify/amplify-js/pull/8008

[2021-05-13 17:00] hsspain commented on #210
We do not currently support multi auth in the Admin UI.  We will update this when we have more information about future support.

[2021-05-13 17:00] #207 closed

[2021-05-13 17:01] hsspain commented on #198
We do not currently support Lambda resolvers in Admin UI.  We will update this when we have more information about future support.

[2021-05-13 21:00] tomtaila-wesayhi commented on #202
@richardmcclellan I see, that's the approach I ended up taking.

Actually, eventually I decided to remove relationships all together and instead add ID fields where I felt the need to be able to link related data. Is there any large disadvantage to not using relationships?

FWIW: The original issue I believe is solved thank you!

[2021-05-14 06:52] Komalprasad commented on #198
Hi Michael,

AppId: d1e9mlaiius083
Region: us-east-1

[2021-05-14 06:53] Komalprasad commented on #198
Hi @MichaelSavoia,

AppId: d1e9mlaiius083
Region: us-east-1

[2021-05-14 20:05] IsaacTrevino commented on #84
I turned off `Admin UI Management` global login, and use strictly the cli terminal instead of a UI. This is how I initially started using amplify, though ever since the UI release, I've had so many problems.

So if you are experiencing this issue, I recommend turning off the Amplify UI settings under the Amplify Application Tab within the console.

[2021-05-15 09:37] Komalprasad commented on #198
I think you need to fix it asap, we have a single schema.graphql for datastore and lambda, but lambda resolvers create issue and it's very uncomfortable to update datastore data from dynamoDB.

[2021-05-16 08:15] watilde commented on #84
Thank you for the comments! It would be great if we can get a bit more information to reproduce the issue. I put an example information in the below:

OS: macOS/WSL2 on Windows/etc
Node.js version: <Should be LTS version>
amplify-cli version: <Should be the latest version>
Behind Proxy: y/n
Steps to reproduce:
1. Finish tutorial on https://sandbox.amplifyapp.com/start#datastore
2. Login AWS manage

[2021-05-18 05:15] #195 closed

[2021-05-18 05:23] #139 closed

[2021-05-18 05:26] #147 closed

[2021-05-18 05:31] #88 closed

[2021-05-18 15:51] mwMichaelSchnabel commented on #180
I am facing the same problem, but I am in doubt if I loose my users that are already in the pool
@cwoolum : Will the existing cognito identity pool still exist or will a new one be created when enabling/disabling the switch?

[2021-05-18 18:54] rafa7loza commented on #138
Hi, I'm having the same issue here. My app id is duj1hhhxml5ib and I'm using Firefox

[2021-05-19 15:31] IcedNet opened #211 "Backend environment shows update successful, then switches to provisioning and stays in provisioning - ongoing issue"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-05-20 06:49] wbrijesh opened #212 "npm i @aws-amplify/cli doesn't installs older version 4.51.0 not 4.51.1"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-05-20 15:59] khacminh opened #213 "Auth import failed"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-05-20 16:25] Chirag-Mathur commented on #84
For brave browser, just close the brave shield for that site. 👍

[2021-05-21 02:11] abhi7cr commented on #213
@khacminh  thanks for reporting, we are in the process of updating the `Administrator-Access-Amplify` managed policy with the required permissions. We will notify here once the changes are in-effect.

[2021-05-21 02:25] abhi7cr commented on #211
Hi @IcedNet ,

I looked at the logs for recent operations, and found this error during the latest clone operation (`staging` to `production`):

`UnrecognizedClientException: The security token included in the request is invalid`.

Were you executing the clone operation from Amplify Console or the SDK directly ? This error usually comes up when using temporary credentials which expire soon.

Simila

[2021-05-21 15:11] tor-jorgen opened #214 "A valid backend environment was not specified."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-05-24 03:01] maanitm opened #215 "Amplify Admin UI stuck on data model deployment."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-05-24 13:40] yppartyk commented on #215
Hi @maanitm, thank you for reaching out. I will look into this issue and get back to you.

[2021-05-24 13:41] yppartyk commented on #214
Hi @tor-jorgen, thank you for reaching out. We will look into this and get back to you.

[2021-05-24 15:33] IcedNet commented on #211
@abhi7cr I executed the clone from within the Admin Console initially - eventually I just went CLI and created a new back end, but the Staging env is still unusable via the Console - though I can update (push) from my local environment to Staging.

Using Auth, API, Function, Analytics, Notifications and Storage

Thanks!

[2021-05-24 19:40] maanitm commented on #215
Thanks. It still seems to be in the same state so let me know if you need any more information.

[2021-05-24 21:53] matt-d-webb opened #216 "Admin UI - error loading data"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-05-24 23:21] yppartyk commented on #215
Hi @maanitm, if you look in the CloudFormation Console, do you see any currently pending jobs? Or is everything in a completed status?

[2021-05-24 23:26] maanitm commented on #215
@yppartyk they all say UPDATE_COMPLETE. None of them are pending.

[2021-05-24 23:42] yppartyk commented on #215
Your Admin UI should no longer be in a deploying state. Can you please check if the changes you were trying to deploy have been saved? If not, please try to deploy again. Let us know if you are facing any issues here so we can continue to troubleshoot this.

[2021-05-25 00:11] yppartyk commented on #216
Hi @matt-d-webb, are you still getting this error when navigating to Content?

[2021-05-25 00:41] yppartyk commented on #214
This seems to be an IAM permissions issue. After you get the `A valid backend environment was not specified.` message with the dropdown to select an environment, did you select the `prod` environment? If so, what happened next?

[2021-05-25 00:44] maanitm commented on #215
Seems to work now. Thanks!

[2021-05-25 00:47] rideddy84 commented on #216
I have same issue right now.

[2021-05-25 00:48] yppartyk commented on #216
@rideddy84 what is your app ID, region, and environment name?

[2021-05-25 00:51] rideddy84 commented on #216
@yppartyk Please look at this.
- d3pdwijbrr0ngj
- ap-northeast-2
- staging

[2021-05-25 06:54] tor-jorgen commented on #214
I keep getting the same error when selecting prod. When selecting staging it works.

[2021-05-25 08:51] matt-d-webb commented on #216
@yppartyk yes, just re-tried now, same error. Can I provide any additional information to help resolve this?

[2021-05-25 14:43] remeezp commented on #216
I am having the same issue as well.  It was working fine when I had a single table.  I then created a relationship and got the error mentioned above.  I then removed the relationship, deployed and now I see the content screen again.

[2021-05-25 14:57] #215 closed

[2021-05-25 15:11] cfbo commented on #216
I am also having this issue after adding a simple relationship-

- d3i83n9mlag28r
- eu-central-1
- envName: graphql

[2021-05-25 15:36] remeezp commented on #216
d1vvtow30req7s
eu-west-1
dev

[2021-05-25 15:43] yppartyk commented on #216
Can everyone please provide the DevTools console output like @matt-d-webb did?

[2021-05-25 15:46] remeezp commented on #216
@yppartyk, weird I just tried to access the Content page again and now it's working.  My error was the same as @matt-d-webb.

[2021-05-25 16:11] yppartyk commented on #216
Did it start working for anyone else?

[2021-05-25 18:17] yppartyk commented on #214
Thank you. I see the issue. I'll investigate a fix and let you know any updates here.

[2021-05-25 18:32] yppartyk commented on #214
@tor-jorgen do you have either API or Auth enabled on your app?

[2021-05-25 19:44] IcedNet commented on #211
Now, after doing the unthinkable, and clicking "Manage app content" in the Admin UI console, then clicking "Save and Deploy" in same, as instructed, my Production Backend is in a seemingly permanent "Deploying" state.

aws CLI ... amplify CLI... CloudFormation...  I'm assuming there is a way to see under the hood, but it is opaque to me at the moment.

I am seeing activity that responds as expecte

[2021-05-25 19:57] IcedNet opened #217 "Amplify Admin UI stuck on data model deployment"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-05-25 20:27] yppartyk commented on #217
It should be reset now. Let us know if you continue having this issue.

[2021-05-25 20:29] yppartyk commented on #211
@IcedNet it should not be reset. Please let us know if you continue seeing this issue.

[2021-05-25 20:33] IcedNet commented on #217
@yppartyk Thanks so much! Would it be possible to perform your magic on :
App Id
d1tz522m96bzo6
Region
us-east-1
Environment name
Staging

I don't suppose this is something that our team can pull off via AWS CLI when needed?

I have to admit, I am not comfortable attempting the Manage app content path again, but I will try once I merge the feature branch to production...

[2021-05-25 21:09] yppartyk commented on #217
@IcedNet Done! Please give Content management a try. This issue is unrelated to it.

[2021-05-25 21:27] IcedNet commented on #217
@yppartyk I see the issue with staging now - it actually gave a stacktrace for failure!
Abandoned code
You have made my day.
Thanks again!
I will try setting up content management after I get the feature branch merged later tonight, and report back.
🍻

[2021-05-25 21:36] #190 closed

[2021-05-25 22:01] matt-d-webb commented on #216
Mine now appears to be working! 🎉

[2021-05-25 22:06] yppartyk commented on #216
@matt-d-webb I think there may be some transient errors with Datastore. Did you do anything specific to fix this or did it just start working by itself?

[2021-05-25 22:16] swaminator commented on #186
@viprocket1 @ritesh-guaubox @mikelhamer can you please share your app ids (found in the header bar under the user logo)

[2021-05-25 22:17] matt-d-webb commented on #216
@yppartyk I just did another deploy, this was after trying to remove this data model relationships (which failed to deploy).

Not sure if that had any impact.

The steps I had done:
- Removed model relationships (deploy and save failed)
- Kept the origina model relationship changes and just deployed, successfully.
- "error loading data" no longer present.

[2021-05-25 22:21] mikelhamer commented on #186
I ended up using ECS for everything, so unfortunately I don't have an App ID to share anymore.

[2021-05-25 22:31] yppartyk commented on #151
The fix for this should have been deployed some time ago. Is anyone here still experiencing these issues in Admin UI?

[2021-05-25 22:47] swaminator commented on #186
@mikelhamer sorry to hear. Would be happy to learn more about your usecase. Would you be willing to chat?

[2021-05-25 22:48] #217 closed

[2021-05-25 23:23] vladimirzoyan commented on #151
Hi @yppartyk this seems fine now. The issue now is the content admin in admin-ui not loading and having to refresh multiple times... due to max connections reached issue.

[2021-05-25 23:24] vladimirzoyan commented on #216
Mine is having this issue continuously.. I have to force refresh multiple times, then starts working. For other admin users... they can't ever get to a non-errored state to work on the content. Really frustrating.

[2021-05-25 23:56] yppartyk commented on #216
@vladimirzoyan ver sorry for the inconvenience. Can you please share your DevTools console output here?

[2021-05-26 11:37] tor-jorgen commented on #214
I have both enabled in both environments.

[2021-05-26 11:43] #211 closed

[2021-05-26 13:14] nickmarley001 commented on #216
im also having this issue

[2021-05-26 15:30] yppartyk commented on #214
I do not see API or Auth resources deployed for this appId. How did you enable them in both environments?

[2021-05-26 15:56] tor-jorgen-yara commented on #214
![image](https://user-images.githubusercontent.com/78483979/119689119-e0995500-be48-11eb-97ab-e25f287dca42.png)

For staging I used `amplify add api`
For prod i cloned staging

[2021-05-26 16:03] yppartyk commented on #214
I see a clone backend (for creating prod environment) failure in our logs, but in the screenshot your prod environment deployment looks like it succeeded. Did you clone the environment through the CLI?

[2021-05-26 16:11] yppartyk commented on #216
@nickmarley001 can you please share your appId, region, environment, and DevTools console output?

[2021-05-26 20:05] tor-jorgen-yara commented on #214
I cloned from Amplify Management Console.
Both applications/back-ends work as expected.

[2021-05-26 21:13] yppartyk commented on #216
@cfbo if you are still getting this exact same error message on the page, can you please try navigating to the Content page and verify that you do not see `appsync ready` in the console logs. If that's the case, please do not close the app/tab/browser. Rather, wait for a few minutes and refresh the page. Then let us know what you see. If still the same issue, please post your console logs here so

[2021-05-26 22:36] yppartyk commented on #214
Did you add API/Auth through the CLI?

[2021-05-27 00:36] yppartyk commented on #216
We are deploying a potential mitigation for this issue. It should be rolling out across all regions throughout the week.

[2021-05-27 01:31] bangrrrt commented on #216
App ID: d2xlf5sd6f1ynd
Region: us-east-1
Environment: dev
<img width="1225" alt="Screen Shot 2021-05-26 at 9 22 43 PM" src="https://user-images.githubusercontent.com/10649763/119751335-f0c12c80-be68-11eb-9d13-353b0138add8.png">

[2021-05-27 06:57] tor-jorgen-yara commented on #214
The app was created from Amplify Management Console. The rest of the setup was done from the CLI.

[2021-05-27 07:49] cfbo commented on #216
@yppartyk  > I confirm `appsync ready` was not in the console log
When removing the single '@connection' that I had in my model, the content page works again

[2021-05-27 12:29] PawanMude opened #218 "amplify pull --appId xxxxx --envName staging : Verification URL is not working on aws-amplify/cli@4.51.3"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-05-27 12:31] PawanMude commented on #218
![image](https://user-images.githubusercontent.com/29176181/119826344-8d410880-bf15-11eb-948b-6487d317491b.png)

[2021-05-27 13:16] mikelhamer commented on #186
We could chat, how do you propose?

[2021-05-27 14:09] yppartyk commented on #214
Thank you, understood. We have identified the issue and will be rolling out a fix soon. For now, can you please log  into Admin UI as a FullAccess user and deploy either the API or Auth again? Triggering a deployment should make the appropriate update to the Manage-only role. That should fix this issue. Please let us know here if it does.

[2021-05-27 14:46] henok opened #219 "AWS Amplify admin UI error when accessing Content Manager"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-05-27 15:39] yppartyk commented on #216
@bangrrrt I see some errors in the logs that give an indication that your latest changes (adding `companyFitnessQuarterlyDataId`) may not have been saved. Can you please try deploying your schema again through Admin UI? Once you do, let us know if you continue having this issue.

[2021-05-27 15:40] tor-jorgen-yara commented on #214
I logged in to Admin UI as aws-amplify-admin and selected staging environment, as I wanted to test there first
I selected Authentication and clicked "Save and deploy", and I waited for the deploy to finish
I then logged out and  in with the "Manage only" user
Both environments showed a blank page, except for the header where I can select environment
I changed to "Full access" and logged out and in

[2021-05-27 15:44] yppartyk commented on #214
In the background, we create one set of IAM roles for FullAccess and ManageOnly users across all environments. So making a deployment anywhere updates them. The change we are going to deploy soon is to also perform this update when a new environment is cloned.

What do you see on the API page?

[2021-05-27 15:58] tobiasriemenschneider commented on #208
Nevermind.

[2021-05-27 15:58] #208 closed

[2021-05-27 16:30] yppartyk commented on #219
Hi @henok can you please also post your console log output here? We are going to deploy a potential mitigation for this issue.

[2021-05-27 17:14] PawanMude commented on #218
After upgrading Node version ; i managed to move ahead using instructions mentioned in https://docs.amplify.aws/start/getting-started/data-model/q/integration/react

[2021-05-27 17:14] #218 closed

[2021-05-27 18:50] swaminator commented on #186
@mikelhamer get on our discord server and you can message me https://discord.gg/YYS5mERT

[2021-05-28 00:09] henok commented on #219
Hi Yuriy,
I have the console log output attached: https://github.com/aws-amplify/amplify-adminui/files/6554857/us-east-x.admin.amplifyapp.com-1622125936856.log

[2021-05-28 00:10] richleach opened #220 "Can not add content via Admin UI"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-05-28 01:03] yppartyk commented on #220
Hi @richleach, sorry for this inconvenience. We are aware of the issue and in the process of deploying a fix. I'll post here when it reaches Oregon so you can verify.

[2021-05-28 03:28] yppartyk commented on #220
@richleach the fix should now be in us-west-2. Please verify that it works and let us know if you're still experiencing the issue. Thank you.

[2021-05-28 03:34] richleach commented on #220
Remedied, thank you for the quick response.

[2021-05-28 07:13] tor-jorgen-yara commented on #214
I see this page:
![amplify api](https://user-images.githubusercontent.com/78483979/119944749-f0be4b00-bf94-11eb-854a-3e7d76ba8139.png)

[2021-05-28 15:18] yppartyk commented on #214
@tor-jorgen The only thing that is currently supported on Admin UI with respect to GraphQL APIs is designing data models on the `Data` tab and managing content against those models on the `Content` tab. The page you're looking at is just a placeholder for other GraphQL-related features that are on our roadmap.

[2021-05-29 06:00] djsjr commented on #216
Seem to have same issue.  A simple relationship breaks the content tab of the UI: "There was an error loading your data." Re-deploy without the relationship, and I can view content. Re-deploy WITH relationship, and it's broken again.

Region: us-east-1
App ID: dt7m032vxqs1v
Env: dev

<img width="1121" alt="Screen Shot 2021-05-29 at 1 57 59 AM" src="https://user-images.githubusercontent.com/7823697

[2021-05-29 13:43] danigb opened #221 "Error loading your data - deployment does not exist?"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-05-30 17:44] micahwalter commented on #155
Hi,
Looks like this may have been fixed. Has it been released yet?

m

[2021-05-30 18:25] ahmabboud commented on #151
Thank you for your response

On Tue, May 25, 2021 at 7:23 PM vladimirzoyan ***@***.***>
wrote:

--

*Ahmad ABBOUD* |

Specialized AI Engineer

Postdoctoral Fellow at

University Laval,

Faculty of Medicine,

Department of Rehabilitation,

Phone: +1(418)- 456 - 4776

[2021-05-31 18:34] rpostulart opened #222 "address already in use"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-05-31 18:35] rpostulart commented on #222
mmhm I restarted the terminal and it is working now

[2021-05-31 18:35] #222 closed

[2021-06-01 01:30] peter-yeh commented on #57
Hello, I've got the same problem as well. I realised that my timezone was wrong.

Checking your computer's timezone and correcting it fixed this problem for me.

[2021-06-01 11:06] PeteDuncanson commented on #175
@swaminator thought I'd give this another go, got the same error but I'd totally missed your reply from last time, sorry.

AppID: d1y0lxfx9s7bhz
Region: eu-west-1

[2021-06-01 17:31] #214 closed

[2021-06-01 19:30] latheeshvmv opened #223 "Flutter sign up confirm via phone otp in aws amplify"
How to add phone and confirm sign up via phone otp and not with email otp.

There is currently no documentation provided for it.

Please assist.

[2021-06-01 19:31] #223 closed

[2021-06-01 22:43] noahzs opened #224 "Understanding Storage Usage (5GB free tier)"
**Which Specific Feature is your question related to?**
I have received an email saying I've used up the 5GB of free tier storage. This is also being reported on my AWS billing console. I am trying to understand what this 5GB of data is, as the only information currently being stored is 2 auth users (No data has been written to tables or models) - definitely not 5GB worth of data. A breakdown of u

[2021-06-02 20:44] letsbelopez commented on #224
AWS Amplify uses S3 storage for deployment artifacts. That is probably where the storage is coming from. Can you check your S3 bucket please?

[2021-06-03 01:46] noahzs commented on #224
Hi David.

I've looked in the S3 bucket and all enclosed folders and there are no
large files at all, none more than a few kb big.

Cheers

Noah

On Thu, Jun 3, 2021 at 6:44 AM David Lopez ***@***.***> wrote:

[2021-06-03 23:33] yppartyk commented on #219
@henok what is the purpose behind removing the @auth directives? Do you want anyone to be authorized to Create/Read/Update/Delete content related to a model? If so, can you please try setting the Authorization rule for your models in Admin (pictured below) to `Anyone can Create, Read, Update, and Delete {ModelName}`, deploy, and try Content again?
![image](https://user-images.githubusercontent.com

[2021-06-04 14:11] letsbelopez commented on #224
We'll look into this as a feature request for our Storage work.

[2021-06-04 22:30] vadiraja opened #225 "Error deploying from admin ui: auth headless is missing the following inputParams googleClientId, facebookAppId."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-06-05 01:26] noahzs commented on #224
Thank you

I want to understand what's using up this space before I continue testing -
to avoid unexpected surprises.

Cheers

Noah

On Sat, 5 Jun 2021, 12:11 am David Lopez, ***@***.***> wrote:

[2021-06-05 03:18] supersonix77 commented on #216
Having the same issue.

After changing the data model on the admin UI, the content doesn't get loaded.
<img width="653" alt="스크린샷 2021-06-05 오전 11 15 20" src="https://user-images.githubusercontent.com/62745859/120878480-635fa400-c5ef-11eb-92bd-fb027591bc11.png">

Also, after commanding "amplify pull," the following error occurred.

Unhandled Runtime Error
Error: Models are not topological

[2021-06-05 22:01] KeKs0r commented on #208
@tobiasriemenschneider I am running into the same issue. Could you elaborate what the issue was and how you resolved it?

[2021-06-06 05:12] tobiasriemenschneider commented on #208
Hi Marc (@KeKs0r),
I did not resolve it.

After doing some research I learned that **AdminUI does neither support** ..
- a "multiple auth approach", **nor**
- @searchable for having Dynamo stream to an ElasticSearch instance.

Since I need both in my project, I decided that AdminUI is not for me.

I assume that I broke the AdminUI deployment by **introducing the second Auth approach** (i.e. IAM on

[2021-06-06 08:19] supersonix77 commented on #216
Still having the same issues.

[2021-06-06 17:28] djsjr commented on #216
Same - no change after a week. Any progress on this?

[2021-06-07 05:15] ptejada commented on #216
Region: us-east-1
App ID: d1w8bx0rtqlcyd
Env: Staging

![image](https://user-images.githubusercontent.com/253405/120962468-cce5cc80-c72d-11eb-928d-d8e97451e9ed.png)

[2021-06-07 15:29] yppartyk commented on #216
@supersonix77 Please verify that your schema does not have any circular references (example: Model1 relates to Model2 relates to Model3 relates back to Model1). Datastore throws `Error: Models are not topologically sortable. Please verify your schema.` if a circular reference is present.

[2021-06-07 15:40] supersonix77 commented on #216
Okay. Right now I'm making the changes. And I would like to ask you a question about the issue.

For example, if there is one Settings model that needs to be related to one User model. If I make a relationship on the User model to have a 1:1 relationship with Settings, then am I not allowed to have the Settings model have a 1:1 relationship to the User model back?

[2021-06-07 17:13] letsbelopez commented on #225
This error happens because if you have previously deployed Google and Facebook OAuth providers, the Amplify CLI expects those values on a headless pull, and they're not present.

Have you previously configured Google and Facebook OAuth providers? If you have, have they been modified outside of the Amplify CLI workflow?

[2021-06-07 18:06] cwoolum commented on #221
Hi @danigb, the error you are seeing occurs occasionally but we catch it so it doesn't break anything. I believe the problem you are running into is unrelated.

Can you please send a screenshot of the error you are seeing in the UI that is preventing you from using the content editor?

[2021-06-07 18:11] agnostikas opened #226 "testf"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-07 18:11] cwoolum commented on #155
Yes, this should be fixed now. Can you please confirm?

[2021-06-07 18:33] cwoolum commented on #128
Hi @marenero1974, it seems your auth configuration has gotten into a bad state. Are you able to sign into the AdminUI and reconfigure Auth?

[2021-06-07 18:51] cwoolum commented on #182
We made some changes recently that should have fixed this. Since we have not heard back, I will be closing this ticket. Please re-open it if you continue to have this issue.

[2021-06-07 18:51] #182 closed

[2021-06-07 20:10] cwoolum commented on #226
This seems to have been opened in error. Please re-open if this is not the case.

[2021-06-07 20:10] #226 closed

[2021-06-07 20:28] #5 closed

[2021-06-07 20:28] letsbelopez commented on #5
This issue has been resolved. let us know if you see it again.

[2021-06-07 20:33] letsbelopez commented on #103
This has been resolved. Let us know if you see it again.

[2021-06-07 20:33] #103 closed

[2021-06-07 20:35] letsbelopez commented on #122
Updates were made to the app to help resolve this issue. Please let us know if it's still happening.

[2021-06-07 20:35] #122 closed

[2021-06-07 20:39] letsbelopez commented on #163
Fix has been rolled out. Please let us know if you see it again.

[2021-06-07 20:39] #163 closed

[2021-06-07 20:40] letsbelopez commented on #165
Fix has been rolled out. Please let us know if you see it again.

[2021-06-07 20:40] #165 closed

[2021-06-07 20:42] letsbelopez commented on #164
This is the expected behavior for now.

[2021-06-07 20:47] letsbelopez commented on #64
Fix for the original issue has been rolled out. If anyone is still seeing this, please create a new ticket.

[2021-06-07 20:47] #64 closed

[2021-06-07 20:50] letsbelopez commented on #177
Are you available for a call with the team to get this unblocked. Please let us know.

[2021-06-07 21:47] yppartyk commented on #216
@supersonix77 Currently, that's the expected behavior based on Datastore constraints. We are going to add this check into Admin UI to disallow this scenario.

[2021-06-07 21:48] yppartyk commented on #216
@ptejada Are you seeing the same `Models are not topologically sortable. Please verify your schema.` error in your console?

[2021-06-07 21:49] yppartyk commented on #216
@djsjr Unfortunately, I cannot reproduce this error. Do you mind jumping on a call with us to work through it? Or if you'd prefer, would you be ok inviting us to your app so we can take a look?

[2021-06-08 00:41] ptejada commented on #216
@yppartyk i did not saw that error in the console. Only the error from my screenshot.

I saw you mentioned circular relationship in another comment which I was trying to do as well. Are those not supported?

[2021-06-08 17:14] djsjr commented on #216
I'd be happy to do either of those options - whichever is more convenient. Let me know how to go about it.

[2021-06-09 01:52] hiaw commented on #84
I just had this problem and managed to get it to work in Chrome.

[code]

[2021-06-09 02:02] yppartyk commented on #216
@ptejada Yes, circular references are not supported by Datastore.

[2021-06-09 02:04] yppartyk commented on #216
@djsjr Can you please invite me to the app? You can use email `yppartyk@amazon.com`. I can take a look and then you can revoke my access.

[2021-06-09 03:48] pcmushthaq commented on #217
@yppartyk I am also facing a similar issue. My admin UI is stuck on deploying authentication. It has been more than 12 hours now.
AppId: d2jcfy6q3r2iiv Environment: dev.
But I can change my auth configuration from my local environment and still push it to the backend successfully. But, there is one pending auth update in the admin UI, which is preventing me from using the UI. Should I open a new i

[2021-06-09 05:13] swaminator commented on #224
@noahzs if you're building your frontend in Amplify console then your build artifacts are stored by the service. As a result, your build artifacts have added up to 5GB

[2021-06-09 15:23] djsjr commented on #216
Done. You'll notice that I've set up amplify video, which edits the schema adding simple relationship that seems to be causing the issue.

[2021-06-09 18:48] cwoolum commented on #213
Hi @khacminh , are you using the full access role created in AdminUI? If so, we have rolled out a change that should fix this issue. Can you please try again?

[2021-06-09 20:30] aspittel opened #227 "Error Messages with IAM Authorization"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-06-09 20:30] aspittel opened #228 "Error Messages with IAM Authorization"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-06-09 23:36] yppartyk commented on #227
@aspittel do you get these errors/warnings only when signing out or do you see them also before signing in?

[2021-06-09 23:52] aspittel commented on #227
It happens whenever I’m logged out. They don’t appear if I’m logged in
though.
On Wed, Jun 9, 2021 at 6:37 PM Yuriy Partyka ***@***.***>
wrote:

[2021-06-10 01:34] yppartyk commented on #227
@aspittel can you please provide what your `aws-exports.js` file looks like? Also, are you implementing any custom sign/signout logic or using Amplify's default Auth component and flow?

[2021-06-10 02:02] yppartyk commented on #216
@djsjr Unfortunately, Admin UI currently does not support the `@function` directive. It is on our roadmap.

[2021-06-10 14:18] aspittel commented on #227
I have custom auth using `Auth.signIn/Auth.signUp` , but this happens when the user is signed out -- if I comment out all auth logic the errors still persist.

The only code I have is:

[code]

Given the auth rules, a logged out person should be able to still read data without errors, and the models do load, it's just that I also get the error messages.

Agree that this is most likely a DataStore

[2021-06-10 19:36] djsjr commented on #216
@yppartyk Ah - well thanks for taking a look. Good to know exactly what's wrong. Hopefully it's something that get's support some time soon

[2021-06-10 19:58] micahwalter commented on #155
yes, seems to work now. I'll close this issue...

[2021-06-10 19:58] #155 closed

[2021-06-11 02:25] supersonix77 opened #229 "error getting datastoreuser: DOMException: Failed to execute 'transaction' on 'IDBDatabase': One of the specified object stores was not found."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-06-11 02:27] supersonix77 commented on #229
This is how the user model looks like.

![Uploading 스크린샷 2021-06-11 오전 10.26.59.png…]()

[2021-06-11 02:28] supersonix77 commented on #229
`import React, { useEffect, useState } from "react";
import AuthLayout from "layouts/Auth.js";
import { DataStore } from "@aws-amplify/datastore";
import { User } from "../../src/models";

function Settings() {
  const [dataStoreUser, setDataStoreUser] = useState(null);

  useEffect(() => {
    getUser();
  }, []);

  async function getUser() {
    try {
      const dataStoreUser = await DataStore

[2021-06-11 04:16] khacminh commented on #213
Hi @cwoolum, I used the full access role to create the Amplify App. I'll try again and let you know the result

[2021-06-11 11:40] supersonix77 commented on #229
### Update

I tried other models on the test page, and even other models create the same problems. Was my approach wrong when using the DataStore.query? I brought the same code from other pages that still work.

I would really like to have some explanations on what

DOMException: Failed to execute 'transaction' on 'IDBDatabase': One of the specified object stores was not found.

means. Thanks

[2021-06-11 21:13] cwoolum commented on #123
Hi @lawmicha , looking at your schema, it looks like you have a 1:M with `Shop` to `Schedules`. This is intended, correct?

[2021-06-11 21:16] cwoolum commented on #228
We are working on a fix to automate this. We'll update the ticket when it rolls out!

[2021-06-11 21:19] cwoolum commented on #164
I am going this close this ticket since it is functioning as intended.

[2021-06-11 21:19] #164 closed

[2021-06-11 21:34] cwoolum commented on #229
Hi @supersonix77, within the AdminUI, are you able to use the content editor? This would mean that your models are deployed correctly.

[2021-06-11 23:57] supersonix77 commented on #229
Yes I can use my content editor

[2021-06-12 01:02] supersonix77 commented on #229
@cwoolum and could you also let me know when and what kind of situations that kind of error usually pops out?

[2021-06-12 16:00] danigb commented on #221
Hi @cwoolum ,

I've never been able to use the content editor because of this error (happens always, not occasionally).

This is when trying to access:
<img width="1680" alt="Screenshot 2021-06-12 at 17 58 50" src="https://user-images.githubusercontent.com/7457/121782018-dcd73380-cba7-11eb-923d-a2386646705e.png">

And this is the message after a while:
<img width="1680" alt="Screenshot 2021-06-12

[2021-06-13 01:33] mvescovo commented on #140
Thanks for your response. I'm actually not using AWS amplify anymore since they don't support Kotlin Multiplatform.

Sorry for the delayed response; I guess I don't have GitHub notifications turned on.

[2021-06-13 21:54] ptejada commented on #84
For users using WSL: you can try restarting WSL. I personally have this issues frequently and it even prevents the local dev site launch from `yarn dev`.

Command to restart WSL from PowerShell or Command Prompt
[code]

[2021-06-14 03:26] khacminh commented on #213
hi @cwoolum, I've just re-created a new amplify project from the AWS console. The problem is still there. I checked the IAM role of the adminUI, and couldn't find the `cognito-idp:ListIdentityProviders` included.

[2021-06-14 04:49] protajack commented on #84
I had the exact same issue as this until I followed @hiaw 's advice. The key is to open the admin UI in Chrome before rerunning the command in terminal

[2021-06-14 14:53] lkraus5 opened #230 "I would like to be able to adopt resources into the amplify cloud formation from the console."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I would like to be able to adopt lambda functions and sqs queues and sns topics into the amplify cloud formation, even if it's making a duplicate.

**Describe the solution you'd like**
A clear and concise description of what you want to ha

[2021-06-14 16:40] cwoolum commented on #229
This is actually more of a `amplify-js` issue so I'm not familiar with this error. I found this similar ticket but it's unresolved as of now.

https://github.com/aws-amplify/amplify-js/issues/5130

Would you be able to send a repro to `aws-amplify-customer@amazon.com` and we can take a look to make sure everything is configured correctly in the app?

[2021-06-14 16:48] cwoolum commented on #221
Hey @danigb, It looks like you are missing some default auth rules. Did you build and deploy your schema via the CLI? If so, we have a way to automatically fix it.

In the schema editor of AdminUI, if you make a small change to your schema, we will automatically add the correct auth rules for you. This should fix the issue in the content editor for you and you can then revert the change to the sch

[2021-06-14 19:29] cwoolum commented on #213
Are you no longer getting the original error of `cognito-identity:GetIdentityPoolRoles` being missing?

[2021-06-14 19:48] rraczae commented on #213
This is also causing issues for us. Since we enabled the admin ui, it forces developers to use and admin ui user when doing amplify pull but it cannot access the previously imported auth resource... is there a way to tell the CLI NOT to use the admin ui for tokens?

[2021-06-14 21:04] vladimirzoyan commented on #216
![image](https://user-images.githubusercontent.com/929969/121959246-86e2c700-cd32-11eb-8bf7-8c270e1ebb4c.png)
Still hitting max number of subscriptions on only 19 models

[2021-06-14 21:05] vladimirzoyan commented on #216
![image](https://user-images.githubusercontent.com/929969/121959416-c3162780-cd32-11eb-8f67-1b7d094f21fb.png)

[2021-06-14 21:21] cwoolum commented on #213
@rraczae, if you run `amplify configure project`, and select `AWS profile setting`, it should allow you to go back to using your AWS Profile for auth.

![image](https://user-images.githubusercontent.com/942415/121960966-a91d1a80-cd1b-11eb-9527-edc0d6c602de.png)

[2021-06-14 21:54] cwoolum commented on #175
Hi @PeteDuncanson, I'm not seeing any errors in our logs. Would it be possible to share a sample of your schema? There are some GraphQL directives we don't support and they can cause problems with the Content Editor.

[2021-06-14 21:58] rraczae commented on #213
Cool thanks! I actually used a shell script and provided the config there but this is certainly easier. Maybe worth documenting for admin UI. Thanks!

[2021-06-15 01:57] supersonix77 commented on #229
Okay, got it.

Could you let me know what needs to be sent to `aws-amplify-customer@amazon.com`?

Just the same thing on the issue report on top of this page? Or access to Admin UI?

Thanks.

[2021-06-15 03:10] supersonix77 commented on #229
One thing I figured out is I can fetch if I query the data on the pre-rendering state.

I am not sure if you know details about Next JS framework, but if I query in `getServerSideProps`, I can fetch without any errors.

However, if I use `useEffect()`, it causes the error.

[2021-06-15 07:21] rajubhusani opened #231 "Amplify Interaction issue : Input & Output Context options are not available in lex bot."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-06-15 15:34] rraczae opened #232 "Imported Auth: Content Management and Data Deploy is broke"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-06-15 20:23] srquinn21 commented on #232
@rraczae The version of the `amplify-cli` that you are running (4.51.2) does not add the needed permissions to the FullAccess IAM role needed for recent changes to SNS for SMS based workflows. Can you please run `amplify upgrade` and let us know if you can still reproduce?

[2021-06-15 20:26] cwoolum commented on #229
Oh, it could definitely be a SSR issue. Can you try making a small change to your code and see if this works?

[code]

[2021-06-15 20:45] srquinn21 commented on #231
@rajubhusani Hello! Interactions are not currently supported via the AmplifyAdmin UI. However, they are supported by the amplify-cli which I assume is where you are seeing this issue. Reassigning to that repository.

[2021-06-15 21:46] tommulkins opened #233 "Password managers, remember password, and suggest password not working in login form"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-06-15 22:05] cwoolum commented on #229
@supersonix77 , I'm thinking more about how this could be related to SSR. In your Amplify configure, can you ensure that you have `ssr` enabled similar to below ?

[code]

According to the docs, it looks like you also need to use `getServerSideProps` for this to work.

https://docs.amplify.aws/lib/ssr/q/platform/js#datastore

[2021-06-16 01:49] srquinn21 commented on #233
@tommulkins Thanks for the detailed report and reproduction steps! I was able to confirm that autofill for the username does not work in 1Password either, however, the password field does work. After investigation, it appears the AmplifyAdmin sign in form is not using the [necessary autofill attributes](https://developers.google.com/web/fundamentals/design-and-ux/input/forms#recommended_input_name

[2021-06-16 04:35] khacminh commented on #213
Hi @cwoolum
I still getting the error  with `cognito-identity:GetIdentityPoolRoles`. Checking the Full-access role, the permission is not included

[2021-06-16 07:09] japan2k20 commented on #57
Hi, I woke up today with this issue
I have not changed anything

Any thing that's happening now that can explain this? It's quite worrying!

[2021-06-16 07:29] sakshya73 commented on #57
Same with me

[2021-06-16 08:12] Lorenzohidalgo commented on #189
Found the same bug, for some reason adminUI has stopped working for me. Also on Chrome...

![image](https://user-images.githubusercontent.com/22448611/122183224-4fd3f900-ce8b-11eb-9e86-05e38229cd1c.png)

[2021-06-16 08:20] Lorenzohidalgo commented on #57
Same here, was working correctly yesterday and i've lost access today. Having the same issue both in chrome and firefox

[2021-06-16 08:23] renebrandel commented on #57
Thanks for the @-mention. I'll raise it with the team again.

[2021-06-16 08:23] niallotuathail commented on #57
Having this issue also. Looks like an Amplify issue/outage rather than something on our end?

[2021-06-16 08:28] HarelKedem commented on #57
What will happen when we'll be at production? please post a detailed explanation of the issue and it's solution and if to expect it occurring again (as I understand, this is not the first time). Thank you.

[2021-06-16 08:33] DonkiKoi commented on #57
I have the same problem. Yesterday everything worked fine and today I can't login anymore.
I tried to clone the backend but this didn't work.
I can use my app and create new data. Everything is stored properly in DynamoDB (I can see it there), but can't login at AWS Amplify Admin UI.
Get the same screen as mentioned above (https://github.com/aws-amplify/amplify-adminui/issues/57#issuecomment-78819

[2021-06-16 08:38] mjza opened #234 "Cannot open AdminUI"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-06-16 09:22] Galaxy83 commented on #57
Happens in PRODUCTION!!! FIX ASAP

[2021-06-16 09:54] glidaa commented on #57
This is happening for me as well

[2021-06-16 10:00] kernelsoe commented on #57
For us too!!! We are gonna release production. But, is this amplify thing really reliable? (like firebase?)

[2021-06-16 10:28] swaminator commented on #57
@kernelsoe @glidaa @Galaxy83 @DonkiKoi @HarelKedem @niallotuathail @Lorenzohidalgo @ifelsegrandmaster @peter-yeh @japan2k20 We have identified the issue and rolling out a fix in all regions.

[2021-06-16 10:40] Lorenzohidalgo commented on #57
@swaminator just confirming that AdminUI on eu-central-1 is now operational again for me.

[2021-06-16 10:42] litwicki commented on #57
@kernelsoe @glidaa @Galaxy83 @DonkiKoi @HarelKedem @niallotuathail @Lorenzohidalgo @ifelsegrandmaster @peter-yeh @japan2k20 could you please retry opening the Admin UI? We've resolved the issue; please confirm.

[2021-06-16 10:43] DonkiKoi commented on #57
Thank you @swaminator. Admin UI is working on eu-central-1 for me.

[2021-06-16 11:35] niallotuathail commented on #57
Thanks team! All working on my end again.

[2021-06-16 11:49] kernelsoe commented on #57
Thank you very much Team! Tokyo region is working fine!

[2021-06-16 14:11] #57 closed

[2021-06-16 15:04] supersonix77 commented on #229
@cwoolum Hi. I have tried both of your solutions and it still makes the same error.

I really appreciate the link you provided about using NextJS, and I have been using `getServerSideProps` with no errors by using `JSON.parse(JSON.stringify(MODEL)))`, but I think you gave me a better way.

I understand that when server-side rendering is enabled, `getServerSideProps` works. But I don't think that m

[2021-06-16 16:08] rraczae commented on #232
Hey @srquinn21, thanks. I upgraded to version 5.0.0, reimported the auth but the issues is still there. I have not tried a new environment, since this is an already existing app. Is there anything we can do to manually create that role?
Thanks! Robert

[2021-06-16 16:28] litwicki commented on #234
@mjza we resolved this issue, can you please confirm if you're experiencing any issues?

[2021-06-16 17:13] mjza commented on #234
@litwicki Thanks for resolving the issue.

[2021-06-16 17:13] #234 closed

[2021-06-16 18:53] PeterEckIII commented on #210
@hsspain, is this feature being considered or should I move to a different solution? Just curious if the Amplify team has this on the roadmap. Also happy to provide my app information if necessary. Thanks

[2021-06-17 13:20] LeonardoClemente opened #235 "Using DynamoDB with Amplify"
**Which Specific Feature is your question related to?**
DynamoDb

**Provide additional details e.g. code snippets**
I've just started learning AWS Amplify to connect to my flutter app but I am completely new to database design.
I was wondering if there are any tutorials on how to submit records with different attributes  (they only have the ID and a few default attributes  in common as they're in

[2021-06-17 14:24] supersonix77 commented on #229
Hi @cwoolum

I just read one of the documentations made by AWS and realized they used `useCallback` to query DataStore in an example linked below.

https://aws.amazon.com/ko/blogs/mobile/new-in-amplify-datastore-selective-sync-and-sort-functionality/

Could you see if this could be related to this error? Thanks.

[2021-06-17 15:32] ghost opened #236 "Can't deploy any data models on Amplify on any app"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-06-17 18:23] cwoolum commented on #229
Hey @supersonix77 , I don't think it's related to `useCallback`. I'm still thinking this is related to the datastore not syncing before it tries to query again. Can you try wrapping your code in `DataStore.observe`? This will force the store to synchronize before it does any querying. It should look like this

[code]

In a full implementation, you'll want to keep track of the subscription and make

[2021-06-17 22:03] PeterEckIII commented on #198
Also experiencing this problem when trying to add custom batch resolvers to my schema. Are there any plans to support batch resolvers out of the box with the @model directive? That may be better directed at the core Amplify team but honestly just looking for ways around this.

I have abandoned 3 or 4 features now specifically because Admin UI doesn't support them. I'm starting to think maybe it's

[2021-06-18 10:05] ayushi-faco opened #237 "2 apps using same DB"
**Which Specific Feature is your question related to?**
Amplify, DynamoDB, GraphQL

**Provide additional details e.g. code snippets**
I have 2 apps, say
1. Teacher app
 2. Student app
 Both the apps use data interchangeably. The students get Teacher's list in Students App and teachers get Student's list in Teachers App. I am having one database. How to add that database to another android applicat

[2021-06-18 10:10] ayushi-faco opened #238 "ApiKey?"
**Which Specific Feature is your question related to?**
amplify pull

**Provide additional details e.g. code snippets**
I want to pull and don't know where to find "ApiKey?"
![Uploading Capture.PNG…]()

Getting the error:
× update channel error
× There was an error initializing your environment.
Failed to pull the backend.
Resource not found
NotFoundException: Resource not found

[2021-06-18 10:29] supersonix77 commented on #229
Hi @cwoolum! I have tried your solution, and yet it doesn't work. A problem is that even if I just get rid of the query part of the solution, it just creates the same error on the Observe part.

`NotFoundError: Failed to execute 'transaction' on 'IDBDatabase': One of the specified object stores was not found.`

I don't think it can even observe the model.

[2021-06-18 17:34] srquinn21 commented on #236
@brynglas I am unable to reproduce this issue as described. Here are the steps I performed to attempt reproduction:
1. Go to AWS console, open Amplify
2. Create a new backend, open AdminUI
3. Go to Data, update the model to have a "Name" field as string
4. Save and deploy

Can you confirm these are the same steps you took and please provide any additional information if missing. Thanks!

[2021-06-18 18:43] srquinn21 commented on #238
@ayushi-faco Unfortunately the image you provided does not load. Is this the GraphQL API Key? If so you can print it to your console with: `amplify status`. If thats not the case, then could you post your question with the [amplify-cli](https://github.com/aws-amplify/amplify-cli) team? They'll be able to help you debug the cli issue further.

[2021-06-18 20:09] srquinn21 commented on #233
https://github.com/aws-amplify/amplify-js/issues/8472

[2021-06-20 09:40] goluarchana opened #239 "Unable to view data management view when circular dependency defined in Data model"
When I setup the Admin UI for my amplify database I get the below error:-

There was an error loading your data.
We’d love to address this issue. Please provide your console log and other details here.

[2021-06-21 10:48] goluarchana opened #240 "I am still not able to see the content on my Amplify Admin"
When I open the content I get the below message
There was an error loading your data.
We’d love to address this issue. Please provide your console log and other details here.

[2021-06-21 15:03] srquinn21 commented on #239
@goluarchana In order to help debug your issue, could you please provide the following details?
1. region
2. app id
3. A screen shot or text grab of the console output when you see the above error
Thanks!

[2021-06-21 15:03] srquinn21 commented on #240
Closing in favor of https://github.com/aws-amplify/amplify-adminui/issues/239

[2021-06-21 15:13] srquinn21 commented on #237
@ayushi-faco This isn't currently possible without manually editing the endpoints in your amplify folder. While not officially supported, I was able to pull this off in a simple example by creating two apps and copying the API definition of one to the other and doing an `amplify push`. Could you give that a try and let us know how it works out? We would love to learn more about your use case.

[2021-06-21 15:35] srquinn21 commented on #235
@LeonardoClemente Hello! If I understand you correctly, you would like to have a single Table whose Items only have a few Attributes in common and the rest are arbitrary. Luckily, this is a very typical use case for a no-schema database like DDB. The important part is that the partition and/or sort keys are present in each Item. Otherwise, Items in the Table can have arbitrary Attributes which are

[2021-06-21 15:38] #235 closed

[2021-06-21 18:41] lawmicha commented on #123
yes, the schema is generated from using AdminUI, it says "1:n"
https://github.com/aws-amplify/amplify-adminui/issues/123#issuecomment-805292685

I'll close this issue now, since this isn't a bug and AdminUI is missing a feature for building "belongs to" pattern

[2021-06-21 18:41] #123 closed

[2021-06-21 18:43] lawmicha commented on #108
thanks for the input @richardmcclellan , so we should probably have some sort of FAQ or validation on pascal casing and all cap casing. if the team agrees, please go ahead and put this in "follow-up" to address the developer experience in AdminUI

[2021-06-21 19:40] LeonardoClemente commented on #235
Hey Srquinn,

thanks a lot for your feedback! I was wondering if that can be done through flutter's amplify library?

[2021-06-22 02:20] YussufElarif commented on #68
I'm still getting the same issue; It could be that a foreign key that I've set to the model is required but there's no way to set it through the content manager. Even if doing it through the parent model, still wont work.

The method I found to work is creating it directly through a GraphQL mutation

[2021-06-22 02:41] supersonix77 commented on #229
@cwoolum The Hub listener doesn't really listen to any DataStore events on `useEffect`...

I don't know if my implementation was wrong for the hub listener.

`useEffect(() => {
    // Create listener that will stop observing the model once the sync process is done
    const removeListener = Hub.listen("datastore", async (capsule) => {
      const {
        payload: { event, data },
      } = capsu

[2021-06-22 16:43] Chuckinator2020 opened #241 "Setting up Admin UI failed"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-06-22 17:12] Moutard3 commented on #239
Got the same error

1. eu-west2
2. d3ler2c6xvr8iu/staging
3. ![Console](https://i.imgur.com/Z66AdQq.png)

[2021-06-22 18:19] nadiaahanuar opened #242 "Content in Admin UI not display the data"
**Which Specific Feature is your question related to?**

**Provide additional details e.g. code snippets**

[2021-06-22 20:37] MichaelSavoia commented on #241
Thank your for reporting this issue. We're currently investigating it and we'll update this issue with any updates.

[2021-06-22 22:03] MichaelSavoia commented on #241
We've begun rolling out a fix for your issue. You should start to see it fixed shortly.

[2021-06-22 23:22] Chuckinator2020 commented on #241
It's working now. Thank you so much!

[2021-06-22 23:22] #241 closed

[2021-06-23 00:30] SeanRenet opened #243 "Amplify Admin UI Permissions?"
I am trying to generate graphql code in my react native app by using the following

`amplify add codegen --apiId [myappid]`

As described in the AppSync getting started guide for the app in question.

I get the following error.

`User: arn:aws:sts::############:assumed-role/us-west-#_#########_Full-access/amplifyadmin is not authorized to perform: appsync:GetGraphqlApi on resource: arn:aws:appsync

[2021-06-23 01:12] kellymakesstuff opened #244 "Change region?"
**Which Specific Feature is your question related to?**

Hi there, I built my backend in Amplify before realizing the region isn't the most accessible for my client. Is there a way to switch regions or migrate over? Thank you!

**Provide additional details e.g. code snippets**

[2021-06-23 14:28] davidfsmith commented on #241
I've just hit the same issue when creating a new backend app in eu-west-1

Using Firefox on OSX

[2021-06-23 15:45] brynglas commented on #236
Hi Sean,

 

Yes those are the exact same steps. I've tried many times and given up now.

 

Regards

 

Andy

 
 

Sent: Friday, June 18, 2021 at 6:34 PM
From: "Sean R. Quinn" ***@***.***>
To: "aws-amplify/amplify-adminui" ***@***.***>
Cc: "Andrew Deakin" ***@***.***>, "Mention" ***@***.***>
Subject: Re: [aws-amplify/amplify-adminui] Can't deploy any data models on Amplify on any app (#236)

 

@

[2021-06-23 16:55] DreamEmulator commented on #84
Bump. Still an issue on Mac with Chrome and Safari.
Amplify pull or configure just hangs on Continue in the browser to log in...

[2021-06-23 17:00] DreamEmulator commented on #134
Not sure where this is at, but still happens on Mac with Chrome and Safari, amplify pull + configure. Would be awesome to get it fixed 🙏

[2021-06-23 17:10] swaminator commented on #244
@kellymakesstuff you can do this with the Amplify CLI.

Try doing the following from your project folder:
1. First setup aws profile in a different region on your local machine: https://docs.aws.amazon.com/cli/latest/userguide/cli-
2. amplify pull
3. amplify env add
4. pick profile - new profile
5. amplify push

[2021-06-23 20:20] letsbelopez commented on #225
It's been about two weeks. Going to close the issue. Please open a new issue if this is still happening.

[2021-06-23 20:20] #225 closed

[2021-06-23 20:41] PaulCailly opened #245 "Can't create a new env"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-23 21:57] MichaelSavoia commented on #242
HI @nadiaahanuar! In order to help debug your issue, could you please provide the following details?
- region
- app id
- A screen shot or text grab of the console output when you see the above error

Thanks!

[2021-06-23 22:43] Zilan-Ouyang commented on #57
Hello there, I also came across the same issue with us-east-2 region, would you mind looking into it? thanks!

[2021-06-23 23:29] cwoolum commented on #210
Hi @PeterEckIII, we are actively working on this feature but do not have a release date at this time.

[2021-06-24 01:01] Xenarc opened #246 "'Content' tab continuously loading"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-06-24 04:28] elilambnz commented on #232
I'm experiencing the same issue, except with `iam:PutRolePolicy`.

I've upgraded to `@aws-amplify/cli@5.0.1`, then tweaked one of my models and ran `amplify push`. This deployed the data models successfully, but the "Content" page still prompts me to rerun the deploy on the "Data" page. When rerunning the deploy from the Admin UI, I still get the same error.

[2021-06-24 04:41] elilambnz commented on #232
Some additional information about my logged in user, I've got full admin permissions in IAM using the `AdministratorAccess` group.

[2021-06-24 04:43] elilambnz commented on #232
Possibly related to #236 #243

[2021-06-24 09:52] Morathil commented on #242
Hey I got the same error
1. eu-central
2. dfvfi45tdyxi2/production

![image](https://user-images.githubusercontent.com/3746974/123242710-97d5ca00-d4e2-11eb-9d18-be825d6cdd46.png)
![image](https://user-images.githubusercontent.com/3746974/123242497-5f35f080-d4e2-11eb-8eb0-245c3d8b3a38.png)

[2021-06-24 16:34] rraczae commented on #232
@elilambnz my issue is exactly the same... i can push from CLI but the content page is broke and wants me to deploy from the admin ui...

[2021-06-24 20:57] MichaelSavoia commented on #245
@PaulCailly I wasn't able to recreate your issue. Here's what I did:
- Created new Amplify backend from Amplify Console
- Set it up locally using `amplify pull`
- `cd`'d into new amplify project directory
- Ran `amplify env add` selecting `Amplify Admin UI` as my authentication method

Do you happen to know what the permissions error are you were encountering?

[2021-06-24 21:30] MichaelSavoia commented on #239
Hi @Moutard3! I was able to reproduce this error by having two models that circularly reference each other with a 1:1 relationship. i.e.
![Screen Shot 2021-06-24 at 5 27 14 PM](https://user-images.githubusercontent.com/21184871/123334764-8e178b00-d511-11eb-9be9-2d1bb5e2b634.png)

Datastore doesn't allow circular dependencies so you'll have to remove any circular references between models. We do ha

[2021-06-25 09:39] Moutard3 commented on #239
Hi! That did the trick, thanks :)

[2021-06-25 17:20] rraczae commented on #232
hey @srquinn21 any advice on how to proceed here?

[2021-06-25 17:47] ayushi-faco commented on #237
I just copied all the amplify files from one app to another app. APIs are working fine. I am able to sync schema.graphql of both the apps. Hope there will be no problem once I release both the apps in the play store.

[2021-06-25 17:49] ayushi-faco commented on #238
With the API key I get after running amplify status command, I get the same error.
× update channel error
× There was an error initializing your environment.
Failed to pull the backend.
Resource not found
NotFoundException: Resource not found

[2021-06-25 21:33] MichaelSavoia commented on #246
Hi @Xenarc, thank you for such a detailed ticket!

Currently we don't support modifying a DB schema outside of Admin UI or the Amplify CLI. However, we do have a ticket in our backlog to better surface these errors. Because you're still only experiencing this issue in Chrome that means that the corrupted version is still in your cache, so you'll need to clear it to fix the issue you're experiencin

[2021-06-25 21:33] #246 closed

[2021-06-25 22:17] MichaelSavoia commented on #243
Hi @SeanRenet!

We're in the process of updating our full access policy. In the interim, you can add the `appsync:GetGraphqlApi` to the third policy statement `CLISDKCalls` to fix your issue. However, any deploys from Admin UI will reset this change.

[2021-06-26 18:25] cicer1 commented on #44
Same issue but only on nested array. Example:

`
Country {
name: string
cities: [City]
}

City {
name: string
streets: [Street]
}

Street {
name: string
}
`

creating a City inside Country works fine, creating a street inside city gives me the issue above.

[2021-06-27 06:52] djsjr commented on #216
@yppartyk The offending models were created by the amplify video plugin which has since been updated and my content is now displaying. I believe changing the name of vodAsset model to VodAsset (capitalized) might have done the trick. The function does not appear in the content tab but everything works.

[2021-06-27 16:22] Ilya93 commented on #242
I have the same problem.
1. eu-central
2. d5ctdbv9fc5os/staging
![image](https://user-images.githubusercontent.com/9268509/123552016-f322e900-d77c-11eb-8742-693e3f7a86d4.png)

[2021-06-28 13:32] fernandesGabriel opened #247 "Admin UI hides fields with type ID"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-06-28 16:36] hsspain commented on #247
@fernandesGabriel Thank you for the report.  We will be looking into this right away and will update you as we find a solution.

[2021-06-28 17:13] hsspain commented on #242
@Morathil Are you seeing any errors in your console before or after that screenshot?

@Ilya93 It looks like your GraphQL schema did not generate models for you when you last update your API.  This could be for various reasons including an unsupported schema.  Can you try initiating a new Data schema deployment from the Admin UI or CLI to generate this again?

[2021-06-28 17:20] hsspain commented on #238
@ayushi-faco Can you post more of your CLI output to help you further?  The [amplify-cli](https://github.com/aws-amplify/amplify-cli) may be able to assist as well.

[2021-06-28 17:29] MichaelSavoia commented on #237
Hi @ayushi-faco I'm glad this is working for you! I'm going to go ahead and close this, but if you have any other issues please feel free to create a new one!

[2021-06-28 17:29] #237 closed

[2021-06-28 18:23] srquinn21 commented on #232
@elilambnz @rraczae My apologies for the late reply. We've identified the issue in our service backend caused by a bad code deployment. We've since reverted the code and I can confirm that the following succeeds:
1. Create new app `amplify init`
2. Import auth `amplify import auth`
3. Add API `amplify add api`
4. Push changes `amplify push`
5. Go to console, enable Amplify Admin UI
6. Go to "Data"

[2021-06-28 18:34] MichaelSavoia commented on #236
Closing this issue because we believe we've rolled out the fix for the underlying issue and the reporting user has deleted their Github account.

[2021-06-28 18:34] #236 closed

[2021-06-28 18:49] elilambnz commented on #232
@srquinn21 Thanks for looking into this.

I've got an existing project, where doing an `amplify push` and then in the Admin UI doing a "Save and Deploy" still results in the following, despite me being an IAM user with full admin permissions:
`
User: "arn:aws:sts::xxxxxx:assumed-role/xxxxxxx-xxxxxxx_Full-access/CognitoIdentityCredentials" is not authorized to perform: "iam:PutRolePolicy" on resour

[2021-06-28 18:53] niallotuathail opened #248 "Can't use amplify delete to delete locally"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-06-28 19:06] elilambnz commented on #232
It appears that the issue comes from the role `xxxxxx-xxxxxx_Full-access` not having the required permissions, not _my_ role from being logged in to the AWS Console.

A workaround that worked for me was to manually attach the `IAMFullAccess` policy to the above role. However, I'm fairly certain the role was automatically generated for the project by Amplify at some point. Shouldn't Amplify also be

[2021-06-28 19:45] elilambnz opened #249 "DataStore subscriptionError when trying to view the content page in Amplify Admin UI"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-06-28 21:11] hsspain commented on #249
@elilambnz I am sorry you are having this issue.  I will look into this now and see if I can find a root cause.

In the mean time, can you ensure that you have at least one @auth directive on your GraphQL schema? The CMS will fail to authorize unless you have at least one.  This can become an issue if you created the schema via the CLI, then attempted to load via the Admin UI.

[2021-06-28 21:32] srquinn21 commented on #235
@LeonardoClemente Happy to help. AFAIK, this should be no different with Flutter as long as the field isn't marked as required. However, I'm not as familiar with the particulars of Flutter and you'll most likely get a more in depth response to your question from a dev on that team if you post on their issues page: https://github.com/aws-amplify/amplify-flutter/issues.

[2021-06-28 21:58] elilambnz commented on #249
@hsspain thanks for the prompt reply. Yes, I've got one `@auth` directive on one of my models in the schema:
[code]
The others have none.

[2021-06-28 22:15] rraczae commented on #232
Hi Sean @srquinn21! Unfortunately same here, amplify cli version 5.0.2, removed & reimported auth, published a change from local CLI everything is fine, but when I go to the admin UI I get the same error.

`...Full-access/amplify-admin" is not authorized to perform: "cognito-idp:ListIdentityProviders" on resource:...`

Should I disable and re-enable the admin ui?

[2021-06-29 09:12] fernandesGabriel commented on #191
I have a similar problem I don't have a blank page, but a validation that is impossible to overcone. Take the schema as an example:

[code]

In this case, I can't only go to the `Package` model and create an item to associate with a `Supplier`, neither through the `Supplier` form I can create a new `Package` with the relationship linking tool. In both cases, I have a validation issue as the `suppl

[2021-06-29 09:50] fernandesGabriel commented on #191
Update: I was able to go around the issue remove the requirement for the `supplierId`, however, it was some consistency I wish I could have. Pardon my possible lack of knowledge in Graphql

[2021-06-29 17:17] hsspain commented on #249
@elilambnz Please try adding @auth directives to all models.  The Admin UI CMS will need at least one on all models to function properly.

[2021-06-29 18:23] srquinn21 commented on #232
@elilambnz You are correct that the role is generated for your Amplify project and is therefore managed by Amplify. Unfortunately, I'm not sure what is going on with your particular instance as it appears the wrong role is being picked up. I'm attempting to repro this locally and will report back soon. For now your workaround should keep you unblocked.

@rraczae You've unfortunately hit a stale po

[2021-06-30 09:31] watilde opened #250 "Support @owner role"
**Is your feature request related to a problem? Please describe.**
As a head of editors, I want editors to have a specific permission that can edit/delete their own articles so that an author cannot delete an article written by the other author.

**Describe the solution you'd like**
Currently, Admin UI has only two roles `Full access` and `Manage only`. We want Admin UI to have `editor` role that

[2021-06-30 16:32] reneonguitar opened #251 ""There was an error loading your data.""
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-06-30 16:36] hsspain commented on #250
@watilde Thank you for this feature request. We will discuss as a team and let you know when this can potentially be added to an upcoming release.

[2021-06-30 16:38] hsspain commented on #251
@reneonguitar It appears that you have a circular reference which is not currently supported by the Admin UI.  You can see that Person has a relationship to WishList which also has a reference to Person.  If you remove one of these relationships, your content management should continue to work.

[2021-06-30 16:45] reneonguitar commented on #251
You know, I wondered that too, and so when I checked the [documentation for setting up one-to-one relationships](https://docs.amplify.aws/console/data/relationships), I was instructed to set it up that way in the last sentence:
![image](https://user-images.githubusercontent.com/60155717/123999635-96dfe500-d987-11eb-928f-de3271fb56d0.png)

It sounds like the doc needs to be updated to reflect your

[2021-06-30 22:01] gideongrossmanHome opened #252 "Use a new Cognito user pool in AWS Amplify"
I needed to update the authentication settings in my Cognito user pool (specifically, I needed to add first name and last name fields). This is not possible after deployment, so I created a new Cognito user pool with this change. How can I tell my AWS Amplify project to use the new Cognito user pool instead of the old one?

I selected the new Cognito user pool in  the dropdown at AWS AppSync > Set

[2021-06-30 22:55] hsspain commented on #252
@gideongrossmanHome We are rolling out the ability to import an existing user pool into your existing Amplify app through the Admin UI.  We will be sure to update you when this is available in all regions.

[2021-06-30 22:57] hsspain commented on #251
@reneonguitar Thank you for the feedback on our docs.  We will be sure to review these and update to remove the potential to get into that situation.

I will close this ticket now, but please re-open if you have additional issues.

[2021-06-30 22:57] #251 closed

[2021-06-30 23:01] gideongrossmanHome commented on #252
Okay. In the interim, how do you recommend I add first name and last name fields to my amplify/Cognito sign up form? Since it is not possible to add family_name and given_name to the existing cognito user pool that has already been deployed, my best guess is that the recommended approach would be to add custom fields for first name and last name. In Cognito, it looks like it is possible to update

[2021-06-30 23:05] hsspain commented on #252
Our official recommendation would be to create a new user pool or to add custom fields. https://aws.amazon.com/premiumsupport/knowledge-center/cognito-change-user-pool-attributes/

In Admin UI, you can remove Authentication then re-add with a new User Pool.

[2021-06-30 23:06] gideongrossmanHome commented on #252
Okay.

[2021-06-30 23:07] gideongrossmanHome commented on #252
How do I remove authentication and re-add? Please link documentation. Cheers!

[2021-06-30 23:08] hsspain commented on #252
Instructions can be found here: https://docs.amplify.aws/console/auth/authentication#to-configure-how-users-log-in-to-an-app

[2021-06-30 23:10] gideongrossmanHome commented on #252
Will this overwrite/clear all of my data model authorization rules? This sounds like a headache. I guess we'd need to repeat setting up all of those rules? Or are these same rules still active?

[2021-06-30 23:13] hsspain commented on #252
You will need to set your authorization rules to use API Key to delete authentication from you app.

[2021-06-30 23:17] gideongrossmanHome commented on #252
Why?

[2021-06-30 23:17] gideongrossmanHome commented on #252
Also, we will need to overwrite authorization rules in our data model?

[2021-07-01 14:46] yuhui opened #254 "Deleted Cognito user pool that is used for Authentication cannot be unlinked"
**Which Specific Feature is your question related to?**

1. In an environment's Admin UI > Authentication, changed authentication to use a Cognito user pool. Saved and deployed.
2. Went to Cognito User Pools. Delete the pool that is used in step 1.
3. Back in Amplify Admin UI, attempt to unlink Cognito user pool.

Result: I get this error:
User pool &lt;id&gt; does not exist.

where &lt;id&gt; is

[2021-07-01 16:46] hsspain commented on #252
@gideongrossmanHome This is a pre-requisite for removing authentication from your application via the Admin UI. You will also need to remove authorization rules from the data model.

[2021-07-01 18:05] hsspain commented on #254
@yuhui Can you please provide your appId and region? It will help us to further find a root cause of your issues.

[2021-07-02 02:00] yuhui commented on #254
@hsspain
App ID: d2xr0xhkxrsyg6
Region: us-east-1

[2021-07-02 03:54] elilambnz commented on #249
@hsspain Thanks for the suggestion but unfortunately a colleague is knee-deep in defining the schema for our models, so I can't update the auth to test the affected app.

However, I've got another project with no auth rules on any models and I can update the models and view data fine from within the Admin UI, so this is quite strange. Eventually, I plan to add auth rules to all of the models, so p

[2021-07-02 10:02] rushabh-21 opened #255 "Not able to see content"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-07-02 13:54] goluarchana opened #256 "Getting DataStoreException while updating the tables"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-07-02 13:59] volodymyr-lomaka-voypost opened #257 "Amplify Admin. Deployment Status Failed: ValidationException"
Deployment Status
 Failed:
ValidationException - An error occurred while processing your request: ValidationException: null.
![image](https://user-images.githubusercontent.com/78021035/124285462-9c3f5a00-db56-11eb-9866-c18e36f934ce.png)
error occured on all backends event if I didn't change anything. Help me please

[2021-07-02 15:20] yppartyk commented on #257
@volodmrr Can you please provide your app ID and region?

[2021-07-02 15:23] yppartyk commented on #255
@rushabh-21 What is the specific error you are seeing? If you are comfortable with it, can you please share a screenshot of the Manage Content page as well as the dev tool console output?

[2021-07-02 18:18] hsspain commented on #210
@PeterEckIII This feature has been deployed to your region.  Please let us know if you have any issues.

[2021-07-02 23:46] gideongrossmanHome commented on #252
The custom fields did the trick.

[2021-07-03 10:48] maremoto opened #258 "Admin UI's Data section fails to load after updating AppSync's schema (schema.graphql) via amplify CLI with custom key @model."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-07-03 15:23] abhayadmin51 opened #259 "Getting "Error loading your data" on Content section of Admin UI"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-07-03 15:42] goluarchana opened #260 "I get error while am saving data on amplify datastore"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-07-03 16:52] yppartyk commented on #259
@abhayadmin51 Was Content working for you before? Can you please share a screenshot of the dev tools console output?

[2021-07-03 18:24] Morathil commented on #242
@hsspain I don't see any errors in my console before or after the error occurs.

[2021-07-03 18:31] Morathil commented on #242
@hsspain okay sorry the error come after around 10 minutes of waiting.

![image](https://user-images.githubusercontent.com/3746974/124363772-8a84b200-dc3d-11eb-93a4-7173ebb92341.png)

[2021-07-04 14:32] Moutard3 commented on #258
Got the same error after adding new model with custom key.
Going to "Amplify Admin UI => Data" results in a white page with an error in console:
[code]

Going in "Content" results in another error:
[code]

---

eu-west2 - d3ler2c6xvr8iu/staging

[2021-07-05 02:46] ategani opened #261 "Data modeling deployment failed"
Hello,

My app was working fine but now when I go to Setup>Data and hit Save and deploy button I'm getting a Deployment
failed message. I deleted and recreated the app but again getting the same error.

appID: d3hya4nbukcen2
Region: us-east-1
env: dev

![Screen Shot 2021-07-04 at 23 27 37](https://user-images.githubusercontent.com/7637236/124410326-91d0bc00-dd20-11eb-8b4d-b9b6c39b01ec.png)

So I d

[2021-07-05 03:18] kaustavghosh06 commented on #261
Looks the auth resource ( cognito userpool) you're trying to use for this API has either been deleted or re-created.
If that's the case you might want to run `amplify update api` and update the auth settings for your API to use your current userpool in the project.

[2021-07-05 04:25] ategani commented on #261
@kaustavghosh06 Thank you for your reply.

I deleted everything on cognito and deleted the app again.

So I recreated from zero but I'm still getting the same error.

This is what I have now on cognito:
![Screen Shot 2021-07-05 at 01 22 33](https://user-images.githubusercontent.com/7637236/124417559-c8620300-dd2f-11eb-9a7d-d6681e746924.png)

[2021-07-05 04:48] rakesh4104 commented on #260
I have same error

I/amplify:aws-datastore(25092): Orchestrator lock acquired.
I/amplify:aws-datastore(25092): Orchestrator lock released.
I/amplify:flutter:datastore(25092): Saved item: SerializedModel{id='82b0df4f-ff3d-4038-a92a-77fb05a584be', serializedData={dateofbirth=500554, firstname=Rakesh, gender=male, phonenumber=545454, id=82b0df4f-ff3d-4038-a92a-77fb05a584be, lastname=Das}, modelName=M

[2021-07-05 05:08] yppartyk commented on #261
@ategani I tried to recreate this issue but couldn't. These are the steps I followed:
1. Create a new backend from the Amplify Console and open Admin UI.
2. Go to `Authentication` and deploy Auth with the default settings.
3. Go to `Data` and create a simple model

[code]

[2021-07-05 07:02] jsstrn opened #262 "Do data models in AWS Amplify Admin UI conflict with recommended DynamoDB table design?"
When we create our data models in AWS Amplify Admin UI (e.g. blog data model) we are encouraged to have separate tables for the Blog, Post, and Comment models. Under the hood, the data models in AWS Amplify Admin UI will create DynamoDB tables.

When we query a blog post we also want to get all its comments. Would this not create unnecessary overhead for queries in DynamoDB?

## Context

Based on

[2021-07-05 07:04] volodmrr commented on #257
@yppartyk d12qtme84rvxtx us-east-2

[2021-07-05 16:28] CDSoftwaresJA commented on #122
Tbis issue is happening for me as well

[2021-07-06 01:38] yuhui commented on #254
@hsspain any updates on this?

[2021-07-06 12:18] bnviki commented on #258
Facing the same issue, after creating api from amplify CLI.
1. Created using "amplify add api" and then provided a schema file.
2. Everything deployed
3. amplify console api open the console, but goes blank immediately

The error in browser console is exactly same as above. Please provide a way to resolve this.

[2021-07-06 16:05] hsspain commented on #252
I glad you were able to get it worked out. I will close this issue now, please reopen if you continue to have issues.

[2021-07-06 16:05] #252 closed

[2021-07-06 16:09] hsspain commented on #242
There is currently a 1MB limit on AppSync transformations. You are currently hitting that limit and will not be able to use the Admin UI with your current data.

[2021-07-06 16:24] rraczae commented on #232
I think the update has arrived. Thanks @srquinn21 I think we can close this on my end. @elilambnz feel free to re-open if you need to.

[2021-07-06 16:24] #232 closed

[2021-07-06 17:26] unniclever opened #263 "Tracking API requests"
Hello
Can I see in my account how many api requests are being processed in real time?
For example, when starting the application

[2021-07-06 21:37] pananapread commented on #105
Hi all! We just released importing user pools and identity pools to the Admin UI, please try it out! https://docs.amplify.aws/console/auth/import

[2021-07-06 21:37] pananapread commented on #82
Hi all! We just released importing user pools and identity pools to the Admin UI, please try it out! https://docs.amplify.aws/console/auth/import

[2021-07-06 22:27] hsspain commented on #2
I am going to close out this issue, but please re-open if you are continuing to have problems with login.

[2021-07-06 22:27] #2 closed

[2021-07-07 00:17] IanPhilips opened #264 "Multi-auth content pane not showing when using shared user pool"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-07-07 01:43] gideongrossmanHome opened #265 "How can I get my graphql query to return data with the aws-amplify api?"
**Which Specific Feature is your question related to?**
graphql

**Provide additional details e.g. code snippets**
I would like to fetch  a list of users from my database using graphql and the aws-amplify api for javascript. My query uses cognito authorization and appears to succeed. However, the data response is an empty object. Why is this?

Please point me to a working example that makes a grap

[2021-07-07 02:23] #82 closed

[2021-07-07 02:28] sdavid501 commented on #261
Same issues. Initially, deployment was failing but not I can't even see my model in the admin UI.

[2021-07-07 05:27] AlessandroVol23 opened #266 "Estimated number of users - Cognito"
**Is your feature request related to a problem? Please describe.**
I simply want to see the number of users in my user pool. Currently the team has to check the user pool with the attribute "Estimated number of users".

**Describe the solution you'd like**
Show the estimated number of users within user management in the amplify admin console.

**Describe alternatives you've considered**
The altern

[2021-07-07 06:58] Swat009 commented on #57
We are also facing this with  manage only users in ap-south-1 region

[2021-07-07 10:29] niclq opened #267 "Display error message from custom resolvers"
**Is your feature request related to a problem? Please describe.**
I am currently using custom vtl resolvers for input validation. An error will be thrown if the 'name' field is empty / blank (contains only spaces) / contains more than 255 characters.

When I try to create a new InvestmentManager and enter name as " " (space), I am able to click save and the modal window closes. The creation fails

[2021-07-07 16:26] hsspain commented on #261
Thank you for the report. This issue is now resolved. Please let us know if you are continuing to have issues.

[2021-07-07 17:39] ategani commented on #261
Hello @hsspain

Thank you for your reply. I just tried again and it seems everything is back on track. I will rebuild my app and let you know if I get any issue.

Is it possible to let us know what happened? For me, my app was running with no problem and then out of nothing I got the error message.

Thanks again.

Cheers

[2021-07-08 02:57] jacksonzou12 opened #268 "Is there notification service for flutter?"
**Which Specific Feature is your question related to?**
Notifications

**Provide additional details e.g. code snippets**
Hi, I'm trying to add push notifications to a flutter app. I see that notifications are part of javascript and other languages, but I don't see documentation for it for flutter.

[2021-07-08 07:11] SeanRenet commented on #243
I am not sure what you mean by the third policy statement CLISDKCalls

The user permissions I have for the cli user are:

AmazonChimeFullAccess
AdministratorAccess
AWSAppSyncAdministrator
AmazonChimeUserManagement
AmazonChimeSDK
CloudWatchEventsFullAccess
AWSCloudFormationFullAccess

[2021-07-08 07:18] SeanRenet commented on #243
@elilambnz that does not solve my problem.  It starts out with my problem and then evolves to a different problem.  also, I am unsure where to put that policy.  here are the roles attached to the IAM user I am logged into the cli with.

AmazonChimeFullAccess
AdministratorAccess
AWSAppSyncAdministrator
AmazonChimeUserManagement
AmazonChimeSDK
CloudWatchEventsFullAccess
AWSCloudFormationFullAccess

[2021-07-08 11:57] gideongrossmanHome opened #269 "graphql mutations with Datastore"
**Which Specific Feature is your question related to?**

graphql mutations

**Provide additional details e.g. code snippets**

I would like to update a data object with the aws-amplify api and see that if we are using the Datastore, we need to pass the current _version of the object into the mutation or else the mutation will not overwrite existing fields as desired. See https://github.com/aws-amp

[2021-07-08 17:25] pananapread commented on #105
@rraczae did you get a chance to try out the new changes? lmk!

[2021-07-08 23:24] wjnpeter opened #270 "Admin UI Content can't load"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-07-09 06:09] watilde opened #271 "SDK to controll Admin UI"
**Is your feature request related to a problem? Please describe.**
As a developer, I want to control Admin UI via code so that I can implement anautomation flow.

**Describe the solution you'd like**
I've heard from developers that they are figuring out how to use Admin UI's seed data population from codes. There are probably more use cases with Admin UI and and I came up with Admin UI SDK.

**Des

[2021-07-09 13:39] pananapread commented on #268
Unfortunately we do not support this right now. I'm going to close this since it was submitted as a question, but if you would like to see this as a feature, please open up a feature request / bug here! https://github.com/aws-amplify/amplify-flutter

[2021-07-09 13:39] #268 closed

[2021-07-09 14:36] rraczae commented on #105
hi @pananapread! I did and it woks as expected, we are excited to roll this out to our production app. 🙌

[2021-07-09 14:38] pananapread commented on #105
Great, let me know if you have any feedback or come across any difficulties while using the feature :)

[2021-07-09 14:38] #105 closed

[2021-07-09 18:20] IanPhilips commented on #264
I updated my amplify cli and then deleted the old models that I wasn't using (that were throwing those warnings).

[2021-07-09 18:20] #264 closed

[2021-07-10 15:39] romych97 opened #272 "Delete items with disabled conflict resolutions"
Hello, i have project with amplify and vue. After disabled conflict resolutions i get a error: "Conflict resolver rejects mutation.",
if conflict resolutions is enabled , amplify don't deleted items from db immediately, but assigns '_deleted' values ​​to them

how fix it??
And possible with enabled datastore?? We need a Admin ui

file.vue

            let deleteComponents = await API.graphql(graph

[2021-07-10 22:01] Amna-cpe commented on #270
I'm facing the same issue

[2021-07-12 00:43] nongdenchet commented on #55
Hi @swaminator and @hsspain I am also facing the same issue today. My url is https://ap-southeast-1.admin.amplifyapp.com/admin/d1fms6xzzbqvt/dev/datastore. Could you guys help take a look?

[2021-07-12 00:49] nongdenchet commented on #258
I am facing the same issue also. Here is my app https://ap-southeast-1.admin.amplifyapp.com/admin/d1fms6xzzbqvt/dev/datastore

[2021-07-12 04:51] kainoa21 commented on #247
A related issue to this is that when a model contains a 1:n relationship, while creating an entity on the singular side the UI prompts for linking an entity from the plural side of the relationship which feels backwards.  I would have expected that setting up the relationship in this case would be part of creating an entity on the plural side.  Though even when I tried linking the dropdown that ap

[2021-07-12 07:06] fernandesGabriel commented on #247
@kainoa21 thanks for adding it. That is also an issue I have faced.

[2021-07-12 11:45] oniqs commented on #84
Many thanks, this is the only solution that helped me. But the issue is still real.

[2021-07-12 19:19] yppartyk commented on #270
@wjnpeter We are looking into your issue.
@Amna-cpe what is your app ID and region?

[2021-07-12 23:01] yppartyk commented on #260
Hi @goluarchana, I see the following error in the file you provided:
```Failure performing sync query to AppSync., cause=ApiException{message=OkHttp client failed to make a successful request., cause=ApiException{message=You must be signed-in with Cognito Userpools to be able to use getTokens```

Are you signed in?

[2021-07-12 23:09] #261 closed

[2021-07-12 23:16] yppartyk commented on #263
Hi @unniclever, if you are referring to metrics for your AppSync API, you can see them in the following way:
1. Log into the AWS Console.
2. Navigate to `AWS AppSync` Console.
3. Find your API.
4. Click on `Monitoring` on the left-hand side.
5. View high level metrics there or click `View logs in CloudWatch` button in the top right corner for more details metrics.

Let us know if this solves your

[2021-07-12 23:22] yppartyk commented on #265
Hi @gideongrossmanHome, is this still an issue for you? Did it work before? Here is the official documentation: https://docs.amplify.aws/lib/graphqlapi/query-data/q/platform/js

[2021-07-12 23:33] yppartyk commented on #271
Hi @watilde, thank you for reaching out. The Admin UI currently offers the AmplifyBackend SDK (https://docs.aws.amazon.com/amplify-admin-ui/latest/APIReference/operations.html). Through it, you can create/update/delete backend resources like AppSync GraphQL APIs, Cognito Authentication, and more in the near future. We don't support something like seeding data via SDK at the moment, but we will con

[2021-07-12 23:36] yppartyk commented on #272
Hi @romych97, currently Datastore does not delete items but rather assigns the `_deleted` flag to the record. In other words, this is the expected behavior. However, once the flag is added, the record should behave as if it has been deleted as far as your app is concerned. Let me know if you have any questions about this.

[2021-07-12 23:39] yppartyk commented on #258
Hi all, we are looking into this.

[2021-07-13 09:01] goluarchana commented on #260
Yes I was signed in when this error occurred

Dear Hiring Manager,

I am writing this letter to express my interest in applying for the
suitable position in your esteemed organization*. I have over 13 years’ *of
experience in *Architecture, Design and Development  of Enterprise Software
Systems, Client Consulting and Relationship Management,  Team Management*.
I am a hands-on architect with abilit

[2021-07-13 09:11] goluarchana commented on #260
Yes I was signed in when this error came.

Thanks
Archana

On Tue, Jul 13, 2021 at 4:31 AM Yuriy Partyka ***@***.***>
wrote:

[2021-07-13 09:46] yuhui opened #273 "Cloned app that was aborted during initial "amplify push" cannot be deleted"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-07-13 09:48] yuhui commented on #273
Never mind, somehow it managed to delete successfully when I tried again in Admin UI.

[2021-07-13 09:48] #273 closed

[2021-07-13 15:41] alonsnir opened #274 "Cannot Enable DataStore to edit your data model visually"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-07-13 16:23] yppartyk commented on #274
Hi @alonsnir, thank you for reaching out. When you say `clicking on "Enable DataStore and deploy" does nothing.` do you mean the deployment fails or that literally nothing happens? Do you see any errors in the dev console?

[2021-07-13 17:43] yppartyk commented on #210
Closing the issue since it has been resolved with the deployment of mulit-auth functionality in Admin UI.

[2021-07-13 17:43] #210 closed

[2021-07-13 17:45] yppartyk commented on #242
Closing this issue. Please let us know if you have any further questions.

[2021-07-13 17:45] #242 closed

[2021-07-13 17:51] yppartyk commented on #266
@AlessandroVol23  Thank you reaching out. We will consider this feature in our roadmap.

[2021-07-13 17:52] yppartyk commented on #267
@niclq Thank you reaching out. We will consider your request in our product roadmap.

[2021-07-13 17:55] yppartyk commented on #55
Closing this issue again. Admin UI does not support custom keys at the moment. Please let us know if you have further questions.

[2021-07-13 17:55] #55 closed

[2021-07-13 17:57] yppartyk commented on #263
Closing this issue. Please let us know if you have any further questions.

[2021-07-13 17:57] #263 closed

[2021-07-13 17:58] Devinwhite commented on #270
same same

![image](https://user-images.githubusercontent.com/5742491/125501900-5589cc4c-f210-47f1-bed1-4046da05d3f1.png)
![image](https://user-images.githubusercontent.com/5742491/125502018-13942b99-34ae-4e2e-9bde-60914ebcea0a.png)

[2021-07-13 17:58] yppartyk commented on #271
Closing this issue. Thank you for the request. And please let us know if you have any further questions.

[2021-07-13 17:58] #271 closed

[2021-07-13 18:07] yppartyk commented on #270
@Devinwhite can you please provide your app ID and region?

[2021-07-13 18:07] yppartyk commented on #258
Closing this issue. Please let us know if you have any further questions.

[2021-07-13 18:07] #258 closed

[2021-07-13 18:11] yppartyk commented on #272
Closing this issue. Please let us know if you have any further questions.

[2021-07-13 18:11] #272 closed

[2021-07-13 18:12] yppartyk commented on #266
Closing this issue.

[2021-07-13 18:12] #266 closed

[2021-07-13 18:13] yppartyk commented on #267
Closing this issue.

[2021-07-13 18:13] #267 closed

[2021-07-13 18:21] Devinwhite commented on #270
d2kjezisb4vcsj
us-east-1

[2021-07-13 18:22] yppartyk commented on #243
Hi @SeanRenet, in your AWS Console, please try the following:
1. Log into your AWS Console
2. Go to `IAM` service and select `Roles` from the left navigation
3. Search and find the `_Full-access` role associated with your app and select it
4. Click `Edit policy` and add `appsync:GetGraphqlApi` as an allowed action under the third block of the policy (i.e. `"Sid": "CLISDKCalls",`)

[2021-07-13 19:00] yppartyk commented on #270
@Devinwhite what environment is this happening in?