[2020-02-19 23:12] groundswel opened #306 "Generate UI for CRUD operations"
Since amplify codegen and the @model transform is generating the resolvers and the corresponding queries locally it would also be great if it can be extended to generate basic listing and forms to support CRUD operations on the data. If you can provide template react components to do this, I think it will be a great time saver for many developers. It does not need to cover all use cases but just b

[2020-03-03 21:25] nagey opened #499 "Amplify Console's API/Data Sources Page does not load all items"

[2020-12-02 00:11] dbhagen opened #1 "Cannot edit existing domain to allow Domain Redirection for Admin UI"
Minutes out the gate, so sorry for the quick issue, but when I login to my AWS Amplify App area, enable Admin UI, and try to enable Custom Domain Redirection, I can't edit the domain to enable that:
![image](https://user-images.githubusercontent.com/5039466/100811554-81f69f80-3400-11eb-8e6b-fe66644a8113.png)

Adding a new custom domain shows the checkbox just fine.
![image](https://user-images.git

[2020-12-02 00:15] dbhagen commented on #1
Ok, just following up on my ignorance, they get generated in the redirects section of the AWS Panel.
![image](https://user-images.githubusercontent.com/5039466/100811792-09dca980-3401-11eb-8dfd-0fcb6d7fea45.png)

So it looks like my real dilemma might be that I'm deployed with Serverless and NextJS and the domain isn't pointed at Amplify "hosting". My fault, I forgot I had switched that up.

[2020-12-02 00:18] dbhagen commented on #1
Although, I just tested the built-in domain and still getting access errors:
![image](https://user-images.githubusercontent.com/5039466/100811966-8ec7c300-3401-11eb-87a0-1162ff9f35b7.png)
![image](https://user-images.githubusercontent.com/5039466/100811993-9c7d4880-3401-11eb-8ab5-a2379795fd23.png)

[2020-12-02 00:29] #1 closed

[2020-12-02 02:06] SeanRenet opened #2 "what credentials are used for the Amplify Admin?"
what credentials are used for the Amplify Admin?

Clearly it is not the same credentials I log into AWS with, because I tried that.

[2020-12-02 02:22] praiseisaac opened #3 "Environment Specification"
Just saw this while working on my project and I think this is really cool and a good way to monitor the application. While testing out the AmplifyUI, the application keeps asking me to specify the environment, which I keep doing. It often works fine for a minute or two after signing in, but always goes back to the prompt.

This is an image of the message I'm getting:
<img width="518" alt="Screen S

[2020-12-02 02:26] swaminator commented on #2
@SeanRenet are you having issues logging into Admin UI? THere are 2 ways:

1. Through the Amplify Console. You should be able to automatically log into the Admin UI when accessing it via the Amp Console as seen [here](https://docs.amplify.aws/console#backend-environments).
2. Directly login to Admin UI via email: Invite yourself to be able to access the Admin UI with your email. Here's how: https:

[2020-12-02 02:41] swaminator commented on #3
Can you share your appid and region? You can find your appid in the Amplify Console, general > Settings

[2020-12-02 02:52] kevinold opened #5 "Manage only user unable to login to Amplify Admin UI"
**Describe the bug**
A manage only user receives "This app is not valid or was deleted." after login to the Amplify Admin UI

**To Reproduce**
Steps to reproduce the behavior:
1. Pre-existing app deployed to Amplify Console (prior to Amplify Admin UI) (using demo app https://github.com/dabit3/amplify-photo-sharing-workshop/tree/main)
2. Enable the Amplify Admin UI
3. Create "Manage only" user
4. L

[2020-12-02 03:03] kevinold opened #4 "GraphQL API with multi-auth -> "Enable DataStore and deploy" in Amplify Admin UI"
**Describe the bug**
A pre-existing Amplify Console app fails to upgrade the data model to use the DataStore via the Amplify Admin UI.

**To Reproduce**
Steps to reproduce the behavior:

1. Pre-existing app deployed to Amplify Console (prior to Amplify Admin UI) (using demo app https://github.com/dabit3/amplify-photo-sharing-workshop/tree/main)
2. Enable the Amplify Admin UI
3. Navigate to Amplify

[2020-12-02 03:06] praiseisaac commented on #3
@swaminator Is it possible to send it privately? The app is an internal software and I don't know best practices for appId sharing. Thanks

[2020-12-02 03:09] swaminator commented on #3
Sure.. you could email aws-amplify-customer@amazon.com

[2020-12-02 03:14] praiseisaac commented on #3
Done. I will post any update on the resolution here.

[2020-12-02 03:25] kaustavghosh06 commented on #5
We've root-caused the issue tied to migrating of existing Amplify console apps. Will keep you updated regarding this once we push out a fix.

[2020-12-02 03:25] kaustavghosh06 commented on #4
We've root-caused the issue tied to migrating of existing Amplify console apps. Will keep you updated regarding this once we push out a fix.

[2020-12-02 08:40] playerd0 opened #6 "Apple Sign In as an Auth Option"
Will there be added support for Apple Sign in for auth? It seems to be supported by Amplify

[2020-12-02 11:07] alissaVrk opened #7 "Use existing GraphQL API with CMS -> content is not loading at all"
stuck at fetching items..
sending post requests to https://9ardnongjf.execute-api.us-east-1.amazonaws.com/prod/backend/d2a2mn2wnv12ya/job/prod every couple seconds. the requests return with 200 and an empty jobs array
and there is an error in console: `Manifest: Line: 1, column: 1, Syntax error.` the manifest is empty

[2020-12-02 14:07] blydewright opened #32 "amplify env add: Cannot read property 'idToken' of undefined"
**Describe the bug**
I updated my CLI from 4.36.2 to 4.37.0 and ran `amplify env add` to create a new environment. It threw an error: `amplify Cannot read property 'idToken' of undefined`. When reverting back to 4.36.2, the same command worked.

**Amplify CLI Version**
4.37.0

**To Reproduce**
Attempt to run `amplify env add` to a new environment name ("N" to would you like to use an existing env)

[2020-12-02 16:38] warrenmcquinn commented on #3
I am also experiencing this issue. App ID d1t156yxaeacew, us-east-1

[2020-12-02 17:42] RossWilliams opened #8 "CORS Issue Accessing API Gateway"
Chrome reports all API Gateway requests are failing due to CORS. Cognito requests are successful though.

[code]

frontend states:
``` This app is not valid or was deleted.```

Also some small notes: The UK security services explicitly recommend against the password complexity policy implemented for admin UI. Do the Americans still suggest requiring a symbol character is best policy? And the regis

[2020-12-02 17:43] warrenmcquinn opened #9 "DescribeStackEvents throttling, potential cause of "A valid backend environment was not specified""
I'm attempting to load the Admin UI for a production, battle-hardened Amplify environment that has been deployed for over a year.

I'm seeing issues related to #3 where the Admin UI will be visible for about a minute, and then reverts to:
![image](https://user-images.githubusercontent.com/1995151/100910054-114c9300-3493-11eb-9024-e83f58c6d658.png)

I've opened the browser inspector to check networ

[2020-12-02 17:50] warrenmcquinn commented on #9
992 pages of "Deployment Activity" logs (page size 10)... just seems suboptimal to fetch constantly!

![image](https://user-images.githubusercontent.com/1995151/100911144-78b71280-3494-11eb-98a3-afa1f0de0997.png)

[2020-12-02 18:30] RossWilliams opened #10 "Incorrect Full Access IAM Role"
When trying to connect to a backend environment, I receive the following error message in the browser console (with redactions):

[code]

On the frontend I get the message:

[code]

The IAM role has a policy to allow ``` Cloudformation:DescribeStackEvents ``` , but it is applied to resource ``` arn:aws:cloudformation:*:*:stack/amplify-* ``` . It appears to assume Amplify stacks begin with 'amplify

[2020-12-02 18:37] NimmLor opened #11 "Users not loading"
The UI doesn't show any users, although there are plenty of users:
![image](https://user-images.githubusercontent.com/32486857/100916172-af614d00-34d5-11eb-88f3-bca0236ab97e.png)

This error gets logged into console:

![image](https://user-images.githubusercontent.com/32486857/100915861-3a8e1300-34d5-11eb-96de-712ee983fca3.png)

[2020-12-02 18:39] RossWilliams commented on #9
I'm also seeing the same problem inside the AWS console, not just admin ui. Over 100 calls to cloudformation to describe stack events before getting rate limited.

[2020-12-02 18:42] RossWilliams commented on #8
This appears to have been resolved.

[2020-12-02 18:42] #8 closed

[2020-12-02 19:27] RossWilliams opened #12 "Manage Content stuck on fetching items..."
Attempting to view content, it appears the UI never finishes loading, the select table dropdown is in a disabled state, and the main window says "fetching items...".

The browser console reports the following issue:
[code]

additionally, there are network response issues:
1. from app/env/details - error: "Cannot read property 'defaultAuthentication' of undefined"
1. from app/env/getModels - error:

[2020-12-02 19:52] r0zar commented on #9
I'm also seeing this issue:
![image](https://user-images.githubusercontent.com/4655474/100923993-a48ec400-34a5-11eb-9ef3-7338463f33f4.png)

[2020-12-02 19:56] r0zar commented on #2
@swaminator there's 1 more workflow as well.

If you enable Admin UI for the whole app from here:

![image](https://user-images.githubusercontent.com/4655474/100924370-22eb6600-34a6-11eb-82f6-a3d60f254233.png)

You will encounter a confusing issue with an Admin UI login page with no known credentials, or how to get them.

[2020-12-02 20:04] RossWilliams opened #13 "Account tatus typo in User Management"
<img width="190" alt="Screenshot 2020-12-02 at 20 02 33" src="https://user-images.githubusercontent.com/1443442/100925203-9a86b880-34d9-11eb-91d3-9eecbf37566d.png">

[2020-12-02 21:00] kaustavghosh06 commented on #10
@RossWilliams You're right, this seems to be an issue with the scoping of the CFN stacks in the Full-access role. As a workaround, you can update the Full-access policy tied to the `eu-west-2_XXXXXXX_Full-access` IAM role to point to `<APP_NAME-*>`.

[2020-12-02 21:00] kaustavghosh06 commented on #11
@NimmLor Did you configure authentication setup through the Admin UI or is it an existing app?

[2020-12-02 21:02] kaustavghosh06 commented on #7
@alissaVrk Did you configure the data-model using the Admin UI? Did you try refreshing the page? It takes a few seconds to fetch all the items. Please let us know if refreshing the page didn't solve the issue for you.

[2020-12-02 21:47] RossWilliams commented on #10
@kaustavghosh06 oh, yes, I did that, but it wasn't a fun onboarding experience.

[2020-12-02 21:52] RossWilliams commented on #12
I should add, I have multi-line comments in my build/schema.graphql file that are not removed in the build process. I can test tomorrow if the parser is failing on those.

[2020-12-03 01:17] DHFJIEKSMfjfdig645879312494876623644384 opened #14 "Amplify Admin not communicating with CLI"
Hey all,

I'm running into a bit of an issue before I'm getting started.
I'm trying to link up my CLI with my Admin account on Amplify and when I run the line of code from the panel
"amplify pull --appId d************ --envName Example"
to the CLI for a pull, it won't communicate and stops me from connecting.

It says: "Failed to communnicate with the Amplify CLI. You can try again by running:
amp

[2020-12-03 01:20] kaustavghosh06 commented on #14
Hello, which Platform/OS and browser are you using?

[2020-12-03 01:21] DHFJIEKSMfjfdig645879312494876623644384 commented on #14
I'm running Windows 10 and I'm using Brave browser

[2020-12-03 01:36] swaminator commented on #2
Understood.. this seems to be a UX issue. We're thinking after enabling the UI, we just redirect you back to the home page with the environments where the admin ui link is available. Thoughts? @r0zar

[2020-12-03 01:37] swaminator commented on #7
#12

[2020-12-03 01:51] kaustavghosh06 commented on #14
Can you try Google chrome or firefox and see if that resolves this issue?

[2020-12-03 02:51] swaminator commented on #13
Thanks for the callout @RossWilliams

[2020-12-03 03:43] zkwentz opened #15 "Unable to create enum"
Tried creating a few enums, multiple ways, all of them say "Deployment failed -- click here for next steps" in the top right.

**Way 1**

* Create an enum, add three values (ALLCAPSNOSPACESORSPECIALCHARS).
* Deploy.

Result: Deployment failed.

**Way 2**

* Create an enum, add three values (ALLCAPSNOSPACESORSPECIALCHARS).
* Add enum type to existing, previously deployed model.
* Deploy.

Result: D

[2020-12-03 04:03] zkwentz commented on #15
I couldn't find anything in CloudFormation or CloudWatch logs giving me more info.

I pulled it local (`amplify pull`) and added these enums locally to my `amplify/backend/api/undergroundapi/schema.graphql` and then `amplify push`ed it back up.

Upon checking the **Data** tab of the Admin UI, these new enums are there.

[2020-12-03 04:22] kaustavghosh06 commented on #15
@zkwentz I believe we saw your deployment failure in our service. Did you by any chance have a relationship between a model and an enum in the schema designer?

[2020-12-03 04:47] zkwentz commented on #15
Initially yes. I later tried without and got the same failure.

On Wed, Dec 2, 2020 at 10:22 PM Kaustav Ghosh <notifications@github.com>
wrote:

[2020-12-03 04:57] kaustavghosh06 commented on #15
Ahh, got it! Do you have it all working on the UI now? Would've loved to get a screenshot of the models which failed for you if possible - that would help us debug this further.

[2020-12-03 05:00] kaustavghosh06 commented on #13
@RossWilliams This label should be fixed now. Please let us know if you're still seeing this.

[2020-12-03 05:00] #13 closed

[2020-12-03 05:01] kaustavghosh06 commented on #9
@warrenmcquinn @r0zar This issue should be fixed now. Please let us know if you're still seeing this.

[2020-12-03 05:01] #9 closed

[2020-12-03 05:02] kaustavghosh06 commented on #3
@praiseisaac We fixed the potential root-cause for this issue. Please let us know if you're still encountering this issue.

[2020-12-03 05:02] #3 closed

[2020-12-03 07:54] alissaVrk commented on #7
I did refresh the page :) a few times.
It is the first time I opened the admin UI, so the schema isn’t configured there, it’s configured in the schema.graphql of the app and I’m not using dataStore

[2020-12-03 09:51] swaminator opened #16 "Share as template not working"
Schema: https://sandbox.amplifyapp.com/schema-design/c54b52cb-4e3c-42a0-81da-b7e2d5fbfda9

Share as template link: https://sandbox.amplifyapp.com/schema-design/df8c4e3f-2e0f-4f45-97b1-d1ba50912c01/clone

Loads blank.

[2020-12-03 09:55] Danm72 commented on #12
I'm getting the same here.

[2020-12-03 14:03] DHFJIEKSMfjfdig645879312494876623644384 commented on #14
Hey, sorry I'd went to sleep.
I'd been using the CLI that AWS recommends called Node.js CLI.

I'll install Firefox and try to get through that way

[2020-12-03 14:28] DHFJIEKSMfjfdig645879312494876623644384 commented on #14
It still won't work unfortunately. It says it still can't communicate :(

[2020-12-03 16:04] praiseisaac commented on #3
It works fine now. Thank you.

[2020-12-03 16:05] praiseisaac commented on #3
It works fine now. Thank you.

[2020-12-03 16:13] tedgonzalez commented on #6
+1

[2020-12-03 17:41] #14 closed

[2020-12-03 17:41] DHFJIEKSMfjfdig645879312494876623644384 commented on #14
All solved! I was just being a Muppet, thank you for your help!

[2020-12-03 17:55] swaminator commented on #16
I realize I deployed this at night so it's not visible. Cloning wasn't working to begin with.

[2020-12-03 18:02] NimmLor commented on #11
It's an existing app

[2020-12-03 19:52] zkwentz commented on #15
I have it all working on the UI now yes. I first made the update via CLI and it showed up in the UI fine after that.

As of this morning, I was able to create enums through the Admin UI itself.

Thanks!

[2020-12-03 19:54] zkwentz opened #17 "Unable to confirm account"
Heyo! I am unable to confirm an account.

I have an account that is currently in the **UNCONFIRMED** status. I click on Actions button when viewing the User Profile with the Admin UI and click the "Confirm account" button.

Nothing happens. Refreshing the page continues to show the **UNCONFIRMED** status.

_Note: My email I have used for this has a `+` in it. e.g. `myemail+staging@gmail.com`_

[2020-12-03 19:57] #15 closed

[2020-12-03 20:16] swaminator commented on #17
@zkwentz if you're trying to add a new user to the Admin UI please refer to: https://docs.amplify.aws/console/adminui/access-management

[2020-12-03 20:50] zkwentz commented on #17
Thanks for the fast response.

That's not what I'm trying to do. Specifically, I am trying to manually confirm a signed up (but unconfirmed) user.

Signed up, unconfirmed user:

![unconfirmed user profile](https://github.com/zkwentz/images-for-github-markdown/blob/master/aws-amplify/amplify-adminui/issues/17/unconfirmed-user-profile.png?raw=true)

Trying to confirm them via Admin UI:

![confirm ac

[2020-12-03 21:35] nelsonchen5 opened #18 "Upload Images/Video from AdminUI and connect to Data rows"
We currently use Amplify as our backend in our app, but one thing that prevents us from migrating to using the Admin UI is the lack of ability to upload Images/Video like some other competing CMS's. We would like to enable the non-technical people on our team to be able to add image and video content without leaving the Admin UI

[2020-12-03 22:40] cosio55 opened #19 "BUG: Error when using special characters in authentication MFA message"
I'm not sure if this is really an Admin UI bug or a AWS Amplify one.

On authentication whenever I try to set the MFA SMS message with some 'special' characters used in the spanish language the deploys always fail. I tried with a different characters with accents (á,é,í,ó,ú) and it always failed, then when I removed them and changed the message the deployed worked with no issues.

![Screen Shot 20

[2020-12-04 00:08] kaustavghosh06 commented on #4
@kevinold We've pushed a potential fix for this issue - could you please give it a shot again when you get a chance?

[2020-12-04 00:08] kaustavghosh06 commented on #5
@kevinold This should work once you're able to get past #4 :)

[2020-12-04 00:09] kaustavghosh06 commented on #11
We've pushed a potential fix for this issue - could you please give it a shot again when you get a chance?

[2020-12-04 00:25] kaustavghosh06 commented on #17
@zkwentz We've root-caused the issue and the fix is on the way. Will update you once everything is deployed :)

[2020-12-04 00:26] amlcodes commented on #12
stuck on fetching items, the datastore deploy fails, no error message

[2020-12-04 00:28] amlcodes commented on #4
i just tried, getting same result. My data  is also continuously fetching in the content area

[2020-12-04 00:29] kevinold commented on #4
@kaustavghosh06 I just tried and received the same failure.
![Screen Shot 2020-12-03 at 6 28 49 PM](https://user-images.githubusercontent.com/21967/101106343-72f52600-3595-11eb-8d51-5f486f4b75dc.png)

[2020-12-04 00:35] kaustavghosh06 commented on #12
@amlcodes  what's your appId - and do you get a deployment error message?

[2020-12-04 00:48] amlcodes commented on #12
sent! y'all really are the best. failing on deploy to data store as well, yes.

[2020-12-04 01:01] swaminator commented on #18
@nelsonchen5 thanks for the feature request. That is absolutely in our roadmap and we'll come back for more requirements as we get closer.

[2020-12-04 01:10] zkwentz commented on #17
Thanks so much @kaustavghosh06

[2020-12-04 05:06] kaustavghosh06 commented on #4
@kevinold While deploying the API, the default auth-type selected is API_KEY in the UI. Can you change that to COGNITO_USER_POOL at the top and try deploying again?

[2020-12-04 05:12] kaustavghosh06 commented on #4
I think we've figured out the issue on our side. We're trying to set the default auth type to be API_KEY for migrations which is causing the migrations to fail. I'll work with the team on getting this fixed.

[2020-12-04 05:46] watilde opened #20 "Analytics resource link is always Pinpoint even using Kinesis Stream"
### Summary
I selected Amazon Kinesis when I ran `amplify add analytics` in my react app project and Analytics page in Admin UI shows the resource. However, its link was to Pinpoint.

### Steps to reproduce
1. Run `amplify add analytics`
2. Select `Amazon Kinesis Streams`
3. Run `amplify push`
4. Open Analytics page in Admin UI and click a resource link

### Expected behaviour
Takes me to Kinesis

[2020-12-04 08:29] #16 closed

[2020-12-04 12:31] amlcodes commented on #4
Y'all do great work guys. Thanks so much.

[2020-12-04 14:15] amcdnl opened #21 "Use existing GraphQL API with CMS -> Data Page Fails to Load"
When I open the Admin Panel > Data the page fails to load. Looking in the console I see the following error:

[code]

Below is a screenshot:

![image](https://user-images.githubusercontent.com/227909/101173789-00c22700-3611-11eb-9ba5-2c4e5a860077.png)

[2020-12-04 18:13] kaustavghosh06 commented on #21
@amcdnl Have a few questions on this for us to debug this:

1. Is this an existing app that you created using the CLI and trying to use the Admin dashboard for it? If yes, Could you please provide the appId?
2. Do you have datastore already enabled with the app?
3. Do you have multiple-authorization types on your schema/models?

[2020-12-04 18:15] kaustavghosh06 commented on #12
@RossWilliams
Have a few questions on the above issue
1. Is this an existing app that you created using the CLI and trying to use the Admin dashboard for it? If yes, Could you please provide the appId?
2. Do you have datastore already enabled for the API tied to your Amplify CLI project?
2. Do you have multiple-authorization types on your schema/models?

[2020-12-04 18:21] RossWilliams commented on #12
@kaustavghosh06
1. Existing apps created using cli, multiple app Ids, I've just now enabled admin UI on d35dca12f26hyg.
2. I don't use datastore
3. I have multiple authorisation types, but all user pools. I have decorated fields with @aws_cognito_user_pools so that I can use a second user pool against certain fields.

[2020-12-04 19:36] hsspain commented on #20
@watilde We have identified the issue and will have a fix out shortly.

[2020-12-04 20:05] amcdnl commented on #21
1. This is an existing app. I added the admin panel today.
2. I'm using GraphQL / DynamoDB - not sure if that answers your question.
3. Yes - OIDC and API Key

[2020-12-04 20:26] amlcodes commented on #4
After enabling DataStore for the API via cli with `amplify update api` - the data section in the Admin UI populated, but the content section is still continuously fetching.

[2020-12-04 22:09] Nxtra commented on #12
I'm seeing this behavior too.

- my app uses Amplify API with graphql
- my app does not use datatstore
- it's an existing app for which I now setup the Admin UI
- all my types have auth configured like this `@auth(rules: [{ allow: private }])`

I'm seeing a call to: `https://16uofz95g4.execute-api.eu-west-1.amazonaws.com/prod/backend/d3aqg2oq8ej8yi/api/dev/getModels`
With this response:
[code]
Fet

[2020-12-04 22:12] amlcodes commented on #12
my datastore deployed when configured via cli. still stuck fetching content tho.

[2020-12-04 22:13] kaustavghosh06 commented on #12
@Nxtra Do you see your data-models in the Data tab?

[2020-12-04 22:15] kaustavghosh06 commented on #12
@amlcodes In your Data UI, can you save and deploy - that would generate the models in the cloud for the CMS to use.
I'll get back to the team with a suggestion to catch the ` "{"error":"ResourceNotFoundException: API models not found."}"`  and  expose an option from the Content page to generate the models on the fly to make this easier for migrating older apps configured using the CLI. For now, i

[2020-12-04 22:22] amlcodes commented on #12
Save and Deploy even with the editor available now, still causes a deployment failed.

[2020-12-04 22:45] #11 closed

[2020-12-05 00:04] kaustavghosh06 commented on #20
@watilde We've deployed the changes for this. Please give it a shot again and let me know if you're still seeing issues.

[2020-12-05 00:04] #20 closed

[2020-12-05 00:05] kaustavghosh06 commented on #17
@zkwentz We've fixed the potential issue and deployed the changes. Please let us know if the changes fixes this issue for you.

[2020-12-05 00:05] #17 closed

[2020-12-05 06:59] houmark commented on #3
@kaustavghosh06 Is there a minimum CLI version for the admin UI to work? I enabled it for our existing app running on CLI v. 4.31.1 and I am experiencing the same issue (right as I type this). I am using a user created from the Amplify Console UI.

After spinning it shows the message, I select one of our environments and it spins again, then returns to the same message.

[2020-12-05 07:45] Nxtra commented on #12
No, I don't.
But I don't expect it to show up there since my app does not have DataStore configured.

Might that be the reason?
Do you need DataStore in your app to be able to view data in the `@models` tab?

[2020-12-05 08:21] kaustavghosh06 commented on #3
@houmark were you able to open admin UI directly from the Amplify Console using the link in the backend-environments tab?
<img width="1076" alt="Screen Shot 2020-12-05 at 12 20 54 AM" src="https://user-images.githubusercontent.com/7247658/101237717-dbc0c900-368f-11eb-9c63-926ceb84e073.png">

[2020-12-05 08:27] houmark commented on #3
No, I don't have that button. I saw the UI button flashing at some point but it went away real quick and then I noticed the new menu option in the left menu and enrolled from there, but the button never came back. Do you want my App ID by mail?

[2020-12-05 08:29] houmark commented on #3
Sorry. I was on the frontend tab. Now with your screenshot I saw it is on the backend tab, so I went there and clicked the button.

It then opens, loads for ~15-20 seconds and shows the same environment message. I click the environment I had clicked the button for, and now it's been loading for more than a minute and then shows the same message again.

[2020-12-05 08:40] kaustavghosh06 commented on #3
@houmark could you please send us your appId to kaustavg@amazon.com - I can try digging up further.
Could you also check your browser network logs/console logs and see if you observe any errors out there?

[2020-12-05 08:46] houmark commented on #3
@kaustavghosh06 I just sent you an email with the appId and the console error's I see.

[2020-12-05 11:59] watilde commented on #20
@kaustavghosh06 @hsspain Thank you for your quick action. LGTM<3

[2020-12-05 14:41] mgm1313 opened #22 "Model not showing and content not loading in m:n relationship"
Thanks for this awesome new product! I'm using the following `schema.graphql` with an app I created through the CLI.
[code]

The adminUI recognizes this as an m:n relationship, but doesn't show the `ActivityPeriod` model, although I'd like to be able to configure the fields for this relationship (e.q. `available: Boolean!` in this example).

<img width="1552" alt="Screenshot of AdminUI" src="https

[2020-12-05 20:32] kaustavghosh06 commented on #22
@mgm1313 We do support m:n relationships with Datastore. On the UI you're not able to see the join table since we hide that away as it is an implementation detail and we wanted to abstract that away in the UI - but the join model is still present and will be deployed along with the other models.
If you're curious and are familiar with the GraphQL transformer you can open up the browser  console lo

[2020-12-05 21:21] RossWilliams opened #23 "Admin UI resources not cleaned up when turned off"
I have turned off admin UI in an account. I expect resources created after turning in admin UI to be removed. Instead there are four Lambda functions and four IAM roles remaining in the account.

It may be that these are deployed as custom resources and the delete method needs to be implemented?

[2020-12-05 21:31] RossWilliams opened #24 "No warning given of resources being created in account"
It is important for me to be aware of resources added to my account and there is necessary bookkeeping involved to ensure only approved resources are created. In other AWS services, if I used the console to configure a service, the console will inform me of any resources that will be created on my behalf and I can properly document them.  As we know, there are not many good “discovery tools” to re

[2020-12-05 21:32] kaustavghosh06 commented on #23
@RossWilliams I think I know the resources which you're talking about. Those are tied to the Cognito resource used for authenticating into the Admin UI.
1. 3 Lambda Triggers tied to the Cognito resource provisioned
2. 3 IAM roles tied to the auth role and the 2 provisioned Cognito groups.
We'll implement removal of these resources as well as a fast follow. I'm curious to know what's the 4th Lambda

[2020-12-05 21:40] RossWilliams commented on #23
4 lambdas are:
1. Login-create
1. Login-custom-message
1. Login-define
1. Login-verify

The fourth role is amplify-login-lambda, the other three are the Cognito roles

My memory is fuzzy, but I believe the CloudFormation stack itself is also not cleaned up?

[2020-12-05 21:42] kaustavghosh06 commented on #23
We don't create a CloudFormation stack for the admin resources. We create it only when initializing a new backend environment which get's cleaned up when you remove the backend along with the S3 deployment bucket.

[2020-12-05 21:49] RossWilliams commented on #23
Ok, let me explain that one. About six months ago the Amplify console started listing a single app with a frontend and backend as two different apps, one with just a frontend and one with just a backend. This happens across many different accounts and apps.p in our org.

When I went to try the admin UI I did it from our app with a connection to our frontend, so I guess the console at that point tr

[2020-12-05 21:54] kaustavghosh06 commented on #4
@kevinold I dug up a bit on your app deployment failure based on the information that you provided us. Looks like you're using multi-auth functionality with your API  currently in the CLI and Datastore unfortunately doesn't support multi-auth out of the box currently, hence preventing us from migrating/enabling datastore for your existing API and it's failing initial validations in our service. Ou

[2020-12-05 22:04] amlcodes commented on #4
@kaustavghosh06  that would make sense for me then as well. Thanks!

[2020-12-05 22:08] amlcodes commented on #12
seems like its the multiauth issue, #4

[2020-12-05 22:11] swaminator commented on #24
@RossWilliams the Admin UI is by design an abstraction of the services. To get information on the actual resources Amplify deploys, please visit the Amplify Console which is really where you will be able to see all the resources being deployed.

[2020-12-05 22:16] RossWilliams commented on #24
@swaminator let me clarify - I’m talking about resources that are created as soon as the admin UI is enabled, not resources created as part of my interaction with the admin UI. For example, a new user pool, IAM roles, and user pool triggers are created.

[2020-12-06 05:51] kawallis commented on #2
I have experienced same issue the admin UI looks to have some cors errors by examining the console and just returns the error ``` This app is not valid or was deleted.``` when clicking the button described [here](https://docs.amplify.aws/console#backend-environments)

[2020-12-06 13:26] davidbiller opened #33 "Get Amplify Admin UI in existing cli project after console delete"
Hey, in my project in the amplify console I can't find any backend information.

So I have 2 env. develop and production.
I use the cli to deploy my changes.

Now there is the new Admin UI, but when I check the Amplify console, I can see this:

![Bildschirmfoto 2020-12-06 um 14 26 07](https://user-images.githubusercontent.com/7137361/101281407-fd749a00-37ce-11eb-93f8-1b516ef4c5b3.png)

So at first

[2020-12-06 14:04] KhanDoors opened #25 "unable to connect to Frontend using Amplify Admin when logged into AWS console"
When i try to connect to my React front end (using npx create-react-app) from the Admin UI (using amplify pull --appId d3bimz3c5joas4 --envName staging). it asks me to choose login. When i choose my default login i get "File project: data.graphqltransformer should NOT have additional properties: 'validatetypenamereservedwords' " and it errors out.

[2020-12-06 14:24] KhanDoors opened #26 "unable to connect to React Frontend using Amplify Admin from Amplify Admin Sandbox"
When I create an app from the Amplify Admin Sandbox i get stuck on step 3 Install Amplify CLI to pull the data model. When I try to run the amplify pull it takes me thru the init process but doesnt give me the project i just created to choose from.

$ amplify pull --sandboxId a9dcc087-9beb-46ed-a9a1-ede63abb5261

For more information on AWS Profiles, see:
https://docs.aws.amazon.com/cli/latest/use

[2020-12-06 19:35] jknapp25 opened #27 "Unable to see data in CMS even though the data is there in Dynamo"
I pushed my first item to one of my tables via the GraphQL API and then in the new Admin UI Content view, it just hangs on "Fetching items..." forever.

My internet is working, and I can click around the other views successfully, so it makes me think it's a bug in this view.

[2020-12-06 20:45] tnorlund opened #28 "S3 Trouble with Amplify push"
**Describe the bug**
After creating a new backend through the Admin UI, I can no longer push to the app.

**Amplify CLI Version**
4.37.1

**Expected behavior**
Whenever I push to the app.

[code]

[2020-12-06 21:53] #22 closed

[2020-12-06 21:54] kaustavghosh06 commented on #27
@jknapp25 Are you using DataStore to interact with your API?

[2020-12-06 21:57] kaustavghosh06 commented on #12
@Nxtra Yes, currently, in the Admin UI we only allow configuration and the content management of models intended to be used with the Amplify DataStore library.

[2020-12-06 22:06] kaustavghosh06 commented on #7
@alissaVrk Currently, in the Admin UI we only allow configuration and the content management of models intended to be used with the Amplify DataStore library. In the Data tab - we provide an option to enable datastore for your API.
You can read more about Datastore out here - https://docs.amplify.aws/lib/datastore/getting-started/q/platform/js

[2020-12-06 22:07] kaustavghosh06 commented on #27
Also, this looks similar to - https://github.com/aws-amplify/amplify-adminui/issues/7

[2020-12-06 22:14] kaustavghosh06 commented on #26
@KhanDoors I was able to pull down your project with this command - `amplify pull --sandboxId a9dcc087-9beb-46ed-a9a1-ede63abb5261` and geenrate models and exports file. What's the version of the CLI you're using? Looks like you're on an older version of the CLI. Please install the latest version of the CLI and give it a shot again.

[2020-12-06 22:19] kaustavghosh06 commented on #25
@KhanDoors Have a few questions, which would help us with debugging this
1) Where did you configure your data models?
2) Were you able to login successfully?
3) Did the CLI pull down the `amplify/` folder for you in your project? If so, can you share your `amplify/backend/api/<resource-name>/schema.graphql` file with us? From the error message it looks like the schema you configured might have som

[2020-12-06 22:55] kaustavghosh06 commented on #28
@tnorlund Did you configure the project using Admin UI or is it an existing app prior to Admin UI?
Did you login from the CLI via the Admin UI? Does the logged in user have Full-Access or Manage-only permissions?

[2020-12-06 23:04] jknapp25 commented on #27
Yes, enabling DataStore via the admin console worked. Question, why would it not enable that automatically when I added my graphql schema?

[2020-12-06 23:15] kaustavghosh06 commented on #27
@jknapp25 When start from the CLI, we don't add datastore to the API by default (which I can discuss with the team and see if we should make that the default from the CLI), although right now we do expose enabling it as an advanced option from the CLI with the " Configure conflict detection" question. cc @undefobj

[code]

Also, are you able to see your data in the content tab now after enabling D

[2020-12-06 23:53] KhanDoors commented on #25
1. In this case I configured the data model while logged into my AWS account and in the Amplify section. 'New App', 'Create app backend'.
2. i wasnt able to log in. I get the error  "File project: data.graphqltransformer should NOT have additional properties: 'validatetypenamereservedwords' ". I don't have an issue logging in when I create an Amplify backend normally, that is not using Amplify Adm

[2020-12-06 23:55] KhanDoors commented on #26
cool will do tomorrow and I will let you know. I hope its that easy and sorry for not thinking of that myself. Thanks for the follow-up.

[2020-12-07 01:01] KhanDoors commented on #26
couldn't wait till tomorrow. I updated the cli version from
$ amplify --version
4.30.0
to
4.37.1

and it worked perfectly!! Thank you so much, I am loving the new feature!!!

[2020-12-07 01:01] #26 closed

[2020-12-07 01:35] KhanDoors commented on #25
I think this is the same issue as my other case my cli was not the latest version.

[2020-12-07 01:35] #25 closed

[2020-12-07 01:50] tnorlund commented on #28
Existing app.

I logged in through the CLI through a different IAM policy.

Full access for both.

[2020-12-07 02:16] kaustavghosh06 commented on #28
@tnorlund Could you tell me more about the different IAM policy that you're using?
What's the authentication method for your environment - you can check that in `amplify/.config/local-aws-info.json` file?

[2020-12-07 02:18] tnorlund commented on #28
{
    "staging": {
        "configLevel": "amplifyAdmin"
    }
}

[2020-12-07 02:19] kaustavghosh06 commented on #28
Do you want to use Admin UI to use the CLI or your own IAM policy profile?

[2020-12-07 02:20] tnorlund commented on #28
Admin UI.

I honestly just want to be able to push to Amplify.

[2020-12-07 02:21] tnorlund commented on #28
Are you asking if I want to use the Admin UI or the CLI through the credentials stored at ~/.aws?

[2020-12-07 02:22] kaustavghosh06 commented on #28
Yes. If you want to use the credentials stored in ~/.aws - you can run `amplify configure project` and opt for those credentials instead if you want.

[2020-12-07 02:23] tnorlund commented on #28
So  you can't use both the CLI and the new Admin UI?

[2020-12-07 02:24] kaustavghosh06 commented on #28
You can. You mentioned that you're using your own IAM policy - that's why my questions around your profile.

[2020-12-07 02:25] tnorlund commented on #28
So after using the configure project, I can now push again.

Is there a way to rename a backend environment?

[2020-12-07 02:27] kaustavghosh06 commented on #28
No, backend environment name is immutable, but if you're in dev mode, you can run `amplify env add` to create a new environment which the name of your choice and that'll clone all the infra from your current environment.

[2020-12-07 02:36] tnorlund commented on #28
I'm now getting
[code]

On all the pushes after that last successful push.

[2020-12-07 02:38] tnorlund commented on #28
[code]

[2020-12-07 02:39] jknapp25 commented on #27
As a new user, after adding my graphQL schema I assumed the datastore would display that schema. But maybe others would disagree.

Thanks for asking, actually no, I can see the data that I added outside of the admin UI but not in the admin UI. That was confusing to me. Do you know why that might be?

[2020-12-07 02:39] kaustavghosh06 commented on #28
The `amplify/.config/local-aws-info.json` points to the AWS profile for your environment

[2020-12-07 02:41] tnorlund commented on #28
How do I get the permissions if I cloned the env through the amplify backend environments tab?

[2020-12-07 02:44] tnorlund commented on #28
Is it asking that I change the config file to this?

[code]

[2020-12-07 02:45] kaustavghosh06 commented on #28
Yeah, this looks correct for the staging environment. Are you also trying to pull/push your cloned environment though or is that a separate concern?

[2020-12-07 02:47] tnorlund commented on #28
I was attempting to pull from a cloned env. The issue was that I was in an env that I deleted through the console.

[2020-12-07 02:49] kaustavghosh06 commented on #28
Ah got it. Were you able to pull down the cloned environment (From the UI) - locally using the `amplify pull --appId <> --envName <> command` ?

[2020-12-07 02:51] tnorlund commented on #28
No. I wasn't able to when my local env was in an env I deleted from the UI.

I ended up deleting everything and starting over again.

[2020-12-07 03:05] kaustavghosh06 commented on #27
Interesting, so you can view all the data, but can't add a new entry?  If you're comfortable providing us with your appId, we can dig into this further and see why it might be an issue.

[2020-12-07 03:06] kaustavghosh06 commented on #28
Got it. Let us know if you're stuck with anything else. Closing this issue for now.

[2020-12-07 03:06] #28 closed

[2020-12-07 03:26] tnorlund commented on #28
So this is still occurring. Do you want me to show you the repro?

[2020-12-07 04:04] tnorlund commented on #28
After creating multiple environments, I found that whenever I attempt to add an API after creating the original auth:

[code]
I reproduce the error. Is there a proper way to do this?

[2020-12-07 04:20] tnorlund opened #29 "Issues with permissions during push"
I continue to get this error with S3.

[code]

I'd like to have users sign up with a name and email. After signing up, send them a verification link to verify their email. Post confirmation I'd like to add their attributes to a dynamoDB table, but more on that later.

[code]

I'd like both the authenticated users and the guests to access the DynamoDB table from an API. The issue I'm facing is that

[2020-12-07 04:21] tnorlund commented on #29
I only get this error with both the auth and the API. Pushing them individually produces no error. Pushing them sequentially or on the same push produces this error.

[2020-12-07 04:22] kaustavghosh06 commented on #29
When you run amplify status - what's the environment and in your `amplify/.config/local-aws-info` - what's the information for that environment?

[2020-12-07 04:24] tnorlund commented on #29
[code]

The config file is:
[code]

[2020-12-07 04:25] kaustavghosh06 commented on #29
You can run `amplify configure project` if you want to use your own custom profile locally like we did sometime back.

[2020-12-07 04:26] tnorlund commented on #29
When I run `amplify configure project`, it creates a new amplify app with the same name as the app that I'm trying to add this backend to.

Do you know how to make it so that I can add this backend to the current app I'm working with?

[2020-12-07 04:27] kaustavghosh06 commented on #29
Have you deleted the "staging" environment  in the UI or is still there?

[2020-12-07 04:28] tnorlund commented on #29
"staging" is still there and I only have the 1 app in Amplify.

[2020-12-07 04:29] kaustavghosh06 commented on #29
`amplify configure project` won't create a new app. You can update the auth method with the following flow - Look at the highlighted questions - that's where you can use your profile.

f45c89966b0d:authruletest kaustavg$ amplify configure project
? Enter a name for the project authruletest
? Choose your default editor: Visual Studio Code
? Choose the type of app that you're building javascript
Ple

[2020-12-07 04:33] tnorlund commented on #29
I don't have that option
[code]
What version of amplify do I need to use? I'm currently on 4.37.1

[2020-12-07 04:35] kaustavghosh06 commented on #29
You can answer 'Y' to the question -> Do you want to set the project level configuration (Y/n)  after which you'll get a question about selecting your AWS profile.

[2020-12-07 04:52] tnorlund commented on #28
Very cool. That helped tremendously. I can now push locally to the back end. I'd like to now clone this 'staging' env to a 'prod' env. When I attempt to do that through the console, I get an error:

<img width="1518" alt="Screen Shot 2020-12-06 at 8 51 24 PM" src="https://user-images.githubusercontent.com/26452518/101310841-cfaa4800-3804-11eb-9db2-999cc12dc47c.png">

Should I just try doing this t

[2020-12-07 05:04] kaustavghosh06 commented on #28
Looked up service logs and found that the profile you logged into via the Console doesn't have the required permissions (Full-access) to clone. You can use the CLI instead as I'd mentioned above, using the `amplify env add` command using the profile you have configured locally.

[2020-12-07 05:26] playerd0 opened #30 "Adding username login method with social login (facebook google)"
When you select username login method, you cannot sign in with facebook/google and vice versa. Why is this? See attached image below

![adminui-auth](https://user-images.githubusercontent.com/74098361/101312827-b39fb880-388f-11eb-811f-64d384d345cb.PNG)

[2020-12-07 05:42] tnorlund commented on #28
Alright will do. For some reason, the API I recreated is not accessible by guests. When I test the query through API Gateway, I get the correct response. How do I continue to use the API for guests?

<img width="1518" alt="Screen Shot 2020-12-06 at 9 41 59 PM" src="https://user-images.githubusercontent.com/26452518/101313787-e1431e00-380b-11eb-8785-067ded63b315.png">

[2020-12-07 07:09] kaustavghosh06 commented on #29
Corresponding in CLI repo for CLI/APIGW specific issue - https://github.com/aws-amplify/amplify-cli/issues/6088
Closing this one.

[2020-12-07 07:09] #29 closed

[2020-12-07 07:24] kaustavghosh06 commented on #28
Discussion moved over to CLI repo - https://github.com/aws-amplify/amplify-cli/issues/6088

[2020-12-07 08:41] RossWilliams commented on #12
@kaustavghosh06

With your last comment I’m unsure how to evaluate if Admin UI is intended to be usable with my apps. Will it work if some models are usable with datastore ? Is there guidance on current datastore limitations I can evaluate against my schema ? When the schema parsing issue is resolved, will the admin UI inform me which models cannot be managed ? Even if a model content cannot be ma

[2020-12-07 13:01] KhanDoors commented on #26
were good thanks!!
    On Sunday, December 6, 2020, 05:14:25 PM EST, Kaustav Ghosh <notifications@github.com> wrote:

@KhanDoors I was able to pull down your project with this command - amplify pull --sandboxId a9dcc087-9beb-46ed-a9a1-ede63abb5261 and geenrate models and exports file. What's the version of the CLI you're using? Looks like you're on an older version of the CLI. Please install the l

[2020-12-08 00:40] jknapp25 commented on #27
No, I can view my data the old way (Amplify / All Apps / My apps name / backend environment / API / data sources / open the table and see the data). But when I try to see the data in the new Admi UI (Admin UI / Content / Select the table) it shows that there is no data in the table.

[2020-12-08 09:05] markseddon opened #34 "Issue with connecting frontend application with amplify backend"
Not sure if this is an aws-amplify/cli issue or a aws-amplify/cli issue, but I've got an problem when trying to connect a fresh Vue.js app with a backend created with Admin UI.

* Created a new Amplify app
* Added a new backend user (Full Access) through the Admin UI
[code]

[code]

[code]

[code]

[2020-12-08 09:22] markseddon commented on #34
I tried uninstalling aws-amplify/cli from the node managed by nvm and installed the Amplify CLI tool using the command suggested in the Admin UI tool:

`curl -sL https://aws-amplify.github.io/amplify-cli/install | bash && $SHELL`

this installed the same version of the Amplify CLI tool i.e. 4.38.0, but now the following command works:

`❯ amplify pull --appId d2nv1am0c1kizu --envName staging`

The

[2020-12-08 09:36] markseddon opened #35 "Unable to verify authorisation to admin backend from Windows WSL2 environment"
I'm trying to connect a Vue.js frontend in a Windows WSL2 environment to an Amplify Console backend

In the AWS Console:

* Created a new Amplify backend with the Admin UI enabled
* Created a Full Access user in the Admin UI

In the Windows WSL2 (Ubuntu 20.04) environment:

* installed the latest version of the Amplify CLI using the following command

[code]

cd'd to the Vue.js app directory and r

[2020-12-08 09:59] asilarslan commented on #12
For me;
create update using cli; content management not fetching
after
save and deploy on admin ui; content management fetching successfully.

[2020-12-08 12:30] brightfuture opened #36 "Feature Request: add password-less phone number sign up option"
although i might be able to achieve it by using a default password for all users
and MFA phone number + sms as real auth method
i'll try later
but having a true password-less experience makes the app experience much more stress-free for users.

[2020-12-08 13:21] alissaVrk commented on #7
thanks, good to know
it would be nice to get an "unsupported" error instead of the page to hang though :)

[2020-12-08 14:05] pedroapfilho opened #37 "Broken link for `Get Started` on `Not Found` page"
If you go to this link: https://us-east-1.admin.amplifyapp.com/admin/anythingheretofail/staging/datastore

You'll see the `Get Started` flashing:

![Screenshot 2020-12-08 at 14 48 02](https://user-images.githubusercontent.com/13142568/101493774-c802b480-3966-11eb-997a-bcc3ec20a0c6.png)

This link goes to: `https://sandbox.amplify.aws/`, that is a broken link, it should go to: `https://sandbox.ampl

[2020-12-08 14:48] swaminator commented on #21
Closing this. Please track in #7

[2020-12-08 14:48] #21 closed

[2020-12-08 14:59] iamandrewmiller opened #38 "Data modeling canvas: Drag and drop hit state is small and off center from drag icon."
You are in data modeling (https://sandbox.amplifyapp.com/schema-design), you "Add model", and then you "Add a field" to create more than one field. When you try to rearrange the fields using the drag and drop icon, the mouse area is off centered from the drag icon, and to the left, leading me to think that the fields are not draggable.

[2020-12-08 15:29] davidbiller commented on #33
Any news here?
How can I get the Amplify Admin UI when I deleted the app from the console before.
So I want restore the app in console, and than get the Amplify Admin Ui

[2020-12-08 16:33] davidbiller opened #39 "A valid backend environment was not specified."
![Bildschirmfoto 2020-12-08 um 17 32 23](https://user-images.githubusercontent.com/7137361/101512544-6862d400-397b-11eb-8860-6d5552d610fb.png)

Any idea?

[2020-12-08 16:39] davidbiller commented on #3
![Bildschirmfoto 2020-12-08 um 17 39 01](https://user-images.githubusercontent.com/7137361/101513265-46b61c80-397c-11eb-9a4f-166088c0f256.png)

[2020-12-08 16:40] davidbiller commented on #39
#3 This is closed, but have the same error.

[2020-12-08 16:40] davidbiller commented on #39
![Bildschirmfoto 2020-12-08 um 17 40 47](https://user-images.githubusercontent.com/7137361/101513474-8250e680-397c-11eb-8513-71bc84c65cee.png)

[2020-12-08 16:41] davidbiller commented on #39
![Bildschirmfoto 2020-12-08 um 17 41 14](https://user-images.githubusercontent.com/7137361/101513535-94cb2000-397c-11eb-84f7-eaf00e37c570.png)

[2020-12-08 16:42] davidbiller commented on #39
Get the same error (AccessDenied) with a invited user.

[2020-12-08 16:49] davidbiller commented on #39
if I create a user with **Manage Only Level,** the user gets an mail with some staging slug?! its not reachable.
When I go to the correct link manual and want to login with this user I get this:

![Bildschirmfoto 2020-12-08 um 17 48 08](https://user-images.githubusercontent.com/7137361/101514614-c2649900-397d-11eb-8d94-818892d0f558.png)

[2020-12-08 16:56] davidbiller commented on #39
I can see that the generated role has this line:

"arn:aws:cloudformation:*:*:stack/amplify-*"

**I guess the projects in 2018 don't have the prefix amplify-**

[2020-12-08 17:05] #33 closed

[2020-12-08 17:07] davidbiller commented on #3
I can see that the generated role has this line:

"arn:aws:cloudformation:::stack/amplify-*"

I guess the projects in 2018 don't have the prefix amplify-

this fixed my error (change in IAM role)

"arn:aws:cloudformation:::stack/*"

[2020-12-08 17:33] erhard commented on #34
Have the same issue, but the curl installation does not help.
![Bildschirmfoto 2020-12-08 um 18 30 28](https://user-images.githubusercontent.com/43522/101519726-d01d1d00-3983-11eb-9e98-c9ee4334ea16.png)

Even if I switch off the UI the login screen appears.

[2020-12-08 17:44] KhanDoors opened #40 "Amplify Admin backend not connecting to React front end"
"react": "^17.0.1"
npm -v 6.14.5
$ node v12.14.1
$ amplify -v 4.38.0

after npx create-react-app -- i run -- amplify pull --appId d17y7gyrh8cjlf --envName staging -- and i get:
$ amplify pull --appId d17y7gyrh8cjlf --envName staging
EPERM: operation not permitted, rename 'C:\Users\*******\Desktop\skfront\amplify' -> 'C:\Users\*******\Desktop\skfront\amplify-backup'
Error: EPERM: operation not perm

[2020-12-08 19:02] blazinaj commented on #32
Same issue here

[2020-12-08 19:08] dcfranca opened #41 "Amplify Admin UI App Content stuck on "Fetching items""
**Describe the bug**
When I open the new Amplify Admin UI on the console I can go to the user management section, to Authentication, to GraphQL API, and so on...
All of them are loading fine.
However, the `Content` never leaves the state of "Fetching items", I had let it run for several minutes, no signal of finishing load the items, neither an error message is displayed.

**To Reproduce**
Steps t

[2020-12-08 19:17] kaustavghosh06 commented on #39
@davidbiller Yes, for older apps - that's the current workaround. Closing this as a duplicate of #10

[2020-12-08 19:17] #39 closed

[2020-12-08 19:30] swaminator commented on #30
@playerd0 that's a current limitation. In order to use Facebook/google sigin in you need to use email.

[2020-12-08 19:31] swaminator commented on #24
@RossWilliams understood. We will track that as a UX improvement.

[2020-12-08 20:03] kaustavghosh06 commented on #40
@KhanDoors Can you do an 'ls' on your current directory and check if you have amplify-backup and amplify folder already in the folder? You'd have to delete that folder and try the pull again if that's the case.

[2020-12-08 20:37] KhanDoors commented on #40
I deleted the entire directory and created a new one to ensure no Amplify folders or files are in there, even then i get the same error.

[2020-12-08 20:41] KhanDoors commented on #40
I just created a new directory, ran CRA tried to pull the backend and got the same error. This is hours after I created the original and after the computer was shut down for hours.

[2020-12-08 21:00] KhanDoors commented on #40
Brand new backend and brand new frontend and still getting same error.
amplify pull --appId d1f25cfwv11j9l --envName staging
very frustrating. this one didnt have anything it it just a new project backend trying to connect to a new CRA. nothing in either one, both new.

[2020-12-08 21:00] KhanDoors commented on #40
Today is not my day for Amplify Admin!

[2020-12-08 21:02] kaustavghosh06 commented on #40
It looks like a local directory permission issue on your project directory based on this `EPERM: operation not permitted`. Can you try running the command as Administrator from your windows machine?

[2020-12-08 21:03] KhanDoors commented on #40
OK but never had that issue on my home computer.

[2020-12-08 21:08] KhanDoors commented on #40
same error running as admin

[2020-12-08 21:12] KhanDoors commented on #40
i'm going to try from the sandbox

[2020-12-08 21:17] KhanDoors commented on #40
new CRA, wow this is crazy:
Failed to pull sandbox app: ENOENT: no such file or directory, open 'C:\Users\*******\Desktop\projectsandbox\amplify\backend\api\amplifyDatasource\schema.graphql'

[2020-12-08 21:39] KhanDoors commented on #40
i tried everything. I tried clearing cache and cookies. i logged out of AWS and still the same error. something got stuck when I ran into the first error this morning. This all worked fine yesterday. Something is stuck in my Amplify Admin account it seems.

[2020-12-08 22:01] markseddon commented on #40
I had a similar issue, running on a Windows 10 install. From the rabbit hole I went down it looked like an anti-virus / indexing file-locking issue. I resolved by using Windows WSL2 environment but then ran into #35

[2020-12-08 22:06] KhanDoors commented on #40
whoa!

[2020-12-08 22:08] KhanDoors commented on #40
i dont think i had this issue with previous versions of Amplify.

[2020-12-08 22:17] KhanDoors commented on #40
just beat my head against the wall some more I tried to create a backend project in another AZ (us-east-2 instead of us-east-1) and got the same result. FYI

[2020-12-08 22:25] kaustavghosh06 commented on #40
@KhanDoors We're looking into it.

[2020-12-09 00:14] kaustavghosh06 commented on #40
@KhanDoors We've identified the issue. We're working on publishing a new version of the CLI to fix this. I'll keep you updated on this thread.

[2020-12-09 00:23] ajenkins commented on #14
@DHFJIEKSMfjfdig645879312494876623644384 I'm running into the same problem. What did you do to fix this? The only suggestion the Admin UI gives is to try running the pull command again, but that's not helping.

I'm on Mac OS 11.0.1 and using Safari.

[2020-12-09 00:34] ajenkins commented on #14
Update: Switching my default browser to Firefox resolved the issue, for some reason. For any maintainers reading this, I would at least fix the typo in the error message. Someone accidentally spelled "communicate" with two n's.

[2020-12-09 00:38] kaustavghosh06 commented on #14
@ajenkins Ack. We'll make the change. Thank you for letting us know.

[2020-12-09 02:35] kaustavghosh06 commented on #40
@KhanDoors We've released a new version of the CLI - 4.38.1 with this fix. Could you please install the latest and give it a shot again? Thank you.

[2020-12-09 03:18] markseddon commented on #40
No change for me:

PS C:\Users\XXX\Development\project> amplify --version
4.38.1
PS C:\Users\XXX\Development\project> amplify pull --appId d1tlpelujjjj8s --envName staging
EPERM: operation not permitted, rename 'C:\Users\XXX\Development\project\amplify' -> 'C:\Users\XXX\Development\project\amplify-backup'
Error: EPERM: operation not permitted, rename 'C:\Users\XXX\Development\project\amplify' -> '

[2020-12-09 03:21] kaustavghosh06 commented on #40
@markseddon the issue i mentioned fixes https://github.com/aws-amplify/amplify-adminui/issues/40#issuecomment-741047100

The issue you're having seems to be tied to `EPERM: operation not permitted` on Windows. Please login as Administrator on your windows machine if not already and let me know if you're still getting the permission issues on your filesystem.

[2020-12-09 03:23] playerd0 commented on #30
@swaminator Thank you for the response. Is it possible to provide a reason for the limitation? When configuring a new User Pool with the Cognito service, it seems like it is possible to configure with username with social logins. Thanks.

[2020-12-09 03:29] markseddon commented on #40
Ran the same command in an Administrator Powershell with same result.

[2020-12-09 04:12] corb5309 opened #42 ""Enable DataStore and deloy" in Amplify UI hangs"
Description
An angular app was created with amplify cli including api and auth. An attempt to add a table via the Amplify UI afterwards hangs on deployment.

To Reproduce
I followed this tutorial, ending on the Next Steps page.
https://docs.amplify.aws/start/getting-started/installation/q/integration/angular#install-and-configure-the-amplify-cli
When opening the amplify console I went to the prese

[2020-12-09 04:41] jainroshan commented on #40
same error here.. very frustrating.. please fix asap!

![image](https://user-images.githubusercontent.com/22842025/101585955-b1c01d00-3995-11eb-8e71-7a7758f0b089.png)

[2020-12-09 04:47] kaustavghosh06 commented on #40
The issue with EPERM looks similar to this one - https://github.com/aws-amplify/amplify-cli/issues/6028
This post this might be helpful - https://stackoverflow.com/questions/39293636/npm-err-error-eperm-operation-not-permitted-rename
_For me i just closed the Code editor (VS Code) and then run the same command. And that solves the issue for me._

By any chance do you have VSCode opened up at the s

[2020-12-09 04:49] kaustavghosh06 commented on #40
Also, this suggestion seems helpful for windows and highly upvoted - https://github.com/expo/create-react-native-app/issues/191#issuecomment-304073970

_I got the same problem just doing an npm install.
Run with antivirus disabled (if you use Windows Defender, turn off Real-Time protection and Cloud-based protection). That worked for me!_

[2020-12-09 05:54] brightfuture opened #43 "Authentication deploying forever after setting minimum password length to 0"
i've tried this 2x
the first time i got a warning saying minimum password length is 6
the second time i somehow managed to make it deploy
this time i set password length to 0 and all requirements for password format off
the reason to do this is to enable password-less login
also because i saw the optional requirement of password in iOS SDK
i think it was my misunderstanding

so after i hit deploy

[2020-12-09 06:14] markseddon commented on #40
I don't have another window / editor open and unfortunately running without anti-virus in this environment isn't an option for me or for the users I'm trying this out for.

[2020-12-09 07:01] jainroshan commented on #40
I dont have any other window opened and tried all the solutions posted above, but didn't work!

[2020-12-09 08:04] antoniogiurini commented on #32
Hello,
could someone please explain how to revert  to 4.36.2?
I have 4.38.2, and I am having a similar problem while calling "amplify init".

Thanks

[2020-12-09 08:06] kaustavghosh06 commented on #32
@antoniogiurini `npm install -g @aws-amplify/cli@4.38.2`

[2020-12-09 08:15] ywroh commented on #32
@jhockett As you told me, I added the token, and amplify env add is now possible. Thank you.

[2020-12-09 11:00] antoniogiurini commented on #32
Thanks @kaustavghosh06
My issue was solved by reverting to 4.36.2

Will try to finish the basic tutorial: https://aws.amazon.com/it/getting-started/hands-on/build-react-app-amplify-graphql/

[2020-12-09 12:02] erhard commented on #40
Installed 4.38.2
Switched off Management UI
Login appears again -> no user because switched off so login not possible

Switched on Management UI Invited user :
![Bildschirmfoto 2020-12-09 um 12 59 05](https://user-images.githubusercontent.com/43522/101627421-9fd68c80-3a1e-11eb-9a68-3fe2762d4657.png)

[2020-12-09 12:35] erhard commented on #40
Got a solution thanks to Philipp from tecracer ;-)
the above works with 4.38.2.   if You use chrome. (Copy the link you get in the pull request there or use chrome as standard browser)

 The pull command gives as a result after logging in and answering all stuff:
![Bildschirmfoto 2020-12-09 um 13 31 32](https://user-images.githubusercontent.com/43522/101630428-268d6880-3a23-11eb-8cbf-90b45ba5093c.

[2020-12-09 13:35] KhanDoors commented on #40
None of the above worked. Steps I took:
1. updated Amplify CLI to latest version amplify -v 4.38.2
2. Created new React app using npx create-react-app (named the project 'wednesday' for testing)
3. Created new project in Amplify Admin (named 'wednesdayblog' for testing). model named 'Blog' with 'title' and 'content'.
4. ran - 'amplify pull --appId d53uoq7az205 --envName staging' inside of VS code

[2020-12-10 15:32] cbou opened #44 "Custom type is not editable"
Custom type are displayed but not editable

![Screen Shot 2020-12-10 at 16 31 20](https://user-images.githubusercontent.com/611389/101792732-590f9200-3b05-11eb-9563-aeab6d9ded80.png)

![Screen Shot 2020-12-10 at 16 31 35](https://user-images.githubusercontent.com/611389/101792737-5ad95580-3b05-11eb-8fb8-3ee2420bd237.png)

[2020-12-10 15:55] wilkom2009 opened #45 "Admin UI Fails to deploy"
Hi,
I'm very happy using the new Amplify admin UI, but I encounter some difficulties.
I add Graphql API, created some data models and connect it to a React fontend. Everything works well. I update a model adding a new field, I deployed using the AdminUi; the deployment succeded. Today, again on the Admin Ui, I add a new model, but when I clic on "**Save and Deploy**", the deployment fails.
I switc

[2020-12-10 16:08] smythluke opened #46 "Can't create array of custom type"
I've defined a schema that makes use of a custom type and a single model. One of the model's fields is an array of the custom type.
[code]

When using the 'Content' feature within the Admin UI I expect to be able to add Invites along with an array of Guests. I can create a new Invite and fill in the attributes in the model and there is a button to add Guests.

![image](https://user-images.githubus

[2020-12-11 03:10] markseddon commented on #35
As mentioned I had similar issues when trying to verify a connection to an Amplify backend from an EC2 instance (SSH'd in using Visual Studio Code Remote SSH, and also from a Cloud9 instance in the same account (and region) as the Amplify backend. I feel like these use cases are all related in the sense that they're a remote environment of some kind, but I'm happy to raise separate issues if you f

[2020-12-11 19:52] KhanDoors commented on #40
Issue resolved with CLI version 4.39.0 release. Thanks guys!!!!

[2020-12-11 19:52] #40 closed

[2020-12-11 21:09] fkunecke commented on #45
I had this happen to me a few days ago and the solution I found was to re create the entire project from scratch. I think it had to do with starting the project with a certain version of amplify, then upgrading part way through.

It only took me about 2 hours, not a ton of work. Just make sure you copy over your schema, lambda code, and frontend src and package.json.

[2020-12-11 21:49] wilkom2009 commented on #45
@fkunecke thanks for your answer.
Unfortunately I had the same issue last weekend and I created a new project from scratch, I thought maybe if I only use the Admin UI I wouldn't have this issue again but I was wrong because the same issue occurs again!

[2020-12-11 22:00] fkunecke commented on #45
I just found several related issues: #4  #12

As in issue #4, I can get this to work on a project without more than one authorization mode. I get the same errors as reported in #12 if I use the console inspector. It seems these are all very similar issues.

[2020-12-11 22:33] wilkom2009 commented on #45
@fkunecke great as info, I'll try to upgrade the Amplify CLI to see what would happen. Thank you a lot!

[2020-12-12 03:51] mr-fixit opened #47 "Cannot find 'AmplifyModels' in scope"
The instructions for creating a sample Amplify app are excellent, but they leave out one step.

On this page, https://sandbox.amplifyapp.com/test/ABCD1234, after step 3, the user should be told to add the files in `AWSAmplify/amplify/generated` to the project.

Otherwise, the line
[code]
will fail to compile with the error `Cannot find 'AmplifyModels' in scope`

ref: https://stackoverflow.com/ques

[2020-12-12 03:59] jknapp25 opened #48 "Amplify push: Unexpected token u in JSON at position 0"
After updating my GraphQL API configuration, every time I try amplify push, I get the error, "Unexpected token u in JSON at position 0".

[2020-12-12 04:56] jknapp25 opened #49 "Removing my API to fix another issue, deleted my dynamoDB data"
I am troubleshooting the issue where updating an array field will append to the array instead of replacing the array, and I deleted my API to try setting it up again and that deleted all my dynamo DB data without warning.

My wife had already created a bunch of new posts on her brand new blog I built her and now I have to let her know that's all gone. Very unhappy customer here.

[2020-12-12 08:34] wilkom2009 commented on #45
@fkunecke hi, I update the CLI to its latest version (4.39.0), I make a little change in my schema.graphql and then push, I have a new issue : `'jsonString' argument missing or empty
An error occurred during the push operation: 'jsonString' argument missing or empty`.

[2020-12-12 12:05] YoLoADR opened #50 "Delete app"
I can't delete app
I don't know why I succeed to delete task only when delete pop up have a alert message red

[2020-12-12 16:14] lebull opened #51 "Editing an existing model fails, no reason given"
Adding a simple string field to an existing table and the deploy fails, no feedback or logging.  The "click for next steps" in the top right displays the same dropdown as always.

![image](https://user-images.githubusercontent.com/3135984/101988949-9fc6ce80-3c62-11eb-8c76-12a96488211c.png)

[2020-12-13 15:55] lebull commented on #51
Tried with the cli, looks like the same exact behavior as https://github.com/aws-amplify/amplify-adminui/issues/45

[2020-12-13 15:55] #51 closed

[2020-12-13 16:00] lebull commented on #45
Found someone on SO who resolved it by starting from scratch

https://stackoverflow.com/questions/65196706/aws-amplify-error-jsonstring-argument-missing-or-empty

I'm not too well rehearsed in this environment, but I suspect that the 4.38 had some breaking changes where there didn't need to be any breaking changes.

[2020-12-14 19:54] swaminator commented on #27
Closing this issue. Tracking it in #7.

[2020-12-14 19:54] #27 closed

[2020-12-14 21:11] swaminator commented on #47
@mr-fixit are you using the latest version of the Amplify CLI?

[2020-12-14 21:26] kaustavghosh06 commented on #47
@mr-fixit Are you running `amplify pull --sandboxId <ABCD1234>` to generate the models locally?

[2020-12-14 22:16] mr-fixit commented on #47
I was following the sample project flow, doing as it told me.

[2020-12-14 22:28] JuanmanDev commented on #41
Hello!
Seems same problem here:
![image](https://user-images.githubusercontent.com/5569316/102141298-e124cd00-3e60-11eb-9d7e-1fbedbe30f81.png)
![image](https://user-images.githubusercontent.com/5569316/102141574-51cbe980-3e61-11eb-8929-5bd15f4a6296.png)
![image](https://user-images.githubusercontent.com/5569316/102141621-66a87d00-3e61-11eb-92ae-1c85a9a8eda4.png)

Desktop (please complete the follo

[2020-12-15 11:19] smythluke opened #52 "Boolean values in content store can't be set to true"
###  Set up
I've created a data model that includes a few boolean values:
![image](https://user-images.githubusercontent.com/15237734/102207860-9178ec80-3ec6-11eb-9d2f-367e61cfaffc.png)

### The content store
Boolean values in the content store don't act as expected.
When creating a new entry a toggle is present to set the boolean value to true or false. However, whatever I do with the toggle the

[2020-12-15 13:57] FrankieJLyons commented on #32
`npm remove -g @aws-amplify/cli`
`npm install -g @aws-amplify/cli@4.36.2`

If you already ran amplify configure you don't need to again

`amplify init --appId your-app-id`

Worked for me

[2020-12-15 14:00] FrankieJLyons commented on #32
oh I also went to ~/.aws/ and removed some useless profiles I made during my initial failed setup, in both the config and credentials file, and I set the [default] credentials to those that I set up with my `amplify configure`

[2020-12-15 21:28] KhanDoors commented on #52
I'm seeing this also.

[2020-12-15 21:54] swaminator commented on #47
@mr-fixit can you run `amplify -v` on your CLI?

[2020-12-15 22:07] hsspain commented on #19
@cosio55 A fix for this issue has been identified and a fix is rolling out shortly.

[2020-12-16 02:59] jamesET opened #53 "Authentication deployment is stuck"
I added authentication using the Admin UI and it has been showing 'Deploying' status for the last 6 hours.

[2020-12-16 03:01] jamesET commented on #53
The last activity was 'UPDATE_ROLLBACK_COMPLETE' but the status has never cleared from deploying.  The original error leading up to the rollback was Embedded stack [arn for auth] was not successfully created: The following resource(s) failed to create: [UserPool].

[2020-12-16 06:45] blydewright commented on #32
I believe the new CLI version 4.40.0 should address this issue but haven't tested yet :)

See changelog here: https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-cli/CHANGELOG.md

[2020-12-16 19:07] kaustavghosh06 commented on #50
@YoLoADR We've rolled out a fix for this. Could you please try this again and let us know if you're still stuck?

[2020-12-16 19:07] #50 closed

[2020-12-16 19:08] kaustavghosh06 commented on #45
@lebull @wilkom2009  We've fixed the issue in the CLI as well as in the service to prevent the error above. Could you please retry and let us know if you're still seeing this. Thank you!

[2020-12-16 19:08] #45 closed

[2020-12-16 19:24] kaustavghosh06 commented on #34
@markseddon Could you please test this out with the latest CLI version and see if you're getting the above error?
@erhard Which browser are you working on? Could you please try chrome or firefox?

[2020-12-16 19:28] lebull commented on #45
I am now able to deploy changes.  Thanks for your hard work.

[2020-12-17 15:03] ivmakk commented on #32
Usage of 4.40.0 doesn't help for me. Same error happen when I'm trying to initialize a new project by `amplify init`
Rolling back to 4.36.2 helps to solve the problem.

[2020-12-17 17:14] kaustavghosh06 commented on #53
@jamesET We've rolled out a fix for this and you shouldn't be seeing the "Deploying" error anymore. We've some failures in the userpool creation if you modify the minimum password length to be less than 6. We're working on adding validations for the same on our UI.

[2020-12-17 17:16] kaustavghosh06 commented on #42
@corb5309 We've rolled out a fix in our service fixing this issue. Could you please check back and see if you're still seeing this issue?

[2020-12-17 17:16] #42 closed

[2020-12-17 18:52] jhockett commented on #32
Sorry for any confusion, but the fix for this issue is still in progress.

[2020-12-17 19:54] #53 closed

[2020-12-18 03:30] markseddon commented on #34
@kaustavghosh06 Yep all works now, just tested with a fresh Amplify backend running in an AWS account I have no credentials for on this laptop. After the pull I verified through the browser and see the credentials in ~/.amplify/admin/config.json.

Cheers!

❯ amplify --version
4.40.0

macOS Big Sur 11.1 running Mozilla Firefox 82.0.3 (64-bit)

[2020-12-18 11:21] n8downs commented on #35
Same issue here.

Amplify version 4.40.0
Brave browser

[2020-12-18 14:09] mr-fixit commented on #47
[code]

[2020-12-18 19:34] michaelbrewer opened #54 "A valid backend environment was not specified"
My recent amplify project does not show the admin ui

Amplify app id: dxpkt19g6tfmo

<img width="1875" alt="Screen Shot 2020-12-18 at 11 31 22 AM" src="https://user-images.githubusercontent.com/5442469/102654161-f2056500-4124-11eb-9a67-7bb0ba71f1d7.png">

[2020-12-18 23:03] zwx00 commented on #12
I am also unable to fetch the content, while models are visible (and can be edited) under "Data". The API was deployed via CLI and conflict resolution is enabled.

[2020-12-19 00:12] matansagee opened #55 "Admin UI crashes on TypeError: Cannot read property 'value' of undefined"
When I'm clicking on the "view data model" in the Admin UI, the window turns to white and is stuck.

![image](https://user-images.githubusercontent.com/8274517/102674645-affc1380-4164-11eb-89ef-6ce58640e1ff.png)

The URL is https://us-east-1.admin.amplifyapp.com/admin/d39p6g819u0zli/dev/datastore

[2020-12-19 00:23] kaustavghosh06 commented on #54
@michaelbrewer Do you have functions enabled as a part of your project by any chance?

[2020-12-19 00:28] michaelbrewer commented on #54
@kaustavghosh06  yes, this project has functions, auth, storage and api.

[2020-12-19 00:36] kaustavghosh06 commented on #54
Ah, got it. I looked at the service-logs and the request is timing out due to the size of the node_modules tied to the functions in your project which our service is trying to pull down for reading your backend details. If you know by any chance, are the node_modules tied to your functions > 1 GB ?

[2020-12-19 00:43] michaelbrewer commented on #54
@kaustavghosh06 that would be a bug with how amplify is detecting the devDependencies and should only look at the (prod) dependencies which is only kilobytes and not gigs.

[2020-12-19 00:46] kaustavghosh06 commented on #54
@michaelbrewer Yeah, we shouldn't be uploading the devDependencies. That's a bug on the CLI and we have a issue on the CLI to track that. I'll talk to the team on prioritizing a fix for the same.

[2020-12-19 00:47] michaelbrewer commented on #54
@kaustavghosh06  oh and we did split up our package.json to prevent amplify from deploying the dev dependencies. So we have `/amplify/backend/function/<OUR_FUNCTION>/src/package.json` for the lambda runtime dependencies and `/amplify/backend/function/<OUR_FUNCTION>/package.json` for the dev and runtime dependencies.

Example package.json

[code]

[2020-12-19 00:50] kaustavghosh06 commented on #54
Got it. But we don't need the node_modules in the #current-cloud-backend.zip which we're uploading to the S3 deployment bucket and reading in our get calls. If that zip contains a bunch of un-needed node_modules artifacts (the CLI is doing this for you), then extracting them in the GET calls from the Admin UI would cause API timeouts which we're seeing in your project (it's taking 45 seconds inste

[2020-12-19 00:54] michaelbrewer commented on #54
@kaustavghosh06 cool, makes sense that admin ui does not need to download of any the nodule_modules. Thanks for looking into this, looking forward to trying out the admin ui

[2020-12-19 17:10] simpian opened #56 "Amplify verify failed"
![bug](https://user-images.githubusercontent.com/70731255/102695025-d8caea00-41f2-11eb-8edd-9a568cb999d2.png)

This is a classic bug, looks like it's a local environment being pushed to production.

When I tried to amplify pull or amplify config though cloud 9 editor, i'm prompted to verify myself to a Amplify verification link, which takes me to this page, and when i tried to authenticate myself,

[2020-12-20 04:11] chrisjordanme commented on #12
I'm also experiencing am issue with content management being infinitely stuck in a "fetching items..." state, however it seems to be specific to cloning backend environments.

[2020-12-20 22:33] deepikak28 opened #57 "Amplify UI - This app is not valid or was deleted."
1. Enabled the Amplify Admin UI for my app
2. Invited the full access user to Admin UI
3. Got the temporary account details
4. Reset the password

And then I am hitting this error: This app is not valid or was deleted.

[2020-12-21 01:06] DarthOstrich commented on #44
Can confirm the above behavior. It just adds blank space above button
<img width="342" alt="Screen Shot 2020-12-20 at 5 06 04 PM" src="https://user-images.githubusercontent.com/14844032/102729473-b960b980-42e5-11eb-922e-63650e1b0730.png">

[2020-12-21 01:09] DarthOstrich opened #58 "Boolean value doesn't update."
When editing/creating an item in Amplify UI, toggling the button for booleans doesn't do anything.

<img width="144" alt="Screen Shot 2020-12-20 at 5 07 18 PM" src="https://user-images.githubusercontent.com/14844032/102729526-eb721b80-42e5-11eb-82e1-b50ce6c87583.png">

<img width="312" alt="Screen Shot 2020-12-20 at 5 08 24 PM" src="https://user-images.githubusercontent.com/14844032/102729543-fdec

[2020-12-21 01:19] DarthOstrich commented on #58
This is a duplicate.

[2020-12-21 01:19] #58 closed

[2020-12-21 13:46] zzZCodeZzz commented on #41
Same here

[2020-12-21 20:04] DarthOstrich commented on #52
This is also happening for me.

[2020-12-22 02:15] bryanberger opened #59 "Data disappears after a data model deploy"
Data/Content manually added in the AdminUI disappears after a data model update/deploy.

I may have missed it, but better messaging should be added if this is intended, otherwise possibly a bug?

[2020-12-22 05:13] DarthOstrich commented on #59
this is also happening for me.

[2020-12-22 09:58] PawanMude opened #60 "Amplify Backend : Failed to communnicate with the Amplify CLI."
While configuring Amplify backend via command
amplify pull --appId _myAppID_ --envName staging

Failed to communnicate with the Amplify CLI. You can try again by running:
amplify configure --appId _myAppID_ --envName staging

Note : Real AppID is replaced with _myAppID_

[2020-12-22 14:00] corb5309 commented on #42
The hung deployment resolved a few hours after I posted this. I later deleted the deployment. I can attempt to re-create the steps to see if using a mix of CLI and UI changes still causes a problem, if requested. This one particular instance has resolved though.

[2020-12-22 14:53] valerii15298 opened #61 "Section Content does not load"
When I tap in the navigation bar "Content" option it shows me " fetching items..." and does not load any data[
<img width="2183" alt="Screen Shot 2020-12-22 at 4 53 25 PM" src="https://user-images.githubusercontent.com/44531564/102901416-420e5f80-4476-11eb-8b7d-aaa7d8eccac7.png">
](url)

[2020-12-22 14:55] valerii15298 commented on #41
Same problem for me!

[2020-12-22 14:56] #61 closed

[2020-12-22 20:55] #34 closed

[2020-12-22 21:27] jhockett commented on #35
Hi @markseddon @n8downs, the issue is that the browser is making a CORS request to a localhost server the CLI temporarily sets up, but it's unable to succeed for some reason.

@markseddon There's a number of open issues with localhost access with WSL2: https://github.com/microsoft/WSL/issues?q=is%3Aissue+is%3Aopen+localhost

@n8downs can you check the Brave's console to see if there are any errors

[2020-12-22 21:43] jhockett commented on #56
Hi @simpian, the request to localhost is intentional. Closing this issue as duplicate of #35.

[2020-12-22 21:43] #56 closed

[2020-12-22 22:23] jhockett commented on #60
Hi @PawanMude, what browser/OS are you using? This is likely a duplicate of #35.

[2020-12-23 01:20] KhanDoors opened #62 "Getting 403 error loading data when app is deployed"
Getting 403 error loading data when app is deployed.
This is usually what i see when an S3 bucket is not configured correctly.
How does that facture in here?
What setting do I have to change in order to load data when deployed?
I have no authentication, Cognito is not being used.

This is not an issue when running the app locally.
This happens when the app is deployed thru github but not when i up

[2020-12-23 01:27] KhanDoors opened #63 "Getting AccessDenied 403 error loading data when app is deployed"
Getting 403 error loading data when app is deployed.
This is usually what i see when an S3 bucket is not configured correctly.
How does that facture in here?
What setting do I have to change in order to load data when deployed?
I have no authentication, Cognito is not being used.

This is not an issue when running the app locally.
This happens when the app is deployed thru github but not when i up

[2020-12-23 03:56] litwicki commented on #63
@KhanDoors this can occur when the the `` directory does not match. For example react apps will use `dist` or `build` as common "build" directories.

By default we assume `build` but if it doesn't match your artifact(s) you may see this '403'

[code]

[2020-12-23 05:18] dbredvick opened #64 "Bug: "failed to deploy" data modeling"
project info:  `--appId d2cz07sqonw70z --envName dev`

After making updates in the UI and clicking deploy, I see the loading page. A few minutes later I see the error state and my schema changes are gone.

<img width="1404" alt="CleanShot 2020-12-22 at 21 27 33@2x" src="https://user-images.githubusercontent.com/10567141/102961910-32f5d480-44ab-11eb-8687-77cea288bfb1.png">

<img width="553" alt="Cl

[2020-12-23 08:14] yukkim opened #65 "Feature Request: Internationalization request on UI"
**Is your feature request related to a problem? Please describe.**

As a local content manager like the persona ["local restaurant owner"](https://aws.amazon.com/blogs/aws/aws-amplify-admin-ui-helps-you-develop-app-backends-no-cloud-experience-required/), I want to use AdminUI in different language so that I can deliver content to production without mistakes.

**Describe the solution you'd like**

[2020-12-24 10:40] tsilicani commented on #59
I have the same issue, i have noticed that when i created a new content no data were saved on Dynamodb.

[2020-12-24 17:31] lebull opened #66 "Can't remove "Preferred Username" attribute when setting up auth."
![image](https://user-images.githubusercontent.com/3135984/103101087-7c454180-45db-11eb-8b77-11637f37c2d5.png)

I don't think this parameter is necessary/usable since I will be keying my users by username.

[2020-12-26 11:50] riywo commented on #23
Same here. When I turned off the Admin UI, the Cognito Use pool was deleted but the four IAM roles + four Lambda functions were not cleaned up.

- IAM roles
    - `us-west-2_AAAAAA_Full-access`
    - `us-west-2_AAAAAA_Manage-only`
    - `us-west-2_AAAAAA-authRole`
    - `amplify-login-lambda-BBBBBB`
- Lambda functions
    - `amplify-login-verify-auth-challenge-BBBBBB`
    - `amplify-login-custom-m

[2020-12-27 17:59] tsilicani opened #67 "I can't set up "Password protection settings""
I can't set up "Password protection settings" because it fail the on deployment, many errors are shown on the console of dev tools:

these are the logs:

main.f17eb85c.chunk.js:1 Error updating backend auth TypeError: Cannot read property 'length' of undefined
    at ...
main.f17eb85c.chunk.js:1 Error getting the job details for jobId: undefined MultipleValidationErrors: There were 3 validation er

[2020-12-28 06:31] watilde commented on #32
I heard the same issue from a developer and am sharing what I found. In short, admin's config has a different `appId` with project's `appId` in some cases so that admin-helper's `getRefreshedTokens` returns undefined within `amplify-provider-awscloudformation` package. As work-around, the developer could add env by disabling adming ui that they doesn't use.

Stack trace:
1. Takes appId from `ampli

[2020-12-28 21:44] michaelcarrano commented on #64
I just started using the Amplify Admin UI today and it fails to deploy for me too. I even tried to create a simple model with just a single string field and it fails.

[2020-12-28 21:45] michaelcarrano commented on #57
I got this error too when I tried the Admin UI for the first time, what seemed to fix things for me was pushing a change from the CLI tool.

[2020-12-29 01:00] jamesonwilliams commented on #12
I think this is probably a duplicate of #41.

[2020-12-29 01:01] jamesonwilliams commented on #41
Looks to be a duplicate of #12.

[2020-12-29 01:01] jamesonwilliams commented on #7
#12 & #41?

[2020-12-29 15:31] Townsheriff commented on #32
Not fixed in: 4.40.1

[2020-12-29 21:10] blydewright commented on #32
I am running the latest CLI `4.40.1` without any issues. But I did disable the new Admin UI either before or after downgrading to 4.36.2, running a successful `init` or `pull` on that older version, before then upgrading back to the latest CLI.

[2020-12-30 16:49] SethThoburn opened #68 "Unable to save changes, please try again"
Every time I try to save a model, I get this message:

![image](https://user-images.githubusercontent.com/36335378/103368213-04708e80-4a95-11eb-8618-1a4d7557609d.png)

[2020-12-30 17:16] michaelbrewer commented on #54
Please @kaustavghosh06 keep me posted if this is fixed.

[2020-12-30 21:07] waring8285 opened #72 "I can't log into the backend when staging locally"

[2020-12-31 00:51] kaustavghosh06 commented on #64
@michaelcarrano Did it fail for you for your existing schema which you'd configured via the CLI or a new schema?
Did the home screen provide any CloudFormation failure logs?

[2020-12-31 13:43] PawanMude commented on #60
@jhockett , I'm using Chrome Browser and Amazon Linux 2 : 4.14.209-160.339.amzn2.x86_64  .
I even tried workaround mentioned in https://github.com/aws-amplify/amplify-adminui/issues/32 ; still getting same error.

[2020-12-31 15:16] PawanMude commented on #60
npm install -g @aws-amplify/cli@4.36.2  and disabling Amplify Admin UI,  i'm able to move ahead

[2020-12-31 16:06] PawanMude commented on #60
local set-up with backend is working perfectly. When CICD is enabled for backend it fails.

![image](https://user-images.githubusercontent.com/29176181/103417305-2f9bd080-4bb0-11eb-8403-d6d68bf419f8.png)

[2020-12-31 17:59] michaelpaulcuccia commented on #32
I've tried to set up this 'simple' react app 3x's already. This is incredibly complicated. Also, your GraphQL code in the later steps is mixed up...you have it as a TODO and as a NOTETAKER.

[2020-12-31 19:49] kaustavghosh06 commented on #60
@PawanMude Have you hardcoded the Amplify CLI version in the console build spec?

[2020-12-31 20:07] jhockett commented on #60
@PawanMude This is due to the rollback of the CLI version. Since you've disabled the admin UI, you should be able to upgrade to the latest version of the CLI. If that doesn't work or if you want to stay on 4.36.2, you need to remove the new feature flag in the `amplify/cli.json` file that the old CLI doesn't recognize. See [here](https://docs.amplify.aws/cli/reference/feature-flags#feature-flags)

[2021-01-01 13:10] PawanMude commented on #60
Thank You Kaustav and John for your reply!

@kaustavghosh06 : I've not hardcoded the Amplify CLI version in the console build spec.

@jhockett : I'm starting with completely fresh Cloud9 Environment to check if I'm able to proceed with latest version of the CLI.   Currently getting error mentioned in the screenshot. Will try again after some time.
![image](https://user-images.githubusercontent.com

[2021-01-01 16:00] PawanMude commented on #60
@jhockett : With latest configuration below ; it's still throwing error :

![image](https://user-images.githubusercontent.com/29176181/103442043-95538f80-4c78-11eb-8444-445432085bcf.png)

aws-amplify/cli@4.41.0
aws-amplify/ui-react@0.2.33
aws-amplify@3.3.13

Build Settings : version: 1
backend:
  phases:
    build:
      commands:
        - '# Execute Amplify CLI with the helper script'
        -

[2021-01-01 16:10] PawanMude commented on #60
I found solution over here https://github.com/aws-amplify/amplify-cli/issues/6117

All Good Now !!!

[2021-01-01 17:16] #60 closed

[2021-01-01 19:12] simpian opened #73 "amplify pull failed"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
A clear and concise description of what the bug is.
A few problem encountered in the flow.

1. When I run `amplify pull --appId xxxxx --envName dev` , i'm prompted to login to verify
2. I click open the url and try to verify, I'm prompted to sign in using username and password, but I

[2021-01-02 09:41] hollislau opened #69 "Data modeling in Admin UI does not support GraphQL non-nullable arrays"
Manually designating arrays as non-nullable in GraphQL models breaks one-to-many relationships in Admin UI data modeling:

schema.graphql:

[code]

Admin UI:

![image](https://user-images.githubusercontent.com/12061622/103454532-f50e6280-4c99-11eb-967f-793c57148db6.png)

If the arrays are allowed to be nullable, the one-to-many relationships are restored in Admin UI:

schema.graphql:

[code]

Admi

[2021-01-03 18:13] 9037568 opened #70 "Admin UI improperly handles the AWSDateTime type"
**Describe the bug**

The Admin UI improperly handles the AWSDateTime type:

* The user is only allowed to enter hours and minutes
![image](https://user-images.githubusercontent.com/9916473/103464625-3c7d0900-4d03-11eb-97ba-dbdd691e7af3.png)

* When the data is saved, the entered time is recorded as UTC time
![image](https://user-images.githubusercontent.com/9916473/103464647-6b937a80-4d03-11eb-89

[2021-01-04 07:40] Calmefils opened #71 "Authentication with phone number sending sms problem"
I' m using phone number option to verify, sign-up and sign-in the users. When I try to sign-up user, response is valid and it seems there are no issue but no message is sending to my phone or any other. Should I activate any other service to be able to use sms authentication or something else that I'm missing.
I configured the authentication flow using Admin UI and checked Amazon Cognito SMS sendi

[2021-01-04 18:14] hsspain commented on #66
@lebull When you select "Username" as the Sign in method, "Preferred Username" will automatically be added to sign up attributes as it is how your users will be signing in. In this case "Username" and "Preferred Username" mean the same thing.

I will close this ticket, but please open again if you have further questions.

[2021-01-04 18:14] #66 closed

[2021-01-05 02:02] #71 closed

[2021-01-05 23:53] genestd commented on #55
I am having the same issue - admin ui crashes when viewing datastore with message `TypeError: Cannot read property 'value' of undefined.` in the console. My app was originally created using the Amplify CLI. I just enabled datastore via admin ui and redeployed.

[2021-01-06 05:49] marketlync-asharma commented on #41
Same here

[2021-01-06 09:18] hatimmakki opened #74 "Content(Beta) page is frozen, shows fetching loading but no data"
Hi,
i am trying to see and add new content to the db but the page shows fetching never ends.
note, i only have 10 records added from ios app using graphql api.

These are some screenshots:
![Screen Shot 2021-01-06 at 8 01 15 pm](https://user-images.githubusercontent.com/5002432/103751153-f8b83580-505b-11eb-8dcf-00e6b2d0f705.png)
![Screen Shot 2021-01-06 at 8 11 53 pm](https://user-images.githubuse

[2021-01-06 13:56] ghershko3 commented on #74
![image](https://user-images.githubusercontent.com/10298085/103776106-a6651d80-5037-11eb-89db-8baa79be6a05.png)
happens to me too

[2021-01-06 19:24] FelixSommerer opened #78 "Setting up Admin UI takes very long"
I want to enable the Admin UI for my Amplify project. But there's always just a Screen "Setting up Admin UI...".
That's the screen:
<img width="450" alt="Bildschirmfoto 2021-01-06 um 15 37 33" src="https://user-images.githubusercontent.com/67742080/103811303-015d3b80-505d-11eb-9361-2cfb1d15b124.png">

I've tried it at different times, on different devices (Windows, MacOS) and different Browsers (F

[2021-01-07 14:07] patstahl opened #75 "Could not initialize 'staging': socket hang up"
`amplify pull --appId [REDACTED] --envName staging` fails with error:

Just updated the data model with the Admin UI and intended to pull the changes.

[2021-01-07 16:43] renebrandel commented on #59
@bryanberger @DarthOstrich @Huetarded - Can you share your data model's "before" vs. "after"?

[2021-01-07 17:54] #72 closed

[2021-01-07 18:01] lebull opened #76 "GraphQL / Cognito user pools - data is not edited"
I created a new table using the cognito user pool.  Updates to all entities do not work.  No error, just the original object is returned.  I'm guessing there are generated resolvers that are acting up somewhere.

Request:
`input: {id: "d22d8406-171d-4dc2-84f9-514f160c36d6", name: "Change", hostUserName: "Change", visible: true}`

Response:
`{"data":{"updateEvent":{"id":"d22d8406-171d-4dc2-84f9-514

[2021-01-07 20:10] vladimirzoyan commented on #59
Same issue with me.

I'm trying to replicate it but it's not always happening. And in the latest case... only 16 records out of 50 remained.

The use case here was that a member working on Admin UI's content section, left the browser window open as she worked on it for multiple days. But adding the records was working fine... only after the last day, where she was prompted with a login that upon l

[2021-01-07 21:48] jacobdubail commented on #32
by disabling the admin ui for all backend environments, I was able to get around this error. v:4.41.0

[2021-01-08 00:36] alexchen2231 commented on #74
Same issue happening for me too, tables with @auth(rules: [{ allow: owner }]) authorization rules

[2021-01-08 06:29] ben-u commented on #41
I was having similar issues which where caused by non-nullable fields automatically added to my schema.

Solved it by going to AppSync > Schema and making 	_version, _lastChangedAt, createdAt, and updatedAt nullable by removing "!" from the type definitions.

After saving and exporting as schema.json, I copied this to src/graphql/schema.json in my repo so the changes wouldn't be overridden the nex

[2021-01-08 10:25] patstahl commented on #74
In my case I can see the environment summary without issue for my dev env, the difference from what I can tell is that I haven't created a REST API but rather a GraphQL API. I cloned the environment from staging where I can see content just fine in the Admin UI. The new dev environment, however, suffers from the same behaviour when it comes content as described above. Meaning stuck at ' fetching i

[2021-01-08 16:49] afern247 commented on #47
I'm having the same excact problem in SwiftUI for iOS. Excellent Intro! BUT it gives me that error.
I'm in step 4: Install Amplify library and initialize Amplify

[2021-01-08 17:08] anisg opened #77 "Nothing change after modifying Sign-in & sign-out redirect URLs then deploy"
**Describe the bug**
I created a new project using the amplify UI, I set up authentication, added localhost:3000 as Sign-in & sign-out redirect URLs, after deploys, I noticed I inadvertently set-up "https://localhost:3000/"  instead of "http". I tried to modify this, then hit "save and deploy", but nothing seems to have changed.

**To Reproduce**
create a new project, set up authentification, set

[2021-01-08 20:41] makrmark opened #126 "Problems setting up Amplify with DynamoDB backend resources"
Trying to create a backend environment for an existing web app but the process fails during creation.

App ID: d16l5t14dylsuv

I tried to create the backend from console but it hung forever during creation. I tried again from CLI **and it was successful** and showed up in Console but then I tried to activate the Admin UI which itself is now hanging in Console.

I checked my permissions and it says

[2021-01-08 21:08] renebrandel commented on #2
@kawallis do you have the full log on this issue?

[2021-01-08 22:02] swaminator commented on #19
This has been fixed.

[2021-01-08 22:02] #19 closed

[2021-01-08 22:02] swaminator commented on #37
Thanks this has been fixed.

[2021-01-08 22:02] #37 closed

[2021-01-08 22:17] swaminator commented on #23
We have pushed a fix for this. All the roles required by Admin UI are now deleted.

[2021-01-08 22:30] swaminator commented on #78
@FelixSommerer were you able to get it to work? Do you have an appid you can share (app settings > General)

[2021-01-08 22:31] swaminator commented on #57
@deepikak28 @michaelcarrano Do you have an appid you can share (app settings > General)

[2021-01-08 22:41] swaminator commented on #67
@tsilicani can you share your appid? you can find it in the Admin UI URL

[2021-01-08 22:55] swaminator commented on #69
@hollislau did you first create this in the CLI and then come to the Admin UI?

[2021-01-08 23:29] qucode1 commented on #64
I have the same problem. I can not deploy any schema changes with the admin ui and and in content management no table can be found.

My schema is just a basic single model:
[code]

I tried it twice, once with a new project, that I created via the cli and once with a new amplify app that I created in the amplify console.
In both cases admin ui was fine initially, but broke after some changes.

The

[2021-01-08 23:29] hollislau commented on #69
@swaminator I first created this model in Admin UI, then manually modified the generated schema code by adding the bangs in my code editor to make the arrays non-nullable. After pushing these changes via `amplify-push` and coming back to Admin UI, the interface looks broken as indicated above.

[2021-01-09 01:09] michaelcarrano commented on #57
@swaminator unfortunately I do not, I ended up deleting the project and creating it again. I'm new to amplify so just getting familiar with the tooling.

[2021-01-09 01:10] michaelcarrano commented on #64
@kaustavghosh06 I have since deleted the project but I recall not having any existing schema. Tried to create everything from the AdminUI.

[2021-01-09 13:29] tsilicani commented on #67
@swaminator The appId is d19i0t4qaod5qo
I have tried to change signup settings (avoid symbols required on password) and take no effects after deployment.

[2021-01-09 14:00] FelixSommerer commented on #78
@swaminator Unfortunately it still doesn't work. Appid is App ARN?
App ARN would be: **arn:aws:amplify:us-east-1:769602022365:apps/d18leec4ir2mne**

[2021-01-09 17:38] fabull86 commented on #77
I have a similar problem. The deployment status is always in "In progress" without changes. It seems to me that the deployment isn´t triggered as in cloud formation nothing happend too.

[2021-01-09 18:19] anisg commented on #77
@fabull86 quick fix you can do now is to do this locally. "amplify pull" > "amplify update API" (do your modification) > "amplify push"

[2021-01-09 20:20] johntaormina opened #79 "Clicking Amplify Deployed Storage (NoSQL) Directs to S3"
**Describe the bug**
I have deployed a NoSQL DynamoDB database using Amplify.
![image](https://user-images.githubusercontent.com/8800340/104107867-e1f92500-528d-11eb-93b0-8e84504d63d1.png)
This should be a Dynamo DB Database.

The hyperlink on cdmain is to a non-existant S3 bucket (link: https://s3.console.aws.amazon.com/s3/buckets/cdmain).

Clicking the link brings me to
![image](https://user-ima

[2021-01-10 22:41] Rolando-Barbella opened #80 "Content data desapair after cliking on another tap"
**To Reproduce**
- Go to the content link on the left-hand menu
- Create a new content element
- Go to the data link on the left-hand menu
- Go back to the content link on the left-hand menu

![data-ui](https://user-images.githubusercontent.com/6339809/104137441-8f566080-5394-11eb-93ab-4ac20bc9e7a1.gif)

**Amplify CLI Version (if issue tied to Amplify CLI)**

 - CLI Version 4.41.1
 - OS: Mac
 - No

[2021-01-10 23:21] Rolando-Barbella opened #81 "type mismatch error, expected type LIST"
**Describe the bug**

I created a model, where one of the field names is defined as an array of strings, once I tried to get the data in my app, it comes back with an error saying: `"Can't resolve value (/syncCountries/items[0]/spots) : type mismatch error, expected type LIST"_`

**To Reproduce**

- Create a model
-  Create a field  marked with _Is array_ property
- Create a new content
- Try gett

[2021-01-11 20:22] SeanRenet commented on #2
@renebrandel I don't know how we would get a full log, it just doesn't work.  Clearly it works for you, so maybe a resolution is to have you tell us how you do it.

[2021-01-11 20:49] kaustavghosh06 commented on #2
@SeanRenet Are you trying to use your AWS credentials to log into your Amplify Admin UI app? What is not working for you?

[2021-01-12 04:09] sithu951 commented on #32
@jhockett, the workaround you mentioned worked for me to get temporary credentials and to start using `amplify env add`. But, in my original environment, I used existing cognito user pool with the command `amplify import auth`. When adding a new environment, the temporary credential created using the workaround you mentioned was not allowed to access the cognito user pool. It gave the following er

[2021-01-12 04:15] jhockett commented on #32
Hi @sithu951. That's a bug. I don't have a workaround for the moment, but I should have a fix for that in the Amplify CLI very soon.

[2021-01-12 08:26] iuyt9003 commented on #32
Hey, I have a kind of different issue,
When I am trying to create a new env, it's written to me that Cognito pool is not existing '...CognitoId'
When I disable the admin UI it's working.

I saw a Cognito pool in the Cognito. and it has users. (that the admin UI created) and the user I created.

But still seems not to work.

[2021-01-12 18:44] Huetarded commented on #59
In my case, it's very possible that because the new table was added via the AdminUI that it never got pulled locally before pushing the next update which included references to Lambda functions.

Either way though, what I can confirm is that ever since I added those references to my Lambda functions the "Content" tab within the AdminUI breaks and that page just says "fetching items..." but never l

[2021-01-12 19:40] dbhagen opened #82 "Cannot run `amplify import auth` on application setup through Admin UI"
**Describe the bug**
When I try to import an existing cognito pool into a project created through the new Admin UI, I hit role permission issues.

**To Reproduce**
I created an Application through the AWS console which led me to the Amplify Admin UI. Starting with an empty application, I added a simple test data model and performed a CLI pull to add the environment to my Javascript source tree usi

[2021-01-13 16:29] livotron commented on #64
Same problem. No way to deploy anything from Admin UI. Schema updates display correctly on Data modeling page after amplify push.

[2021-01-13 19:54] chancyk opened #83 "Hosted UI has Invalid Resource URLs"
**Describe the bug**
Clicking on the Hosted UI endpoint brings up a page that displays nothing, seemingly because the embedded URLs are broken, such as:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Setup auth with `amplify add auth`
2. Open the provided Hosted UI endpoint from `amplify status`

**Expected behavior**

**Screenshots**

**Desktop (please complete the following informa

[2021-01-17 01:33] SilverLinings89 commented on #55
Same issue for me...

[2021-01-18 15:47] rajendrav5 opened #84 "🧭 Amplify CLI: AWS Amplify Failed to communicate with the Amplify CLI [using Safari browser]"
This happens even after 15 trails.

[2021-01-18 15:47] rajendrav5 commented on #84
while cloning a amplify backend app to local environment.

[2021-01-18 17:31] Kirylka commented on #57
Just got the same error. Invited a user that bumps into this exact error.

[2021-01-18 20:02] xandfury commented on #52
Hi. Are there any updates on this? I used Enum as a temporary workaround but would really like to see this fixed soon.

[2021-01-19 13:45] alissaVrk commented on #32
btw, for me, disabling the admin UI solved the problem

[2021-01-19 19:23] hsspain commented on #84
@rajendrav5 Can you provide the logs that show in your Console when logging in this way?

[2021-01-19 19:26] hsspain commented on #82
@dbhagen Thank you for the feedback. We will look into this and update where necessary.

[2021-01-19 19:28] hsspain commented on #81
@Rolando-Barbella We are looking into this issue and will update when we have a resolution.

[2021-01-19 19:29] hsspain commented on #80
@Rolando-Barbella We are looking into this issue and will update you when we have a resolution.

[2021-01-19 20:24] danieljovan commented on #32
I've encountered some of the errors above and was able to fix them however now when attempting to add a new environment and subsequently run an amplify push, I receive the following error:

[code]
I know that ```arn:aws:iam::238882607199:role/us-east-2_uYAapTrGM_Full-access``` was the role created when Admin UI was introduced (in fact us-east-2_uYAapTrGM is the name of the user pool created to man

[2021-01-19 20:37] jzingh98 opened #85 "Content Tab Stuck in "fetching items""
**Describe the bug**
After following the tutorial to set up a Next.js app with Amplify (https://docs.amplify.aws/start/q/integration/next), I tried to get the Admin UI console to work. Had numerous issues (including getting the Models to show up, for which I referenced this documentation: https://docs.amplify.aws/lib/datastore/getting-started/q/platform/js). Now, the "Data" tab works and shows the

[2021-01-20 00:15] krcummings1 commented on #57
I invited myself as a user to my app's admin ui and upon changing my password from the preset to my own, I received the same error.

[2021-01-20 03:34] mikelhamer commented on #32
Experiencing this in 4.41.2

[2021-01-20 07:22] hanna-becker commented on #55
Any updates here? We've been stuck with this for a while.
https://eu-west-1.admin.amplifyapp.com/admin/d3n5d0yy6cljj/datastore/datastore

[2021-01-20 13:23] pnewhook commented on #57
Users with "Manage only" permission are seeing this error.

[2021-01-20 13:56] sakihayashi opened #86 "Setting up Admin UI failed for Amplify backend"
**Describe the bug**
I have worked on setting up Amplify with my React app for the web.
However, when I tried to set up Amplify for the backend, the Admin UI setting keeps failing.
It says 'Setting up Admin UI failed'.

Eventually, I tried to set up the backend via CLI and the local setting went well. Still, from the Amplify console, I could not setup Admin UI for the backend. The error message is

[2021-01-20 14:13] pnewhook commented on #5
@kaustavghosh06 Is this getting addressed? We've had to give all our developers Full access because Manage only doesn't work.

[2021-01-20 18:33] kaustavghosh06 commented on #86
@sakihayashi You'd need Administrator Access or Root-Access to setup Admin UI.

[2021-01-20 18:34] #86 closed

[2021-01-20 18:37] kaustavghosh06 commented on #54
@michaelbrewer We pushed a change in the CLI with the last release to avoid bundling node_modules for your functions as mentioned above.
Would recommend running `amplify function build` -> `amplify push --force` to with the latest version of the CLI and try opening up the Admin UI again. Please let me know if this worked for you.

[2021-01-20 18:40] michaelbrewer commented on #54
Thanks @kaustavghosh06  it seems to be working better now without doing this, but i will try to out soon with the CLI update too.

[2021-01-20 18:40] #54 closed

[2021-01-20 18:45] kaustavghosh06 commented on #73
@simpian The Admin UI set's up groups for you - Admin and Manage-only and if you use the Amplify Console to add a user and attach a group.role to it, the corresponding user would get permissions and you'll get an email to login as well.
You can read more out here - https://docs.amplify.aws/console/adminui/access-management#next-steps

[2021-01-20 18:45] #73 closed

[2021-01-20 18:46] kaustavghosh06 commented on #43
@brightfuture  We've fixed the issue with the deployments hanging. The minimum password length is 6 for the password requirement when setting up auth. We're tracking this as a UI validation.

[2021-01-20 18:46] #43 closed

[2021-01-20 18:48] kaustavghosh06 commented on #78
@FelixSommerer You'd need Administrator Access or Root-Access for your AWS Console user to setup Admin UI from the AWS Amplify Console. Do you have the corresponding access?

[2021-01-20 19:14] kaustavghosh06 commented on #84
@rajendrav5 Are you using WSL, Cloud9 or CloudShell?

[2021-01-21 04:32] 3m opened #87 "Save and Deploy fails when setting type to a custom Enum"
**Describe the bug**
If you add an enum to the data model, then set a field to that enum type, and hit save and deploy, it fails but gives no reason.

**To Reproduce**
Add a custom enum.  Set a field on another model to be of that enum type.  Hit save and deploy.

**Amplify CLI Version (if issue tied to Amplify CLI) **
You can use `amplify -v` to check the amplify cli version on your system
 - CLI

[2021-01-21 13:35] ganatradeval opened #92 "Updating redirect URI's is failing"
I have created Auth using admin UI. When I am trying to update the Callback URL, it stuck at deploying stage. Upon a page refresh, the requested changes disappear and we won't find our requested changes.

[2021-01-21 14:19] treystudio3a opened #88 "When deployment fails of Data model, there is no reason why it failed, and data model changes are reverted back"
**Describe the bug**
Sometimes when I make changes to the Data model, and hit Save and Deploy, it will fail but there is no reason why.

**To Reproduce**
Create a datamodel with a relationship, then change the relationship field name, or add an enum and make it the type of a field.

**Expected behavior**
If there is some reason it was not successful, ideally you would get an explanation of why, an

[2021-01-21 14:24] treystudio3a opened #89 "If a change happens that requires clearing the database, the clear warning continues to show up on other changes too"
**Describe the bug**
If you make a change where AdminUI detects the database will have to be cleared, then you type Clear to move forward with the deployment, then make subsequent changes to the model that do not require a database clear, the clear warning still displays every time until the page is reloaded.

**To Reproduce**
Make a change to the data model that requires a Clear, hit save and dep

[2021-01-21 14:29] treystudio3a opened #90 "Renaming a parent model fails in deployment"
**Describe the bug**
When you try to change the name of a model that has a relationship to another model, deployment fails

**To Reproduce**
Create 2 models and add a 1-m relationship from model A to model B.  Save and deploy.  Then rename model A and save and deploy.  Deployment fails.

**Expected behavior**
Expectation is while it may cause clearing the database, that it would still work.

CLI V

[2021-01-21 14:34] treystudio3a opened #91 "Data model deployment icon is incorrect after a successful deployment"
**Describe the bug**
If you have a failed deployment of your data model that is then followed by a successful deployment, the icon still incorrectly shows the deployment failed, but the label says it was successful.

**To Reproduce**
1) make a change that causes a deployment to fail (I have been able to do this by creating an Enum model type and making it a type for a model field).  Hit save and d

[2021-01-21 15:27] tranminhhaifet commented on #88
same problem here

[2021-01-21 17:50] fpstidston commented on #84
This gets stuck on
[code]

[2021-01-21 18:01] hsspain commented on #84
@fpstidston Are you using WSL, Cloud9 or CloudShell?

[2021-01-21 18:03] fpstidston commented on #84
@hsspain Please tell me how I can find out this information

[2021-01-21 19:47] kaustavghosh06 commented on #84
@fpstidston  Does your browser open up to - https://us-east-2.admin.amplifyapp.com/admin/XXX/staging/verify/ and were you able to login?

[2021-01-21 19:50] fpstidston commented on #84
@kaustavghosh06 yes the browser opens up to that url, asks me if I'm sure I want to sign in, then a second after I click yes I get the error reported every time.

[2021-01-21 19:51] kaustavghosh06 commented on #84
@fpstidston  Which Browser are you using? Also, which OS are you using locally?

[2021-01-21 19:52] fpstidston commented on #84
macOS 11 Safari 14

[2021-01-21 19:53] kaustavghosh06 commented on #84
Can you try pasting the link into Chrome/Firefox and see if you can get by this error?

[2021-01-21 19:57] fpstidston commented on #84
Chrome asks for user name and password instead of offering the 'yes' or 'no' log in options, and if I enter my AWS console credentials then it says they are incorrect

[2021-01-21 19:58] kaustavghosh06 commented on #84
@fpstidston You can learn here - https://docs.amplify.aws/console/adminui/access-management as to how you can add access and create a user for your Amplify Admin App. The AWS creds won't work for login for the Admin app.

[2021-01-21 20:03] fpstidston commented on #84
I am logged in now using Chrome, thanks @kaustavghosh06

[2021-01-21 21:43] swaminator commented on #55
@hanna-becker @SilverLinings89 we pushed some changes that hopefully fix it. What will help us figure out this issue faster if (possible) you can share access to your Admin UI with us.

[2021-01-21 21:59] theopposablethumb opened #93 "Updating redirect URI's is failing"
**Describe the bug**
I'm attempting to change the redirect URI in the backend for an app which uses Google Authentication. I've made the change in the Admin UI, and then the Admin UI shows the change as "Deploying". I've left it for nearly an hour now... If I refresh the page it stops deploying and the redirect URI is still showing as what it was before.

I've attempted a build from my Git Branch

[2021-01-22 01:57] SilverLinings89 commented on #84
I get this same error in the last days on WSL. It opens a browser with the right URL, I click yes and then it fails to communicate with the browser.
WSL on Windows 10 and Browser is Chrome.

[2021-01-22 11:17] peterlozano commented on #92
I have the same issue. Updating the authentication configuration starts a "Deploying" state that never ends, and if you reload the page it is like if you had changed nothing.

[2021-01-22 16:20] treystudio3a opened #94 "AdminUI code examples doesn't work for iOS - Swift"
**Describe the bug**
When you deploy your model, you click on the "Deployment successful -- click here for next steps" where you can choose your develoment lanugage. All of the available options work except for iOS - Swift.

**To Reproduce**
Click on the "next steps", choose Javascript and change between Query and the different options and notice how it changes.  Then change to iOS - Swift, and it

[2021-01-22 17:19] abhjaw commented on #84
I am getting the same issue on Cloud9. Login to the URL in browser or in pre
admin:~/environment/todoapp (master) $ amplify configure --appId XXXXXX --envName staging
Opening link: https://us-east-1.admin.amplifyapp.com/admin/XXXXXX/staging/verify/
Continue in browser to log in...
After opening the link in browser (Chrome) it asks
Are you sure you want to login to the Amplify CLI?
After clicking o

[2021-01-22 18:11] kaustavghosh06 commented on #92
We were able to reproduce the issue. We're on it.

[2021-01-22 18:11] kaustavghosh06 commented on #93
We were able to reproduce the issue. We're on it.

[2021-01-22 18:28] kaustavghosh06 commented on #67
We've reproduced this. We're on it.

[2021-01-22 18:28] kaustavghosh06 commented on #77
We've identified the issue. We're on it.

[2021-01-22 20:30] kaustavghosh06 commented on #67
We've pushed a potential fix for this issue. Please let us know if you're still experiencing this.

[2021-01-22 20:30] #67 closed

[2021-01-22 20:30] kaustavghosh06 commented on #77
We've pushed a potential fix for this issue. Please let us know if you're still experiencing this.

[2021-01-22 20:30] #77 closed

[2021-01-22 20:30] kaustavghosh06 commented on #92
We've pushed a potential fix for this issue. Please let us know if you're still experiencing this.

[2021-01-22 20:30] #92 closed

[2021-01-22 20:31] kaustavghosh06 commented on #93
We've pushed a potential fix for this issue. Please let us know if you're still experiencing this.

[2021-01-22 20:31] #93 closed

[2021-01-22 20:32] #78 closed

[2021-01-22 20:33] hsspain commented on #46
This issue should now be resolved.  We will close this issue, but please re-open if you encounter further issues.

[2021-01-22 20:33] #46 closed

[2021-01-22 20:33] hsspain commented on #44
@DarthOstrich This issue is now resolved.  We are going to close this issue, but please re-open if you encounter further problems with this feature.

[2021-01-22 20:33] #44 closed

[2021-01-22 20:34] hsspain commented on #52
This issue is now resolved.  We are going to close this issue, but please re-open if you encounter further problems with this feature.

[2021-01-22 20:34] #52 closed

[2021-01-22 20:35] kaustavghosh06 commented on #87
@3m Could you please tell us what were the enums you set? A screenshot of the enum types in the schema designer for Admin UI would be great for us to see and debug this.

[2021-01-22 20:46] hsspain commented on #94
@treystudio3a Thank you for the feedback.  The issue root cause has been patched and will be rolling out in the coming days.

[2021-01-23 00:40] treystudio3a commented on #87
I am no longer having this issue.  The AdminUI does not tell you why somethings fails (as far as I can tell), so perhaps it was some other problem causing my failed deployment.  thank you.

[2021-01-23 00:48] #87 closed

[2021-01-23 11:58] tsondreal opened #95 "AWS Amplify Console, a deleted App shows an error of not being found only in MS Edge"
**Describe the bug**
AWS Amplify Console, a deleted App shows an error of not being found only in MS Edge.  This can't be reproduced in Chrome or Chrome

**To Reproduce**
Steps to reproduce the behavior or terminal output if applicable

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-01-23 23:08] mikelhamer opened #96 "Deleting a single model provides no way to save the change"
In the Admin UI if I delete my only model, I see no way to save the change. Trying to navigate away from the change the browser warns me about unsaved changes but there is no way to save it that I can see.

[2021-01-23 23:16] marenero1974 opened #97 "model delete deploy and content"
Hi, i tryied to delete a model full of data and recreating a new one, after that i tryied to deploy, but i fails, i tryied to view the content of that model in order to truncate the table, but amplify content function is very slow and i cannot reach to view the data cointained in my tables. How can i solve this problems? Thanks

[2021-01-23 23:20] marenero1974 commented on #74
same issue happpening to me, when should this issue be solved? thanks

[2021-01-24 08:35] tsilicani commented on #67
@kaustavghosh06  it works perfectly!

[2021-01-24 16:03] kaman1 commented on #41
I have the same problem

[2021-01-24 21:00] SteeveGL commented on #84
There are any work around? Cannot pull the project even with the AWS access configured.

nodejs 15.x in Ubuntu 20.04 **WSL**
aws-amplify/cli v4.41.2

Admin UI in my Chrome (Windows) try to reach http://127.0.0.1:4242 but return error. The port is open as well.
I used cURL in the WSL console and that return error too.

It seems to be related to Amplify cli

[2021-01-25 19:43] abhi7cr commented on #96
Hi @mikelhamer,

If I understand correctly, you want to save an empty schema? If that's the case, we don't support saving empty schemas.

[2021-01-25 19:59] dcfranca commented on #32
I have the same issue

When I click disable the Admin UI I get the following message:

**Do you want to turn off the Admin UI? This will not delete your backend environment resources. This action canot be undone.**

What does it mean as "the action cannot be undone", does it mean I can't enable it back when this issue is fixed? Is it safe to disable it?

[2021-01-25 20:08] mikelhamer commented on #96
@abhi7cr it's not that I really want to save an empty model (but maybe I would take that path if I were trying to start from scratch), but the fact that it lets me delete it without persisting my action is kind of confusing. Maybe at least some warning / message that empty models cannot be saved would help clear this up.

[2021-01-25 22:04] abhi7cr commented on #96
@mikelhamer, yup I have added a backlog item to better address this state to the user. Will let you know once it’s deployed 😊

[2021-01-25 22:08] johnb-voke commented on #82
I was pointed to this issue by @jhockett on the [amplify discord](https://discord.com/channels/705853757799399426/708077731711156284/803361392505126913).

Here's the issue I ran into:
I had successfully configured a custom resource (step function) using the instructions in https://docs.amplify.aws/cli/usage/customcf

I managed to get everything working and functioning.

However when I try to creat

[2021-01-26 04:16] ayhoung commented on #85
i am also getting this issue

[2021-01-26 07:41] brightfuture opened #98 "Multiple GSI changes issue: can't rename model"
**Describe the bug**
i can't change model name from UserProfile to PublicProfile
the model has several attributes and one 1-to-n reletionship
auth rule is owners can crud
i've tried renaming it many times, every time it failed

**To Reproduce**
not sure, but definitely failed on my model
i believe this applies to

**Expected behavior**
i should be able to rename a model after confirming to clear a

[2021-01-26 22:29] #94 closed

[2021-01-26 23:38] swaminator commented on #97
@marenero1974 can you share your appID please?

[2021-01-27 12:31] ssergienko commented on #85
same issue

[2021-01-27 14:48] svenfinke commented on #84
I also do get the same error running Ubuntu in WSL2 under Windows 10. I execute the code in the Terminal under Ubuntu, which opens my Edge browser. After logging in and accepting the CLI login, I get "Failed to communicate with the Amplify CLI. You can try again by running: ..."

[2021-01-27 19:29] ssergienko commented on #41
same issue

[2021-01-28 05:45] paulobear commented on #88
Ditto. I get a reason on the home page, but I cannot understand why the changes are failing.

api4Bablio (api) | 1/27/2021, 10:37:47 PM | UPDATE_FAILED | Embedded stack arn:aws:cloudformation:us-west-2:469402581609:stack/amplify-4bablio-staging-165405-api4Bablio-1W0PPOOGRBHWI/4ed269e0-3761-11eb-a161-0afe57d56d7e was not successfully updated. Currently in UPDATE_ROLLBACK_IN_PROGRESS with reason: Th

[2021-01-28 12:11] Pipesort-Prakash opened #99 "Need "Image" input in Content->table->create post to give S3Object input file"
**Describe the bug**
I am looking for something like image/file input field in table data create form.

I have added custom type in schema S3Object given in documentation https://docs.amplify.aws/cli/graphql-transformer/storage.

But it's showing as String input field. i thought i can upload image directly from local.

**To Reproduce**
Create S3Object type in schema to accept images and create rel

[2021-01-28 20:55] abhi7cr commented on #99
@Pipesort-Prakash  thanks for reporting. We don't support the above feature yet. I will add it to our backlog, and keep you posted.

[2021-01-29 04:45] tkang opened #104 "Modifying schema.graphql and "amplify push" breaks DataStore"
**Describe the bug**

It seems every time I make changes to AppSync via cli, things break with DataStore.

Case 1. Admin UI's Data section fails to load after updating AppSync's schema (schema.graphql) via amplify cli.
Case 2. One time, it completely disappeared and I had to re-enable the data model from Admin UI.
Case 3. After adding a new model to graphql.schema and amplify push, DataStore break

[2021-01-30 03:21] jgroom33 commented on #84
Windows 10 WSL 2

workaround:

1. amplify pull --appId xxxx --env foo
2. Inspect the browser and grab the POST operation targeted at localhost:4242
3. copy as curl and paste into the wsl terminal (possibly a firewall is blocking on the host)

Apparently, this operation is supposed to pass the tokens. Once they are captured, a pull should work.

[2021-01-30 07:54] cchamikara commented on #85
I have the same issue , any update ?

[2021-01-30 15:41] simonkm1 opened #101 "Switch amplify app backend to a different user pool?"
**Which Specific Feature is your question related to?**
AWS amplify, Cognito

**Provide additional details e.g. code snippets**
How can i switch amplify app backend to a different user pool?
Via admin ui ?

[2021-01-30 16:44] ushafiq commented on #88
Same for me. please fix this.

[2021-01-30 17:30] abhi7cr commented on #101
Thanks @simonkm1 for reaching out. At the moment there is no way to update via the admin UI. I will add it to our backlog. However, you can update your user pool config via our sdk: https://docs.aws.amazon.com/ja_jp/AWSJavaScriptSDK/latest/AWS/AmplifyBackend.html#updateBackendConfig-property

[2021-01-30 19:40] pwnreza commented on #84
thx for the workaround. for ppl not being experts with curl. Need to use -H to set the appropriate Header and -d for the payload

curl -d '<Payload from the inspect fo the request>' -H "Content-Type: application/json" -X POST http://127.0.0.1:4242/amplify

[2021-01-30 21:52] Kilo-Loco opened #102 "Missing UIKit Framework Test Flow for iOS"
**Is your feature request related to a problem? Please describe.**
When going through the iOS test flow, there is only the option for SwiftUI in the Framework/Language dropdown. The Admin UI should include UIKit as it is the moat popular framework for iOS development and will continue to be relevant for the next 5 years.

**Describe the solution you'd like**
UIKit option from the Framework/Languag

[2021-01-31 16:40] justanotherspy opened #103 "Interactions small typo and Read More link just links to the same page?"
**Describe the bug**
There is a section in Interactions under "What is interactions?? it has two periods at the end and the "Read More" button links to the same web page. Not sure whats intended.

**To Reproduce**
Go to the Interactions tab and check it out.

**Expected behavior**
Not sure where the link was supposed to go to? I wanted to read more :(

[2021-02-01 00:48] #97 closed

[2021-02-01 00:49] marenero1974 commented on #97
i created a new environment, thanks anyway

[2021-02-02 03:59] jonathanlam commented on #103
In authentication, there is a typo with "phoine number". See screenshot attached.
<img width="1103" alt="Screenshot 2021-02-02 at 2 58 33 pm" src="https://user-images.githubusercontent.com/3139418/106550395-2a42f480-6567-11eb-875d-0e4eecbf1489.png">

[2021-02-02 06:36] sanathp commented on #82
Facing same issue

[2021-02-02 06:44] sanathp commented on #82
I faced same issue. Fixed it by doing the following steps.
1) Go to IAM -> roles (https://console.aws.amazon.com/iam/home#/roles)
2) Search for the role name . In your case us-east-1_Spl8YeSn3_Full-access
3) Click Attach policy
4) Search for AmazonCognitoPowerUser
5) Select AmazonCognitoPowerUser and click attach policy

[2021-02-02 13:38] swaminator commented on #103
Thanks for the callout @justanotherspy @jonathanlam. We're getting it fixed.

[2021-02-02 16:22] rraczae opened #105 "Content Stuck Loading when importing a user pool"
**Describe the bug**
When I go to content it's stuck `fetching items...`

**To Reproduce**
Go to Manage/Content page

**Expected behavior**
Be able to create items

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/73604600/106629386-66169380-6540-11eb-9cab-fae426ec942d.png)

**Amplify CLI Version (if issue tied to Ampli

[2021-02-02 16:35] cto-leaps commented on #105
Yep have been having the same issue since the first day I tried to use this UI.

[2021-02-02 18:16] rraczae commented on #105
@cto-leaps thanks good to know... I just briefly looked at this to see if we could use it for some basic appsettings/simple content. Do you happen to know
- any work arounds to use content
- or other way to add appsettings

I could always use a lambda but figured if its here why not take advantage.

Regards,

Rob

[2021-02-02 18:24] swaminator commented on #105
@rraczae are you using an existing GraphQL API or did you start a new data model?

[2021-02-02 19:08] alexindrez opened #106 "Unable to connect front-end to git branch when using GitLab connected repo"
**Describe the bug**
When connecting the front-end Amplify deployment to a Git branch I am unable to proceed through the wizard to complete the procedure to deploy a front-end. When I get to step 2/2 there are no options available. The next button is disabled. I was able to edit the next button properties in Chrome dev tools and then click the button and it flows through the rest of the procedure

[2021-02-02 19:32] rraczae commented on #105
Hey @swaminator, I started a new data model (locally for local DataStore, then pushed up the project with an api). I did connect an external cognito pool tho.

[2021-02-03 06:06] xandfury opened #107 "Content tab not showing Tables in certain cases"
**Describe the bug**
It looks like in some cases where a model (say A) has different types of relationships with multiple other models (B,  C and D),  the content tab doesn't allow us to add data to the model from where relationships are drawn.

**To Reproduce**
I have 4 Data Models A, B, C and D. A has 1:1 relationship with B and D. A also has 1:n relationship with C. PFA screenshots.

**Expected

[2021-02-03 06:09] kaustavghosh06 commented on #107
@xandfury Try refreshing the page and see if you can still see the table?

[2021-02-03 06:12] xandfury commented on #107
I did refresh before posting this. But did it again after your comment @kaustavghosh06. Still not being able to see the Table for model A. :slightly_smiling_face:

[2021-02-03 06:15] kaustavghosh06 commented on #107
@xandfury Did you add model A and "Save and Deploy" through the Admin UI or the CLI ?

[2021-02-03 06:16] xandfury commented on #107
@kaustavghosh06 Admin UI. I don't use CLI

[2021-02-03 06:25] kaustavghosh06 commented on #107
@xandfury was able to reproduce this. Marking this is a bug.

[2021-02-03 07:06] kaustavghosh06 commented on #107
Tried various permutation and combinations. Seeing this behavior only when you have multiple 1:1 relationships in the same model (Model A in the case above) cc @hsspain

[2021-02-03 10:28] swaminator commented on #18
https://github.com/aws-amplify/amplify-adminui/issues/99

[2021-02-03 10:29] swaminator commented on #99
Closing here and tracking in #18

[2021-02-03 10:29] #99 closed

[2021-02-03 12:13] pcolmer commented on #84
Can this issue please be reopened? There is clearly a problem here that needs to be investigated and fixed.

Thanks.

[2021-02-03 12:14] kylekirkby commented on #84
Definitely still an issue.. @swaminator. This was working fine prior to any of the Admin UI updates.

[2021-02-03 12:15] pcolmer commented on #84
@hsspain

POST http://127.0.0.1:4242/amplifyadmin/ net::ERR_CONNECTION_REFUSED

[2021-02-03 12:18] kylekirkby commented on #84
OK, so the workaround to fetch the tokens works with the following command providing the failed `amplify pull` command is still showing `⠹ Continue in browser to log in…`

[code]

[2021-02-04 08:22] milk531 commented on #64
Same problem. When the app is just created, we can have successful deployment on Data modeling. But after some modifies to the authorization rules, the deployment began to fail and no content item can bee seen in the console too

[2021-02-04 08:48] milk531 commented on #64
My mistake, us-east-1_xxxx_Full-access is a role not a user. I found it and add missing permissions, now it works!

[2021-02-04 16:25] rraczae commented on #105
@swaminator any chance we can get an estimated timeline? It would be awesome to use this feature. If it is not there any other way to add content for amplify?

[2021-02-04 17:26] lawmicha opened #108 "iOS code generated files do not compile when 'Relationship name' same as `Related to name`"
**Describe the bug**
When i set the Relationship name the same as the Related to name, the generated iOS code does not compile due to a conflict with the Coding keys and the name of the type

**To Reproduce**
Please see https://github.com/aws-amplify/amplify-ios/issues/1051#issuecomment-773440136 for more details

**Expected behavior**
codegen should generate code that compiles or Admin UI should

[2021-02-04 19:02] kaustavghosh06 commented on #108
@lawmicha Any idea if this is a constraint accross all the platforms (iOS/Android/JS/Flutter)?

[2021-02-05 16:32] lawmicha commented on #108
Hi @kaustavghosh06, no idea, I haven't tried this out and was capturing this from the issue raised on the iOS side

[2021-02-05 23:05] rraczae commented on #84
Still an issue, getting the same with a brand new app

[2021-02-06 06:08] hectorcarrillostrata commented on #84
same issue

[2021-02-06 18:48] peter9378 commented on #84
Same issue on

nodejs 15.8 in Linux
aws-amplify/cli v4.41.2

@kaustavghosh06 I follow up your link, but still got same issue. Looks like definetely bug in here..

[2021-02-07 17:21] igorimgn commented on #32
@dcfranca  was it safe?

[2021-02-07 20:26] dcfranca commented on #32
haven't continued lol

[2021-02-08 09:55] alissaVrk commented on #32
@dcfranca @igorimgn I tried to set up admin UI again and I can't. I get " This app is not valid or was deleted." so if you like the admin UI it doesn't seem like a good solution..

[2021-02-08 15:55] CharlieDigital commented on #32
@mikelhamer

Same here (reporting for visibility).

[2021-02-08 17:03] rraczae commented on #105
@swaminator here is further context. I created an app from scratch and everything went well. Then I change the auth settings (added addition auth as api to user pool) and same thing happened. I believe this has to do something with the graphql authentication.

[2021-02-08 18:19] MaxwellGover opened #111 "Content Tab Doesn't Load Data"
**Describe the bug**

The content tab seems to be stuck fetching items

**Screenshots**

<img width="981" alt="Screen Shot 2021-02-08 at 12 56 54 PM" src="https://user-images.githubusercontent.com/11525891/107261524-6a91ef00-6a0d-11eb-9dda-681c4dbdab07.png">

**Amplify CLI Version (if issue tied to Amplify CLI) **

 - CLI Version: 4.41.2
 - OS: [e.g. Mac/Windows/Ubuntu] Mac
 - Node Version: v14.15

[2021-02-08 19:02] Remdul commented on #111
Having the same issue -- Content is not updating with changes with the associated DynamoDb.

![image](https://user-images.githubusercontent.com/1355456/107268441-20f9d200-6a16-11eb-9073-dfc9c80b5df1.png)

[2021-02-08 19:50] joppehoekstra commented on #84
For me, using Chrome was a good workaround (instead of Safari). Make sure to (temporarily) set your default browser to Chrome and you're good to go.

[2021-02-08 20:07] amypellegrini commented on #32
I have this issue as well with version 4.41.2. I reverted back to version 4.36.2, but now I have this error:

`File project: data should NOT have additional properties: 'frontend-ios'`

[2021-02-10 00:46] jhockett commented on #32
Hi all! We just released version 4.42.0 of the Amplify CLI. After upgrading, you should now be appropriately asked which authentication method you want to use even if the Admin UI is enabled.

[2021-02-10 00:46] #32 closed

[2021-02-10 15:31] lawmicha commented on #108
i believe there is a second bug- https://github.com/aws-amplify/amplify-ios/issues/1051#issuecomment-774424877

`shop: Shop @connection` should be  `shop: Shop @connection(fields: ["shopID"])`

[2021-02-10 18:40] hsspain commented on #81
@Rolando-Barbella Can you provide more details around how you are using the DataStore.query method? We are unable to replicate the issue as stated.

[2021-02-10 20:04] richardmcclellan opened #114 "Broken "Learn what's happening under the hood" Link"
**Describe the bug**
"Learn what's happening under the hood" link doesn't take me anywhere to learn what's happening under the hood.

**To Reproduce**
1. Create a new data model, and click deploy.
2. While deployment is in progress, click "Deploying...".   A dialog is shown with the title "This deployment may take a few minutes. Learn what's happening under the hood".
3. Click "Learn what's happen

[2021-02-10 20:28] richardmcclellan commented on #108
@kaustavghosh06 I just tested, and this is _not_ an issue on Android, though it does go against most style guides to capitalize properties in Java anyway, so I definitely think the default field name should be `camelCase`, not `TitleCase`.

On another note, Android _would_ fail to compile if any field names are all caps, since they would conflict with the static `QueryField` properties, so we shou

[2021-02-10 21:31] evanmcd opened #115 "Enum values not displaying in Content editor select list"
**Describe the bug**
In the list view of the Content editor I see the value for my Enum field, but when in the edit view for a record the value does not display, instead just showing the name of the Enum model.

**To Reproduce**
1. Add a field of type Enum to a model
2. In the Content editor, create a record of that model type, selecting a value for the Enum type field
3. Edit the record
4. Observ

[2021-02-10 21:39] evanmcd opened #116 "Relations not being saved in Content editor"
**Describe the bug**
When adding a relation to a content item in the Content editor, the related item is displayed after selecting it, but is not present in the UI after saving and viewing the record again.

**To Reproduce**
1. Create two models, one with a one-to-many relationship to the other
2. Create a record of the parent model type
3. Use the "Link to an existing..." or "Create and link to a

[2021-02-11 21:35] rraczae commented on #105
Hey, any update here? It's 100% related to authorization. When I use an imported cognito pool it fails, if I let amplify create one it works. Unfortunately I have to connect to an existing pool...

[2021-02-12 19:24] mobicycle-consulting opened #117 "Simple way to connect backend and frontend environments"
The frontend is not connected to the backend.

The site user should go to custom domain, see home page, select log in or register button on website, be directed to authentication.

I am currently trying to connect the two environments manually.

[2021-02-12 20:43] Rolando-Barbella commented on #81
Hi @hsspain, I believe it was a cache problem after changing the field from string to array type

Thank you

[2021-02-12 20:43] #81 closed

[2021-02-15 08:07] gianlucamazzeo commented on #57
same problem

[2021-02-15 21:09] jpalan-amazon commented on #84
I use a mac.  I tried getting the POST payload for http://127.0.0.1:4242/amplifyadmin on Firefox using its developer tools,  it failed with a CORS error.  However, I was able to get the payload successfully using Chrome and its developer tools. Thank you @pwnreza and  @kylekirkby for the tips.

[2021-02-16 12:50] mcqj commented on #57
Same problem still there - any fix?

[2021-02-16 13:49] nickzitzer opened #120 "Import of Data Models"
**Is your feature request related to a problem? Please describe.**
It would be awesome if there was a mechanism to import data models, either from standard DB schema exports or from excel, csv, XML, JSON. It is very slow to make large DB schemas or to migrate from a legacy database.

**Describe the solution you'd like**
Rather than having to use the CLI, it would be awesome to import schema in var

[2021-02-16 13:51] nickzitzer opened #121 "Self-Relationships"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I am unable to create a relationship to the same model. For example, it is common to have parent child relationships of the same model type (i.e. manager for a user)

**Describe the solution you'd like**
A clear and concise description of w

[2021-02-16 21:03] flozada1 commented on #66
![image](https://user-images.githubusercontent.com/62079054/108121169-5df64200-7070-11eb-904c-f1810fc49f86.png)

@hsspain Unfortunately even when you select email as your Sign in method the "Preferred Username" attribute is still added and cannot be removed as seen on the picture.

[2021-02-16 21:14] flozada1 commented on #66
@hsspain even when there is no login mechanism specified the "Preferred Username" is automatically selected and grayed out.

![image](https://user-images.githubusercontent.com/62079054/108122222-f2ad6f80-7071-11eb-9d74-206eac0b23f0.png)

[2021-02-17 15:51] IanTheG opened #122 "Issues logging in to Admin UI after creating backend environment on Amplify"
**Describe the bug**
I am having an issue logging in to the Admin UI after initializing the back end environment for a project in AWS Amplify. The error message briefly says: "There were issues logging in. If this is a new app, please try again after a few minutes." I'm using a free tier AWS account. I tried to log in with my AWS credentials, but have had no luck. If I click "reset password" and e

[2021-02-17 15:52] IanTheG commented on #122
**NOTE**
If I create a new AWS project from scratch, re-upload my front-end, initialize the backend, I can access the Admin UI just fine. I don't know why it wasn't working, maybe a name conflict?

[2021-02-18 16:31] lawmicha opened #123 "Connection missing relationship source"
Please see this screenshot:
https://github.com/aws-amplify/amplify-ios/issues/1051#issuecomment-773440136

The resulting schema should is `shop: Shop @connection` but should be  `shop: Shop @connection(fields: ["shopID"])`

[2021-02-18 18:01] MaxwellGover commented on #64
Tried to configure a new project 100% through the admin UI and getting the same issue. The whole data modeling process in the admin ui has been a pretty big disaster for me for the most part. When I try to create many to many relationships it just defaults back to a one to many relationship and haven't had a successful deploy yet. I try to check the reason but none is provided.

![Screen Shot 2021

[2021-02-19 01:55] vladimirzoyan commented on #111
Experiencing the reverse.. Adding data to admin-ui content .. but doesn't save to dynamodb and can't open the record back up.
![image](https://user-images.githubusercontent.com/929969/108446136-a7d75780-722b-11eb-9017-b67f9560a73f.png)

[2021-02-19 02:00] vladimirzoyan opened #124 "Adding a new record through admin-ui content ui doesn't add to dynamodb"
When adding a new record through admin-ui content, it shows that the record is added in the UI.. but doesn't show it in dynamodb. I'm also not able to open that record to edit it. I get the following error
![image](https://user-images.githubusercontent.com/929969/108446389-08ff2b00-722c-11eb-9ac0-385e772ce147.png)

**Amplify CLI Version (if issue tied to Amplify CLI) **
You can use `amplify -v` to

[2021-02-19 06:21] tuncatunc commented on #84
The reason is BROWSER blocking post request in my case.
I was using Brave Browser, the POST Request to the localhost is blocked by the browser.
I saw it in the browser developer console (F12).

[2021-02-19 06:26] cslogan-red opened #125 "Support managing environments through env cache"
**Is your feature request related to a problem? Please describe.**
I'd love to be able to manage my environments via env cache.

**Describe the solution you'd like**
Management of environments via env cache, as it is the pinnacle of engineering.

**Describe alternatives you've considered**
There are no alternatives to env cache.

**Additional context**
@swaminator knows what I'm talking about. 😉

[2021-02-19 06:52] swaminator commented on #114
Fixed

[2021-02-19 06:52] #114 closed

[2021-02-20 06:27] swaminator commented on #125
@cslogan-red we will work on that right after we're done with https://github.com/aws-amplify/amplify-adminui/labels/data-manage ;)

[2021-02-20 14:31] marenero1974 opened #127 "Admin UI fails updating a table when saving and deploying"
Hi,
i have a problem related to amplify admin ui, that doesn't permit me to update a table already created, i want to change the model of a dynamodb table.
In the home of amplify admin ui after saving and deployng my changes it says:

Update API | 20/2/2021, 15:21:44 | FAILED

What should be the problem?

Thanks

[2021-02-21 20:15] #127 closed

[2021-02-21 20:19] marenero1974 opened #128 "Admin UI does not save and deploy changes"
Hi,
i have a problem related to amplify admin ui, that doesn't permit me to update a table already created, i want to change the model of a dynamodb table.
In the home of amplify admin ui after saving and deployng my changes it says:

Update API | 20/2/2021, 15:21:44 | FAILED

@swaminator  What should be the problem?

Thanks

[2021-02-23 14:20] tmgshashi opened #129 "MySQL DB upload to AWS"
I want to upload mysql db backup to AWS

[2021-02-23 21:12] swaminator commented on #129
@tmgshashi can you explain your scenario more? How would you like to use Amplify?

[2021-02-23 22:15] #125 closed

[2021-02-23 22:17] swaminator commented on #117
@mobicycle-consulting there should be an 'Edit' button in the Amplify console where you can connect the FE and BE. Do you not see it?

[2021-02-23 22:33] mobicycle-consulting commented on #117
The site user should go to the custom domain, see the home page, select either the "log in" or "register" button on the home page, and be directed to authentication.

I do not see how an "Edit" button relates to my request.

[2021-02-23 23:06] rexwreyes opened #130 "Content created in the front end doesn't show up in the Content tab"
I did the AWS Amplify tutorial that has you create a to-do app.  I created to-do's on the front-end through the ui i made with React.  They are saved and in the database.  When  I got the Admin UI and click Manage Content, nothing shows up.   It simply looks like Admin UI is not connecting to the database.

[2021-02-24 01:14] swaminator commented on #130
@rexwreyes are you using GraphQL API or Datastore?

[2021-02-24 01:42] tmgshashi commented on #129
Frankly I dont know what Amplify is . My requirement is to use AWS for my mobile based app and services for the business. I want to upload the backup of MySQL DB to AWS and restore it there. How to go about this?

[2021-02-24 08:25] marenero1974 commented on #128
i've been stuck on this for days, i think i'll abandon aws, and amplify if no one helps me

[2021-02-24 19:31] swaminator commented on #128
@marenero1974 sorry to hear. We would like to solve this for you asap. Can you share your appID? (In amplify console , Settings > General)

[2021-02-24 19:40] harshita91 commented on #129
Hi @tmgshashi, could you please share your email or email aws-amplify-customer@amazon.com, so we can better understand what you are trying to do and help you out with a solution?

[2021-02-24 22:13] marenero1974 commented on #128
my app id is d2xqdldgt3zgkl

[2021-02-24 23:04] swaminator commented on #38
Fixed.

[2021-02-24 23:04] #38 closed

[2021-02-25 16:28] kliess commented on #130
The same for me, I tried the AWS amplify tutorial (https://docs.amplify.aws/start/getting-started/setup/q/integration/ios) for the ToDo App (iOS Version). The Tutorial itself works, I can store entries in the DynamoDB table and see the entries there (access via the Admin UI / GraphQL API / amplifyDatasource / DataSources /  Resource) But I can not see the entries in the Admin UI under Manage / Con

[2021-02-26 01:06] tjsheppard commented on #57
Select app under '_All apps_' > Select '_Backend environments_' > Select '_Get Started_'.

[2021-02-26 01:22] pnewhook commented on #57
@swaminator any feedback on users with "manage only" running into this bug. Seems like that role just doesn't work.

[2021-02-26 02:34] rmaalouf commented on #23
Disabling Admin UI from the console deletes the resources.

If the app is deleted (either in the Amplify console or with `amplify delete`) without first disabling Admin UI the resources aren't cleaned up.

[2021-02-26 10:58] nmalancea opened #131 "Model disappeared from Amplify UI"
I don't remember touching anything but today when I opened Amplify UI a model I created a week or two ago has just disappeared, together with the associated DynamoDB table.

Thankfully the app is in early development with less than 10 internal users but this could be a true problem later on.

Is there a way to see a history of changes and revert to an earlier version?

I plan to push up the local

[2021-02-26 14:24] nmalancea commented on #131
Pushing from local did restore the model and its DynamoDB table.

[2021-02-26 17:43] gilvaju commented on #4
Same issue here. :(

[2021-02-26 20:34] rexwreyes commented on #130
@swaminator GraphQL API

[2021-02-27 05:54] gitzhouxinyu1 opened #132 "Content tab doesn't load the data (show 'Loading' forever)"
**Describe the bug**
Click the Content tab on the left, and the right side only show "loading" (waited for at least several minutes)

**To Reproduce**
Click the Content tab on the left, and the right side only show "loading"

**Expected behavior**
the right side should show the table

**Screenshots**
<img width="558" alt="Screen Shot 2021-02-26 at 9 50 13 PM" src="https://user-images.githubusercon

[2021-02-28 09:58] clarkfwhite commented on #132
I'm experiencing the same issue, while trying with two different tables.

- CLI Version: 4.44.2
- OS: Ubuntu
- Node Version: 14.4.0
- Browser type (e.g. Google Chrome/ Firefox): Chrome

Thanks.

[2021-03-01 05:47] ranawaqartufail commented on #132
There was an error loading your data.

[2021-03-01 18:04] swaminator commented on #131
@nmalancea are you sure you were looking at the correct region? That should never happen so we'd like to see what's going on.

[2021-03-01 19:00] hsspain commented on #57
We have been unable to reproduce this issue, but have added additional messaging to the error screen to help further root cause this behavior.

Can you please retry logging and and let us know if there is any additional information you can supply to help us to fix this for you?

[2021-03-01 19:07] pnewhook commented on #57
@hsspain  I would be happy to add you to our test environment to demonstrate the bug.
App id d9b4w606pj1v2
environment: test
![image](https://user-images.githubusercontent.com/92876/109545622-153e8000-7a97-11eb-80bf-124d1d01b639.png)

[2021-03-01 19:52] hsspain commented on #57
@pnewhook Thank you for adding your screenshot.  Was this taken today?

[2021-03-01 19:58] pnewhook commented on #57
@hsspain Yes, just a minute of two before I added the comment.

[2021-03-01 20:04] hsspain commented on #128
@marenero1974 Can you share the schema that you currently have and the schema you are attempting to update to?

[2021-03-01 21:01] hsspain commented on #64
@MaxwellGover Can you please provide your appId and region so we can work to find a root cause for you?  (In amplify console, Settings > General)

[2021-03-01 21:36] swaminator commented on #12
@chrisjordanme @zwx00 @asilarslan @RossWilliams @Nxtra @amlcodes  could you all give the content management a shot? We released several bugfixes to improve stability and performance.

[2021-03-02 08:59] marenero1974 commented on #128
My schema is a simple table, all fields are string, except for 4 boolean fields. there is also the table ID as the primary key, there is no sort key, when i try to simply change the name of one column or just add a string column, it fails saving and deploying. The message resulting in the home of amplify UI admin, after saving and deploying is :

Update API | 2/3/2021, 09:55:23 | FAILED
-- | -- |

[2021-03-02 09:01] ahmedabdelhafez opened #133 "Amplify content: no data loading or appears"
when click on the content button to add content to table this error appears
![image](https://user-images.githubusercontent.com/25756993/109624133-8426e200-7b46-11eb-8017-6ec8f2a53852.png)

[2021-03-02 21:31] mcmspark commented on #132
I found from rebuilding my schema, that if I build my scheme from the amplify client, this content editor never works.

If instead I build my same schema using the amplify admin web app the content editor works!!

To prove it, build a new Amplify app, add API to it and build the schema Ian the web ui.
Then check to be sure you can edit the content in the Admin app.

amplify pull
Use the Amplify CL

[2021-03-02 22:59] #129 closed

[2021-03-02 22:59] swaminator commented on #133
What's in your browser console logs when this error occurs? @ahmedabdelhafez

[2021-03-02 23:01] swaminator commented on #41
@kaman1 @ssergienko @ben-u @valerii15298 could you please give it a shot again? We released several improvements.

[2021-03-02 23:42] ahmedabdelhafez commented on #133
This is the console log values
[image: image.png]

On Wed, Mar 3, 2021 at 1:00 AM Nikhil Swaminathan <notifications@github.com>
wrote:

[2021-03-02 23:56] swaminator commented on #132
@mcmspark we have a fix in the CLI waiting to be merged to solve the issue you're seeing: https://github.com/aws-amplify/amplify-cli/pull/6771.

In the interim, a workaround would be to trigger another deployment through the Admin UI.

[2021-03-03 01:05] watilde opened #134 "Cannot finish amplify configure and stack at login page"
**Describe the bug**
When I pull a backend setup by Admin UI, that shows a login page and makes an error when proceed. The error message was “Failed to communicate with the Amplify CLI”.

**To Reproduce**
1. Finish tutorial on https://sandbox.amplifyapp.com/start#datastore
2. Login AWS management console
3. Move to Admin UI
4. Enable Auth from Admin UI
5. Run displayed amplify pull
6. Open browser

[2021-03-03 01:14] watilde commented on #84
I opened new issue at https://github.com/aws-amplify/amplify-adminui/issues/134 with detail as this issue seems to be still existing.

[2021-03-03 01:26] watilde commented on #134
In addition, the POST request worked on macOS
<img width="1209" alt="Screen Shot 2021-03-03 at 10 25 42" src="https://user-images.githubusercontent.com/1716463/109738255-d6c9d200-7c0a-11eb-9d3a-9e4a349a596a.png">

[2021-03-03 10:01] me-sleepy commented on #57
same problem

[2021-03-03 14:13] FrankHuxol commented on #41
It is still not working for me. However, the behaviour changed a bit for me. Previously, the GUI was just showing "Fetching Items" and never returned. Now I am at least getting a response:
`There was an error loading your data.
Content capabilities are still in beta. We’d love to address this issue. Please provide your console log and other details here.`

Within my console, this is logged:

`POST

[2021-03-03 19:37] #134 closed

[2021-03-04 09:32] ahmedabdelhafez commented on #133
any updates please

On Wed, Mar 3, 2021 at 1:42 AM ahmed abdelhafez <messi10010@gmail.com>
wrote:

[2021-03-04 15:39] iuyt9003 commented on #32
Same issue still happend, while I am in 4.42.0 so it's not working! @jhockett
![image](https://user-images.githubusercontent.com/23431551/109988785-8b99e700-7d10-11eb-908c-4a28402b48d7.png)

[2021-03-04 17:15] jhockett commented on #32
@iuyt9003 can you provide more context? What command did you use? Do you still see the error if you upgrade to the latest version of Amplify CLI?

[2021-03-05 00:34] catherine-augustine commented on #45
I see just the message 'Deployment failed' No reason why. I just created a simple table with two columns

![image](https://user-images.githubusercontent.com/67876056/110049712-67460680-7d20-11eb-9a38-984a3c9a368e.png)

![Uploading image.png…]()

[2021-03-05 06:07] computerwizjared commented on #12
@swaminator I encountered the same issue just today:
![image](https://user-images.githubusercontent.com/2905521/110074421-cfa7de80-7d46-11eb-8979-7d1c837d94dc.png)

[2021-03-05 06:34] computerwizjared commented on #12
Update: I figured out that this occurs when I have my schema separated out into individual files in the `amplify/backend/api/{apiName}/schema/` directory. When I combine them back into a single `schema.graphql` file and delete the `schema` directory, it starts working again. This is a supported configuration for the schema files, as noted on the page here: https://docs.amplify.aws/cli/graphql-tran

[2021-03-05 15:14] Oriole-Alex opened #136 "Admin UI Authentication and Cognito User Pool Relationship"
I can't understand the relationship between the Admin UI Authentication panel and Cognito.

When updating the 'Data' section in Admin UI from API key to Cognito User Pool I expected all management of authentication to be handled solely from Cognito - however Admin UI's Authentication screen retains the same authentication view/options as before. It doesn't give any indication of what Cognito User

[2021-03-05 16:36] rexwreyes opened #137 "Manage Content does not save boolean fields"
**Describe the bug**
When using Manage Content with a model that has a boolean field in it a switch appears where you can choose true or false.  While you can change it to true and Save, it does not appear to change it in the database

On another note, glad to see this Manage Content section working at all!

[2021-03-05 16:36] rexwreyes commented on #137
<img width="856" alt="Screen Shot 2021-03-05 at 8 33 25 AM" src="https://user-images.githubusercontent.com/38086223/110145073-e45b9500-7d8d-11eb-84be-407cf199852f.png">

[2021-03-05 21:16] calmworld opened #138 "AWS Amplify Admin UI LogIn"
**Which Specific Feature is your question related to?**
AWS Amplify Admin UI LogIn

**Provide additional details e.g. code snippets**
When I enter my username and password I get an error message.
When I reset the password I don't receive anything in my email to reset my password.
<img width="445" alt="Screen Shot 2021-03-05 at 2 15 41 PM" src="https://user-images.githubusercontent.com/67406260/110

[2021-03-05 21:22] osvaldoln commented on #133
I having the same problem. my client and admin cant connect to the backend.

[2021-03-06 02:39] sadrataban commented on #133
Having the same problem. loading takes forever.

[2021-03-07 18:59] kymmeh opened #139 "Unable to create new model through admin UI"
**Describe the bug**
I've tried to create a new Model via the Data Modelling screen but receive the message "Deployment failed". This has previously worked with no issue.

**To Reproduce**

- Click Add > Add model
- Enter name of model "Email"
- Click "Save and deploy"
- Returns to Data Modelling screen, the Email model does not exist and top right I see the message "Deployment Failed"

**Expected

[2021-03-08 03:16] mvescovo opened #140 "How to create GraphQL Interfaces on AWS Amplify?"
**Which Specific Feature is your question related to?**
AWS Amplify

**Provide additional details e.g. code snippets**
How would I create the example of an Event Interface where there is different types of events?
https://docs.aws.amazon.com/appsync/latest/devguide/interfaces-and-unions.html

[2021-03-08 21:17] ianmartorell opened #141 "Content errors out while loading"
**Describe the bug**

The Content page displays an error after a few seconds of loading. There is data in the Dynamo tables my AppSync API is connected to.

**To Reproduce**

Visit the Content page and wait for it to error out.

**Expected behavior**

My app data should load

**Screenshots**

![Captura de Pantalla 2021-03-08 a les 22 13 51](https://user-images.githubusercontent.com/318800/11038298

[2021-03-09 11:14] SalahAdDin commented on #57
I'm getting the same problem now.

[2021-03-09 11:16] MichaelDM commented on #141
My issue doesn't show an error but I'm pretty sure it is related, as I get the loading icon that spins without getting resolved or showing an error.
I cleared cache, data is working fine in app and I can retrieve the content making queries in Appsync too.
The data is also super simple, only one table with a couple of fields (beg. of project).

<img width="1755" alt="Screen Shot 2021-03-09 at 12 15

[2021-03-09 20:53] abhi7cr commented on #76
Hi, @lebull.

Sorry for the delayed response. Could you outline the steps to reproduce this, if possible? That would give us a definitive way to identify the underlying issue.

[2021-03-10 04:59] swaminator commented on #139
@kymmeh what's the error message you get in that popover?

[2021-03-10 04:59] swaminator commented on #138
@calmworld can you share your app ID?

[2021-03-10 05:00] swaminator commented on #133
Please refer to https://github.com/aws-amplify/amplify-adminui/issues/141#issuecomment-794271050. We will be rolling out a fix soon.

[2021-03-10 20:07] lawmicha commented on #70
Hi @9037568, which page does Admin UI allow us to enter data like you have shown there?

[2021-03-11 07:14] jdanthinne commented on #70
@lawmicha Admin UI > Manage > Content, and create any new content containing an AWSDateTime field.

[2021-03-11 17:40] lawmicha commented on #70
Thanks @jdanthinne, I was able to reproduce this from the Admin UI. On iOS, we currently support and not support the following formats for deserialization. See https://github.com/aws-amplify/amplify-ios/issues/1048#issuecomment-774313644 for more details
[code]

This does not include the investigation on formats for AWSDate/ AWSTime/ on iOS and on other platforms such as Android/Flutter. It is a p

[2021-03-11 18:35] swaminator commented on #7
@alissaVrk we now surface a message saying that you need to enable Datastore in order to use the CMS.

[2021-03-11 18:35] #7 closed

[2021-03-11 18:40] jdanthinne commented on #70
Yes, either the Admin UI should add the seconds input, or iOS support dates without seconds, because right now, I'm stuck 😕. Btw, the ticket you're mentioning is mine too…

[2021-03-11 18:45] swaminator commented on #59
@Huetarded @vladimirzoyan @tsilicani @bryanberger @DarthOstrich can you please try again? We just released a number of fixes.

[2021-03-11 18:51] swaminator commented on #80
@Rolando-Barbella we fixed the issue.

[2021-03-11 18:51] #80 closed

[2021-03-11 18:52] swaminator commented on #85
@cchamikara @ayhoung @ssergienko @jzingh98 we fixed a number of issues. Are you still facing the same?

[2021-03-11 18:53] swaminator commented on #107
@xandfury this should be fixed. Can you confirm?

[2021-03-11 18:54] swaminator commented on #124
@vladimirzoyan this shoudl be fixed. Can you try again?

[2021-03-11 18:59] Huetarded commented on #59
@swaminator It appears to still be broken for me.

Since originally posting above I have stopped working on this instance of the project and went back to the old way (without AdminUI) so that I could keep moving forward comfortably. That said, my data models are all still exactly like they were above, and I am still having issues loading the content within the AdminUI.

Here is my console output i

[2021-03-11 21:00] kymmeh commented on #139
@swaminator there is no error message in the popover. What other details can I provide? As this is blocking me from continuing with any work.

![deployment-failed-no-message](https://user-images.githubusercontent.com/4497920/110850606-e058d700-82a7-11eb-9f7a-31f46d23d962.jpg)

[2021-03-11 21:23] Rolando-Barbella commented on #80
Nice one, thanks!

[2021-03-11 21:25] swaminator commented on #139
@kymmeh can you share your appid?

[2021-03-11 21:28] kymmeh commented on #139
@swaminator please see the updated image above

[2021-03-11 22:33] abhi7cr commented on #139
hi @kymmeh ,

It fails with the following error:
`Packaging lambda failed function failed. Could not find npm executable in the PATH`

Do you have an invalid lamba function that is still referenced in your config file. Similar issue:

https://github.com/aws-amplify/amplify-console/issues/1499#issuecomment-779264793

[2021-03-12 19:31] hectoremilio1000 opened #142 "bug data content"
**Describe the bug**
message: There was an error loading your data.
Content capabilities are still in beta. We’d love to address this issue. Please provide your console log and other details here.

**To Reproduce**
data content
**Expected behavior**
view data

**Screenshots**
<img width="1440" alt="Screen Shot 2021-03-12 at 13 16 21" src="https://user-images.githubusercontent.com/42488666/11098772

[2021-03-13 00:31] kaustavghosh06 commented on #104
@tkang We made a change in the CLI with CLI v4.45.0+ which deploys models to the cloud on a push (when modifying schema from the CLI) for the Data Manage page to consume. Could you give it a try with the latest version of the CLI and let us know if you're still stuck?

[2021-03-13 00:53] #104 closed

[2021-03-13 00:53] #131 closed

[2021-03-13 00:55] kaustavghosh06 commented on #132
The fix in the CLI is released with v 4.45.0+. Please install the latest version of the CLI -> make a change to the schema -> push -> Manage Data in Admin UI. Please let us know if you're still stuck on this.

[2021-03-13 00:55] #132 closed

[2021-03-14 15:14] kymmeh commented on #139
Thanks @abhi7cr. It was definitely lambda related. I ended up having to do an `amplify push --force` as there were issues when pushing otherwise. It would be helpful to expose an error in the popover in future. Thanks.

[2021-03-15 11:07] xandfury commented on #107
@swaminator Hey. Sorry, I moved to a different solution. Should be fix if you guys say so :slightly_smiling_face: Closing issue. Thanks!

[2021-03-15 11:07] #107 closed

[2021-03-15 13:20] lebull commented on #76
I cannot, I fixed this issue by not using Amplify.  If I try again and see this, I will reopen, but even if I dug into the config to pull out what was generated, the CLI version would be many versions out of date.  I hope this was resolved in one of those version updates.

[2021-03-15 13:20] #76 closed

[2021-03-15 13:24] lebull commented on #66
@hsspain There is quite definitely a difference in what a "username" versus a "preferred username" is and what it is for.

[2021-03-15 19:01] hsspain commented on #142
@hectoremilio1000 This issue should now be resolved. I am going to close this ticket, but feel free to re-open if you continue to encounter issues.

[2021-03-15 19:01] #142 closed

[2021-03-15 19:03] hsspain commented on #141
These issues should now be resolved. Some scenarios currently require a re-deployment from Admin UI to enable content management through the UI. You should be prompted to do so now.

I am going to close this ticket, but feel free to re-open if you continue to encounter issues.

[2021-03-15 19:03] hsspain commented on #137
This issue should now be resolved. I am going to close this ticket, but feel free to re-open if you continue to encounter issues.

[2021-03-15 19:03] #137 closed

[2021-03-15 19:03] hsspain commented on #133
This issue should now be resolved. I am going to close this ticket, but feel free to re-open if you continue to encounter issues.

[2021-03-15 19:03] #133 closed

[2021-03-15 19:04] hsspain commented on #130
This issue should now be resolved. The Admin UI may prompt for an additional deployment through the UI to enable content management.

I am going to close this ticket, but feel free to re-open if you continue to encounter issues.

[2021-03-15 19:04] #130 closed

[2021-03-15 19:05] hsspain commented on #116
This issue should now be resolved. I am going to close this ticket, but feel free to re-open if you continue to encounter issues.

[2021-03-15 19:05] #116 closed

[2021-03-15 19:06] hsspain commented on #115
This issue should now be resolved. I am going to close this ticket, but feel free to re-open if you continue to encounter issues.

[2021-03-15 19:06] #115 closed

[2021-03-15 19:06] hsspain commented on #85
This issue should now be resolved. I am going to close this ticket, but feel free to re-open if you continue to encounter issues.

[2021-03-15 19:06] #85 closed

[2021-03-15 19:07] hsspain commented on #89
This issue should now be resolved. I am going to close this ticket, but feel free to re-open if you continue to encounter issues.

[2021-03-15 19:07] #89 closed

[2021-03-15 19:08] hsspain commented on #68
This issue should now be resolved. I am going to close this ticket, but feel free to re-open if you continue to encounter issues.

[2021-03-15 19:08] #68 closed

[2021-03-15 19:09] hsspain commented on #91
This issue should now be resolved.

[2021-03-15 19:09] #91 closed

[2021-03-15 19:10] hsspain commented on #41
This issue should now be resolved. I am going to close this ticket, but feel free to re-open if you continue to encounter issues.

[2021-03-15 19:10] #41 closed

[2021-03-15 22:59] hsspain commented on #140
You will be able to find the basics for creating GraphQL schemas here:

https://docs.amplify.aws/console/data/data-model#data-modeling-example

[2021-03-15 22:59] #140 closed

[2021-03-15 23:01] hsspain commented on #128
@marenero1974 Can you also provide your region so we can help you resolve this issue?

[2021-03-15 23:02] hsspain commented on #117
@mobicycle-consulting The "Edit" button is in the Amplify Console where you can make these changes.

[2021-03-15 23:03] hsspain commented on #111
This issue should be resolved.  Feel free to re-open if you continue to have issues.

[2021-03-15 23:03] #111 closed

[2021-03-15 23:20] marenero1974 commented on #128
@hsspain eu-west-2

[2021-03-15 23:37] hsspain commented on #128
@marenero1974 Can you please retry your deployment?   We have made some changes recently which may have resolved your issue.

[2021-03-16 00:05] marenero1974 commented on #128
just retried but same problem

[2021-03-16 00:56] yangzhou1 opened #143 "Authentication Error"
My project worked well before, and it started to have auth error issue since yesterday, the only change I made was that I just added some data model, but I don't think that would cause the auth error, my project could normally run before, my app.js code is:
import React from 'react';
import { withAuthenticator, AmplifySignOut} from 'aws-amplify-react-native';
import {Amplify,  Auth } from 'aws-amp

[2021-03-16 00:57] yangzhou1 commented on #143
and if I run it by web not by IOS, it is all good.

[2021-03-16 15:56] MachariaK commented on #139
Facing the same issue over here. The app ID is d3sae2wxcz5uzl.

[2021-03-16 17:13] MachariaK commented on #64
I am experiencing the same.

[2021-03-16 20:04] constantineh commented on #84
Worked like a charm for me as well.

[2021-03-16 20:26] swaminator commented on #142
@hectoremilio1000 can you check to see if it's working?

[2021-03-16 20:26] swaminator commented on #141
@MichaelDM @ianmartorell @evanmcd can you check again?

[2021-03-16 20:27] swaminator commented on #133
@sadrataban @osvaldoln @ahmedabdelhafez can you please verify?

[2021-03-16 20:29] swaminator commented on #12
@Nxtra @RossWilliams @chrisjordanme @amlcodes can you please verify that the CMS works for you?

[2021-03-16 20:30] swaminator commented on #59
@Huetarded maybe the fixes had not rolled out to your region. Any way you can check again? We just pushed many more fixes.

[2021-03-16 20:31] swaminator commented on #74
@marenero1974 @patstahl @alexchen2231 @ghershko3 your issues should be solved. Could you please verify?

[2021-03-16 20:31] swaminator commented on #74
@hatimmakki you have something strange going on with your backend.

[2021-03-16 20:44] ianmartorell commented on #141
The tables I created more recently are now loading perfectly, but another older table is giving a different error now. This seems like it might be a different issue though:

![Screenshot 2021-03-16 at 19 26 25](https://user-images.githubusercontent.com/318800/111377235-b38a3280-86a0-11eb-91cc-1de4f696c3a3.png)

[2021-03-16 20:47] MichaelDM commented on #141
@ianmartorell, it has evolved; however now I get an error

<img width="1723" alt="Screen Shot 2021-03-16 at 9 46 32 PM" src="https://user-images.githubusercontent.com/12537128/111377623-28f60300-86a1-11eb-8cf8-c234e8285d2e.png">

[2021-03-16 20:50] Huetarded commented on #59
Nope, the same issue for me. However, I can see additional tracing in the console which I didn't include here because it shows app-specific ID's, endpoints, and such...but I would think that means I am seeing the latest updates.

Thank you guys for continuing to look into this. I've done quite a few Amplify projects over the past year (and many more upcoming) and I was very excited to learn about

[2021-03-16 20:55] hsspain commented on #141
@ianmartorell It looks like a change was made to your schema which makes the content in that table invalid.

One way that could happen is if you add a required field to a model, that required field will not have any content in it in existing records.

[2021-03-16 21:20] swaminator commented on #141
@MichaelDM can you chat on our Discord server: https://discord.gg/

cc @hsspain

[2021-03-16 21:21] swaminator commented on #59
@Huetarded can you hop on our Discord server: https://discord.gg/b8Drhs8w

You can DM me there at-swaminator. cc @hsspain

[2021-03-16 21:42] abhi7cr commented on #139
@MachariaK  could you share your `amplify/backend/auth/<resourcename>/parameters.json` file ? We are trying to identify where exactly in the code its failing.

[2021-03-16 21:45] hsspain commented on #143
@yangzhou1 Can you share the error you are seeing along with your appId and region?

[2021-03-16 22:10] hsspain commented on #128
@marenero1974  Can you provide your auth parameters file found at ```amplify/backend/auth/<resourcename>/parameters.json``` in your amplify project?

Feel free to email us at aws-amplify-customer@amazon.com if you would like to keep the information private.

[2021-03-16 22:15] yangzhou1 commented on #143
![441615932728_ pic_hd](https://user-images.githubusercontent.com/31552949/111386987-48be0480-866a-11eb-933d-2828ed216b97.jpg)
![451615932812_ pic_hd](https://user-images.githubusercontent.com/31552949/111386991-49ef3180-866a-11eb-9903-659cdbd25be8.jpg)
![461615932837_ pic_hd](https://user-images.githubusercontent.com/31552949/111386995-4b205e80-866a-11eb-9623-b8bc6deb8070.jpg)

appId d2zhv5ota9sf

[2021-03-16 22:27] hsspain commented on #143
This looks to be an issue specific to your iOS configuration.

You can take a look here: https://github.com/aws-amplify/aws-sdk-ios/issues to see if you can find a resolution to that issue.

[2021-03-16 22:30] yangzhou1 commented on #143
I just found web simulator also has the same issue, and I am just wondering I didn't modify anything except data model, it worked properly before, I just got this issue from 2 days ago

[2021-03-16 23:16] marenero1974 commented on #74
solved for me

[2021-03-16 23:17] marenero1974 commented on #128
@hsspain i have an empty directory under amplify/backend/auth/

[2021-03-16 23:19] ianmartorell commented on #141
You're right! But I didn't modify this model's schema, it seems Amplify automatically added a required `_lastChangedAt` field when I added another model, and this column isn't present in the underlying DynamoDB table. I can't just add the column because I'd need to populate its value for each item. Do you know what I should do to resolve the situation?

[2021-03-16 23:45] evanmcd commented on #141
@swaminator I now get this screen. Went and deployed the data model but it failed. Let me know where to go to get a log I can send if needed.

![CleanShot 2021-03-16 at 19 43 38](https://user-images.githubusercontent.com/100061/111393963-25a64b80-8690-11eb-8312-a71c44700f78.png)

[2021-03-17 00:05] MachariaK commented on #139
{
    "identityPoolName": "mockbets_identitypool_d1759f73",
    "allowUnauthenticatedIdentities": true,
    "authSelections": "identityPoolOnly",
    "resourceName": "cognito57d6e6f9",
    "authRoleArn": {
        "Fn::GetAtt": [
            "AuthRole",
            "Arn"
        ]
    },
    "unauthRoleArn": {
        "Fn::GetAtt": [
            "UnauthRole",
            "Arn"
        ]
    }
}

[2021-03-17 00:14] sadrataban commented on #133
The issue is now resolved. However, for some tables, some columns are missing. I'm not sure if it's related to this issue though.

[2021-03-17 00:25] kaustavghosh06 commented on #128
@marenero1974 Did you configure the auth resource from the CLI and then remove it using the CLI or Admin UI?

[2021-03-17 00:47] lukaswelte commented on #141
My UI errors out as well.
![image](https://user-images.githubusercontent.com/868286/111397869-99614c00-86c2-11eb-8adb-6ce1b308424d.png)

I disabled the subscriptions on many data types. Could it be due to that?
Is there a page what the requirements are that the UI should work?

The console logs are:

[code]

[2021-03-17 01:28] kaustavghosh06 commented on #139
@MachariaK How did you configure this auth resource?

[2021-03-17 02:22] MachariaK commented on #139
When I add auth, I get a response that auth has already been configured but I don't actually add auth.

[2021-03-17 02:24] kaustavghosh06 commented on #139
@MachariaK Did you add it via the CLI. It would've auto-added an identity pool auth resource if you added categories like storage or analytics.

[2021-03-17 02:32] jermainebjones opened #144 "Configure sign up not displaying the UI changes I made."
**Which Specific Feature is your question related to?**

I logged into Admin UI to go to Authentication and Configure the Sign Up to include Address, Family Name, Middle Name, etc. I follow the steps and conduct an amplify pull and I don't see the UI changes when I try  to register a new user with the additional attributes. It has the same default attributes (username, password, email, phone numbe

[2021-03-17 03:07] MachariaK commented on #139
I followed the setup as outlined [here](https://docs.amplify.aws/start/getting-started/add-api/q/integration/flutter#setup-aws-cloud-resources-with-amplify-cli) thereby adding analytics before auth. I have reconfigured auth and it's now working.

[2021-03-17 06:16] fangzhouli commented on #141
Same situation as Lukas.

[2021-03-17 06:50] me-sleepy commented on #57
**UPDATE**: I was facing the same issue, but it got automatically fixed for me.
I believe in my case my account was not setup entirely. Remember the first time payment that you make for using AWS and get refunded after some time ? Wait until you get the refund that makes sure that your account is setup entirely. I tried after it and it worked :)

If you are an old user and suddenly facing this iss

[2021-03-17 07:16] SalahAdDin commented on #57
In my case I deleted the _amplify_ user pool at **Cognito**, so i lost the access to my application. Deleting and reinitializing it solved my problem.

[2021-03-17 08:21] marenero1974 commented on #128
@kaustavghosh06 yes i created auth before and then i don't remember to have removed auth after.  What i see is that there is the auth folder and even when i look in the properties under amplify on the AdminUI about my environment i see that authentication and api remains stuck, and don't present any data like in the following picture:

![image](https://user-images.githubusercontent.com/23382393/11

[2021-03-17 15:36] ahmedabdelhafez commented on #133
it's not working for me i will try to delete and recreate the tables with
relationships and replay again

On Wed, Mar 17, 2021 at 2:14 AM Sadra Taban ***@***.***>
wrote:

[2021-03-18 00:01] jinchenxiangdan opened #145 "IOS simulator cannot connect to development server."
**Which Specific Feature is your question related to?**

I tried to pull the frontend code from Github and `amplify pull` the deployment from the admin UI, but after I ran `yarn start`, it shows the cannot connect to the development server, the screenshot is shown below:

![image](https://user-images.githubusercontent.com/18094294/111553261-395dba80-8741-11eb-8b06-84ee82879f54.png)
And at the same

[2021-03-18 08:21] ianmartorell commented on #141
For the record, my issue was introduced by enabling DataStore. It seems DataStore and GraphQL don't work well together? Even with the tables that I created after enabling DataStore, updating elements through GraphQL was not working at all (even through AppSync's GraphiQl interface) until I disabled DataStore. 🤷🏼‍♂️

[2021-03-18 17:05] swaminator commented on #141
@fangzhouli can you share your appid or console logs?

[2021-03-18 17:17] fangzhouli commented on #141
@swaminator Yes, here the console log is, very similar to Lucas':
`455.3093504c.chunk.js:2 i18next: languageChanged en-US
455.3093504c.chunk.js:2 i18next: initialized
Object
455.3093504c.chunk.js:2 i18next::translator: key "schemaDesign.inputError.empty" for languages "en-US, en" won't get resolved as namespace "translation" was not yet loaded This means something IS WRONG in your setup. You acces

[2021-03-18 17:33] Lorenzohidalgo opened #146 "DataStore Content does not update"
**Which Specific Feature is your question related to?**
The content section of the AdminUI does not update with the new data. But i can access the stored data via querys. Is there some type of delay? Am I forgetting any steps?

**Provide additional details e.g. code snippets**
Developing with Flutter, AmplifyAPI added as Plugin while configuring.

[2021-03-18 23:44] hsspain commented on #146
@Lorenzohidalgo I am sorry that this isn't working for you. Can you share your schema, app ID and region?

Are you able to see any data and not just updated data? The Content section will show that data that exists on load and you will need to refresh to see data that has been added outside of the Admin UI since the last time navigating to Content.

[2021-03-18 23:47] hsspain commented on #144
@jermainebjones Can you provide a screenshot of your Admin UI Authentication tab and your Register/Create Account screens?

[2021-03-19 00:33] Lokdex commented on #138
I am also experiencing this problem. I am trying to set up a backend following AWS docs. After executing the amplify pull command, a browser window opens, I input my username and password and it says "incorrect user or password", and if I input  my email and password it loads for a long while and it then just says network error.

[2021-03-19 08:29] AlKamva98 commented on #45
I'm having the same issue, is there a way to see logs in Amplify UI? So that I can troubleshoot the issue.

[2021-03-19 12:28] ParthipanThangaraju opened #147 "DataStore Content does not update when trying to update data from Flutter app"
I can able to update the data and I can fetch it. But the content cannot be visible in the admin UI. "There was an error loading your data. Content capabilities are still in beta". The region is AP_SOUTH_1

[2021-03-19 14:39] abhi7cr commented on #45
Thanks for reporting @AlKamva98 @catherine-augustine. We are actively working to surface logs   for Admin UI. Meanwhile, could you share your appIds? I can take a look on our side.

[2021-03-19 20:57] catherine-augustine commented on #45
I had to delete the app and create a new one. I am seeing CORS error for the calls I make to the API gateway. d4bwlb56ti3or is the appID

[2021-03-20 03:05] jermainebjones commented on #144
Here are my screenshots:

On Thu, Mar 18, 2021 at 7:47 PM hsspain ***@***.***> wrote:

--
Jermaine B. Jones

[2021-03-20 06:00] mikelhamer opened #662 "Cannot add container based REST api with AdministratorAccess-Amplify policy"
### Before opening, please confirm:

- [x] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consistently repr

[2021-03-20 17:00] jboden commented on #84
This problem can also appear if a different process is already listening on 127.0.0.1:4242 locally. This is true for example for components of Juniper VPNs (https://www.file.net/process/dsncservice.exe.html). To work around the issue, those processes need to be killed (use "netstat -a -b" on Windows to find which ones they are).

It would be great if port 4242 could be configured in Amplify CLI (t

[2021-03-20 19:02] DanielZanchi commented on #138
Same problem for me. Can't login there :(

[2021-03-20 19:03] DanielZanchi commented on #138
This is my appID: drsld6u3nsm47
But i tried even creating another appID, same thing

[2021-03-20 23:46] Lokdex commented on #138
I actually just got it fixed yesterday. I was using safari, but switching to chrome and enabling pop ups for the page did the trick.

[2021-03-22 09:45] Lorenzohidalgo commented on #146
Hi,
i just created a simple schema with only one table. I'm unable to see the data, even after a few days.

The user management sections works correctly and updates almost instantly.

I'm working in eu-central-1, what do you mean APP ARN by app id?

[2021-03-22 17:13] swaminator commented on #146
@Lorenzohidalgo can you share your schema and app ARN?

[2021-03-22 17:59] hsspain commented on #98
@brightfuture This issue should now be resolved.  Please let us know if you are still seeing this behavior.

[2021-03-22 18:05] Lorenzohidalgo commented on #146
The table has the following structure:
![image](https://user-images.githubusercontent.com/22448611/112036892-6f37e000-8b41-11eb-8905-f33be7ed73b6.png)

The app ARN: arn:aws:amplify:eu-central-1:886869467812:apps/ddhhh5znoq37b

[2021-03-22 18:13] hsspain commented on #146
@Lorenzohidalgo Can you copy/paste your console logs after you navigate to "Content"?

[2021-03-22 18:14] hsspain commented on #146
@Lorenzohidalgo Also, please ensure that the email and joinDate are populated for each record.  If they are not, they will not display in Content as you have set them to required.

[2021-03-22 18:26] Lorenzohidalgo commented on #146
@hsspain  Both values are set.

Here are the console logs (not sure if there is a better way of copying this):
i18next: languageChanged es-ES
455.3093504c.chunk.js:2 i18next: initialized Object
455.3093504c.chunk.js:2 i18next::translator: key "schemaDesign.inputError.empty" for languages "es-ES, es, en" won't get resolved as namespace "translation" was not yet loaded This means something IS WRONG

[2021-03-22 18:31] hsspain commented on #146
@Lorenzohidalgo How are you adding data to the Users table?  Keep in mind that this is different than the Users section which manages your Cognito users for your application.

Based on your logs, it seems that the DynamoDB table that stores your Users objects is empty.

[2021-03-22 18:34] hsspain commented on #147
@ParthipanThangaraju I am sorry you are having issues. Can you share your console logs from after you navigate to the Content tab? How are you updating and fetching data currently?

[2021-03-22 18:37] Lorenzohidalgo commented on #146
@hsspain Here are the Flutter code snippets:
[code]
I call the clearLocalData every time users Signout, so the data should come from the db every time they SignIn, right?

[2021-03-22 18:43] hsspain commented on #146
@Lorenzohidalgo You are right, if you are clearing local storage, your Users would come from the DB.  Can you ensure you are syncing to the cloud as documented here? https://docs.amplify.aws/lib/datastore/sync/q/platform/flutter

You can also take a look at the data in your underlying DynamoDB tables to ensure that the data is persisted there.

[2021-03-22 18:46] Lorenzohidalgo commented on #146
@hsspain this is my amplify configuration function, it should have all needed steps:

[code]

Where can I access the underlying DynamoDB tables?

[2021-03-22 18:48] hsspain commented on #146
@Lorenzohidalgo In your AWS console, go to the DynamoDB service console.

https://console.aws.amazon.com/dynamodb/home?region=eu-central-1#tables:

From there you should see a Users table that you can then see the data for.

[2021-03-22 20:39] Lorenzohidalgo commented on #146
@hsspain i've found the following warnings reviewing the output console of the application. The DynamoDB also appears empty.

**W/amplify:aws-datastore(14285): DataStoreException{message=Wanted 1 metadata for item with id = a8621a48-a285-4081-a96b-4280ce905c17, but had 0., cause=null, recoverySuggestion=This is likely a bug. please report to AWS.}**

Full list of warnings:
I/amplify:aws-datastore(

[2021-03-22 21:01] hsspain commented on #146
@Lorenzohidalgo This appears to be an issue with the Flutter DataStore layer.  I will transfer this issue to that team to continue to root cause.

[2021-03-22 23:40] hsspain commented on #88
We have added additional logs for failed deployments as well as the ability to make changes to APIs that would cause multiple GSI updates.

Please give this another try and let us know if you continue to have issues.

[2021-03-22 23:47] hsspain commented on #69
@hollislau This issue has been resolved and is currently rolling out to all regions.  We expect it to be in all regions by the end of the week.

[2021-03-22 23:54] hsspain commented on #144
@jermainebjones Sorry, but your screenshots did not come through.  Feel free to email us at aws-amplify-customer@amazon.com if that is easier.

[2021-03-22 23:58] hsspain commented on #64
This issue has been resolved and is currently rolling through all AWS regions.  Please retry your deployments and let us know if you are still facing issues.

[2021-03-23 17:11] hsspain commented on #141
@fangzhouli Please try to redeploy your API with no changes to see if that resolves this issue for you.

If not, could you share which authentication default you have your Data model set to?

[2021-03-23 17:14] LUCIFER-dev-king commented on #147
@hsspain I am also having the same issue.

[2021-03-23 17:16] rupam-kundu opened #148 "DataStore not syncing with the cloud."
I am using Admin UI to build a web application in which React is being used in the front-end. I am trying to fetch data from a couple of DynamoDB tables namely Business and Users. However, although data exists in my tables query operations are returning empty arrays for both Business and Users tables. The following is my code.

[code]

[2021-03-23 17:16] hsspain commented on #147
@LUCIFER-dev-king Can you share your console logs from after you navigate to the Content tab? How are you updating and fetching data currently?

[2021-03-23 17:25] LUCIFER-dev-king commented on #147
![Screenshot (307)](https://user-images.githubusercontent.com/51146796/112190228-cfef1780-8c2a-11eb-98b0-7763d2dcfc5a.png)
![Screenshot (308)](https://user-images.githubusercontent.com/51146796/112190232-d1b8db00-8c2a-11eb-91cc-4ead89e179f9.png)
@hsspain

[2021-03-23 17:34] hsspain commented on #147
@LUCIFER-dev-king Sorry, I meant your browser console logs.

[2021-03-23 17:58] LUCIFER-dev-king commented on #147
@hsspain  I don't know what you are talking about.

[2021-03-23 19:46] rbagdazian opened #149 "React app with Python based Lambda function fails to deploy correctly."
**Which Specific Feature is your question related to?**
CI/CD management of amplify app using React as a front end and a lambda function backend written in Python.

I have successfully worked through the example provided in this video by nader dabit with my own particular lambda function. I did the development in Cloud9 and updated the python version to 3.8.6. When I executed >>amplify push the la

[2021-03-23 20:16] hsspain commented on #147
@LUCIFER-dev-king In your internet browser you have Amplify Admin UI open in, open the dev tools and the console log tab will display content with some information that can help us to root cause your issue.

[2021-03-23 20:59] hsspain commented on #148
@rupam-kundu I am sorry you are having issues. Is your data showing up in the Admin UI Content section?  How did you add data?

[2021-03-23 21:26] hsspain commented on #123
@lawmicha With a 1:1 relationship, the @connection [Model] syntax is correct.  Is there a different type of relationship you are looking to model?

https://docs.amplify.aws/cli/graphql-transformer/connection#has-one

[2021-03-23 21:49] fangzhouli commented on #141
@hsspain Thanks. By redeploying, if you mean I `amplify push` -> `save and deploy`, it still gave me the same error.

The authentication mode is "API key".

[2021-03-23 21:51] lawmicha commented on #123
Hi @hsspain, this is a reference to an issue raised by the developer over in the iOS repo. In the screenshot, for the Schedule model, the `shopID` is the "Relationship Source" and has a relationship that is 1:1 with Related to the Shop. In the Shop, it has a relationship to the Schedule as a 1:n Shop to Schedules.

So this is a 1:n relationship, where each n has a reference back to the one. Let me

[2021-03-23 21:56] lawmicha commented on #123
![image](https://user-images.githubusercontent.com/1365977/112223924-cf815d00-8be7-11eb-917a-4f834fa17d14.png)

[2021-03-23 21:56] hsspain commented on #141
@fangzhouli If you navigate to the Data tab of Amplify Admin UI, you click on the "Save and deploy" button.

[2021-03-23 21:56] lawmicha commented on #123
Running `amplify pull --sandboxId ...`
[code]

[2021-03-23 21:59] lawmicha commented on #123
I think my question is now, I can create a Shop model with a 1-to-many Schedules. That adds the `shopID` as a relationship source to the Schedule model. How do i add the shop field as a reference on the Schedule to represent the many-to-1 side?

[2021-03-23 22:00] hsspain commented on #123
@lawmicha For this model, you do not need to create the 1:1 Shop relationship on Schedule.  With the 1:M relationship on Shop it creates the relationship source field shopId on Schedule which references the Shop that the Schedule belongs to.

[2021-03-23 22:02] fangzhouli commented on #141
@hsspain Unfortunately, still doesn't work, the same error and console log message.

[2021-03-23 22:02] lawmicha commented on #123
for example, essentialy i want to accomplish the "belongs to" relationship: https://docs.amplify.aws/cli/graphql-transformer/connection#belongs-to
[code]

See in the Comment model, i want a reference to the post, not just a `postId` field

[2021-03-23 22:08] kaustavghosh06 commented on #141
@fangzhouli Which CLI Version are you on? Have you enabled Datastore with the CLI? What's your schema if you're comfortable sharing it.

[2021-03-23 22:15] fangzhouli commented on #141
@kaustavghosh06 I'm currently at CLI v4.45.0.

By enabling datastore, do you mean "amplify add storage"? If that so, then I haven't.

I don't think the data schema is the problem since it is the most basic graphql schema (I'm just playing around with it to learn how to use it). And I can create and list the data, so I guess the API and schema are working correctly. It's just something wrong with t

[2021-03-23 22:17] hsspain commented on #123
@lawmicha I understand now, thank you for the detailed description. The Admin UI schema designer does not currently support the belongs to pattern.  This is something we have on our roadmap and will be releasing in the future.

[2021-03-23 23:12] lawmicha commented on #123
thanks for clarifying! Feel free to close or keep this open as a feature request for tracking building belongs-to relationships in Admin UI

[2021-03-23 23:16] lawmicha commented on #123
Now i'm curious, what does it mean for this schema then?
[code]

My Shop has many Schedules and a Schedule has `shopID` that references the one Shop, and it has a 1:1 `shop` reference to Schedule. Is this a bug or a valid use case? How do I go about persisting Shops and Schedules data?

[2021-03-24 02:42] LUCIFER-dev-king commented on #147
![Screenshot (309)_LI](https://user-images.githubusercontent.com/51146796/112246187-423a1900-8c78-11eb-98a8-5028cc2abf6e.jpg)

This error occurs if we create the datastore model from amplify CLI, it works fine when we create it from AdminUi

[2021-03-24 02:56] kaustavghosh06 commented on #147
@LUCIFER-dev-king Which CLI version are you using? Are you enabling conflict detection in the CLI? Would you feel free to share your schema  out here which you configured from the CLI?

[2021-03-24 09:02] LUCIFER-dev-king commented on #147
@kaustavghosh06 @hsspain Issue is solved. I have updated the schema with auth rules and changed the default authorization type for the API to Amazon Cognito User Pool.

[code]
There is still one error showing in my command line, after saving the values to the cloud.

[code]

Flutter code to save the values.
[code]

Amplify Admin UI
![Screenshot (310)](https://user-images.githubusercontent.com/5114

[2021-03-24 11:26] rupam-kundu commented on #148
@hsspain Yes, the content is showing in the Admin UI content section. There are 18 items in the Users table and 22 items in the Business table. I added these data through a separate common form for creating a user item and a business item.

[2021-03-24 16:15] matriedel commented on #141
I see the same error message
"There was an error loading your data.
Content capabilities are still in beta. We’d love to address this issue. Please provide your console log and other details here."

[2021-03-24 18:02] groundswel opened #150 "Generate UI for CRUD operations"
Since amplify codegen and the @model transform is generating the resolvers and the corresponding queries locally it would also be great if it can be extended to generate basic listing and forms to support CRUD operations on the data. If you can provide template react components to do this, I think it will be a great time saver for many developers. It does not need to cover all use cases but just b