[2021-07-13 20:12] jacquesgingras opened #275 "Angular Amplify Frontend Build fails when trying to deploy, but works using same code in different branch."
I'm not sure what the issue is, but I'm getting a few of these errors during the build process of an Amplify App Frontend. I'm using Angular as the front end framework.

[code]

However, when I look at that line locally, this is what I have:
[code]
So I'm not sure when that file is getting generated during the deploy, it's not setting it up correctly.

Using the following:
Amplify 5.1.1 (I just up

[2021-07-14 07:13] alonsnir commented on #274
hi @yppartyk, right needed to be more specific :), nothing like nothing - no error, no deployment starts. In the network activity I do see the following error:
[code]
Other than that no indication for success/error on the page and if I try to navigate out of it it says:

[2021-07-14 09:32] renanbronchart opened #276 "Blank screen on data store and empty data on content in Admin after enable and deploy datastore"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-07-14 16:18] yppartyk commented on #276
Thank you for reaching out. We are looking into this.

[2021-07-14 22:38] yppartyk commented on #274
Hi @alonsnir, can you please verify that your Amplify deployment bucket actually contains files pertaining to your schema? In your local project, you should have a file called `team-provider-info.json`. In it, you should see `DeploymentBucketName`. Find this bucket in your S3 console and check that the backend zip artifact has a `schema.graphql` and `schema.js` files.

From the error message you a

[2021-07-15 03:49] PhilipWee opened #277 "Reset all authentication settings and users deployment fails"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-07-15 04:57] yppartyk commented on #277
Thank you for reaching out. Can you please check your account's CloudFormation console for a stack whose name contains `authuserdatabackend`. It should have a "Nested" tag on it. If it exists, please also check for a stack beginning with `amplify-authuserdatabackend-staging-`. If it exists, click on it, go to `Events`, and search for `authuserdatabackend` in the Logical ID column. Let me know if y

[2021-07-15 05:05] yppartyk commented on #276
If possible, can you please invite me into your app to help debug your issue? You can use my email `yppartyk@amazon.com`. As soon as we resolve it, you can remove me.

[2021-07-15 07:17] renanbronchart commented on #276
Thanks @yppartyk for reply.
Do you want I to invite you on adminUI AND amplify application or just adminUI?

[2021-07-15 10:25] alonsnir commented on #274
Hi @yppartyk
in my local project I find 2 files:
[code]
There I see `"DeploymentBucketName": "amplify-arugga-qa-195337-deployment"`
The bucket contains `#current-cloud-backend.zip`, if that's the archive you asked to look into then it is missing the `schema.js`
[code]
Please note, it might be relevant, there is additional functionality I'm not able to complete using the console and do it using cli

[2021-07-15 10:33] PeteDuncanson commented on #175
Hey @cwoolum, missed your reply again! Sorry!

Just retried and still getting a blank screen and the following warnings/error, the authorization one is a bit of a red flag...

![image](https://user-images.githubusercontent.com/1674590/125774198-a0c87ca0-cd9a-4e1c-969e-c755178628c3.png)

Here is my full schema. We've recently added the @default transformer but this was failing before we added that

[2021-07-15 13:18] pananapread commented on #260
Hi @goluarchana, I deleted one of your previous messages since it contained personal information. Thank you for sharing more details!

[2021-07-15 13:30] sarv-fuse commented on #270
@yppartyk localteam environment

[2021-07-15 14:00] henok commented on #219
Sorry for the late response, I have since added back the auth directive to:

- Allow any signed-in cognito user to perform CRUD on all owned entities
- Allow any signed-in cognito user to perform reads on all entities
- Allow API key access to perform CRUD on all entities

Screen shots from UI:
![image](https://user-images.githubusercontent.com/498375/125800342-7b760868-724b-484c-825c-4918a8926db1

[2021-07-15 17:37] yppartyk commented on #274
Hi @alonsnir, from our logs, we are seeing that the error is happening when trying to retrieve your `schema.js` file. We are looking for it in the path `'models/periodize/schema.js'`. If it's not there, there may have been an issue when pushing your local changes to the cloud with the CLI. Can you verify that your local schema looks correct and try to do another `amplify push`?

[2021-07-15 17:53] yppartyk commented on #219
Can you please share the dev console output on the Content page? Also, please try updating the API again and let me know if you're seeing the same issue.

[2021-07-15 18:26] yppartyk commented on #270
`Maximum call stack size exceeded` is thrown by the Datastore client when trying to start. Unfortunately, this is not something under our control. Are you seeing this issue in any of your other environments? If not, is there anything different about the schema in this environment?

[2021-07-15 18:31] yppartyk commented on #276
Hi, please invite me to Admin UI only (invitations can be sent out through the Amplify Console --> `Admin UI management`). Please invite me with `Full Access` scope so that I can access the Data tab. `Manage Only` does not give me access to Data.

[2021-07-16 02:45] PhilipWee commented on #277
Thank you for reaching out. Can you please check your account's CloudFormation console for a stack whose name contains authuserdatabackend.
Does not exist -> How do I resolve this?

It should have a "Nested" tag on it.
Not applicable

If it exists, please also check for a stack beginning with amplify-authuserdatabackend-staging-.
Exists

If it exists, click on it, go to Events, and search for auth

[2021-07-16 03:47] yppartyk commented on #277
Did you or anyone with access to the account delete any CloudFormation stacks? There should be a nested stack corresponding to your deployed Auth resource. In the `amplify-authuserdatabackend-staging` stack, go to the `Resources` tab and check for a resource with Type `AWS::CloudFormation::Stack`. It's logical ID should be `authuserdatabackend`.

[2021-07-16 07:19] renanbronchart commented on #276
I've invited you with full access.
Please don't change anything in prod environment.

Thanks very much

[2021-07-16 11:43] Devinwhite commented on #270
Turns out it's due to a circular reference.

WorkflowFieldTypes
WorkflowFieldTypes -> ChildWorkflowTypes workflowItems -> WorkflowFieldTypes workflowItems

[2021-07-16 16:41] yppartyk commented on #270
Thank you @Devinwhite. Usually a circular reference results in a different error, but glad to hear you got it to work.

[2021-07-16 19:18] yppartyk commented on #276
I did not get the invite. Can you please resend? I tried adding the above-posted schema through the CLI but got an error:
![image](https://user-images.githubusercontent.com/18372698/125998036-7f4271c5-174d-4f50-957b-f331ae9686b6.png)

Also, can you please post a screenshot of your dev console when you're on the Content page?

[2021-07-17 20:40] rawandahmad698 commented on #270
Same issue

[2021-07-18 07:29] alonsnir commented on #274
Hi @yppartyk, the amplify codegen command generates schema.json and all appropriate model files in the src/graphql folder and local schema.json looks ok.
As to you question about the schema.js, I'm not familiar with that file, here is the what I find under the root of the project
[code]
As nothing has changed another push did not changed the situation and I still not able to enable content managem

[2021-07-18 18:53] Stshepana commented on #270
We just spend 6 hours trying to figure out the same thing, and it seems to also impact the resolvers causing the queries and mutations to return null. This was a deal-breaker for us. Taking our money elsewhere as it crashed an app in production.

<img width="1214" alt="Screenshot 2021-07-18 at 20 47 54" src="https://user-images.githubusercontent.com/61627199/126078978-bec8a58d-3148-40f5-9aee-53949

[2021-07-19 06:10] yppartyk commented on #262
Hi @jsstrn, thank you for reaching out. Using separate tables is a more flexible approach that allows customers to iterate on their schemas in a continual manner without needing to know all access patterns up front. In addition, the DynamoDB team has acknowledged that the majority of customers do not require a single table design.

[2021-07-19 06:24] yppartyk commented on #175
Hi @PeteDuncanson, please make sure your schema does not contain any circular references. Besides the output in the console, we don't have access to further details for Datastore errors. However, we have seen the `Maximum call stack exceeded` error with at least one other customer who had a circular reference. Removing the circular reference fixed the issue for the customer.

[2021-07-19 10:58] renanbronchart commented on #276
Hello @yppartyk , I update my schema. My bad, sorry.
And I send you an another invitation to yppartyk@amazon.com.

Please tell me if all is good :)
You can access to https://eu-west-2.console.aws.amazon.com/amplify/home?region=eu-west-2#/db9uphwlnnqln/settings/admin-ui-management with this email I suppose.

Here two screenshot of console on the content page.
The first one with the maximum call siz

[2021-07-19 13:39] pananapread opened #278 "🦁 Amplify CLI: AWS Amplify Failed to communicate with the Amplify CLI [using Brave browser]"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-07-19 13:40] pananapread commented on #84
Re-opening, updating title -- users still experiencing this issue. Needs prioritization internally

Also created an issue for Brave browser users https://github.com/aws-amplify/amplify-adminui/issues/278
CC @tuncatunc @tomtaila-wesayhi @Chirag-Mathur @protajack

[2021-07-19 14:42] pananapread commented on #278
Likely the same solution as #84

[2021-07-19 19:59] nilyin opened #279 "How to get CNAME records for my custom domain DNS"
**Which Specific Feature is your question related to?**
Custom domain setup

**Provide additional details e.g. code snippets**
Trying to add custom domain to amplify hosted frontend. getting error "domain activation" as on screenshot

The expected behavior in accordance with manual should be possibility to access a "View DNS records" option in "Action" drop-down (see
<img width="829" alt="Снимок э

[2021-07-19 21:02] yppartyk commented on #243
Closing this for now. Please let us know if this did not fix your issue.

[2021-07-19 21:02] #243 closed

[2021-07-19 21:58] ianog-eng opened #340 "Cloud9 Admin UI browser authentication failing from CLI"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-19 23:26] yu-zyu commented on #216
I have same issue...
I'm crying right now.

[2021-07-20 15:03] nkada commented on #138
same issue..

[2021-07-20 15:24] nkada commented on #138
I had the same issue as well. Just need to invite a user from the Admin UI Management screen:
![image](https://user-images.githubusercontent.com/1577989/126351011-4ee58ff8-567f-460d-8055-26b436b2759f.png)

[2021-07-20 16:34] yppartyk commented on #276
Hi @renanbronchart, after talking to a colleague, we suspect that this is the result of a circular reference in your schema (i.e. A --> B --> C --> A). This has been the cause of the `RangeError: Maximum call stack size exceeded` error in the past for other customers. Please verify that your schema does not contain any circular references. In the future, we plan on rolling out a feature to catch c

[2021-07-20 18:14] renanbronchart commented on #276
Hello @yppartyk , thanks for reply.
I will find my circular reference and I will tell you if it corrects that.

[2021-07-20 18:33] matthewmichel opened #302 "Amplify Admin UI Deployment - auth headless is missing the following inputParams googleClientId, facebookAppId."
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [x] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-21 09:53] yuhui opened #280 "Invalid DynamoDB state cannot be fixed with new schema.graphql"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-07-21 11:23] oras commented on #216
Hi, I have same error message, but looks different on the console, it's look like authorization problems.

![image](https://user-images.githubusercontent.com/1174496/126481150-6fe3a12a-3d1e-4b30-adcc-72489db00cf8.png)

[2021-07-21 13:45] alonsnir commented on #274
Hi @yppartyk, any news?

[2021-07-21 19:51] pananapread commented on #274
Hi @alonsnir, this looks like an issue that the CLI team will have to help you with! Transferring you right now

[2021-07-21 20:03] letsbelopez commented on #216
@yu-zyu what's the error you're seeing? Can you confirm your schema doesn't have a circular dependency or unsupported directives?

[2021-07-21 20:21] letsbelopez commented on #138
To be clear this is not your AWS Console username and password. This is a user login for users in the [Admin UI management](https://github.com/aws-amplify/amplify-adminui/issues/138#issuecomment-883482698).

As a workaround for the amplify pull command flow, create a user in Admin UI management and use those credentials.

Please create a new issue if there are any other issues login

[2021-07-21 20:21] #138 closed

[2021-07-22 04:32] oras commented on #216
My schema is standard, I can share it.
When you say circular dependency, do you mean for model that include in different model ?

[2021-07-22 15:23] connected-mdeluco opened #281 ""Enable Datastore and deploy" deployment failure in environment with GraphQL API"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-07-22 17:39] dcfranca commented on #10
Any update on this?

[2021-07-23 20:05] letsbelopez commented on #281
@connected-mdeluco we're checking on this issue. Thank you for posting

[2021-07-23 20:53] connected-mdeluco opened #282 "Error message on Authentication Save and deploy - ValidationException: null"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-07-24 18:08] andy-HM opened #283 "Admin UI - Content - There was an error loading your data."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-07-24 22:44] brno32 commented on #283
I'm getting this as well. In the console I see

[code]

I'm guessing my admin user doesn't have permissions to view the data since it's not the owner, but not sure how to allow it

[2021-07-25 02:54] matart15 opened #284 "Failed to create models in the cloud: Modelgen job creation failed"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-07-25 02:54] matart15 opened #316 "Failed to create models in the cloud: Modelgen job creation failed"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-07-26 16:35] letsbelopez commented on #284
Thanks for creating this issue. We're starting to look into this.

[2021-07-26 16:41] letsbelopez commented on #283
Hi, If you don't have a full access role for the app, can you confirm that you have permission to edit?

One way to check is on the Data page, and looking at the authorization rules for the schema and the models. The raw schema also gets printed to the browser's console on a schema change, and you can check the authorization rules there.

If you'd like, you can post your schema from the console ou

[2021-07-26 17:44] letsbelopez commented on #282
This does seem related to  #7739. Have you tried updating auth and re-deploying? You can do it in a test environment to be sure you don't lose any configuration.

[2021-07-26 18:23] letsbelopez commented on #281
@connected-mdeluco can you try deploying again please. is the error still happening?

[2021-07-26 18:29] letsbelopez commented on #10
@dcfranca we've been deploying updates to fix similar issues. Have you tried to redeploy recently? Are you still getting the same error?

[2021-07-26 18:31] letsbelopez commented on #216
@oras Yes. For example Model A --> Model B --> Model C --> Model A

[2021-07-26 18:33] letsbelopez commented on #216
@oras can you confirm you have a full access role, or you have permission to edit the models? You can view permissions on the Data page or in the raw schema that's printed to the browser console when the schema is updated.

[2021-07-26 18:36] letsbelopez commented on #276
This looks like it has been resolved. Please open another issue if this happens again. Thank you.

[2021-07-26 18:36] #276 closed

[2021-07-26 18:39] letsbelopez commented on #270
Hi it looks like this issue was caused by the schema having a circular reference. Please remove any circular references and unsupported schema directives and try again.

If the issue persists, please open a new issue

[2021-07-26 18:39] #270 closed

[2021-07-26 18:40] letsbelopez commented on #277
If the issue is still happening please let us know. We can re-open this issue or open a new one with the latest information.

[2021-07-26 18:40] #277 closed

[2021-07-26 18:46] dcfranca commented on #10
@letsbelopez
Yes, I tried just before posting here, same error as I mentioned above

[2021-07-26 18:47] letsbelopez commented on #175
If the issue is still persisting, please let us know. We can re-open or create a new issue.

[2021-07-26 18:47] #175 closed

[2021-07-26 18:48] letsbelopez commented on #262
If you have anymore questions, please open a new issue. Thank you.

[2021-07-26 18:48] #262 closed

[2021-07-26 18:50] letsbelopez commented on #219
If this error is still happening, please let us know and open another issue.

[2021-07-26 18:50] #219 closed

[2021-07-26 18:53] letsbelopez commented on #265
If the issue is still occurring please re-open or create a new issue. Closing for now.

[2021-07-26 18:53] #265 closed

[2021-07-26 19:27] joejoe23 opened #285 "Content page not loading"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-07-26 20:51] letsbelopez commented on #257
If the issue is still occurring please re-open or create a new issue. Closing for now.

[2021-07-26 20:51] #257 closed

[2021-07-27 10:37] PeteDuncanson commented on #175
thanks for the pointer, I'll take a look in the next few days and double check my connections to make sure there are no circulars in there and report back either way.

[2021-07-27 14:17] MichaelSavoia commented on #285
Hi @joejoe23! We're taking a look at this now. To help us debug this, could you please share your browser's console output when this error occurs? Thanks!

[2021-07-27 15:24] MichaelSavoia commented on #245
If the issue is still occurring please re-open or create a new issue. Closing for now.

[2021-07-27 15:24] #245 closed

[2021-07-27 15:25] MichaelSavoia commented on #255
If the issue is still occurring please re-open or create a new issue. Closing for now.

[2021-07-27 15:25] #255 closed

[2021-07-27 15:27] MichaelSavoia commented on #221
If the issue is still occurring please re-open or create a new issue. Closing for now.

[2021-07-27 15:27] #221 closed

[2021-07-27 15:40] MichaelSavoia commented on #128
If the issue is still occurring please re-open or create a new issue. Closing for now.

[2021-07-27 15:40] #128 closed

[2021-07-27 15:51] MichaelSavoia commented on #201
@marenero1974 Sorry for the delayed response. Because your initial issue is solved I'm going to close this issue. If you are still experiencing the other issue you described, please either re-open this issue or create a new one.

[2021-07-27 15:51] #201 closed

[2021-07-27 16:56] yppartyk commented on #151
Hi @vladimirzoyan, are you still facing this issue? If so, can you please post a screenshot of your dev console so we can help debug the issue?

[2021-07-27 16:57] #202 closed

[2021-07-27 17:06] yppartyk commented on #168
@MachariaK closing this issue. Please reopen it if you are still experiencing it.

[2021-07-27 17:06] #168 closed

[2021-07-27 17:12] MichaelSavoia commented on #238
If the issue is still occurring please re-open or create a new issue. Closing for now.

[2021-07-27 17:12] #238 closed

[2021-07-27 17:21] yppartyk commented on #160
@IanPhilips @franklt69 Support for multiple authorization types on Admin UI has been rolled out on July 8th. It should fix both of your issues. Closing this for now, but please reopen if you have any questions or are still experiencing these issues.

[2021-07-27 17:21] yppartyk commented on #160
@IanPhilips @franklt69 Support for multiple authorization types on Admin UI has been rolled out on July 8th. It should fix both of your issues. Closing this for now, but please reopen if you have any questions or are still experiencing these issues.

[2021-07-27 17:21] #160 closed

[2021-07-27 17:27] MichaelSavoia commented on #239
@goluarchana If the issue is still occurring please re-open or create a new issue. Closing for now.

[2021-07-27 17:27] #239 closed

[2021-07-27 17:37] yppartyk commented on #213
@khacminh The `cognito-identity:GetIdentityPoolRoles` permission has been rolled out in the Full-access role. If your app was created before the permission was added, you can use the AmplifyBackend SDK's `UpdateBackendConfig` operation to update your role - see https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/AmplifyBackend.html#updateBackendConfig-property.

Another option is to deploy a c

[2021-07-27 22:25] conorw opened #286 "Admin UI Stuck on 'Deploying' after hitting 'Save & Deploy'"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-07-28 03:53] afern247 commented on #286
Oh waoh, I was going to post the same, I'm glad I'm not the only one... Any solution for this??

[2021-07-28 09:34] conorw commented on #286
@afern247 nothing yet. I've tried deleting the whole stack and trying again, but no difference.
Out of interest, do you have the datastore turned on or off?

[2021-07-28 13:41] MichaelSavoia commented on #286
Hi @conorw and @afern247! We're currently looking into this. @afern247 if you don't mind, could I get your appId and region to help us debug your issue?

[2021-07-28 13:45] afern247 commented on #286
Yes. I enabled:
- Datastore
- GraphQL
- Cognito Pools
- post confirmation lambda triggers
- Using iOS

I think the whole setup is messed up (from aws perspective),I spent yesterday 8h solving an issue trying to save a single row simple from datastore and I get a bunch of non sense errors like _delete is nil and things like that when I don't even have that field in my model.

Anyway this is my game

[2021-07-28 14:08] afern247 commented on #286
I want to delete everything and start fresh and simple since it seems the only problem is not that one, is it ok if I delete the pools, logs and db? and just leave the project with the Admin UI?

appId: d2jk6c9ec7278l
region: us-east-1

[2021-07-28 18:48] seankovacs commented on #286
Experienced this same issue last night. I could push changes to my graphql schema via CLI, but the AdminUI was stuck in this "deploying" state, so it was useless to use. Cloning the env didn't help - appears the clone was too perfect, so the problem persisted. I actually deleted the whole app and re-created (I could do this because it's all relatively new).
However, I ran into it again.
In the fir

[2021-07-28 19:10] MichaelSavoia commented on #286
@afern247 We were able to identify your issue and you should be able to successfully deploy now. If you're still running into any issues, please create a new ticket so that we can track it separately.

@conorw We haven't been able to identify the cause of your issue yet. We're still actively investigating.

@seankovacs We're looking into your issue now. Thank you for providing your AppId and regio

[2021-07-28 19:12] seankovacs commented on #286
Update:
Did a little snooping...I think what AdminUI is keying off of is a call to an API that returns job information. The `UpdateBackendAPI` job is currently in the RUNNING state...I'm kinda wondering if the data housed for AdminUI is not staying in sync with cloudformation results?

[2021-07-28 20:56] afern247 commented on #286
It seems the constant deployment was stopped, however when I go to Data it asks me to deploy to be able to see the data visually:
"Enable DataStore to edit your data model visually" I hit Deploy

and it now went back to spinning...

[2021-07-28 22:46] pananapread commented on #6
HelloT Sign in with Apple is now supported, please let me know what feedback you have as you try out this new feature 😊  https://aws.amazon.com/about-aws/whats-new/2021/07/aws-amplify-now-supports-sign-in-with-apple/

[2021-07-28 22:46] #6 closed

[2021-07-28 22:59] yppartyk commented on #228
For now, this cannot be automated on Admin UI as it would require kicking off CLIs `update auth` conditionally based on authorization rules present in the GraphQL schema during `create api` or `update api`. At the moment, we have a callout on Admin UI with instructions for configuring this through the CLI:
![image](https://user-images.githubusercontent.com/18372698/127406838-602ffea6-c850-45ea-a2d

[2021-07-28 22:59] #228 closed

[2021-07-29 12:34] seankovacs commented on #286
Looking at the deployment activity from the home tab of AdminUI, I noticed this activity:
<img width="993" alt="Screen Shot 2021-07-29 at 8 14 41 AM" src="https://user-images.githubusercontent.com/1869324/127490135-07d9d730-02b2-4ad0-b78c-8fc601df40f2.png">
which seems to correlate to when I started tweaking the data model stuff. I created a clone environment of master (which is fine at the moment

[2021-07-29 12:56] conorw commented on #286
Perhaps this is the common denominator @MichaelSavoia  ?
i.e. there is nothing complicated or unusual about my set up, but I also do have environment vars [SSM params] defined

[2021-07-29 13:11] seankovacs commented on #286
Looking more carefully at the activity from yesterday compared to the new run I did this morning in a cloned environment - this "Update API" that's still in "RUNNING" mode seems rogue...the next events prior line up with the "amplify push" I did to send up my local changes. After that finished, I clicked "Deploy" for my data model changes which is this "Update API" - though there aren't any subseq

[2021-07-29 16:53] MichaelSavoia commented on #286
The team was able to identify the root cause for these issues and we’ve begun rolling out the fix. We’ll let you all know as soon as it’s deployed to your region so that you may verify that everything is working as expected. Thank you all for helping us get to the bottom of this!

[2021-07-30 00:13] afern247 commented on #286
Guys while you are at it, can you see if this issue is related, I have now the Data working (probably because I haven't hit deploy on the gui and been pushing through the terminal), but when I go to content it's stuck in `Loading`, after a little while it says:

[code]

Can someone check if it's the same:
appId: d3fooq4aiahxc0
region: us-east-1

[2021-07-30 00:19] yppartyk commented on #4
Multi-auth support on Admin UI and Datastore has been launched since July 8th. This issue should now be resolved. Closing the issue, but feel free to reopen if you are still experiencing it or have further questions.

[2021-07-30 00:19] #4 closed

[2021-07-30 00:24] srquinn21 commented on #286
@afern247 Yes, can confirm that AppId is affected by the bug.

[2021-07-30 00:29] yppartyk commented on #136
Hi @Oriole-Alex, sorry for the very late response to this.

1. The authentication abstraction offered through the Admin UI is built solely on top of Cognito. It does not depend on what default authorization type you have specified in the Data section. There, the default authorization type refers to authorization on your AppSync API.

2. For this use case, you can reset your current authentication

[2021-07-30 00:29] #136 closed

[2021-07-30 05:45] yuhui commented on #254
Another AWS user has managed to delete the app with this problem. So for me, this problem is "resolved".

[2021-07-30 05:45] #254 closed

[2021-07-30 12:49] RailaAndrade opened #287 "Restore deleted amplify backend with cognito user pool"
**Which Specific Feature is your question related to?**
#Authentication

**Provide additional details e.g. code snippets**'

recently I tried to add an app and use the same backend than other amplify app. Somehow it did a push and had overwritten my old backend. I also lost the user Pool and all the users. Is there any way that I can restore the app or at least my users? I don't want to ask them t

[2021-07-30 13:40] pananapread commented on #287
I'm so sorry to hear this, can you remember the exact CLI commands you used for this to happen?

Just to cover everything, have you tried the following documentation?
https://aws.amazon.com/blogs/mobile/restoring-aws-amplify-project-after-deleting-it-from-the-cloud/
https://docs.amplify.aws/cli/teams/commands (see the --restore commands)

When you say you lost your User Pool, have you checked the

[2021-07-30 15:23] pananapread commented on #230
Hi @lkraus5, thank you for your feedback! I'm curious to learn more your use of Lambda functions in connection with Amplify + Admin UI, would you be will to chat some more about this? You can send me a DM over [Discord](https://discord.com/invite/amplify) or [Twitter](https://twitter.com/_pananapread)

[2021-07-30 15:23] seankovacs commented on #286
Hey Michael - is there an ETA on rollout? Appreciate all the time put into resolving this!

[2021-07-30 16:43] MichaelSavoia commented on #286
The fix has been deployed to your regions and you should be able to deploy without seeing this issue. If the error still persists please let us know. And thank you all again!

[2021-07-30 16:47] seankovacs commented on #286
Hey Michael - just checked and it still shows "Your new data model is being deployed." for my "dev" environment (appid d2fac4yo34n8z8). Ideas?

[2021-07-30 17:10] MichaelSavoia commented on #286
@seankovacs Sorry about that, we missed a step with updating job statuses. That should be fixed. Please let us know if you're still seeing the same issue. Thank you for the quick follow up!

[2021-07-30 17:35] seankovacs commented on #286
Confirmed everything is good now. Great work team!

[2021-07-30 21:06] RailaAndrade commented on #287
I tried to use the same backend in the AWS Console. I connected a branch and then it pushed a new backend overwriting the other.
The first link worked, but I still can't get my users neither my table items

[2021-07-31 21:45] cristianmandelli opened #288 "Error opening Content Section on AdminUI"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-08-02 05:20] MeekExpa opened #289 "Having issues in the command prompt"
So i deleted an project from the aws amplify console but now i cant logout of the backend part and i wont let me run any other projects

[2021-08-02 13:36] conorw commented on #286
thanks @MichaelSavoia and team, it now looks like the deploy is unstuck, but I'm still unable to successfully deploy.
The issue, at least in my case, seems to be related to environment vars and secrets.

`Command failed with exit code 1: /root/.amplify/bin/amplify push --yes [31mAn error occurred pushing an env "dev" due to missing environment variable values`

![image](https://user-images.github

[2021-08-02 13:54] pananapread commented on #288
Hello! could you please provide a screenshot of your console with the error message?

[2021-08-02 13:55] pananapread commented on #289
Could you detail your steps exactly? Sounds like you 1. Deleted your Amplify project from the console 2. Are unable to log out of the AWS console? 3. Unable to create any more Amplify projects from the Console?

[2021-08-02 14:29] pananapread commented on #287
Sorry to hear that :( Unfortunately I don't think there's anything we can do on our side to recover your users, although we have raised concerns with the Cognito team on recovering deleted users and user pools https://github.com/aws-amplify/amplify-cli/issues/3368

Please feel free to reach out to me if there's anything else I can do to help (DM me directly on [Discord](https://discord.com/invite/

[2021-08-02 14:29] #287 closed

[2021-08-02 14:47] pananapread commented on #256
Hello, this problem sounds like it should be with the DataStore team, however I'd like to understand your issue a little more -- so whenever you try to save it deletes a record instead?

Please let me know if you're still experiencing this issue

[2021-08-02 15:01] MichaelSavoia commented on #259
If the issue is still occurring please re-open or create a new issue. Closing for now.

[2021-08-02 15:01] #259 closed

[2021-08-02 16:04] pananapread commented on #269
Hi @gideongrossmanHome, you are correct in thinking that you need to run a query and store the associated version, then pass that as part of any update/delete mutations. We're working on improvements to bake state management into the client, but for now you'll have to run a query if you want a Sync-Enabled API and app that has both DataStore and API category together.

Hope this helps!

[2021-08-02 16:04] #269 closed

[2021-08-02 23:23] afern247 commented on #286
I'm still having trouble with the content:

![Screen-Shot-2021-08-02-at-7-20-59-PM.png](https://i.postimg.cc/rsHjGGsj/Screen-Shot-2021-08-02-at-7-20-59-PM.png)

[2021-08-03 14:08] MeekExpa commented on #289
![Command Prompt 8_3_2021 10_07_08 AM](https://user-images.githubusercontent.com/81784371/128029903-4b81286f-74ac-4414-861c-72cc397a41a5.png)

[2021-08-03 15:23] andrecasal opened #290 "'Confirmation Code' email is sent with 'Forgot password code' template"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-03 15:23] MichaelSavoia commented on #286
Hi @afern247 and @conorw!

@conorw We are looking into this now. We'll update you as soon as we figure anything out.

@afern247 This seems to be a separate issue. If you wouldn't mind, could you create a new issue and include your appId, region, a screenshot of the output of your browser's console when this error occurs, and if you're comfortable with it your app's schema?

Thank you both for your

[2021-08-03 15:41] latheeshvmv commented on #288
<img width="1263" alt="Screenshot 2021-08-03 at 9 08 28 PM" src="https://user-images.githubusercontent.com/44595562/128044613-9b53055b-9e96-415b-ba29-d04981cbbc9a.png">

I am also getting the same error. This happens when graphQL schema is added in the react project and when later converted to data models in amplify admin.

[2021-08-03 18:26] MichaelSavoia commented on #286
@conorw So it looks like there are some env vars that are missing from your Amplify app environment. Here's what you should do to fix this.

1. Ensure that you are running the latest version of `@aws-amplify/cli` which is `5.2.1`. You can check this by running `amplify -v`
2. Inside of your project, run `amplify push`. This should prompt you to fill out any missing environment variables.

For more

[2021-08-03 18:41] conorw commented on #286
thanks for continuing to look into this @MichaelSavoia .
All the env vars and secrets have been configured previously, but I've removed them and added them again.
They deploy absolutely no problem with the cli, the issue occurs only when I deploy through the admin UI.
Using the latest cli 5.2.1

[2021-08-03 19:00] pananapread commented on #289
Have you tried deleting the amplify folder and aws-export.js in your source code? From your use case it sounds like the logout command might not be what you're looking for https://docs.amplify.aws/cli/start/workflows#amplify-logout-appid-amplify-app-id

[2021-08-03 19:01] pananapread commented on #288
@latheeshvmv and @cristianmandelli, if both of you could right click your Content page > Inspect > Console > take a screenshot of the red error message you see there, that would be helpful!

[2021-08-03 19:09] pananapread commented on #290
Thank you for sharing details on this! Currently, it is not possible to create or edit a "verification code" email via the Admin UI, "forgot password code" is all that's possible today. I have marked this issue as "feature-request" to take into account as we continue development on authentication features!

Maybe this similar issue will help you with setting up your email verification link, are yo

[2021-08-03 20:38] afern247 opened #291 "Admin UI Stuck on loading Content Data"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-08-03 20:48] andrecasal commented on #290
Hey @pananapread thanks for the help. That error was gone when I changed from "Link" to "Code".

The template was still wrong, so I just changed it to this:
<img width="808" alt="Screenshot 2021-08-03 at 21 45 49" src="https://user-images.githubusercontent.com/22457463/128083956-3a393878-1880-4cfa-b0cd-7a3a0b6f6c8f.png">

And this was the email I've got:
<img width="535" alt="Screenshot 2021-08-03

[2021-08-04 01:34] latheeshvmv commented on #288
@pananapread  It doesn't seem to have any errors but mostly warnings. Please see the screenshot

<img width="2240" alt="Screenshot 2021-08-04 at 7 01 00 AM" src="https://user-images.githubusercontent.com/44595562/128107749-f69e780c-4d20-4b4d-a1c5-22a30178fb64.png">

Thanks

[2021-08-04 01:47] srquinn21 commented on #291
@afern247 Apologies, but I am unable to reproduce this with a brand new app using the schema you provided. Could you provide a screenshot of your browser console when you get to this state?

[2021-08-04 02:19] afern247 commented on #291
Not sure what you mean by browser console at that state, are you referring to this? If so, when I refresh the AdminUI and I get to that state, nothing gets populated there. Is there any log file associated to this that I can look up?

[![Screen-Shot-2021-08-03-at-10-16-54-PM.png](https://i.postimg.cc/rF7y0zTV/Screen-Shot-2021-08-03-at-10-16-54-PM.png)]

[2021-08-04 09:55] manishabhabhi opened #292 "I am unable to see content in amplify admin"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-08-04 12:46] pananapread commented on #292
@manishabhabhi, if you could
  1. Go to your content page
  2. Right click the screen, select “Inspect”
  3. Navigate to the Console tab
  4. Take a screenshot of the error message shown in red
That would help us debug!

[2021-08-04 12:46] pananapread commented on #291
@afern247, if you could
  1. Go to your content page
  2. Right click the screen, select “Inspect”
  3. Navigate to the Console tab
  4. Take a screenshot of the error message shown in red
That would help us debug!

[2021-08-04 14:35] manishabhabhi commented on #292
Hi Anna,

Please find the screenshots attached.

Thanks & Regards
Archana

On Wed, Aug 4, 2021 at 6:16 PM Anna M. Pfoertsch ***@***.***>
wrote:

[2021-08-04 15:11] afern247 commented on #291
![Screen-Shot-2021-08-04-at-11-09-18-AM.png](https://i.postimg.cc/rwD3ND7G/Screen-Shot-2021-08-04-at-11-09-18-AM.png)

[2021-08-04 19:23] ashwinchalaka commented on #292
I am also having the same issue.

<img width="1054" alt="Screen Shot 2021-08-04 at 12 20 00 PM" src="https://user-images.githubusercontent.com/29413045/128241992-97e8ec8d-0973-4dab-b93a-ffd7a0eac440.png">

Console log:

<img width="1058" alt="Screen Shot 2021-08-04 at 12 22 32 PM" src="https://user-images.githubusercontent.com/29413045/128242309-ec7c7132-0849-4b62-a9b4-84b37ece6d9d.png">

Both tog

[2021-08-05 08:35] wjlee2020 commented on #186
I'm having similar issues, but more specific, the actual contents are not updating when I add a new item to the table.
perhaps it's this error?
`No credentials, applicationId or region`

<img width="506" alt="Screenshot 2021-08-05 173523" src="https://user-images.githubusercontent.com/70941958/128319312-bac04deb-db38-4434-9651-8b24a84df592.png">

[2021-08-05 18:43] yogeshwar607 commented on #84
works for me

[2021-08-06 04:15] manishabhabhi commented on #292
I had send all the details but still the issue is unresolved. I still get the attached error
![Error](https://user-images.githubusercontent.com/88430985/128455080-93afad4d-957a-4ea3-a90d-31acfb1e4e1a.PNG)

[2021-08-06 10:36] manishabhabhi commented on #292
My issue is still unresolved

Manisha

[2021-08-06 12:46] nathenaeum commented on #292
I am having this same issue as well.

[2021-08-06 16:21] tmeckhoff opened #293 "Admin UI errors on loading Content data due to MappingTemplate: "Transformation too large" error"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-08-07 18:53] RyanWilliamsTTC commented on #84
I had this issue, but I believe it was because I was building my application remotely, remote-ssh in vscode.  If you are in this situation, you need to port forward port 4242 to your localhost, or do the curl response suggestions above.

[2021-08-07 23:33] Joshua-Zhang-S commented on #292
Same error here.

[Warning] [WARN] 28:36.893 DataStore - subscriptionError – "Connection failed: {\"errors\":[{\"errorType\":\"Unauthorized\",\"message\":\"Not Authorized to access onCreateFavorite on type Subscription\"}]}" (455.989585e7.chunk.js, line 2)
[Warning] [WARN] 28:36.909 DataStore - subscriptionError – "Connection failed: {\"errors\":[{\"errorType\":\"Unauthorized\",\"message\":\"Not A

[2021-08-08 10:25] maremoto opened #294 "Amplify AdminUI content management do not coordinate with DynamoDB entries"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-08-08 21:43] daniel-flip commented on #292
Same here. In the chrome inspector, I see:

[code]

[2021-08-10 10:59] nosnilmot opened #295 "Suspend/Reactivate user incorrectly state "THIS CANNOT BE UNDONE.""
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-08-10 13:12] pananapread commented on #295
Thank you for pointing this out! There's a few bugs in this experience that we'll have to revisit.

Screenshot for reference:
![image](https://user-images.githubusercontent.com/12780104/128872597-8fcd458d-b412-4f27-81eb-4057a2bc85e4.png)

[2021-08-10 18:35] conorw commented on #286
@MichaelSavoia I could not figure out what the issue was regarding env vars, so I removed them and replaced with secrets.
The app is now deploying.
Thanks for all the help. Closing....

[2021-08-10 18:35] #286 closed

[2021-08-11 19:51] lvillacin commented on #189
I'm getting the exact same errors both for Safari and Chrome. What's causing this error?

[2021-08-12 13:26] connected-swallace opened #297 "Unable to delete authentication from project"
**Please describe which feature you have a question about?**
I currently have Authentication setup with Cognito User Pool Groups and was looking to update the Authentication to remove the username as a requirement for each user, it didn't seem like that was an option, so I've been trying to delete auth from my project but I can't get past the following message `Set the authorization mode on your A

[2021-08-12 14:03] maremoto opened #296 "Amplify AdminUI shows nothing for tables that consist only in one field "id""
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-08-13 17:45] connected-swallace commented on #297
Was able to solve the problem today. Steps that were taken

1. Update my api to use `API Key` for auth, it was previously `Cognito User Pools`
2. Remove the User Pool Groups auth resource
3. Remove the auth resource
4. I'm now able to setup auth from scratch again

[2021-08-13 17:45] #297 closed

[2021-08-13 21:35] dsharygin opened #298 "Allow Lambda function chaining with auto-generated resolvers"
**Is your feature request related to a problem? Please describe.**
My team is developing a multi-tenant application that requires granular hierarchical authorization. Think of it like folder and file permissions. Users create files in folders and can grant access to other users at folder level. In this example Folder and File are GraphQL types. Since our users are also frequently interacting with

[2021-08-14 12:07] maremoto commented on #296
Thanks Anna, additionally you can't insert data in a id-only table, because there is another limitation: creating data with not self-generated id is not allowed.

[2021-08-14 12:42] maremoto commented on #164
I am amazed that functioning "not integrated with the rest of AWS systems" is the "intended" functionality....

[2021-08-14 12:53] maremoto opened #299 "Admin UI does not manage properly Cognito user attributes"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-08-15 11:55] aspearman commented on #84
@pananapread could this please be re-opened?

Also, would it make sense to add an option in the Amplify CLI to choose if I want to authenticate using the Admin UI or AWS profile, etc.?

`amplify pull/configure --appId myId --envName dev --my-auth-option?`

[2021-08-15 17:59] Joshua-Zhang-S commented on #292
AWS don't care about this basic entry level issue? Let us know. There are other cloud service providers.

[2021-08-15 18:13] Joshua-Zhang-S commented on #292
@yppartyk Please help.

[2021-08-15 22:10] ajaypantangi commented on #292
Ack! I'm looking into this issue.

[2021-08-16 18:32] maremoto opened #300 "AdminUI Content do not show Time of AWSDateTime fields"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-08-18 06:04] krlosbatdev commented on #64
Im getting same error, have being trying to solve this for a couple of days:
![image](https://user-images.githubusercontent.com/25190587/129845653-5ae0e625-a369-4559-b6b4-9844d23f8f99.png)

error: Command failed with exit code 1: /root/.amplify/bin/amplify push --yes [31mAn error occurred pushing an env "develop" due to missing environment variable values[39m

appId: d28zsf3ji3yeqs
region: us-ea

[2021-08-18 19:38] oliverfrat commented on #292
Any updates? I have the same problem and I am waiting for action..
Thanks!

[2021-08-19 18:15] busster commented on #292
Hello @oliverfrat, @Joshua-Zhang-S, @daniel-flip, @nathenaeum, @manishabhabhi and @ashwinchalaka

Can you try navigating to the Setup > Data (Data Modeling) page and add a simple text field to one of your models, and then save and deploy the update? This will re-sync your data schema and ensure that the models match what is configured in AdminUI or via the CLI. Once the deployment completes, reloa

[2021-08-19 20:05] dn-l opened #301 "Data and Content: blank screen when model has custom key which is not ID"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-19 23:42] SwaySway commented on #291
Hi @afern247
What if your primary mode of authentication?
If it's not IAM could you add auth rules from the default provider (ex. if it's cognito add userpool auth rules) on your types?

[2021-08-20 00:14] afern247 commented on #291
@SwaySway When I added on all my models`@auth(rules: [{ allow: owner }]) { ` on the API schema fixed it but it broke now my DataStore query, DataStore now says:

[code]

How can I fix that?

[2021-08-20 00:19] SwaySway commented on #291
@afern247 By applying owner authorization you are checking against an owner value in the record, which was not there prior. If you are looking to allow anyone who is signed in with cognito you can use `@auth(rules: [{ allow: private, provider: userPools }]`.

Auth Rules Docs: https://docs.amplify.aws/cli/graphql-transformer/auth/

[2021-08-20 00:34] afern247 commented on #291
I only want to allow the current user that is sign in to do crud operations, would your suggestion above be only for the sign in user or any user that is logged in at the same time on separate device separate session?

[2021-08-20 23:59] Joshua-Zhang-S opened #311 "Amplify Admin UI show credential error"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-21 12:05] oliverfrat commented on #292
This worked for me, thanks!

[2021-08-21 19:50] Joshua-Zhang-S commented on #292
I deleted all tables except for one simple table. It works now. Thanks.

[2021-08-22 09:36] onlineworld69 opened #303 "UPDATE_ROLLBACK_FAILED state and can not be updated"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-08-22 20:00] Oyetayo opened #304 "Can't deploy react site to amplify"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-08-22 20:00] Oyetayo opened #305 "Can't deploy react site to amplify"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-08-23 12:19] pananapread commented on #305
Closing because dupe, see #304

[2021-08-23 12:19] #305 closed

[2021-08-23 12:21] pananapread commented on #304
Transferring to Console, thank you for providing all these details :)

[2021-08-25 14:59] pananapread commented on #30
Facebook and Google have since been added as login mechanisms, closing this issue :)

[2021-08-25 14:59] #30 closed

[2021-08-25 15:52] pananapread commented on #153
Closing in favor of #70

[2021-08-25 15:52] #153 closed

[2021-08-28 01:17] 24jr commented on #294
I have exact same issue

[2021-08-28 02:50] 24jr opened #308 "Authentication - changing email"
I am using email to sign up. It requires email confirmation to log in. This is good. My UI says something like can't change email, username, phone. Except I can. I changed email using
[code]
and my email is changed. I can logout and old email is not a user and can login with new email and says email unconfirmed but still lets me in. Seemed like needed to do this to confirm email
[code]
(i believe

[2021-08-29 19:13] extheory commented on #302
I am having the same issue

[2021-08-30 18:08] cslogan-red commented on #308
Hi @24jr , from your screenshot, you've only got the default email address configured for user sign-in, so that's all that can be used or verified. Calling `Auth.updateUserAttributes` against the current authenticated user does indeed update the attributes you specify immediately, when you call this is up to your app's code. If you specify `email` as an attribute in `updateUserAttributes`, a verif

[2021-08-30 18:40] #292 closed

[2021-08-30 18:45] #244 closed

[2021-08-30 18:46] #35 closed

[2021-08-30 18:48] #79 closed

[2021-08-30 19:10] 24jr commented on #308
@cslogan-red  Ok I suppose my issue with that. could be if a user mistypes the new email when he/she updates email and then logginng in the old email is not an email maybe cant even figure out how to log in cause new email spelled correctly doesnt exist. Even if remember it spelled wrong will force code to email that either doesnnt exist or is not owned by the user. So would like to verify email p

[2021-08-30 19:59] cslogan-red commented on #308
@24jr please definitely raise this as an Authentication feature request with the [amplify-js](https://github.com/aws-amplify/amplify-js ) team if you feel it's relevant! I'm more just confirming the functionality as it pertains to the AdminUI developer experience, this is expected behavior.

In your example, you can actually utilize the AdminUI console to search for and find that user (if they hav

[2021-08-30 19:59] #308 closed

[2021-08-30 21:15] cslogan-red commented on #216
If you're creating your GraphQL models locally with the Amplify CLI, or if you have existing models from before Admin UI was launched, your schema needs to be redeployed from within Admin UI to ensure it has all of the necessary directives that allow the Content CMS to connect to your data sources. If you don't do this, you'll end up with the behavior folks are seeing here, with the Content page u

[2021-08-30 21:15] zaithel opened #309 "Async Iterator error"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-08-30 21:43] 24jr commented on #308
It is actually not prompting user on next login to verify email. Allows login just fine with an unverified email. that changed to Is this expected / able to be forced? Seems as though once the account has verified an email once even though there is not currently a verified email you can login because the "account" has been verified even though email has not.

[2021-08-30 22:04] cslogan-red commented on #291
Please refer the [comment](https://github.com/aws-amplify/amplify-adminui/issues/216#issuecomment-908702985) on issue #216 as these each have a common root cause, closing this as a duplicate.

[2021-08-30 22:04] #291 closed

[2021-08-30 22:27] 24jr commented on #308
I'm not so sure this is correct. It seams like "verifyCurrentUserAttribute" and "verifyUserAttribute". are the exact same thing except you have to pass in user as first param in "verifyUserAttribute". You are only passing in the key attribute name in these as well not the value of attribute hence this can only verify existing attributes so I don't believe I could verify before updating because ver

[2021-08-30 22:37] cslogan-red commented on #308
@24jr correct, I was stating you'd have to write your own code to handle however your particular app is managing this scenario, as the auth library itself is simply managing your Cognito resources for you, not your app's frontend UI code. The Amplify framework provides the [Amplify UI Authenticator](https://docs.amplify.aws/ui/auth/authenticator/q/framework/react) managed component to use in your

[2021-08-30 22:43] 24jr commented on #308
I'm using svelte so need to write from scratch. Which I dont mind

[2021-08-30 23:53] cslogan-red commented on #288
Please refer the [comment](https://github.com/aws-amplify/amplify-adminui/issues/216#issuecomment-908702985) on issue #216 as these each have a common root cause, closing this as a duplicate.

[2021-08-30 23:53] #288 closed

[2021-08-30 23:53] cslogan-red commented on #285
Please refer the [comment](https://github.com/aws-amplify/amplify-adminui/issues/216#issuecomment-908702985) on issue #216 as these each have a common root cause, closing this as a duplicate.

[2021-08-30 23:53] #285 closed

[2021-08-30 23:55] cslogan-red commented on #283
Please refer the [comment](https://github.com/aws-amplify/amplify-adminui/issues/216#issuecomment-908702985) on issue #216 as these each have a common root cause, closing this as a duplicate.

[2021-08-30 23:55] #283 closed

[2021-08-31 04:07] andy-HM commented on #283
Thank you @cslogan-red !

[2021-08-31 04:25] andy-HM opened #310 "Admin UI - Duplicate local files after Save and Deploy"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-08-31 19:16] cslogan-red commented on #310
Having someone from the CLI team take a look at this today @andy-HM , but in general the `amplify` directory can be thought of as a managed directory that will see changes like this introduced when the build runs in the Amplify build system versus locally on your machine, differences in version of the CLI (our platform always utilizes the latest build of the CLI) between the Amplify build system a

[2021-08-31 19:19] andy-HM commented on #310
Thank you @cslogan-red, I did have a version mismatch up until recently.  That could be where it originated based on what you said.  I am still experiencing this after updating the CLI to the latest.

[2021-08-31 20:42] cslogan-red commented on #249
Please refer the [comment](https://github.com/aws-amplify/amplify-adminui/issues/216#issuecomment-908702985) on issue #216 as these each have a common root cause when it comes to subscription errors utilizing Content with your GraphQL schema, closing this as a duplicate.

[2021-08-31 20:42] #249 closed

[2021-08-31 20:43] cslogan-red commented on #186
Please refer the [comment](https://github.com/aws-amplify/amplify-adminui/issues/216#issuecomment-908702985) on issue #216 as these each have a common root cause with a general workaround, closing this as a duplicate.

[2021-08-31 20:43] #186 closed

[2021-08-31 20:44] cslogan-red commented on #178
Please refer the [comment](https://github.com/aws-amplify/amplify-adminui/issues/216#issuecomment-908702985) on issue #216 as these each have a common root cause, closing this as a duplicate.

[2021-08-31 20:44] #178 closed

[2021-08-31 21:10] SwaySway commented on #310
Hello @andy-HM
I tried to repro by adding authorization rules on my data model, also on `v5.3.1`. I was not able to reproduce this, I don't see duplicates for `tags.json` or `backend-config.json`. A few questions here to investigate further
- Was there any thing specific setup with your project?
- Do you have imported auth or a custom resource?

[2021-08-31 21:14] andy-HM commented on #310
hello @SwaySway.  I did create my project before the Admin UI was fully implemented (I think).  I believe this was back in late version 3 of the CLI.  Otherwise, nothing out of the ordinary as far as setup.  I started using the Admin UI when it was available because of the ease of use.  This problem didn't manifest itself until after I was using it for some time.  Admittedly, I let my updates laps

[2021-09-01 10:04] CiotkaCierpienia opened #312 "Application users not visible for admin with Manage only access"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-09-01 13:09] DominikIlski commented on #312
Same issue here, pls help :(

[2021-09-01 13:48] conorw commented on #301
I am also getting this exact same behaviour when I have a custom id i.e. that is not named 'id'

[2021-09-01 14:51] dn-l commented on #301
@cslogan-red I don't think it's a feature request, it's definitely a bug

[2021-09-01 16:09] cslogan-red commented on #301
All GQL models within Admin UI are required to have an id field as primary key, we don't support the concept of non-id custom keys due to underlying limitations of DataStore itself, it's in our backlog to add support for this feature in the future.

[2021-09-01 20:52] cslogan-red commented on #312
Hmm, I can't reproduce this, "Manage only" login admin users can still display existing app users without issue:

<img width="1018" alt="manage_only" src="https://user-images.githubusercontent.com/1307688/131742584-2acdad03-dbc6-4000-aa3a-1fb6a098451d.png">

It's possible you've created your app's user groups manually via Cognito and imported them into Admin UI? You can confirm your admin user is

[2021-09-02 08:33] CiotkaCierpienia commented on #312
I haven't created my app's user groups manually, it was created automatically by amplify cli, probably by using `amplify add auth`. Regions in Cognito, Amplify and Admin UI are the same (eu-central-1). I see my Manage Only user in the correct group in Cognito, but still, only Full Access users can see the app users in Admin UI.
![User-Pools-Amazon-Cognito (1)](https://user-images.githubusercontent

[2021-09-02 19:38] cslogan-red commented on #312
@CiotkaCierpienia this generally boils down to an IAM permissions issue in your account that is preventing the Manage-only Cognito group from accessing your Amplify app's Congito user pool, if you open your browser's dev console on the User management page and refresh the page you should see the exception being returned from Cognito while trying to list users as the Manage-only admin user, we have

[2021-09-02 20:31] conorw commented on #302
I'm also having the same issue.
As above, I cannot add environment variables in the AWS console as this is a backend-only app.
I've also tried "amplify update auth" to refresh the values, but the error still occurs in the admin ui.

[2021-09-03 06:59] CiotkaCierpienia commented on #312
After I manually added few policies I started to see the users, but I wonder if you have a template of required policies, as the whole Cognito User Pools policies were missing.

[2021-09-04 16:35] 24jr opened #313 "Can you add a key() field in amplify ui"
When making a schema I can add a key field to be able to search a table bySubItem it may actually just make another table but how can this be done with amplify ui and if it can not be done can it be added soon please?

And I mean its nice to have the visualness of tables but tbh I'm completely fine with writing schema I just dont like being forced to write it along side my app. I like my backend i

[2021-09-04 17:58] 24jr commented on #313
Actually I'm realizing I can just pull into an empty file and change it

[2021-09-04 17:58] #313 closed

[2021-09-05 14:33] dn-l opened #314 "Show actual username in Users instead of "Empty""
**Is your feature request related to a problem? Please describe.**

<img width="382" alt="Screen Shot 2021-09-05 at 9 30 54" src="https://user-images.githubusercontent.com/7160998/132130657-a427b235-e06d-49c4-b7c8-e0757e73d811.png">

while in Cognito:

<img width="382" alt="Screen Shot 2021-09-05 at 9 33 07" src="https://user-images.githubusercontent.com/7160998/132130671-02ac1862-2fb3-4005-adf9-1

[2021-09-05 20:10] 24jr opened #315 "Content not loading"
I put this in regular amlify-ui before noticing the link to this not sure if I can just transfer the other issue here my bad but this is issue https://github.com/aws-amplify/amplify-ui/issues/339

[2021-09-05 20:15] dn-l commented on #301
This should be mentioned in the docs. One of examples uses email as a private key:
https://docs.amplify.aws/cli/graphql-transformer/key/#example-get-customers-by-email

[2021-09-05 21:33] cslogan-red commented on #315
See #301 , Admin UI is built in conjunction with Amplify DataStore, non-id based models are not yet supported, nor are non-GQL API data sources (DataStore is required to utilize Content), the concept exists in our backlog and we'll update #301 as we make progress, closing as duplicate.

[2021-09-05 21:33] #315 closed

[2021-09-05 23:29] 24jr commented on #315
@cslogan-red thanks! I feel like an idiot when I make a duplicate. I'll try and step my game up lol

[2021-09-05 23:32] 24jr commented on #301
So all my models are id based with the exception of using @key which I believe just makes another table where the desired field(s) become the id which is likely the same thing just mentioning as my experience with this issue

[2021-09-05 23:34] 24jr commented on #301
Well this is just for the ui version. You can still use email as primary key and work fine in your website and all that just not in the admin ui clickable interface

[2021-09-05 23:40] dn-l commented on #301
@24jr from what I understood, Datastore won’t work

[2021-09-05 23:46] 24jr commented on #301
@dn-l Oh maybe. I don't use that. But I think straight up gql calls work fine

[2021-09-06 14:03] Lorenzohidalgo commented on #247
Is there any update on this? It is pretty inconvenient not being able to see the fields flagged as id, I need to access via dynamoDB portal directly to fetch that data...

possible linked issue #301

[2021-09-06 14:04] Lorenzohidalgo commented on #296
Is there any update on this?

[2021-09-08 21:42] kaustavghosh06 commented on #316
The service needs to be aware of the fact that it's possible that a schema is split into multiple files - currently it doesn't take that into account in the getBackendAPI() call, causing this issue.

[2021-09-08 21:43] mversteeg opened #317 "Models not generated for types marked with @model when multiple schema files in "schema" directory instead of in one schema.graphql file"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-09-10 12:32] WalterWoshid opened #318 "Cannot create relational content in Amplify Admin Dashboard"
**Describe the bug**
When I go to the Amplify Admin Dashboard and go to the Content tab I try to create a dataset for a model that is related with another model, it won't create. Following error appears when clicking on "Save model": "Unable to save changes, please complete required fields and try again." None of the fields that are missing are required or marked as red. Also the relatedModelID fi

[2021-09-10 20:51] aws-amplify-console commented on #318
Hi @WalterWoshid ,

Thanks for the detailed report. We will get back to you shortly.

[2021-09-10 20:52] abhi7cr commented on #318
Hi @WalterWoshid ,

Thanks for the detailed report! We will get back to you shortly.

[2021-09-10 20:54] abhi7cr commented on #314
Hi @dn-l ,

I will take a look and get back to you shortly.  Meanwhile, could you tell me how the user was generated ? Was it added via Admin UI ?

[2021-09-10 22:58] dn-l commented on #314
@abhi7cr was created through Auth JS SDK.

[2021-09-10 23:44] abhi7cr commented on #314
@dn-l  Thanks! So it defaults to empty when its unable to find the following attributes:
- `email`
- `phone_number`
- `preferred_username`

Do you happen to know which cognito attribute you used for the user ? Was it `username` ?

[2021-09-11 05:09] dn-l commented on #314
@abhi7cr yes exactly username, no other attributes

[2021-09-11 07:09] abhi7cr commented on #314
@dn-l  thanks for confirming. I will add this to our backlog and update this thread once the fix is out.

[2021-09-11 19:09] rahulpsingh commented on #318
This is happening to me as well. The data modelling section seems to be very buggy and work is being lost as even after status shows successful, the model was not preserved.

@abhi7cr Do you suggest any other alternative for such scenarios?

Thank you!!

[2021-09-11 21:55] abhi7cr commented on #318
Hi @rahulpsingh ,

If its related to Data modelling not preserving the updates,  could you create a new issue and share the reproduction steps
in it ? :) We can take a look at it.

[2021-09-13 20:19] CodeMaxer commented on #55
Any idea when will this be enabled ?  We have built an app using custom keys for the table.

[2021-09-16 05:32] anoroozz opened #320 "Admin UI no longer works"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-16 08:28] say87a opened #319 "Amplify AdminUI cannot open"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-09-16 13:16] pananapread commented on #319
Thank you for reporting this, investigating!

[2021-09-16 13:27] pananapread commented on #319
@say87a, could you try again? I was able to repro but now it's working for me again

[2021-09-16 13:53] pananapread commented on #320
@anoroozz what region are you using Amplify in?

[2021-09-16 14:09] say87a commented on #319
@pananapread
I tried again, but the same error occurred.

[2021-09-16 14:24] kirkryan commented on #320
+1 here - I am trying to enable Amplify Admin UI on my existing applications and this is now reporting the same error.

@renebrandel - any ideas on this one?

[2021-09-16 15:21] yppartyk commented on #320
@anoroozz @kirkryan can you please provide your app IDs?

[2021-09-16 16:11] yppartyk commented on #320
Can you also please retry enabling Admin UI and let us know if the error is occurring? We are seeing it only intermittently on our side and want to verify if it's consistently affecting the same customers.

[2021-09-16 16:12] yppartyk commented on #319
@say87a Can you also please retry enabling Admin UI and let us know if the error is occurring? We are seeing it only intermittently on our side and want to verify if it's consistently affecting the same customers.

[2021-09-16 16:47] yppartyk commented on #319
It seems like your backend files may be corrupted in some way. If possible, can you please email us the backend CLI files for your app? They can be found in S3 under the bucket whose name begins with `amplify-`. You can email us at `aws-amplify-customer@amazon.com`.

[2021-09-16 17:01] say87a commented on #319
@yppartyk
I retried enabling Admin UI.
The same error occurred when turning "Enable admin UI" on too.
I'll email you the backend CLI files.

![image](https://user-images.githubusercontent.com/18613434/133652966-92963c2d-1e9c-4313-8f11-875699218466.png)

![image](https://user-images.githubusercontent.com/18613434/133653288-723e10f4-7e12-4daa-9125-1bbc7a2218e3.png)

[2021-09-16 17:15] kirkryan commented on #320
@yppartyk - sure, I have tried 3 times, with support case with the same issue. Is app ID sensitive info or can be shared here?

[2021-09-16 18:31] yppartyk commented on #320
We have identified the root cause and will be deploying a fix as soon as possible. I'll post here when it will be deployed so you can verify. Sorry for this inconvenience.

[2021-09-16 20:42] kingjuk commented on #319
we have the same issue going on too

[2021-09-16 22:08] yppartyk commented on #320
The fix is now deployed. Please check if the issue is fixed on your end and let us know if you are still experiencing it.

[2021-09-16 23:59] anoroozz commented on #320
I can confirm that the issue is resolved now and admin UI is back up.

[2021-09-16 23:59] #320 closed

[2021-09-17 16:43] pananapread commented on #319
@kingjuk @say87a we have a fix rolled out, could you please try again and verify that it's working?

[2021-09-17 19:42] kingjuk commented on #319
it is! Thanks1

On Fri, Sep 17, 2021 at 11:43 AM Anna M. Pfoertsch ***@***.***>
wrote:

[2021-09-18 03:10] ptejada opened #321 "Full access role missing action lambda:ListLayerVersions"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-09-18 07:39] kgoyal98 opened #322 "Opening Admin UI returning error"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-09-18 08:39] yppartyk commented on #322
Hi @kgoyal98, thank you for reaching out. I could not reproduce your error. Admin UI is currently available in ap-south-1. I also do not see any errors associated with your app ID in our service logs. Can you please check your browser's Network tab for further details on the network failure?

[2021-09-18 15:03] kgoyal98 commented on #322
![image](https://user-images.githubusercontent.com/32641543/133893284-34a5f2b8-9d49-43a3-9cb9-42aa343091b1.png)

[2021-09-18 15:05] kgoyal98 commented on #322
It started working for some time but this error is coming again now.

[2021-09-18 18:32] yppartyk commented on #322
Can you please try opening Admin UI in a different browser (ex: Safari) to check if the error persists there?

[2021-09-20 13:37] galgord opened #323 "Database.save returns success but does not update in Admin UI"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-09-20 18:26] edotmills commented on #322
I'm having the same issue. I'm not able to see any of my content.

[2021-09-20 20:29] yppartyk commented on #322
@kgoyal98 Are you still experiencing this issue? @edotmills is it the same issue due to CORS? What region is your app in?

[2021-09-20 20:30] yppartyk commented on #319
@say87a Are you still experiencing this issue? Did you email us your backend artifacts at `aws-amplify-customer@amazon.com`?

[2021-09-20 20:43] yppartyk commented on #323
Hi @galgord, thank you for reaching out. What do you mean by `but does not update in Admin UI`?

[2021-09-20 20:47] galgord commented on #323
Hi @yppartyk thanks for your response. I meant that the database does not update. If I print the Database.save return I see that the return value has the updated fields but that does not reflect in the admin UI, meaning that the database was not updated.

[2021-09-20 22:47] say87a commented on #319
@pananapread
@yppartyk
Yes. It hasn't been fixed yet.
I sent our backend artifacts from my business email address on last Friday.

[2021-09-21 01:16] yppartyk commented on #321
Hi @ptejada, thank you for reaching out. We are going to add this permission to the Full-access role in the near future.

[2021-09-21 01:25] ptejada commented on #321
@yppartyk

Is there a way to control additional permission for this role?

For example, to fix this issue permanently on my end or if I want to give the role access needed for some custom category resources.

[2021-09-21 06:16] galgord commented on #323
Hi @yppartyk Sorry for the late reply, We are on different time zones. I have created a short video that will display the issues. The data does not update both in the Admin UI and in DynamoDB.

Please see this link: https://drive.google.com/file/d/1sm6fJUvI5neD8GLU8CL7OcSEP5Tc5G_C/view?usp=sharing.

In the video you will see me successfully updating the DB the first time but after I switch tabs an

[2021-09-21 06:46] felixolivares commented on #296
This is still happening, are there any updates on this matter yet ?

[2021-09-21 06:49] felixolivares commented on #247
Still happening, any updates on this issue ?

[2021-09-21 07:11] kgoyal98 commented on #322
@yppartyk I did not experience it after that. This is some intermittent issue. Probably this issue will come again.

[2021-09-21 21:19] yppartyk commented on #319
Sorry for the inconvenience. Can you please email them again? I do not see your previous email.

[2021-09-22 08:32] say87a commented on #319
@yppartyk
I resent backend CLI files info to `aws-amplify-customer@amazon.com`.
Take care that I sent from a different mail address from my github account registration, and that files are shared you via filestorage because those are too large.
The subject is "Send backend CLI files / amplify-adminui issue#319".

[2021-09-22 16:24] yppartyk commented on #319
I received the email, but the link provided is not working (see below). You can email the files to us directly if you zip them up. The bucket should contain a `#current-cloud-backend.zip` folder and a `amplify-meta.json` file. You can download both to your local machine and compress them.

![image](https://user-images.githubusercontent.com/18372698/134383070-f853d2f6-ae84-48c2-8fc5-b105df2d0c57.pn

[2021-09-22 16:42] yppartyk commented on #321
Unfortunately, additional permissions on this role will have to be added on our side for them to persist. If you have other permissions that you think should be added, please let us know here.

[2021-09-22 16:51] yppartyk commented on #322
Closing for now. Please reopen if you experience this issue again.

[2021-09-22 16:51] #322 closed

[2021-09-23 10:04] conorw commented on #302
Does anyone know a workaround for this issue?

[2021-09-23 13:47] sydiaplatform opened #324 "Reset all authentication settings and users - Amplify Admin UI"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-09-24 02:20] poboisvert commented on #292
455.ac9c9d44.chunk.js:2 Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'indexes')
    at 455.ac9c9d44.chunk.js:2
    at Array.forEach (<anonymous>)
    at 455.ac9c9d44.chunk.js:2
    at Array.forEach (<anonymous>)
    at e.<anonymous> (455.ac9c9d44.chunk.js:2)
    at 455.ac9c9d44.chunk.js:2
    at Object.next (455.ac9c9d44.chunk.js:2)
    at 455.ac9c9d44.chunk.js:2

[2021-09-24 04:34] Joshua-Zhang-S opened #325 "remove api resource"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-09-24 15:48] iosif-eolas opened #326 "Issue when moving repo from Github to Bitbucket [NOT SOLVED]"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-09-24 15:55] iosif-eolas commented on #326
EDIT:

After creating a new app, I authenticated my Bitbucket repo then moved back to the previous app and it just worked!

[2021-09-24 16:02] js-beaulieu commented on #302
Getting the same problem. Any fix?

[2021-09-24 17:24] DarkestMisery opened #327 "Admin UI Auth never ends"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-09-24 19:29] yppartyk commented on #327
Hi @DarkestMisery, can you please check if this operation is still running? It should be reset now. Sorry for the inconvenience.

[2021-09-24 20:38] yppartyk commented on #324
Hi @sydiaplatform, thank you for reaching out. I took the same steps as you in the hopes of reproducing your issue. However, deleting the auth resource on the cloned environment worked for me. In our service logs, I see the following error in your deployment: `Fn::GetAtt references undefined resource authsydiabackend`

This indicates that the CloudFormation stack tied to your auth resource in the

[2021-09-26 01:48] codenamegary opened #329 "Unable to add existing layer to Lambda function"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-09-27 07:58] say87a commented on #319
I'm sorry for the inconvinience.
I re-emailed as the same title as previous sent one.
I zipped the files up, and attached them directly.
All function folders have deleted from `#current-cloud-backend.zip` because javascript files are not allowed to attach via gmail.

[2021-09-27 08:08] say87a commented on #319
@yppartyk
I'm sorry for the inconvenience.
I re-emailed as the same title as previous sent one. I zipped the files, and attached them directly.
However, all function folders are excluded from `#current-cloud-backend.zip` because javascript files are not allowed to attach via gmail.

[2021-09-27 13:12] DarkestMisery commented on #327
no, the task has already stopped, thanks for the help!

[2021-09-27 13:12] #327 closed

[2021-09-27 15:49] oscarnevarezleal commented on #319
I have the same issue too. I don't recall any change on our end, it started to appear last Friday.

[2021-09-27 16:03] Bartman250 opened #328 "graphql based on sql api deployment hangs on your new data model is being deployed admin ui message"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-09-27 16:08] yppartyk commented on #319
Thank you, I received the files. It seems that the issue is due to the bucket whose name contains `-storage-`. It is empty and results in an exception being thrown since the expected backend files are not present. If this environment is not needed, please try deleting it and let us know if opening Admin UI works.

[2021-09-27 16:09] yppartyk commented on #319
@oscarnevarezleal What is your app Id and region?

[2021-09-27 16:53] say87a commented on #319
@yppartyk
Thank you for your advice.
In conclusion, I've been able to access Amplify AdminUI!

I don't need this environment, but I couldn't delete that thru console.
(The error occurred as bellow.)

![image](https://user-images.githubusercontent.com/18613434/134947017-aec5dc43-e709-4357-a982-b92024423066.png)

![image](https://user-images.githubusercontent.com/18613434/134947084-99713350-0032-4d0

[2021-09-28 07:05] Bartman250 commented on #328
Hello @yppartyk Thanks for looking into this. Unfortunately,  the Admin UI/Data GUI is now blank and unresponsive and I am still unable to get results from my graphql queries - both queries and mutations return null, even though there is test data in the database.
Could you tell me if this is a common problem and if it could be region specific. I'm running a POC for what will be a production syste

[2021-09-28 08:16] sarv-fuse commented on #320
Trying to open Admin UI from the Amplify Console and it throws this error -> "An error occurred while opening Admin UI: ValidationException - An error occurred while processing your request: ValidationException: null"

[2021-09-28 12:25] sarv-fuse opened #330 "Cannot open AdminUI"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-09-28 16:00] sarv-fuse commented on #330
One of our teammates find out  the workaround for admin UI entry, happy to share it here.

[2021-09-28 17:08] sarv-fuse commented on #330
Another issue now
An error occurred while opening Admin UI: ResourceNotFoundException - An error occurred while processing your request: User pool us-east-1_zsk9pxq08 does not exist.

[2021-09-28 17:15] Devinwhite commented on #330
The workaround seems to be going to admin-ui-managment turning of admin UI and then turning it back on.   Then the user pool is recreated and everything seems to work until it stops again.

[2021-09-28 17:22] busster commented on #330
@sarv-fuse Regarding your initial post, it looks like something is corrupted with this environment - `prcge`.  If possible, can you please email us the files in the deployment bucket containing `prcge` and `deployment` so that we can take a look? You can email us at aws-amplify-customer@amazon.com.

[2021-09-29 01:45] andy-HM commented on #310
Any ideas on this @SwaySway ?

[2021-09-29 07:47] mysticvalley commented on #122
@letsbelopez  This issue is still happening. I have amplify admin UI username which was created automatically i.e. `aws-amplify-admin` but no password setup was done before. So when I try to login to `Admin UI` from the console using following command:

[code]

I am stuck on following screen for which I neither know the password nor can reset the password. Please review and check the bug. Thanks.

[2021-09-29 08:56] htc007 commented on #122
Getting the same error with an existing Admin UI user. I reset the password, but still got the same error. I subsequently created a new Admin UI user and still got the same before I even attempted to sign in.

[2021-09-29 10:31] Jack-Huskinson opened #331 "Admin UI stuck at 'Deploying' after pressing 'Save & Deploy'"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-09-29 15:05] humarkx opened #332 "Failed to deploy datastore due to missing environment variable values"
Command failed with exit code 1: /root/.amplify/bin/amplify push --yes ⚠️ Amplify command hooks are disabled in the current execution environment. ⚠️ See https://docs.amplify.aws/cli/usage/command-hooks/ for more information. [31mAn error occurred pushing an env "dev" due to missing environment variable values[39m

Fix for the original issue has been rolled out. If anyone is still seeing this, p

[2021-09-29 15:07] humarkx commented on #332
Also get an empty page everytime I press `View data model`

![image](https://user-images.githubusercontent.com/13049940/135296661-e48bde15-4674-4c26-8129-1cef34a3e703.png)

![image](https://user-images.githubusercontent.com/13049940/135296574-5084eee3-bcd4-4217-b8e3-6545136e1fe8.png)

[2021-09-29 15:42] cfbo opened #333 "Are multiple m-m connections in the same type supported?"
**Which Category is your question related to?**
api / graphql

**Amplify CLI Version**
6.1.0

**Description**
Are multiple m-m connections supported by Admin UI?
I have created the model in the schema.graphql and pushed. But - even after many attempts and carefully checking the schema - I always get to that error (highlighted):
![image](https://user-images.githubusercontent.com/7568421/135302570-8

[2021-09-29 16:56] marcvberg commented on #333
Transferring to Admin UI

[2021-09-29 19:07] oscarnevarezleal commented on #319
Hi @yppartyk
appId=did1z60k93dy and region=us-east-1 environment=staging

[2021-09-29 19:35] busster commented on #332
Hello @humarkx, This error is most likely due to a circular reference in your schema. Would you be able to provide your appId and region for us to investigate further? Thanks!

[2021-09-29 20:12] busster commented on #332
@humarkx In regards to your first comment `An error occurred pushing an env "dev" due to missing environment variable values`, can you try these steps to remedy?

1. Ensure that you are running the latest version of `@aws-amplify/cli`. You can check this by running `amplify -v`
2. Inside of your project, run `amplify push`. **_This should prompt you to fill out any missing environment variables._*

[2021-09-29 20:35] humarkx commented on #332
![image](https://user-images.githubusercontent.com/13049940/135344441-42f8810b-6828-4b0e-b8d3-e1d0b820d654.png)

Latest version and nothing prompts

[2021-09-29 20:35] busster commented on #331
Hello @Jack-Huskinson thank you for reaching out. The issue should now be fixed. Please try again and let us know if you are still experiencing it.

[2021-09-29 20:37] humarkx commented on #332
amplify pull --appId d1lknnvpjxt7sw --envName dev

[2021-09-29 20:46] busster commented on #328
Hello @Bartman250 Would you be able to provide screenshots of this issue so I can take a look?

[2021-09-29 20:49] busster commented on #332
@humarkx Can you provide the region as well?

[2021-09-29 20:58] humarkx commented on #332
Frankfurt

[2021-09-29 21:45] juliabpp commented on #331
@busster I'm having the same problem on my account (in one of the environments only). It's stuck on Deploying for over a week now.

[2021-09-29 23:25] jeremypagley commented on #332
I am getting this same issue AppId: `d12k8a581e2gcs` - Region: `us-east-1`. Deploying from amplify push works but from the admin it does not work. Error is below:

[code]

[2021-09-29 23:53] busster commented on #333
Hello @cfbo it looks like the issue is in your join table name - `RuleTemplateLabel` - Change the name of this to be `RuleTemplateRuleLabel` (Concatenation of the two models to join). Currently custom naming is not supported. Admin UI infers the join table name based on the concatenation of the two models.

[2021-09-30 00:06] mysticvalley commented on #122
@htc007  What worked for me was, I added a new user from Admin UI Management section and then was able to login in Admin using that created username(email) and password.

![Screen Shot 2021-09-30 at 10 04 16 am](https://user-images.githubusercontent.com/330351/135364715-37df455a-52a5-4014-9ee9-28434230d94b.png)

However after this I landed on another error which is discussed [here](https://github.

[2021-09-30 06:55] Bartman250 commented on #328
@busster Thanks for coming back. The data tab on the admin UI is just blank.

Also, my queries using the graphql api are returning nulls for example:

![image](https://user-images.githubusercontent.com/16797642/135400223-810da0f3-3303-4893-8cc1-66b795aec456.png)

I can see that all the apl schema and resolvers (velocity templates) were generated.
But feels like there is a step missing to make the

[2021-09-30 07:09] cbotezatu opened #334 "Ongoing Deploying state when configuring RDS with AWS Amplify"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-09-30 08:48] Jack-Huskinson commented on #331
@busster Yes, it is all working fine now, thank you very much.

[2021-09-30 09:06] cfbo commented on #333
Hello @busster. The issue is fixed now after making the change you suggested... thanks a lot!!!

Is that requirement documented somewhere by any chance? I think it is quite important because - due to that - I was unable to use the Admin UI Content page.. the add label button would not show any value.
I spent quite some time figuring this out and I would suggest to add a note both in:
https://docs.

[2021-09-30 10:00] Luca8991 commented on #277
I'm still experiencing this bug. What can I do? I'm stuck on development because of this

[2021-09-30 10:04] Luca8991 commented on #277
Neither I nor anyone else has deleted any CloudFormation stack. I can't find any `amplify-authuserdatabackend-staging` stack

[2021-09-30 10:22] Jack-Huskinson opened #335 "Content tab: 'There was an error loading your data'"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-09-30 19:05] busster commented on #333
@cfbo It is not currently, but thanks for the suggestion - we will make sure to update the documentation with this information!

[2021-09-30 19:58] busster commented on #335
Hello @Jack-Huskinson, would you be able to reload the content and send a screenshot of the entire screen and console? Also it would help to see your schema as it looks like something in the configuration is causing an issue. You can send it through Discord - (Home > scroll to bottom, Community link) - or email it to us at aws-amplify-customer@amazon.com. Once we have this info I'll take a look!

[2021-09-30 20:23] busster commented on #334
@cbotezatu Can you provide the AppId for us to take a look?

[2021-09-30 21:14] busster commented on #328
@Bartman250 Can you provide some screenshots of the UI and of the Console?

[2021-10-01 04:33] yiyang7 commented on #335
We get the same error "There was an error loading your data."

[2021-10-01 05:58] 014967 opened #336 "how can i stop deployment activity?"
**Which Specific Feature is your question related to?**
amplify admin ui

**Provide additional details e.g. code snippets**
<img width="1354" alt="스크린샷 2021-10-01 오후 2 47 27" src="https://user-images.githubusercontent.com/62296097/135571738-7bb7d2ec-ed4d-41d0-9380-569693c86c17.png">

jobCategory.GenerateBackendAPIModels failed and after that, I directly pressed the deploy button of the dat

[2021-10-01 06:41] Bartman250 commented on #328
This is the home page of the admin UI for the app - dg24riwqqhzih

![image](https://user-images.githubusercontent.com/16797642/135576596-988115eb-e26f-482d-bfb2-a10320029273.png)

Apologies for this, its not a very exciting screen shot.
This is the data model:

![image](https://user-images.githubusercontent.com/16797642/135576467-58e79910-93b7-4d48-8466-eb20d0ef5554.png)

This is the graphql view

[2021-10-01 07:47] #333 closed

[2021-10-01 07:47] cfbo commented on #333
Thanks for the support

[2021-10-01 10:03] Jack-Huskinson commented on #335
Hello @busster, thank you for the reply. I fixed the problem myself, I just had to revert a change that I had made to my schema.

[2021-10-01 10:03] #335 closed

[2021-10-01 10:09] Jack-Huskinson commented on #331
Hi @busster, I fixed the issue that I had here [https://github.com/aws-amplify/amplify-adminui/issues/335](url). In my content tab I couldn't see a new model that I had made so I pressed 'Save & Deploy' and now it is stuck again. In the deployment activity table is again says 'Updating API' followed by 'Running'. Thank you in advance, also would it be possible to know if there is a way to fix this

[2021-10-01 13:57] 014967 commented on #336
Looks like my situation with #286 is similar. Can you solve the problem in my area too? I am using the ap-northeast-2 region.

[2021-10-01 15:07] MikeGShelby opened #337 "Request for adding new items to models: drop-down selections for arrays"
**Is your feature request related to a problem? Please describe.**
When using the content management form for adding new items to a model, there does not currently seem to be any way of displaying a pre-defined set of options for certain fields.

For example, if I'm adding multiple items to an array within a model, I need to manually type each possible array item into the field for every item in t

[2021-10-01 15:18] MikeGShelby commented on #337
Also, I should note that this feature would actually be helpful for *any* model property, including single-item strings. Drop-down selections can help improve workflow efficiency and maintain data consistency in a variety of situations!

[2021-10-01 17:23] busster commented on #331
Hey, @juliabpp What is your appId and region? I will take a look.

[2021-10-01 17:56] juliabpp commented on #331
@busster
appId = d118lsrfqs89m8
region = us-east-1
envName = dev

[2021-10-01 19:52] busster commented on #336
@014967 The issue should be fixed, can you please try again?

[2021-10-01 20:25] busster commented on #331
@Jack-Huskinson @juliabpp The issue should be fixed, can you please try again? Also this is a known problem that we are working on as fast as possible, as a work around you can still use the CLI - https://docs.amplify.aws/console/adminui/extend-cli/. If you experience this again please open another issue.

[2021-10-01 20:53] juliabpp commented on #331
@busster thanks! It's fixed.

[2021-10-02 05:08] cbotezatu commented on #334
Thanks, @busster. The AppId is `dnji70bbhqss1`

[2021-10-02 05:13] 014967 commented on #336
@busster  Oh my gosh, I just checked again and it's fixed, thank you

[2021-10-02 06:48] #336 closed

[2021-10-03 15:50] gmineropfdrive commented on #332
Same here:
`An error occurred pushing an env "localdev" due to missing environment variable values`
AppId: d2v4f4s75wi770
region: us-east-2

Happens after I add a lambda function using the cli, after pushing it (amplify push)

[2021-10-04 00:25] vckofi commented on #331
Hi @busster I have the same problem, In the Admin UI after I pressed 'Save & Deploy' I get this
![Capture](https://user-images.githubusercontent.com/46874419/135778454-651ab565-9fa2-4330-b990-7aa64edefeb1.JPG)

![Capture2](https://user-images.githubusercontent.com/46874419/135778515-01a63e99-ca36-4647-a7b0-3b3b2cfc5ef5.JPG)

App Id: dmr9y2id3iyjd
Region: us-east-2

[2021-10-04 09:00] #331 closed

[2021-10-04 13:58] gagichce opened #338 "[AdminUI] Error when opening Content Management Tab"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-10-04 17:53] rush86999 commented on #338
same problem

[2021-10-05 01:36] prajwalbv99 commented on #338
@gagichce could you please reload the content page share a screenshot of your page along with your console.

1. Go to your content page(refresh the page)
2. Right click the screen, select “Inspect”
3. Navigate to the Console tab
4. Take a screenshot of the error message shown in red

This would help us debug!

[2021-10-05 02:01] rush86999 commented on #338
here's what i got:

[code]

[2021-10-05 02:03] rush86999 commented on #338
<img width="709" alt="Screen Shot 2021-10-04 at 10 03 08 PM" src="https://user-images.githubusercontent.com/16848240/135948701-900a1f38-8789-44e3-9838-91d1ad7a823b.png">

[2021-10-05 02:54] rush86999 commented on #338
<img width="1255" alt="Screen Shot 2021-10-04 at 10 53 11 PM" src="https://user-images.githubusercontent.com/16848240/135952774-0ea02467-a075-4978-b146-0d3964a3dfea.png">

[2021-10-05 02:56] rush86999 commented on #338
[code]
no errors second time in the console window. Just warning and logs

[2021-10-05 07:14] ChopykDm commented on #338
Got the same error message. I've inspected the network and see that there are errors at the responses.

QUERY:
query: "query operation($limit: Int, $nextToken: String, $lastSync: AWSTimestamp, $filter: ModelUserDataFilterInput) {\n  syncUserData(limit: $limit, nextToken: $nextToken, lastSync: $lastSync, filter: $filter) {\n    items {\n      id\n      userid\n      favoritesBooks\n      purchasedB

[2021-10-05 16:18] prajwalbv99 commented on #338
@ChopykDm  in regards to the Transformation too large error. Currently a 1MB limit on AppSync transformations. You might be currently hitting that limit and will not be able to use the Admin UI with your current data.

[2021-10-05 16:38] rush86999 commented on #338
Wouldn't my app stop working if there was circular references? I can do everything on my app locally. can you provide an example in terms of graphql scheme for me to compare? where would the circular references be? In secondary keys?

[2021-10-05 17:18] prajwalbv99 commented on #338
@rush86999 you can refer to [this](https://github.com/aws-amplify/amplify-adminui/issues/251#issuecomment-871561188) issue, where there is a circular reference present in their schema.

[2021-10-05 17:26] rush86999 commented on #338
[code]

Is the above a circular reference? If so i need them for query purposes. Do you suggest an alternative? I like to add test data regardless of admin ui works or not. How do i add test data in dynamodb that syncs with the datastore and amplify without using admin ui?

[2021-10-06 22:58] gagichce opened #339 "[AdminUI] Autocomplete dropdown - how to pick which field is searchable?"
**Which Specific Feature is your question related to?**
### AdminUI - Content Tab

Autocomplete when associating models is great.. but how do I tell Amplify which field it should use for the autocomplete?

Right now it's selection seems to be arbitrary? Ideally I'd like to select which field should used for autocomplete.

**Provide additional details e.g. code snippets**

Sample Model:

![Screen S

[2021-10-07 17:51] yppartyk commented on #282
Closing. Please re-open if you are still experiencing the issue.

[2021-10-07 17:55] yppartyk commented on #324
@sydiaplatform Can you please please verify your CloudFormation stacks as described in my previous comment? If this is no longer an issue for you, please let us know.

[2021-10-07 17:58] yppartyk commented on #330
The issue with opening Admin UI should now be fixed. It was due to at least one of your environments being corrupted or missing expected backend files.

[2021-10-07 17:58] #330 closed

[2021-10-07 17:59] yppartyk commented on #126
Closing. Please re-open if you have further questions.

[2021-10-07 17:59] #126 closed

[2021-10-08 12:07] Jack-Huskinson opened #341 "Unable to view one of my models in the content tab."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-10-08 13:51] juliabpp opened #342 "Amplify Admin Content - There was an error loading your data."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-10-08 15:51] prajwalbv99 commented on #341
@Jack-Huskinson Can you please hit Save and Deploy on the Data tab in AdminUI. Wait for the deployment to finish and confirm if you are still unable to view the newly created model?

[2021-10-08 17:55] prajwalbv99 commented on #339
@gagichce At the moment we pick the first valid non-id field sorted by name to represent the related record in the search.
As of now we cannot configure any field explicitly for auto-suggest.

[2021-10-08 20:01] #339 closed, assigned to nobody

[2021-10-08 20:27] prajwalbv99 commented on #161
@rajesh-kc Could you please confirm if you are still experiencing this issue?

[2021-10-08 20:31] prajwalbv99 commented on #316
@matart15 Could you please let us know if you are still experiencing this issue. Also could you let us know if your schema is split into multiple files.

[2021-10-08 20:42] WalterWoshid commented on #318
@AechDub is the problem fixed?

[2021-10-08 20:47] prajwalbv99 commented on #317
@mversteeg Currently we do not support schema present across multiple files.
We have added this as a feature request, and will update only we have it released.

[2021-10-08 21:25] #96 closed

[2021-10-08 21:36] AechDub commented on #191
@fernandesGabriel seems you got through this. If you're still having issues, please open a new ticket.

[2021-10-08 21:36] #191 closed

[2021-10-08 22:44] prajwalbv99 commented on #247
We are currently working on this issue. Will update this thread only the fix has been released.

[2021-10-09 04:20] jkervine commented on #318
@WalterWoshid @AechDub Still broken for me.

![image](https://user-images.githubusercontent.com/983442/136643830-0f7d47d9-c7d5-4ae9-ba63-4883a8dda003.png)

Creating the Comment by attaching it to the Post, schema in discussion above.

[2021-10-09 13:43] rush86999 opened #343 "Amplify Admin UI content management screen goes blank"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-10-09 14:19] sufyanghazali opened #344 "AppSync with Amplify"
**Which Specific Feature is your question related to?**

Adding API to Amplify app

**Provide additional details e.g. code snippets**
Hi, I've been trying to connect an existing appsync api to an amplify app. Everything works locally but when I run "
amplify push" to update it in the cloud, the api doesn't get pushed along with it.

[2021-10-10 07:53] DennisonAWS commented on #278
Hi, I am having the same issue. I have tried the solutions in this post and many related issues but no luck.

OS. Windows 10 / Crome 94.0.4606.71 and macOS Catalina 10.15.7 / Safari 15.0
Using Cloud9

Issue
Cloud9 IDE
- amplify pull --appId xxxxxxxxxxx --envName staging
- Opening link: https://ap-southeast-2.admin.amplifyapp.com/admin/xxxxxxxxxxxxx/staging/verify/
- Continue in browser to log in
C

[2021-10-11 10:40] dbeck121 opened #345 "Edit more user attributes in User Management"
**Which Specific Feature is your question related to?**

User Management in Admin UI

**Provide additional details e.g. code snippets**

Hi,
I like the possibility to edit user data in the Admin UI. That makes things way easier.
Unfortunately the Admin UI only shows 4 user attributes for me. I think these are the attributes that I set as mandatory as I created the cognito store.

My question now:

[2021-10-11 22:35] prajwalbv99 commented on #342
Hi Could you please check again and confirm if everything is working, before we close this issue!

[2021-10-12 09:55] sergeysviezhentsev opened #346 "Data model deployment fails"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-10-12 23:03] drclohite opened #347 "partly deployed graphql resources"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-10-12 23:41] sufyanghazali commented on #344
@prajwalbv99 Sure thing

- created the react app
- "amplify init" with default settings
- "npm install aws-amplify @aws-amplify/ui-react" and configured the front end
- "amplify pull --appId XXX --envName XXX" to connect my local project to the backend in the cloud
- "amplify add codegen --apiId XXX" and "amplify codegen" to add existing API to app
- "amplify push"

[2021-10-13 10:06] Jack-Huskinson commented on #341
@prajwalbv99 The past 2 times I have pressed Save and Deploy it ends up getting stuck. I made an issue before #331 so I think when I press it this will happen again. This could also be related to this issue as this all started to happen at around the same time

[2021-10-13 21:02] cslogan-red commented on #343
@rush86999 The auth headless error message you're receiving is preventing a build from within AdminUI (or locally via the CLI with a push, they each track the same CloudFormation stack) to complete successfully, and the model generation needs to occur in order for Amplify to correctly set the required IAM auth directives in your GQL schema so that you can utilize Content (which is why Content isn'

[2021-10-13 21:15] rush86999 commented on #343
Ok thanks, I will follow the social sign in docs again to see what I missed and see if this fixes the problem. Thank you

[2021-10-13 21:15] #343 closed, assigned to nobody

[2021-10-13 21:19] cslogan-red commented on #347
Sorry to hear about the struggles @drclohite - apps initially created locally with earlier CLI versions (pre ~4.2) can have environments wind up in conflicting states when the older CLI version continues to be utilized locally but is always patched to latest in the Amplify build system, we have automatic & manual migration paths and warnings for this but there may still be cases/configurations tha

[2021-10-15 07:51] dbeck121 commented on #345
Hey, anyone with an Idea?

[2021-10-17 16:30] JINSEON-LEE commented on #64
I solved this -> An error occurred pushing an env "dev" due to missing environment variable values
There was an error because the environment variable of lambda function was omitted. I wrote the command 'amply update function' and updated the suspected function's environment variable.

[2021-10-18 21:24] cslogan-red commented on #161
Closing as duplicate, please ref #216

[2021-10-18 21:24] #161 closed

[2021-10-19 03:30] abhi7cr commented on #345
Hey @dbeck121, thanks for reaching out!

At the moment, we only support editing required sign up attributes  in Admin UI.

[2021-10-19 03:51] ajinkyashukla29 opened #349 "update mutation for a model with a custom type should update an array element if the id of the element is passed"
**Is your feature request related to a problem? Please describe.**
Let's say I have  the following schema
[code]
Assuming I have a post with `id: 123` and  comment with `id: 1` already created, if I run the following mutation
[code]
The above mutation adds a new comment instead of updating comment with `id: 1`

**Describe the solution you'd like**
I would like the above mutation to update the arra

[2021-10-19 09:36] duranmla commented on #318
I am actually relief to see this issue here. I was yesterday going in circles trying to understand what I have done wrong. What is the suggested course of action now? Perhaps to work with the DataStore API and not expect this to work yet with the Data UI? I mentioned the same problem @jkervine is describing at https://github.com/aws-amplify/amplify-adminui/issues/68#issuecomment-946517256

Also, I

[2021-10-20 10:33] Lorenzohidalgo opened #351 "Error when switching to content tab"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-10-20 10:39] Lorenzohidalgo commented on #294
maybe this issue helps: #164

AdminUI / AppSync won't delete the record in dynamoDB, they set the flag `_deleted` to `true` and a `ttl` of 30 days. AppSync / GraphQL querys should filter out the items with `_deleted == true`

[2021-10-20 19:53] wmccracken opened #352 "Amplify stuck on Data Model deploying for many hours"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-10-21 21:50] abhi7cr commented on #352
Hi @wmccracken, thanks for reporting.  Could you try again executing `push` again ?

[2021-10-22 02:37] sunpan3213 opened #353 "Conflict resolver rejects mutation"
When I use the amplify API to call ModelMutation.delete(model), it prompts Conflict resolver rejects mutation, but when I call delete in the amplify datastore, it is successful.
Please tell me why this happens and how to solve it, thank you

[2021-10-23 04:46] pratikdhody opened #354 "Kill jobCategory.GenerateBackendAPIModels Activity"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-10-25 07:48] jacobsapps opened #355 "Amplify Admin UI - Authentication - "Deployment Status Failed - Not Authorized - contact your admin" - when using full access account OR root credentials"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-10-25 12:42] #341 closed, assigned to nobody

[2021-10-28 12:27] jacobsapps opened #356 "Can't add custom sign-in & sign-out redirect URLs for Sign in with Apple"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-10-29 08:04] spormeon opened #362 "loads of lambada functions left after app delete ( i think)"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-10-29 19:00] #349 closed

[2021-10-29 22:00] frostini commented on #351
Hi @abhi7cr , I might be having a similar or related issue as well. The content tab/page doesn't seem to be able to load. It started happening after a local update to a graphql schema model. The deployment was successful and the graphQL API is running properly. It seems to be the actual AdminUI content panel that is the hangup. Is it safe to share an AppID on here or should I email you directly to

[2021-10-30 10:10] cbotezatu commented on #334
Hello. I am reaching out as the issue has reappeared recently. Any help would be much appreciated!

[2021-10-31 04:37] sophieyuge opened #357 ""A valid backend environment was not specified" due to "Amplify meta file not found""
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-10-31 09:18] krrby opened #358 "Bug After initial pull - error Could not attach the backend to the project. Ensure that there are no applications locking the `amplify` folder and try again"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-11-01 09:56] santaes commented on #351
Have the same issue! Someone please help!

[2021-11-01 14:19] #324 closed

[2021-11-01 16:04] abhi7cr commented on #351
Hi @frostini, @santaes, thanks for reporting. We are actively working on surfacing the errors in the UI. Meanwhile, could you check your **browser console logs** for any **warnings/errors** after you load this page ?

[2021-11-01 17:15] santaes commented on #351
After double checking found an error in schema, after updating a schema it works correct!) Thanks!

[2021-11-01 18:32] h0ngqi opened #359 "Unable to pull backend env to existing frontend project on local"
Hi,

This is my first time using Amplify. I have set up my frontend, deployed and hosted my website successfully. After adding the Backend environment for Authentication & API, I was unable to link my project on local to the backend service had created through the AWS Amplify Console. I have tried running amplify pull --appId {appId} --envName {envName} as per instruction, however, the console is

[2021-11-01 19:09] #359 closed

[2021-11-01 19:11] h0ngqi commented on #359
Managed to fix this issue. Dropbox was running sync in the background hence kept hitting this error `Could not initialize 'staging': EBUSY: resource busy or locked`

https://github.com/npm/npm/issues/13461

`Wanted to add a comment. I was running into this issue. I didn't have any antivirus running. What I did have though was saving the file into a Dropbox folder. Dropbox sync service appears to h

[2021-11-01 19:32] frostini commented on #351
![Screen Shot 2021-11-01 at 12 31 04 PM](https://user-images.githubusercontent.com/8052950/139730068-5089eff3-171f-4044-9123-39e7b60e3d4a.png)
 @abhi7cr, thanks for looking into it. much appreciated !

[2021-11-02 03:52] yppartyk commented on #357
Thank you for reaching out. Can you please check your app's deployment bucket for the `amplify-meta.json` file? The bucket should begin with `amplify-` and end with `-deployment` (with the name of your app and backend environment in between). Within the bucket, there should be a zipped folder called `#current-cloud-backend.zip`. Please download this folder, unzip it, and check for the file that is

[2021-11-02 15:42] yppartyk commented on #354
Hi @pratikdhody, any updates on this? This is an expected status for a deployment that is in progress.

[2021-11-02 15:44] yppartyk commented on #352
Hi @wmccracken, we have identified the root cause and have plans to address this issue. Sorry for any inconvenience this caused you. Closing this for now, but feel free to re-open if you experience any other issues.

[2021-11-02 17:35] crazymonk opened #360 "Admin UI: User Management "Reset password" action not working"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-11-02 18:41] yppartyk commented on #360
What is the status of the user for whom you are trying to reset a password (you can find it in the Users table in AdminUI)? Is it `FORCE_CHANGE_PASSWORD`? If so, the user first has to log in and change their password from the temporary one they received in the email invite. After that, resetting their password should be enabled.

[2021-11-03 07:33] ngjoni commented on #351
I also got a similar error message after model deployment.
![image](https://user-images.githubusercontent.com/49320058/140022923-3ef6bdb6-2c07-489c-a116-1eb96843a760.png)
![image](https://user-images.githubusercontent.com/49320058/140023042-55af64cb-ebcd-4527-b199-0e0df3accdd4.png)

[2021-11-03 16:28] yppartyk commented on #356
@jacobsapps The fix should now be rolled out to `eu-west-2`. Can you please confirm?

[2021-11-03 22:07] crazymonk commented on #360
No, the status is CONFIRMED. As far as I can tell, the "Reset password" action on the "User management" page does nothing: it neither sends out an email with a new temporary password, nor allows the admin to create a new temp password, nor does it change the status to FORCE_CHANGE_PASSWORD.

[2021-11-03 22:20] crazymonk commented on #360
And yes, right now the workaround is to delete and create that user again.

[2021-11-04 01:03] yppartyk commented on #360
Sorry for this inconvenience. Can you please inspect the Network tab in your browser when you reset the password? You should see an error on a call to Cognito. If so, please check what the error is.

[2021-11-04 13:42] crazymonk commented on #360
Yep: "InvalidParameterException: Cannot reset password for the user as there is no registered/verified email or phone_number"

[2021-11-05 15:33] n-yu2shine opened #361 "Admin UI stuck on Your new data model is being deployed"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-11-05 16:33] yppartyk commented on #361
Sorry for this inconvenience. The issue should now be fixed. Please confirm that the deployment now works for you.

[2021-11-05 18:09] n-yu2shine commented on #361
Thank you. I can access Content and Data modeling now. But I see that the new models deployment was successful - there are new tables cleated in DynamoDB, and API has the new Data sources. But Content and Data modeling in AdminUI do not reflect new models. Should I re-create and re-deploy new Models?

[2021-11-07 00:51] kopecn commented on #84
same issue.

[2021-11-08 16:40] yppartyk commented on #361
Yes. Please try a fresh deployment.

[2021-11-08 16:42] yppartyk commented on #356
The issue should now be fixed. Closing this issue. Please feel free to re-open if you are still experiencing the problem.

[2021-11-08 16:42] #356 closed, assigned to nobody

[2021-11-08 16:43] yppartyk commented on #354
Closing this issue, as this is an expected behavior when a backend deployment is in progress. Please feel free to re-open if you are experiencing any other issues.

[2021-11-08 16:43] #354 closed

[2021-11-09 15:49] stradap commented on #361
Same issue here, also all the data source (DynamoDB tables was removed/deleted) I can see my schema in AppSync

If I click this, I see the error in the console.

Also if I disable DataStore and re-enable everything from the UI never works
![image](https://user-images.githubusercontent.com/5340505/140957089-16d8c831-0a25-41b7-b01d-927eef8fc963.png)

![image](https://user-images.githubusercontent.co

[2021-11-09 17:38] busster commented on #332
Hey @humarkx, update on this issue, currently Admin UI does not support deploying functions with env variables. We've been looking into possible work arounds for this, but at the moment you will have to deploy using Console or the CLI directly.

[2021-11-09 19:09] joco8 commented on #55
I'm having the same issue in us-west-2
When I push a schema model with a partition key it breaks when I remove the model it works again, any suggestions.

The model schema:

type externalIdToUser
  @model
  @key(fields: ["externalID", "externalPlatform"])
  {
    externalID: ID!
    userID: ID!
    user: User @connection(fields: ["userID"])
    id: ID!
    externalPlatform: String!
  }

[2021-11-10 04:21] bobjwatts commented on #302
I am also experiencing this issue.

AppId: d1brd27xukeynt
ap-southeast-2

![image](https://user-images.githubusercontent.com/20023457/141049084-f9fbbe88-a831-4f33-a2aa-dc86b9da7938.png)

[2021-11-10 04:40] bobjwatts commented on #302
I managed to get around it by editing auth/*yourapp*/parameters.json

I changed this:
    "authProviders": [
        "graph.facebook.com",
        "accounts.google.com"
    ],

To this:
    "authProviders": [ ],

[2021-11-11 04:07] malatasf commented on #361
Just experienced this issue yesterday.  Any updates?

[2021-11-11 23:28] malatasf commented on #361
@yppartyk my app id is d2iq8o7prc96i6,  my deployment has been stuck for 2 days now.  I've tried redeploying but it still doesnt work.  Is there anything else i can do?

[2021-11-12 16:27] tonisantosbalbi commented on #361
I'm having the same issue. Stuck for a few hours, even if the APIs have been deployed and the DynamoDB table has been created.

AppId d18hl621vev3qu
EnvName staging

<img width="1792" alt="Screenshot 2021-11-12 at 16 25 12" src="https://user-images.githubusercontent.com/85347931/141500323-a5da4db0-bbb4-445f-b161-6dc88d35f86e.png">

[2021-11-12 17:48] n-yu2shine commented on #361
@yppartyk I was able to successfully create and deploy new models. No issues with AdminUI. Thank you so much for your help!

[2021-11-12 21:47] engxx opened #363 "Admin UI stuck on "Your new data model is being deployed""
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-11-13 21:30] smhk commented on #84
This is: insane.

[2021-11-14 10:21] FaizanulHaqTri opened #364 "Content not loading in Admin UI after deploying it on DataStore"
I think it works if there is no relational modeling used but crashes particularly when the @connection tag is used in "schema.graphql" file

![image](https://user-images.githubusercontent.com/84573618/141676928-3a9c8653-6028-4d2e-890b-5f7b00732771.png)

![image](https://user-images.githubusercontent.com/84573618/141676952-24a21783-082a-4c4e-8d33-fd37b446265d.png)

[2021-11-14 14:39] tihii8898 commented on #351
![image](https://user-images.githubusercontent.com/87133096/141685554-2ee026da-4b2a-4103-a225-79b2f892e237.png)
Help me, please.
I have this trouble for 3 days. My app id is: d2y2ximd9p0gam. I had tried wifi,4g,... but the result still be that screen.  And API don't change anything when i change on my project. But i can query data and project still be fine. Thanks for help

[2021-11-14 19:22] djsjr opened #365 "Support Deployment from Admin UI with Plugins"
**Is your feature request related to a problem? Please describe.**
Added amplify video plugin to my app, which causes deployment fail when deploying from data modeling tab. I cannot edit my content until I deploy, however, causing a major problem. See awslabs/amplify-video#322 for deployment fail output.

**Describe the solution you'd like**
Successful deployment with added plugins.

**Describe al

[2021-11-15 08:23] DavidBenCage opened #366 "Stuck in deploy phase: "Your new data model is being deployed""
My amplify instance has been deploying for almost a full week now.
I've been searching but I can't find a way to roll back the changes that caused the endless deployment or to just cancel the worker.

Help would be greatly appreciated.

**Region**
us-west-1

**Environment name**
staging

**Amplify CLI Version**
6.4.0

**What operating system are you using?**
Mac

**Browser type?**
Google Chrome

*

[2021-11-15 15:17] pananapread commented on #364
Hello! Unfortunately, Admin UI does not currently support custom naming. Changing the auto-generated name will break the Admin UI.

See https://docs.amplify.aws/cli/graphql-transformer/connection/ for more details

[2021-11-15 15:17] #364 closed

[2021-11-15 15:46] laxmanvijay opened #367 "How to handle large content in Admin UI?"
I have a question related to Amplify Admin UI - Content management.

How to handle large text data input in Admin UI Content management that goes beyond 400kb?
Example data includes: Articles, transcriptions, etc.

Is there any way in which Admin UI provides this functionality?

If not, what are the workarounds?

[2021-11-15 18:41] bkboy21 opened #368 "how to deploy backend from github ?"
Hello ,
my first day using AWS, i have a JS backend and react frontend , i was able to deploy my frontend from Github no to AWSbut still trying to understand if i can deploy my backend code which id on GIthub , can anyone give me a clue how to make this work ?
my backend is still hosted in Heroku but my data wont display on my AWS frontend but still works on my frontend hosted on Heroku .
please h

[2021-11-15 19:11] pananapread commented on #368
Please take a look at the documentation, if you're having issues please open an item up with https://github.com/aws-amplify/amplify-console/issues

https://docs.amplify.aws/guides/hosting/git-based-deployments/q/platform/js/#4-deploy-your-app-to-aws-amplify

[2021-11-15 19:11] #368 closed

[2021-11-15 19:16] pananapread commented on #367
What do you mean by "handle"? Are you having issues creating a row with a large amount of text?

Let me know :)

[2021-11-15 19:37] prajwalbv99 commented on #366
Could you please provide us with the appID and region so that we can take a look?

[2021-11-15 19:43] jwoods02 commented on #351
Getting same issue after I pushed my API today with similar logs (no obvious errors)
![image](https://user-images.githubusercontent.com/6528604/141843864-4f9f724e-549b-4831-adb4-f11c77f7479d.png)

[2021-11-15 20:43] prajwalbv99 commented on #361
@malatasf, @tonisantosbalbi  Could you provide the region that your app is present in?
@stradap Could you provide the appId and the region?

[2021-11-15 20:49] stradap commented on #361
@prajwalbv99 I was able to overcome the trouble using a backup but actually, for some reason this "delete" all the Dynamo tables auto-generated by Amplify. I run a second deployment 2 days later using the same schema and works fine.
App ID: d30jgzz6mtkweo
Region: us-east-1 I

[2021-11-15 21:12] prajwalbv99 commented on #363
@engxx We are looking into this.

[2021-11-15 21:15] prajwalbv99 commented on #334
@cbotezatu IS it the exact same issues i.e the Data Model deploy is stuck. Also, is it with the same appId and the region as provided previously.

[2021-11-15 23:40] malatasf commented on #361
@prajwalbv99 sure thing its
region: ap-southeast-1 and
appId: d2iq8o7prc96i6

[2021-11-16 08:50] DavidBenCage commented on #366
Hey,

yes of course it's **d92g3ishnujb4** in eu-west-1

[2021-11-16 09:23] laxmanvijay commented on #367
Yes, here is the usecase I am trying to do:

In the admin UI, I go to content management and try to add an entry. The additionalinfo row has a very large text.

<img width="1322" alt="Screenshot 2021-11-16 at 2 39 40 PM" src="https://user-images.githubusercontent.com/30957826/141956977-6cf4f9b5-1ac5-45d1-9cb1-b21eed05c117.png">

The total length of the text is around 4mb. So when I try to save the

[2021-11-16 17:48] prajwalbv99 commented on #367
@laxmanvijay This is a known limit that is applied by DynamoDB(i.e the record size has to be less than 400Kb).
Right now the possible alternative might be to use S3 for storing large items and use your DDB table to store a link to that object in S3.
As of now, it's limited to 400Kb in AdminUI.

[2021-11-16 17:55] laxmanvijay commented on #367
Got it, thanks! I think it would be a great feature to add it to the content management of the Admin UI.

[2021-11-16 18:43] #367 closed

[2021-11-16 23:38] prajwalbv99 commented on #366
@DavidBenCage Thank you, we are looking into this.

[2021-11-16 23:42] prajwalbv99 commented on #281
@connected-mdeluco Closing this ticket.
You can re-open this ticket if the issue still exists.

[2021-11-17 00:19] liamccmail commented on #366
I am encountering the same issue as well.

**app-id**: d236tpjzglvodf
**region**: ap-southeast-2

[2021-11-17 01:41] prajwalbv99 commented on #361
@stradap So if you update your schema(i.e delete some existing models), amplify cli deletes the generated Dynamo DB tables. It is described here under the `—allow-destructive-graphql-schema` flag. https://docs.amplify.aws/cli/graphql-transformer/overview/#update-schema

[2021-11-17 01:58] stradap commented on #361
@prajwalbv99 I'm aware of that, but actually I didn't change the model itself just add the auth rules from the UI so I didn't change nothing from the schema directly. In first instance I just modify a typo in the model from the UI after a few minutes of finishing the deploy I wasn't able to see any more the Data model in the UI and start to throw me a blank page with the error attached in the imag

[2021-11-17 14:07] micheldelgallo opened #369 "Admin UI - Content - It is not showing the data to manage. (There was an error loading your data)"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-11-17 15:04] pananapread commented on #369
Hello! Could you take a screenshot of your console so we can see what the error message is? (to learn how, see https://developer.chrome.com/docs/devtools/overview/#console)

[2021-11-17 17:27] prajwalbv99 commented on #363
@engxx This issue should now be resolved. Could you please confirm?

[2021-11-17 17:28] prajwalbv99 commented on #361
@malatasf This issue should now be resolved. Could you please confirm?

[2021-11-17 17:49] k-curt commented on #351
Same thing just happened to me. Made a change to the schema.graphl, pushed and now I can't access Content of Data tabs. It also deleted all of my tables I created using amplify. I checked Dynamodb and sure enough the tables have been deleted.

[2021-11-17 18:13] yucomds commented on #369
Same issue for me.

![image](https://user-images.githubusercontent.com/42735351/142258324-32f098a1-e575-4f05-8a9a-c7b58bb22577.png)

[2021-11-18 03:46] jdt11 opened #370 "Amplify Backend Error"
**Please describe which feature you have a question about?**
Amplify Backend

**Provide additional details**
Fails to generate backend Admin UI.

**What AWS Services are you utilizing?**
Amplify

**Provide additional details e.g. code snippets**
<img width="504" alt="Screen Shot 2021-11-18 at 4 25 07 PM" src="https://user-images.githubusercontent.com/52519712/142348075-e759932f-8e80-4402-81ff-f487

[2021-11-18 15:17] pananapread commented on #365
Hi @djsjr thank you so much for pointing this out! We have added a feature-request label to this as this is expected and will require further work on our side. Stay tuned!

[2021-11-18 15:17] #281 closed

[2021-11-18 17:33] trsrm commented on #84
Same issue! (MacOS, Safari)

[2021-11-18 17:34] trsrm commented on #134
Same issue! (MacOS Safari)

[2021-11-18 18:58] jleskovar-tyro commented on #290
Hit this bug today on a brand new Amplify app. Not sure if this is "kosher", but I ended up doing a `sed` through the amplify directory replacing "Forgot password code: {####}" for the email subject and body with more appropriate text

[2021-11-18 22:56] prajwalbv99 commented on #369
@micheldelgallo @yucomds Could you please refer to [this](https://github.com/aws-amplify/amplify-adminui/issues/216#issuecomment-908702985) try the steps mentioned here and confirm if your issue still exists.

[2021-11-18 22:57] prajwalbv99 commented on #370
@jdt11 Could you please provide us with the console logs during this issue.

[2021-11-18 23:55] micheldelgallo commented on #369
@prajwalbv99 Ok. I did the reference for #216 issue.
Until now, it is not working and I received the same message "There was an error loading your data".
thanks

[2021-11-19 00:51] asciimo commented on #84
Requiring authentication using a browser causes so many problems for developers with uncommon environments. It assumes that we're all running code on the same machine that our keyboard and display is attached to. Why even have a CLI when the browser is required?

Please make the curl option a first-class citizen of the development process.

[2021-11-19 02:39] jdt11 commented on #370
I've tried again today and it is working, thanks for your assistance!

[2021-11-19 02:39] #370 closed

[2021-11-19 18:57] aaronksaunders commented on #369
Followed instructions, still getting this error.. completely blocked in the middle of my project :-(

<img width="751" alt="Screen Shot 2021-11-19 at 1 55 07 PM" src="https://user-images.githubusercontent.com/524953/142676444-d24bf709-896f-46cd-b8eb-be435e412929.png">

[2021-11-22 03:12] brettlyman commented on #369
This is also an issue for me, would love to have it resolved as soon as possible -- else I will be forced to abandon Amplify because I really need a working admin UI.

Not sure whether it's relevant, but it says `syncQueriesStarted` with 6 models, but then only 5 `modelSynced` entries show up below that. Perhaps it's failing to sync one of the models? For the previous poster's screenshot, I notice

[2021-11-22 03:50] jdt11 commented on #369
I have the same issue
<img width="1744" alt="Screen Shot 2021-11-22 at 4 49 04 PM" src="https://user-images.githubusercontent.com/52519712/142798233-60324f8b-316e-42bd-83ee-2e5582929933.png">

[2021-11-22 04:29] prajwalbv99 commented on #369
@micheldelgallo @jdt11 @brettlyman @aaronksaunders @yucomds We are looking into this issue.

[2021-11-22 06:24] brettlyman commented on #369
Here's another note: if your connection goes "offline" then the content view shows up! I noticed this when my laptop went to sleep and I brought it back up. Also verified by getting the error above, and then in dev console setting network throttling to "offline" and it immediately showed up!

[2021-11-22 19:06] prajwalbv99 commented on #362
@spormeon To identify the lambda functions belonging to a specific app, you can go to the user pool related to that app in Cognito, it would be something like `amplify_backend_manager_<appId>`. Navigate to the `triggers` tab and you can see the lambda function triggers associated with that app.

[2021-11-23 20:30] OskarD commented on #302
I have the same problem don't have that file. I do have `auth/_yourapp_/cli-inputs.json` which has this:
[code]
...but removing that gave me this error:
[code]

[2021-11-24 01:31] JennaFi commented on #84
Same here. No solution.

[2021-11-24 13:59] matthewapps opened #371 "This command requires version two or greater of the GraphQL transformer."
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-24 16:18] matthewapps commented on #371
I've had to re-work all the relationships using the new graphql docs. Its all in sync again. Thanks

[2021-11-25 13:25] sulak2 opened #372 "Deployment failed - Unknown directive "key".."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-11-25 15:35] OskarD commented on #369
I have this problem too! :))) Do we get any beta testing perks?

[2021-11-25 17:47] yppartyk commented on #372
Hi @sulak2, sorry for this inconvenience. We are aware of the issue and working on it. We will let you know when we have a fix.

[2021-11-25 18:40] yppartyk commented on #372
While we work to resolve this, can you please try the following steps as a temporary workaround?
- go to your `cli.json` file
- under `features.graphqltransformer`, add `"transformerversion": 1`
- perform an `amplify push`
- try deploying from Admin UI again

Please let us know if this works for you.

[2021-11-25 19:31] jeanniesarah commented on #134
Same issue here with Brave browser

[2021-11-25 22:52] erhard commented on #84
Safari is blocking something.....It worked with Chrom this summer. Than Amazon did some work with the Admin UI. Then it was broken (today). With all the issues described above...
What I did : I switched off the Admin UI.  And switched it on again. I had to invite the users again. But it worked afterwards again (for me)

[2021-11-25 23:04] splax-s commented on #369
i have this problem too

[2021-11-25 23:05] splax-s commented on #369
yes it also happened to me

[2021-11-26 02:12] aspearman commented on #84
Every time I want to enable the Admin UI I'm reminded of this bug, which frustrated me every time I tried to turn it on a year ago, and leave it off.

I'm not using a flagship feature of Amplify because of this bug. Please reopen.

[2021-11-26 03:27] evan-resonare commented on #369
Same issue here.

[2021-11-26 04:25] sjashwin opened #373 "Amplify AdminUI Showing wrong AWSDateTime Format Incompatible with iOS"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-11-26 09:00] Komalprasad commented on #198
@pananapread  is there any update on this.

[2021-11-26 09:12] EA-YOUHOU opened #374 "Admin ui There was an error loading your data."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-11-26 09:14] EA-YOUHOU commented on #374
My project is down and can't edit data.

[2021-11-26 12:23] christer-finfollow opened #375 "Deploy data model is failing from Admin UI"
**Which Specific Feature is your question related to?**
Deploy data model from Admin UI fails with strange error.

**Provide additional details e.g. code snippets**

Command failed with exit code 1: /root/.amplify/bin/amplify pull --amplify {"envName":"dev","defaultEditor":"code","appId":"dnun29gyteljj"} --providers {"awscloudformation":{"configLevel":"project","useProfile":true,"profileName":"amp

[2021-11-26 12:36] christer-finfollow commented on #375
I tried to run:

amplify pull --amplify

And got following error, but I can't find the property 'providers' anywhere:

Cannot create property 'providers' on boolean 'true'
TypeError: Cannot create property 'providers' on boolean 'true'
    at transform (/usr/local/lib/node_modules/@aws-amplify/cli/src/input-params-manager.ts:46:32)
    at normalizeInputParams (/usr/local/lib/node_modules/@aws-ampl

[2021-11-26 18:10] erhard commented on #84
What do You use instead ? awsume ? The format of the credential file was also broken in between version 5 and 6.
I get this :
Select the authentication method you want to use: AWS profile
Failed to get profile: Profile configuration is missing for: undefined

It would be great to get a fallback scenario, because I have 200 users on an application. I can't say : "Well amazon did not fix it...we hav

[2021-11-26 18:25] pananapread commented on #361
Closing because no response. Please reopen if this issue persists

[2021-11-26 18:25] #361 closed

[2021-11-26 18:26] pananapread commented on #366
This issue should now be resolved. Please reopen this issue if the problem persists

[2021-11-26 18:26] #366 closed

[2021-11-26 19:58] felixolivares opened #376 "Unknown directive "connection". Could not generate models in the cloud"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-11-26 22:31] otabek1 opened #377 "Admin UI Sign In problem"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-11-27 00:01] yppartyk commented on #375
Hi @christer-finfollow, this issue should now be resolved. Please try deploying again and let us know if it works for you.

[2021-11-27 00:01] yppartyk commented on #376
Hi @felixolivares, this issue should now be resolved. Please try deploying again and let us know if it works for you.

[2021-11-27 00:01] yppartyk commented on #372
Hi @sulak2, this issue should now be resolved. Please try deploying again and let us know if it works for you.

[2021-11-27 00:11] felixolivares commented on #376
You are awesome! Yes it is now working perfectly, thank you so much!

[2021-11-27 00:11] #376 closed

[2021-11-27 15:22] christer-finfollow commented on #375
Thanks! But I can't still access the Content tab. It just shows

![image](https://user-images.githubusercontent.com/88632158/143687144-9f873ead-1d32-42f4-81d0-e24915ae9008.png)

Please help

[2021-11-27 19:04] zandvakiliramin commented on #372
Hi! @yppartyk I get the same error. An error occurred during the push operation: Unknown directive "key" and also Unknown directive "connection". But when I try to change ```transformerversion": 1``` it automatically returns back to 2 when doing a push, and I get the same errors again.

[2021-11-27 23:29] jonathanburris commented on #363
I have the same problem. Deployment has been hung for hours. How does this get resolved?

[2021-11-28 00:10] abhi7cr commented on #363
Hi @jonathanburris, sorry to hear that. Can you share your appId and region ?

[2021-11-28 00:22] jonathanburris commented on #363
us-east-1
d1dfoy03dldwy7

[2021-11-28 00:57] zhengw09 commented on #372
I am getting the same error

[2021-11-28 03:12] mbpitts57 commented on #374
any luck with this? i am having the same problem :/

[2021-11-28 06:44] WathikAhmed commented on #374
Same!
There was an error loading your data.

[2021-11-28 06:45] WathikAhmed commented on #369
Same!
There was an error loading your data.

[2021-11-28 06:45] WathikAhmed commented on #216
Same!
There was an error loading your data.

[2021-11-28 11:43] zhengw09 commented on #372
Following this doc https://docs.amplify.aws/cli-legacy/graphql-transformer/key/#definition and not able to use @key. Amplify-cli version: 7.5.3

[2021-11-28 13:25] UsanaseD commented on #374
have same issue

[2021-11-28 17:40] AlexeSemenenko commented on #374
the same after creating many to many relationship

[2021-11-28 18:58] AlexeSemenenko commented on #369
same, and noticed that error appears after adding many to many relationship to my tables

[2021-11-28 19:34] AlexeSemenenko commented on #216
same error got today

[2021-11-28 20:13] zandvakiliramin commented on #372
@zhengw09 See [this](https://github.com/aws-amplify/amplify-cli/issues/9114)

[2021-11-28 21:42] jonathanburris opened #378 "Deploy stuck on "Your new data model is being deployed" using Admin UI"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-11-29 05:50] zhengw09 commented on #372
Thank you, this worked for me

[2021-11-29 06:06] 77ethers commented on #375
I am getting the same error.

[2021-11-29 06:33] rnrnstar2 commented on #332
I hope this problem will be resolved soon.

[2021-11-29 08:13] EA-YOUHOU commented on #374
We should rollback manually our models and if we need change nullable to non nullable, we must (i think) delete all content data before...

[2021-11-29 08:55] AlexeSemenenko commented on #216
same error, my logs:

<img width="716" alt="Снимок экрана 2021-11-29 в 11 52 54" src="https://user-images.githubusercontent.com/48149971/143836954-e26435d4-f9d0-4787-8416-474b9aeead16.png">

[2021-11-29 13:53] hth-developers opened #379 "Amplify content Table + Graphql Queries are not showing"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-11-29 16:12] yppartyk commented on #372
This issue should now be resolved. Please let us know if you are still experiencing it.

[2021-11-29 17:24] duranmla commented on #375
`Unknown directive "connection"` what is suggesting is that you are working with transformer v2 _(you migrate your API)_ but the schema still v2. As you can see here https://docs.amplify.aws/cli/graphql/data-modeling/#setup-relationships-between-models "connection" is no longer a way to create relationships.

_How you arrive to that? I think you might run a migration process but you haven't update

[2021-11-29 20:42] jonathanburris commented on #363
Success! Thank you so much!

[2021-11-29 20:42] #378 closed

[2021-11-30 03:05] WathikAhmed opened #400 "Is userSub a permanent unique user ID for the users"
Question:
Is `userSub` like a permanent unique user ID for the users? Because on the Amplify Admin UI it says `Unique identifier (username)` which means it is regarding the username as the ID for the user? Im looking for something a little more distinguishable because the users may want to change their username in the future and so a separate ID would be a lot more reliable.

Thanks.

[2021-11-30 07:45] nikaeene commented on #379
Exact the same problem.

[2021-11-30 12:47] daniel18acevedo commented on #379
+1

[2021-11-30 16:48] 24jr commented on #375
I'm getting this from starting from scratch and looking at the schema it does not have @connection or any old stuff all new @hasMany and what not so is the new content section just not updated yet and if so do we know when it will be?

[2021-11-30 17:34] Warzinhuw commented on #379
Same problem here.

[2021-11-30 20:58] cslogan-red commented on #379
@nikaeene @daniel18acevedo @Warzinhuw - can any of you please post a screenshot of your browser's developer console after refreshing the AdminUI Content page so we can further investigate, thank you!

[2021-11-30 21:13] yppartyk commented on #379
@nikaeene @daniel18acevedo @Warzinhuw did this occur after a deployment in AdminUI or is this happening on existing schemas you already had deployed?

[2021-11-30 21:19] cslogan-red commented on #369
This can happen when field types on models with a many-to-many relationship change or the many-to-many field itself is renamed or changed from not required to required and there is already existing data in your app's underlying DyanmoDB join table(s). DataStore sync's will begin returning errors, which prevents DataStore from fully initializing, which then prevents the Content page from loading.

[2021-11-30 22:14] 24jr commented on #375
<img width="1251" alt="Screen Shot 2021-11-30 at 5 13 55 PM" src="https://user-images.githubusercontent.com/34662182/144136639-34f44723-acb7-4cb7-bf59-d50707983831.png">
also queries just constantly load

[2021-11-30 22:39] akshbhu commented on #379
@nikaeene @daniel18acevedo @Warzinhuw

If its possible can you mail for ampify folder to ```amplify-cli@amazon.com``` to further debug this issue. You can redact any secret information present. Also , include this issue number in the subject of the mail.

[2021-11-30 23:45] jpignata commented on #379
Howdy @hth-developers, @nikaeene, @daniel18acevedo, @Warzinhuw. AppSync team member here. Are each of you seeing issues on the queries tab on AppSync? there errors in your console?

[2021-11-30 23:58] jpignata commented on #379
We've reproduced the issue where if you go to the queries page without appropriate permissions, you'll get the spinner as you reproduced @hth-developers. We need to return an error here. Our bad.

Can you go to the AppSync main page and see if you have access to that API?

[2021-12-01 06:54] hth-developers commented on #379
@jpignata  Also getting loader in API

![Screen Shot 2021-12-01 at 11 52 39 AM](https://user-images.githubusercontent.com/40497422/144186325-2dda416e-70d4-4c35-aeb3-d352c79f5c89.png)

[2021-12-01 08:29] AlexeSemenenko commented on #369
The bottom line is that I just created tables, there was no data in them. I removed everything and created a new Amplify project with same DynamoDB structure and immediately after creating the tables, the same error appears, and the same output in the console.
If look at the network: all 3 tables are loaded correctly without items in them (can be seen in the screenshots).
<img width="721" alt="Сни

[2021-12-01 13:30] nikaeene commented on #379
@jpignata
I don't get any error any where except all my sync data stops.
As you need to know I am following step by step your tutorial without any changes and for third time, the same result. My flutter is update and everything works fine until adding any function like Lambda one.
Also checked the access to API it is there.

[2021-12-01 14:51] pananapread commented on #102
Needs investigation

[2021-12-01 15:05] grimfeld opened #380 "Unable to access content from Admin UI or DataStore (too much recursion)"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-12-01 17:25] felixolivares opened #381 "Can't see the content of my model on Admin UI: Subscriptions is undefined"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-12-01 17:35] nikaeene commented on #379
exactly yes, until adding Datastore API data is moving and content part is showing the data. after adding any function it stops and show message like this one!

[2021-12-01 17:40] nikaeene commented on #379
@cslogan-red I am following this tutorial:
https://aws.amazon.com/blogs/mobile/connect-amplify-datastore-with-existing-sql-datasources-adding-offline-and-sync-features-in-your-application/
note: until this part all commands are the same but there are some differences here:
Next, I set up a new AppSync API, and make sure to enable conflict detection with the auto merge resolution strategy.

[2021-12-01 17:58] cslogan-red commented on #381
At present all subscriptions for each model are required in order for the Content page to initialize your schema correctly, and removing any of them results in the behavior you are seeing. This is a limitation of DataStore itself and something we have added to our backlog for a solution.

[2021-12-01 18:06] cslogan-red commented on #374
This is similar to what's described here and presently a known issue: https://github.com/aws-amplify/amplify-adminui/issues/369#issuecomment-983029828

If you make a field required (that was previously not required) and have existing records in your app's underlying DynamoDB tables where those fields are not populated, DataStore is unable to sync those records because of the consistency violation

[2021-12-01 18:12] cslogan-red commented on #379
@nikaeene the latest version of the Amplify CLI (7.5.5) was just released last night onto the `@latest` tag and includes a couple of fixes specifically for DataStore field allow-listing that was missing previously and could be contributing to the Content page not loading. Can you please update your local amplify CLI to latest and try again? `npm install -g @aws-amplify/cli`

[2021-12-01 18:34] cslogan-red commented on #375
Please ensure your local CLI is updated to the most recently published release (7.5.5) pushed to `latest` last night, and then attempt another push. `npm install -g @aws-amplify/cli`

If you're still experiencing this specific error, you may be in a halfway migrated state and will need to run `amplify migrate api` to ensure your V1 schema is updated correctly. The Content page supports V1 and V2 s

[2021-12-01 19:18] pananapread commented on #379
@nikaeene if you're online and willing to jump on a call, please email me at annapf@amazon.com :)

[2021-12-01 20:18] cslogan-red commented on #379
Our CLI team identified and pushed a fix last night that had impacted DataStore and in turn the Content page in AdminUI. Anyone still experiencing the behavior that @nikaeene experienced, please open the Data modeling page and run a "Save and deploy" from within AdminUI today to ensure you're getting a build and generated schema with the most recent fixes in place for the release that was pushed l

[2021-12-01 20:18] #379 closed

[2021-12-01 20:50] #372 closed

[2021-12-01 21:02] 24jr commented on #375
<img width="686" alt="Screen Shot 2021-12-01 at 4 01 15 PM" src="https://user-images.githubusercontent.com/34662182/144313272-e82a3468-b953-4351-ab66-64905745d372.png">
`amplify migrate api`
`GraphQL Transformer version 2 is already enabled. No migration is necessary.`
schema
[code]
Na its just not updated for v2 yet it seems

[2021-12-01 21:27] jaamz opened #384 "DataStore - User is unauthorized to query syncFunction with auth mode AWS_IAM. No data could be returned."
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-12-02 00:33] AechDub commented on #84
Hey all, we are actively investigating the authentication issue with Safari.  We will provide an update ASAP.

[2021-12-02 02:41] brettlyman commented on #369
I got mine working....

If you load the page, and in the Network tab of your dev console inspect the `graphql` request that continues retrying, there are helpful errors in the response. For mine, it was as is stated above -- I had a record for one of the models that had a NULL value for a required field. I removed the offending row using the DynamoDB interface (since I couldn't get Amplify to load

[2021-12-02 12:01] Tony-OAA opened #382 "Amplify Admin UI - Stuck at "Your new data model is being deployed." 36 hours+"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-12-02 14:46] pananapread commented on #382
@Tony-OAA are you still experiencing this issue even after refreshing the page? Was unable to repro in my own application (both a new one and an old one)

[2021-12-02 14:47] yppartyk commented on #382
Hi @Tony-OAA, sorry for this inconvenience. We have rolled out a fix for this yesterday. Please just refresh the page and you should see your deployed models. Let us know if you continue to experience this issue.

[2021-12-02 16:29] jonathanburris opened #383 "Deploy Failed -- Parameters: [appId, type] must have values"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-12-02 16:48] nazarcybulskij commented on #302
similar problem https://github.com/aws-amplify/amplify-cli/issues/9183 ((

[2021-12-02 17:14] pananapread commented on #375
jar from discord posted this screenshot https://discord.com/channels/705853757799399426/915284623100088410/916004233109733426

![image](https://user-images.githubusercontent.com/12780104/144470388-0276d2f9-4d94-49e2-8361-1e13eda56a70.png)

@cslogan-red

[2021-12-02 18:18] AechDub commented on #383
@jonathanburris have you tried running a `save and deploy` from Admin?

[2021-12-02 18:25] jonathanburris commented on #383
I only use the Admin UI to deploy my data models.

[2021-12-02 18:43] AechDub commented on #383
Are you able to use the CLI locally to run an `amplify push`?

[2021-12-02 19:16] prajwalbv99 commented on #314
@dn-l This issue should now be resolved. Please confirm and let us know.

[2021-12-02 19:22] #363 closed

[2021-12-02 19:23] jonathanburris commented on #383
I have never modified by graph that way. I really don't want to attempt that at this point. Modifying my graph in code is not something I have done yet.

[2021-12-02 19:23] #314 closed

[2021-12-02 19:46] busster commented on #329
This issue should be resolved, please let us know if you are still experiencing problems.

[2021-12-02 19:54] prajwalbv99 commented on #334
@cbotezatu Closing this issue for now. You shouldn't be facing this issue anymore. Please re-open the ticket if you run into this issue again.

[2021-12-02 19:56] #334 closed

[2021-12-02 20:26] pananapread commented on #310
Hi @andy-HM, sorry for the delay! Can you try to pull to an empty directory from the CLI and confirm that these files are there?

[2021-12-02 21:06] cslogan-red commented on #369
@AlexeSemenenko your particular schema is still sometimes a problem for DataStore itself, we've seen this with reverse m-m relationships (many to many on both sides of a model) when one model also has a 1-m relationship, like in your example. The sync error preventing DataStore from initializing is also the same type that I explained above. Behind the scenes, many to many relationships create a jo

[2021-12-03 00:29] andy-HM commented on #310
Hello @pananapread , I'm not sure I know how to do that.  Would that require a new project or environment?

[2021-12-03 01:09] matthewchong44 opened #385 "Admin UI stuck on "Your new data model is being deployed""
### Before opening, please confirm:

- [x] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-12-03 01:48] AechDub commented on #299
Hi @marameto, are you still experiencing an issue here?

[2021-12-03 01:55] AechDub commented on #293
@tmeckhoff can you post the query you are running?

[2021-12-03 01:56] #329 closed

[2021-12-03 01:59] prajwalbv99 commented on #346
@sergeysviezhentsev Could you let us know if you are still experiencing this issue?

[2021-12-03 02:03] busster commented on #300
@maremoto thank you for bringing this to our attention, we have completed a fix for this that is pending release.

[2021-12-03 04:24] felixolivares commented on #381
In the mean time, is there a possibility to increase the max subscriptions limit? maybe double it or at least 50 more?

[2021-12-03 04:59] felixolivares commented on #381
@cslogan-red I have followed your instructions in here for the m:n relationships in models:
https://github.com/aws-amplify/amplify-adminui/issues/369#issuecomment-983029828
and you nailed it, did what you mentioned and indeed there was only one record without a reference to the parent models. I removed that specific record and all data is displaying correctly now. Thanks!

[2021-12-03 08:03] AlexeSemenenko commented on #369
Checked not required and redeployed - nothing has changed. In DynamoDB have the following picture:
<img width="1400" alt="Снимок экрана 2021-12-03 в 10 59 08" src="https://user-images.githubusercontent.com/48149971/144566549-915be080-3ce9-4188-bd24-45d4bed32eec.png">
<img width="1400" alt="Снимок экрана 2021-12-03 в 11 00 47" src="https://user-images.githubusercontent.com/48149971/144566740-5d1841

[2021-12-03 13:02] alexandrsemak commented on #23
@swaminator please reopen this bug. I can confirm @rmaalouf statement , if you delete app with AdminUI which was not disabled lambda functions would not be deleted.

[2021-12-03 13:06] Tony-OAA commented on #382
Hi,

I have closed and restarted browser (chrome)
login to AWS
Go to Amplify
Select  "Launch Studio"
Click Data
I still see the Deploying UI (with rockets) and the deploy detail looks similar to before?

<img width="1441" alt="Screenshot 2021-12-03 at 13 04 14" src="https://user-images.githubusercontent.com/94902027/144607438-a341b76d-83f5-4433-b9bd-c17c5f389dec.png">

Thanks

[2021-12-03 13:10] Tony-OAA commented on #382
I have tried to delete the backend from the menu dropdown on right.
It was spinning for a30 seconds then gives an error in UI.....
<img width="1441" alt="Screenshot 2021-12-03 at 13 08 34" src="https://user-images.githubusercontent.com/94902027/144607898-2d7b523a-171a-4658-848c-aa4f577f1522.png">

[2021-12-03 13:55] pananapread commented on #385
@matthewchong44 what version of the CLI are you running? Can you update and try again? And of course refresh your Admin UI page too :)

[2021-12-03 14:23] januswel opened #386 "Supporting Web font"
**Is your feature request related to a problem? Please describe.**
The display on Amplify Studio is different from the display on Figma
With `Noto Sans JP`

on Figma | on Amplify Studio
---|---
<img src="https://user-images.githubusercontent.com/43239/144616125-345a663d-f746-42b0-80a6-d28e9ea64929.png" width="240"> | <img src="https://user-images.githubusercontent.com/43239/144616222-c2bff3fc-4dad

[2021-12-03 14:29] januswel opened #387 "Supporting TypeScript"
**Is your feature request related to a problem? Please describe.**
TypeScript does not appear as an option in the language selection when running `amplify pull`.
Therefore, the only option is to output in JavaScript, but this may cause coding errors when using it.

**Describe the solution you'd like**
Supporting TypeScript at UI code generation

**Describe alternatives you've considered**
nothing

[2021-12-03 16:39] nazarcybulskij opened #388 "Failed: A hasOne relationship should be 1:1"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-12-03 16:47] fabiozarvos commented on #388
same

[2021-12-03 16:47] fabiozarvos commented on #388
same problem here

[2021-12-03 16:52] yppartyk commented on #388
@fabiozarvos @nazarcybulskij Thank you for reaching out, and sorry for the inconvenience. We are looking into this issue and will respond here once we have a root cause.

[2021-12-03 16:54] yppartyk opened #389 "Failed: A hasOne relationship should be 1:1"

[2021-12-03 16:54] #389 closed

[2021-12-03 17:02] nazarcybulskij commented on #388
I make cyclic relationships. Is are incorrect but I don't find other solution

 I think, cyclic relationships don't support in current version amplify.  But they worked in older version amplify

[2021-12-03 18:21] prajwalbv99 commented on #382
@Tony-OAA The Data deployment issue should now be resolved. Please check and let us know.

[2021-12-03 18:39] prajwalbv99 commented on #385
@matthewchong44 Could you please provide us with the region your app is present in so that we can take a look?

[2021-12-03 18:50] matthewchong44 commented on #385
@pananapread When I tried running `amplify upgrade` it didn't work.

This is the error I get:
"upgrade" is not supported in this installation of Amplify.
Use npm i -g @aws-amplify/cli instead.

Instead, I ran `npm i -g @aws-amplify/cli` and it upgraded to version 7.6.2. I ran `amplify push` and everything pushed successfully, however, the data model is still deploying within the Admin UI page.

@p

[2021-12-03 19:19] matthewchong44 commented on #385
When my team member ran `amplify pull --appId <appId> --envName dev`, it generated a backend folder under Amplify. However, when the command completes, the backend folder was deleted. Will this cause any issue down the line?

[2021-12-03 19:21] prajwalbv99 commented on #385
@matthewchong44 The Data deployment stuck issue should now be resolved. Could you please confirm and let us know?

[2021-12-03 20:03] prajwalbv99 commented on #247
@fernandesGabriel Could you please verify if you are still facing this issue. I tried reproducing it, and I'm now able to edit/create data items having id.
<img width="1001" alt="Screen Shot 2021-12-03 at 12 02 04 PM" src="https://user-images.githubusercontent.com/13706087/144665733-53dad307-c78f-4429-8d5f-d2205e463850.png">

[2021-12-03 20:41] cslogan-red commented on #369
@AlexeSemenenko sorry for the trouble, I was able to repro this behavior with a net-new app using your schema, and this appears to be the same DataStore edge case where a 1-M and M-M exist on the same model, for now removing the M-M relationship and redeploying allows DataStore to sync and the Content page to load. I've raised this up with that team and they are investigating, we'll publish an upd

[2021-12-03 20:42] busster commented on #373
Hey @sjashwin, thank you for raising this to the team, we are currently looking into this issue.

[2021-12-03 20:44] yppartyk commented on #311
Thank you for reaching out. We are looking at this issue now.

[2021-12-03 21:19] AechDub commented on #388
Thanks @nazarcybulskij.  We're investigating further and will report back here with findings.

[2021-12-03 21:22] AechDub commented on #383
@jonathanburris this should now be resolved.  You'll need to run a save and deploy from Studio (previous Admin UI).  Please let us know if this does not help.

[2021-12-03 21:23] AechDub commented on #384
Hi @jaamz, we are investigating this.  Will report back here with findings.

[2021-12-03 21:24] #381 closed

[2021-12-03 21:27] AechDub commented on #374
@EA-YOUHOU, was the above helpful for resolving your issue?  If you're still experiencing this after trying the above, please let us know.

[2021-12-03 21:31] cslogan-red commented on #380
This is a known issue with DataStore with schema's that have circular references (DataStore does not currently support this, even if our schema modeler does), this is pending prioritization with the DS team, we will provide an update when we have more information.

[2021-12-03 21:54] AechDub commented on #357
@sophieyuge Closing this ticket.  If you're still experiencing this, let us know and we will reopen.

[2021-12-03 21:54] #357 closed

[2021-12-03 22:05] AechDub commented on #355
@jacobsapps Closing this.  If you are still experiencing this issue let us know and we will re-open.

[2021-12-03 22:05] #355 closed

[2021-12-03 22:18] yppartyk commented on #360
@crazymonk Sorry for the delay. We will look into this issue and respond when we have a root cause.

[2021-12-03 22:21] prajwalbv99 commented on #299
@maremoto thanks for raising this issue with the team. We are looking into this.

[2021-12-03 22:22] AechDub commented on #347
Hi @drclohite, Closing this issue.  If you're still experiencing this let us know and we can re-open.

[2021-12-03 22:22] #347 closed

[2021-12-04 00:09] abhi7cr commented on #345
Hi @dbeck121 , were you able to resolve the issue? I was able to add the following sign up attributes in **Authentication** page and was able to edit them for an user in Admin UI:

 ![image](https://user-images.githubusercontent.com/5371802/144687588-23df9b5f-103b-4ae8-af14-b40353717437.png)

We don't  support custom attributes at the moment.

[2021-12-04 00:21] AechDub commented on #312
@CiotkaCierpienia closing this as it sounds resolved.  Here's a link to the [documentation](https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles.html) for IAM roles.

[2021-12-04 00:21] #312 closed

[2021-12-04 07:06] alrashedf commented on #369
I have the same "There was an error loading your data" issue.

When amplify studio accesses `https://amplifybackend.ap-south-1.amazonaws.com/backend/appIDXXXX/job/dev`, it returns the below. The strange thing is that I can update my env using amplify CLI with no CloudFormation errors! And the API key in the error `Reason: API key not found: da2-tuuu5jzpnvdmzamy3xwhqpwfyi` is long changed. Amplify

[2021-12-04 16:13] dbeck121 commented on #345
Hi @abhi7cr ,

what do you mean with "Authentication page"? Or do you mean amplify cli? I use cloudshell to add my custom attributes  as they are not supported but maybe I just add one attribute that already exist and use it instead of my custom attribute.

[2021-12-04 17:14] collier-watkins commented on #388
Experiencing the same issue as described. Thanks for looking into it

[2021-12-04 17:17] newmobilelibrary opened #390 "Admin issue:- There was an error loading your data."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-12-04 18:08] abhi7cr commented on #345
I meant the **Authentication** page in Admin UI where you can configure sign up attributes🙂 but yes, the editable attributes in AdminUI are restricted to the required sign up attributes.

[2021-12-04 18:14] dbeck121 commented on #345
Thanks for the fast answer!
<img width="615" alt="image" src="https://user-images.githubusercontent.com/54773577/144720105-8950b532-f36c-4c7b-af5c-b859fa28818c.png">
I ignored that because I am not able to change after deploy. Is there any workaround?

[2021-12-04 18:48] zachjonesnoel opened #391 "Amplify Studio for VueJS"
**Describe the solution you'd like**
With the new Amplify Studio announcement during re:Invent which supports only ReactJS applications, it would be good that Amplify supports more frameworks such as VueJS, NextJS, AngularJS.

**Describe alternatives you've considered**
Using Amplify Studio with ReactJS.

[2021-12-04 19:03] cslogan-red commented on #390
See #374 and #369 for known issues being worked, try "Save and deploy" from Data modeling page to ensure models are up to date.

[2021-12-04 19:44] abhi7cr commented on #345
Unfortunately, you can’t update sign up attributes after adding Auth. You would need to reset the authentication settings in that page, and then configure Auth again.

[2021-12-04 22:35] Straubulous commented on #388
GQL v2 with datastore does not support schema with models that use hasOne or hasMany connection to another model that has a hasOne or hasMany connection back to the model.  We are updating documentation and working on validation to prevent this.

To mitigate an issue with an unsupported DataStore graphQL schema using the `@hasOne` or `hasMany` directive pointing to a model that refers back to itse

[2021-12-05 05:44] alrashedf commented on #369
So, when I opened the laptop the next day, the error "There was an error loading your data." disappeared and I see my "Content"! I don't know what happened. But this is the console log for the Amplify team to decipher. It includes logs before and after I closed my laptop.

[code]

[2021-12-05 20:15] AlexeSemenenko commented on #369
@cslogan-red thank you too much, will wait for your message here with news

[2021-12-05 23:44] cslogan-red commented on #369
@AlexeSemenenko see the latest comment on [#369](https://github.com/aws-amplify/amplify-adminui/issues/388#issuecomment-986103117) for explanation and temporary workaround until this becomes possible.

[2021-12-05 23:58] wesleymilan opened #392 "Cannot remove data model"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-12-06 13:27] pananapread commented on #391
Thank you for posting this Github issue! We have marked this as a feature request and are looking into prioritizing this with the team :)

For everyone else, if you agree with @zachjonesnoel or have your own details to add to this issue post, please do post your support here by adding a comment or +1-ing with an emoji!!

[2021-12-06 13:29] pananapread commented on #386
Thank you for posting this Github issue! We have marked this as a feature request and are looking into prioritizing this with the team :)

For everyone else, if you agree with @januswel or have your own details to add to this issue post, please do post your support here by adding a comment or +1-ing with an emoji!!

[2021-12-06 13:31] pananapread commented on #306
Thank you for posting this Github issue (and sorry for the delay in replying)! We have marked this as a feature request and are looking into prioritizing this with the team :)

For everyone else, if you agree with @groundswel or have your own details to add to this issue post, please do post your support here by adding a comment or +1-ing with an emoji!!

[2021-12-06 13:32] pananapread commented on #18
@nelsonchen5 we have launched a preview of Admin UI Storage integration, have you had a chance to try it out? Full integration into the Data tab is coming soon too :)

[2021-12-06 13:33] pananapread commented on #36
Thank you for posting this Github issue (and sorry for the delay in replying)! We have marked this as a feature request and are looking into prioritizing this with the team :)

For everyone else, if you agree with @brightfuture or have your own details to add to this issue post, please do post your support here by adding a comment or +1-ing with an emoji!!

[2021-12-06 13:34] pananapread commented on #65
Thank you for posting this Github issue (and sorry for the delay in replying)! We have marked this as a feature request and are looking into prioritizing this with the team :)

For everyone else, if you agree with @yukkim or have your own details to add to this issue post, please do post your support here by adding a comment or +1-ing with an emoji!!

[2021-12-06 13:35] pananapread commented on #120
Thank you for posting this Github issue (and sorry for the delay in replying)! We have marked this as a feature request and are looking into prioritizing this with the team :)

For everyone else, if you agree with @nickzitzer or have your own details to add to this issue post, please do post your support here by adding a comment or +1-ing with an emoji!!

[2021-12-06 13:35] pananapread commented on #121
Thank you for posting this Github issue (and sorry for the delay in replying)! We have marked this as a feature request and are looking into prioritizing this with the team :)

For everyone else, if you agree with @nickzitzer or have your own details to add to this issue post, please do post your support here by adding a comment or +1-ing with an emoji!!

[2021-12-06 13:36] pananapread commented on #173
Thank you for posting this Github issue (and sorry for the delay in replying)! We have marked this as a feature request and are looking into prioritizing this with the team :)

For everyone else, if you agree with @watilde or have your own details to add to this issue post, please do post your support here by adding a comment or +1-ing with an emoji!!

[2021-12-06 13:36] pananapread commented on #156
Thank you for posting this Github issue (and sorry for the delay in replying)! We have marked this as a feature request and are looking into prioritizing this with the team :)

For everyone else, if you agree with @DanielDanaee or have your own details to add to this issue post, please do post your support here by adding a comment or +1-ing with an emoji!!

[2021-12-06 13:36] pananapread commented on #166
Thank you for posting this Github issue (and sorry for the delay in replying)! We have marked this as a feature request and are looking into prioritizing this with the team :)

For everyone else, if you agree with @billygerhard or have your own details to add to this issue post, please do post your support here by adding a comment or +1-ing with an emoji!!

[2021-12-06 13:37] pananapread commented on #183
Thank you for posting this Github issue (and sorry for the delay in replying)! We have marked this as a feature request and are looking into prioritizing this with the team :)

For everyone else, if you agree with @watilde or have your own details to add to this issue post, please do post your support here by adding a comment or +1-ing with an emoji!!

[2021-12-06 13:38] pananapread commented on #198
@Komalprasad not yet! However we're still keeping a close eye on all our Github feature-requests and are always trying to release more improvements... Thank you for your patience!

[2021-12-06 13:38] #198 closed

[2021-12-06 13:43] pananapread commented on #290
@andrecasal @jleskovar-tyro thanks for your comments and sorry about the difficulties! You shouldn't have to redeploy / use workarounds so we're looking into improving the auth email templates experience... Stay tuned and please do share whatever other difficulties you come across!

[2021-12-06 13:44] pananapread commented on #298
Thank you for posting this Github issue! We have marked this as a feature request and are looking into prioritizing this with the team :)

For everyone else, if you agree with @dsharygin or have your own details to add to this issue post, please do post your support here by adding a comment or +1-ing with an emoji!!

[2021-12-06 13:45] pananapread commented on #337
Thank you for posting this Github issue! We have marked this as a feature request and are looking into prioritizing this with the team :)

For everyone else, if you agree with @MikeGShelby or have your own details to add to this issue post, please do post your support here by adding a comment or +1-ing with an emoji!!

[2021-12-06 14:39] pananapread commented on #392
Hi @wesleymilan! Currently, this is an expected behavior - we don't allow deploying an empty schema. However, we definitely want to provide a way for you to delete your API resource (instead of deploying an empty schema) from Studio. We're looking into this!

[2021-12-06 17:18] aspittel opened #393 "[Feedback] More instructions for the Figma Plugin"
**Is your feature request related to a problem? Please describe.**
It took me quite a while to figure out how to use the Figma Plugin. I couldn't figure out what email and password were being asked for along with how you actually use a Figma plugin

**Describe the solution you'd like**
More documentation in the Figma file about how to use a plugin and what Amplify signin info you need (that you ne

[2021-12-06 17:34] #388 closed

[2021-12-06 17:34] 24jr commented on #375
This is still an issue. Also when I add a required field to a table if there are existing rows i get an error when listing items that it cant return null for non-null types.

Also, when I update a row from my now updated schema i get error `message: "Value for field '$[_version]' must be a number."` when making update query

[2021-12-06 18:15] pananapread commented on #373
We have a fix in the pipeline :) Please reopen if this is still an issue

[2021-12-06 18:15] #373 closed

[2021-12-06 20:04] #383 closed

[2021-12-07 02:33] yppartyk commented on #360
@crazymonk The root cause of the Cognito error is that the email for which you are trying to reset password has not yet been verified. We offer a way to verify it through Admin UI.

First, click on the email in the Users table.
![image](https://user-images.githubusercontent.com/18372698/144955387-7d6a6acb-9b00-434c-bdb5-f50f8c51ad02.png)

Then mark is as verified in the view below.
![image](https:

[2021-12-07 08:07] w0da opened #394 "Content not working on fresh amplify deployment"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-12-07 10:18] sivivan opened #395 "Data store update stuck in Deploying state"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-12-07 14:22] pananapread commented on #395
Hi @sivivan! Can you do me a favor and refresh the page and try again? Taking a look at this on our side too :)

[2021-12-07 14:27] pananapread commented on #394
@w0da can you try redeploying your model from Set Up > Data? This should allow for the appropriate directives to be created and allow for you data to show up in the content tab :)

Let me know if this works / doesn't work!

[2021-12-07 17:35] w0da commented on #394
Hi @pananapread Thanks for your response,

Yes I've tried that many times, I do see data in DynamoDB items, but never anything in content!

[2021-12-07 19:46] sivivan commented on #395
hey @pananapread I am afraid it is still stuck in the "In Progress" stage... with the same two items: functionamplifyauth and apikeychainui still in UPDATE_IN_PROGRESS....

[2021-12-07 21:46] AechDub commented on #390
@newmobilelibrary can you confirm if a "Save and deploy" resolved this for you?

[2021-12-07 21:47] AechDub commented on #385
@matthewchong4 marking this as resolved given the above.  Let us know if you're still experiencing this issue and we can re-open.

[2021-12-07 21:47] AechDub commented on #382
@Tony-OAA marking this as resolved given the above. Let us know if you're still experiencing this issue and we can re-open.

[2021-12-07 21:47] #382 closed

[2021-12-07 23:39] AechDub commented on #380
This is due to an invalid schema.  DataStore does not support circular references.  If you need further support, please let us know.

[2021-12-07 23:39] #380 closed

[2021-12-08 01:35] jfdesgagne commented on #390
I have the same issue. Having the field not required makes the UI to load now, but not all fields are showing up. When I modify the structure to make them required again, the same issue happen. This makes it so the workaround is not working for me.

<img width="815" alt="Screen Shot 2021-12-07 at 5 33 18 PM" src="https://user-images.githubusercontent.com/5866277/145132602-6aead793-81fa-406e-bbf3-e

[2021-12-08 02:47] pptavozl commented on #390
"Save and deploy" doesn't fix the problem for me.

[2021-12-08 02:59] pptavozl commented on #369
Im getting this in console

![image](https://user-images.githubusercontent.com/7065779/145140662-fb9731e8-b5fb-443f-a141-41da40f85098.png)